[2013-03-13 07:30] LeifW opened #1 "Read lines from file"
The comments for `resource` in `scalaz.stream.io` currently mention "See `lines` below for an example use.", but there is no "lines" function. There is, however, one in the book answer code.

I tried adapting that one, results below:

[code]

I had it with `scala.io.Source` at first, but tried a BufferedReader after noticed it would just repeat the first line of the file forever.  Changing to Buff

[2013-04-02 20:28] #1 closed, assigned to nobody

[2013-04-10 08:01] txominpelu opened #3 "Infinite recursive call when Exception thrown inside Process"
A process gets in an infinite loop when an exception is thrown as a result of the evaluation of one of its inputs. An example of this behaviour can be observed in the following snippet:

[code]

One would expect the flow to halt when an exception is thrown ideally giving the possibility to at least log the error. As a nice to have would be the possibility to handle the exception and keep consuming

[2013-04-10 13:14] #3 closed, assigned to nobody

[2013-04-12 15:24] bblfish opened #4 "is Process a good name?"
the default java.lang library has a Process class. This means that one has to do the following:

[code]

At this early stage finding another name is still easy...
I don't have a good intution on what it could be yet.

[2013-06-18 17:30] ryskajakub opened #6 "Running Process through Channel causes infinite loop"
Running this example:
https://gist.github.com/coubeatczech/5807467
causes infinite loop instead of printing these two lines:
_num as string: one_
_num as string: two_

[2013-06-20 20:31] #6 closed, assigned to nobody

[2013-07-01 14:32] pchiusano opened #7 "Consider allowing resource combinator's cleanup function to emit values"
Useful for effectful channels (like a compressor / decompressor) which may have a buffer that needs to be flushed when the input is finished. Also consider just adding a separate combinator for this.

[2013-07-19 16:03] #7 closed, assigned to nobody

[2013-07-19 16:13] #4 closed, assigned to nobody

[2013-07-22 18:20] xuwei-k opened #9 "theseInstance does not satisfy the Monad laws"
https://github.com/xuwei-k/scalaz-stream/compare/scalaz:5437a78...xuwei-k:31a9c6c
https://travis-ci.org/xuwei-k/scalaz-stream/jobs/9362782#L86

[2013-07-23 15:08] #9 closed, assigned to nobody

[2013-07-29 17:11] YoEight opened #11 "Resource is not properly closed"
Hi !

resource function doesn't handle resource management properly. Here is my example:

[code]

Here is what I got once that program finished (in SBT)

[code]

Have been browsing the codebase without getting any clue so far.

I'm up-to-date to master.

Regards,
Yorick

[2013-08-05 01:26] jedws opened #12 "release 0.0.1"
it'd be nice to get a stable released artefact for those of us coming from scala-machines

[2013-08-17 03:47] #11 closed, assigned to nobody

[2013-08-17 06:46] pchlupacek opened #13 "Process().toSource and emitAll().eval behaves differently on repeat"
Process().toSource and emitAll().eval should I believe behave same way when used with repeat combinator:

[code]

while

[code]

[2013-08-17 18:54] #13 closed, assigned to nobody

[2013-08-17 19:11] pchlupacek opened #14 "then is deprecated"
Consider to rename Process.then to something else hence since scala 2.10 it is reserved word.

[2013-08-18 17:43] pchlupacek opened #15 "no resource cleanup when process is run through `attempt` and exception is encountered on sink side"
Lets having a sink: Sink[Task,A]  and source:Process[Task,A], where sink is build via standard resource combinator.

then

(source to sink).attempt.run.run will not execute sink resource's cleanup code
while
(source to sink).run.run will do

Expected behaviour is that both evaluations will run the cleanup code.

[2013-08-18 19:31] #15 closed, assigned to nobody

[2013-08-21 14:23] pchlupacek opened #16 "Potentially enhance cleanup to pass reason for termination"
In resource cleaning procedure it may be required to behave differently if the resource finished because the process terminated successfully or because of the exception.
Probably new combinator like EnhancedResource or similar may be required?

[2013-08-22 14:52] pchlupacek opened #17 "consider renaming when"
when is clashing with specification defaults and with Mockito framework.

Maybe we shall use different name for it, its too generic...

:-)

[2013-08-28 08:28] pchlupacek opened #19 "wye.either will fail on Await.Both"
wye.either will fail to match on Await.Both:

scala.MatchError: Await(Both,<function1>,Halt(scalaz.stream.Process$End$),Halt(scalaz.stream.Process$End$)) (of class scalaz.stream.Process$Await)

I think it is because there is only contramapL and R used?

[2013-08-28 15:39] #19 closed, assigned to nobody

[2013-09-12 20:13] #17 closed, assigned to nobody

[2013-09-17 14:35] pchiusano opened #23 "Consider changing representation of `Channel`"
From `Process[F, A => F[B]]` to `Process[F, A => Process[F,B]]`. This is more flexible - channel can emit zero or more values for each input, rather than exactly one value. And I suspect can reimplement all the existing combinators.

Need to do some investigation of this to see if it's possible.

[2013-09-26 15:04] pchlupacek opened #25 "Decide on Bytes"
Current implementation of Bytes is somehow _second class_ citizen in the library.

We shall probably extend it or decide on alternative approach that will not require allocation of arrays on every read request.

I think the contract shall be either :
- read-only wrapper around the Array[Bytes]. Ref to Array will be held separatelly from the wrapper closed over Process that actually reads the data

[2013-10-02 13:13] ryskajakub opened #26 "improve async.topic test"
There is a typos, that change the semantics in the test, also the test is depending on closing the topic which will not be typical usage scenario, the subscribers should receive the messages on the run

[2013-10-02 16:21] #26 closed, assigned to nobody

[2013-10-04 13:29] pchlupacek opened #28 "Consider renaming collect"
Current implementation uses `collect` to gather `A` from the process into IndexedSeq[A].

`collect` is used in scala collection framework as `filter` + `map`. I would propose to replace `collect` with `gatherAll` and have implemented `collect` on processes as combination of filter & map (or maybe via flatMap) if we agree on that I would like to submit PR with this.

P.

[2013-10-04 16:32] pchlupacek opened #29 "Implement java.nio.socketXX"
Implement Processes that will encapsulate non-blocking sockets of Java Nio.

Suggesting to start with sockets first, hence thanks to nonblocking nature this brings IMHO significant value-add to streams. The FileChannel can be implemented laters, once we will decide on #25 .

The basic idea for now is to have :

[code]

I think even when SocketClient has similar signature as `Topic` where you can g

[2013-10-06 15:51] #28 closed, assigned to nobody

[2013-10-06 15:51] #14 closed, assigned to nobody

[2013-10-09 02:44] pchiusano opened #31 "Function passed to map being called multiple times for each emitted value"
I'm attempting to transform the final output of a process with an expensive operation.  I see the expected result, but with some unexpected invocations of `expensive`.

[code]

[code]

The emitRange case behaves exactly as I expect.  I'm lost as to why `expensive` is applied twice to each element of the range.  Is this a bug, or have I not yet comprehended the consequences of range's laziness?  Th

[2013-10-09 22:10] #31 closed, assigned to nobody

[2013-10-15 08:36] rrmckinley opened #35 "zipAll Has Incorrect Behavior"
For the test

val is = Process.range(0,5)
val os = Process.range(0,4)
os.tee(is)(tee.zipAll(-1, 1)).to(repeatEval(now((t: Any) => now(print(t))))).run.run

I am getting

(0,0)(1,1)(2,2)(3,3)

Thanks

[2013-10-15 17:01] #35 closed, assigned to nobody

[2013-10-16 05:55] #12 closed, assigned to nobody

[2013-10-17 12:24] pchlupacek opened #37 "wye.interrupt SOE"
When right side of `wye.interrupt` terminates, and left side is repeated continuos process SOE is thrown :

[code]

[2013-10-18 07:29] pchlupacek opened #38 "Introduce dynamic process variant of gatherUnordered (multi-merge)"
When in processes we have multiple streams that eventually needs to be combined together in non-deterministic way, we can use `p1 merge p2`. While this is fine for few processes, it does not scale in environment where there may be lot of short-term processes that need non-deterministically to be joined together and leave the merge once terminated.

One of the solutions today is to have queue and _

[2013-10-22 03:46] jedws opened #41 "io.chunkR/W uses unnecessary BufferedInputStream/BufferedOutputStream"
Trying to get my head around Process, and came across the fileChunkR/W methods in `io`. From what I can see (which is admittedly not a lot at all), I can't see any need to use the buffered streams, as there's no need for the mark/reset functionality they provide, and the implementation effectively buffers already (by writing into an Array[Byte]).

[2013-10-22 04:28] #41 closed, assigned to nobody

[2013-10-29 21:32] pchiusano opened #42 "Exception safety problem in implementation of `wye`"
Minimize this later. It appears that when an exception is thrown while mapping over the result of `a.merge(b)`, the finalizer for `a` is not run.

[code]

This code does not print `"completed"`, which is registered `onComplete`. Replacing the `evalMap` with a regular `map` and throwing the exception in pure code has the same issue. Removing the call to `merge` fixes the issue.

[2013-11-07 14:37] pchiusano opened #46 "More principled `Step` type"
It is sometimes useful / necessary when binding to an external API to grant control over traversing the stream to some external process. For these situations, we could use a more principled way of 'stepping' a stream, such that after each step, the caller receives the current emitted values and a next step, as well as the latest finalizer.

[2013-11-08 14:31] bryce-anderson opened #47 "Exponential wrapping of Emitted sequences by wye"
The align and unalign method calls in wye
https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/Process.scala#L384
https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/Process.scala#L409
will generate two wrappers around any leftover emitted Seq every time the Wye enters an Emit state. This causes the following example to crash with an 'java.l

[2013-11-13 08:18] pchlupacek opened #50 "Fix SOE and heap overflow in wye"
Wye uses Nondeterminism.chooseAny that unfortunately leaks on stack and heap. We have to reimplement and probably specialise wye to Task to work around this.

Only wye`s using AwaitBoth pattern (like merge, either, interrupt) are affected.

[2013-11-16 09:02] pchlupacek opened #51 "Consider to make Await.fallback and Await.cleanup lazy"
Current implementation of fallback and cleanup combinators is lazy by default, so it is not evaluated unless used.

However, if orElse is used in combinatinon with other combinators such as flatMap, the  fallback and cleanup are evaluated.

Even when there are no side-effects and the cleanup and fallbacks on OrElse are _pure_ this may still involve costly operation (specifically for fallback).

[c

[2013-11-25 15:13] ncreep opened #54 "Possible exponential run time when zipping multiple streams"
Following the discussion [here](https://groups.google.com/forum/#!topic/scalaz/RgSFaUziD5E), it seems that `zip`ing multiple streams together may trigger a run time cost that is exponential in the number of `zip`ped streams.

The code to blame is the [killing part](https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/Process.scala#L396) of the `wye` implementation, the

[2013-11-25 19:07] #50 closed, assigned to nobody

[2013-11-25 20:32] #42 closed, assigned to nobody

[2013-12-02 03:00] etorreborre opened #56 "Official 0.2 version"
We are currently trying to remove SNAPSHOT version from our build. Is it possible to publish 0.2 and move the current issues to a 0.3-SNAPSHOT milestone?

Thanks.

[2013-12-20 05:15] #46 closed, assigned to nobody

[2013-12-20 05:16] #37 closed, assigned to nobody

[2013-12-20 05:16] #47 closed, assigned to nobody

[2013-12-20 06:02] pchlupacek opened #68 "Find a way to safely close resources that may be opened during interruption in wye"
this follows on discussion in PR #64. We shall revisit the code in `io.resources` and maybe change some signatures to make sure that resources are always released. It has minimal or no impact on current implementation but may open some `worms` for future resource usages.

[2013-12-20 06:08] pchlupacek opened #69 "Fix cleanup behaviour of wye after scalaz.Task and Future get enhanced interruption treatment"
Current wye implementation opens door for eventual double `cleanup` to be run in certain cases.
Once the https://github.com/scalaz/scalaz/issues/599 will get implemented we shall revisit wye implementation...

[2014-01-05 11:31] radekm opened #72 "`kill` may result in resource leakage"
Using `kill` may result in resource leakage. Suppose following definitions:

[code]

The simplest example of leakage is

[code]

The reason why the above code leaks is that it's not `kill`-safe (`pipe` calls `kill` after reading the first unit produced by `step`; there is no leakage without `once`).

The code can be fixed by replacing `eval_(release(r))` by
`await(release(r))(_ => halt, halt, eval

[2014-01-14 20:25] #56 closed, assigned to nobody

[2014-01-22 02:37] pchiusano opened #77 "Fix SOE in `enqueue`"
Results in SOE. Need to rewrite [`enqueue`](https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/Process.scala#L1633), which is used by `connect` to use either a custom actor or other stack safe library primitives.

Also see #50.

[2014-01-22 20:02] runarorama opened #78 "Process with map and filter does too much work"
Solved in the "lazy" branch:

https://github.com/scalaz/scalaz-stream/tree/lazy

The problem is demonstrated by the following:

[code]

The result is that println receives and prints all the intermediate vectors. The reason is that map and flatMap will strictly evaluate the fallback and cleanup processes. In the case that they are emits, the subsequent map over those emits will be called repeatedl

[2014-01-22 20:22] #78 closed, assigned to nobody

[2014-01-25 04:49] #25 closed, assigned to nobody

[2014-01-25 05:04] #38 closed, assigned to nobody

[2014-01-25 05:04] #29 closed, assigned to nobody

[2014-01-25 18:44] fthomas opened #80 "Bytes.empty has type Bytes1"
The type of `Bytes.empty` is `Bytes1`. I guess it should be `Bytes` instead, right?

[2014-01-25 19:11] #80 closed, assigned to nobody

[2014-01-28 17:21] pchiusano opened #83 "pipe and tee discard the failure cause, converting all failures to normal termination"
`pipe` and `tee` discard the failure cause, converting all failures to normal termination. For example:

[code]

This means that `possiblyFailingProc.pipe(anything)` will convert errors to ordinary termination! So `possiblyFailingProc.pipe(anything).attempt()` gives no errors, rather defeating the purpose of `attempt`.

Note: I believe this should be fixed by the new trampolined representation of

[2014-01-29 15:35] #83 closed, assigned to nobody

[2014-02-01 22:31] fthomas opened #86 "Odd behavior of chunkBy"
As I was writing more tests for `process1` processes I noticed an odd behavior of `chunkBy`:

[code]

The emitted chunks contain elements that satisfy and that do not satisfy the predicate. Is this behavior intended? Because, I would have expected the following result:

[code]

Since there is no test for `chunkBy` I do not know what the result should have been. So either the documentation should b

[2014-02-02 17:07] bryce-anderson opened #89 "bugs in Bytes"
There are a few bugs in the Bytes objects including the ability to pattern match to the underlying arrays and the exception throwing bug below.

[code]

I'll attach a pull request that addresses these issues and improves a few implementations as well.

[2014-02-07 12:13] #86 closed, assigned to nobody

[2014-02-07 15:16] pchlupacek opened #95 "Normalize the termination of wye"
Normalize termiantion of wye and add

haltOnL, haltOnR and haltOnEither syntax

[2014-02-07 19:42] fthomas opened #96 "Bug in Bytes.slice"
[code]

`res24` is okay, but `res25` should be `(BytesN(),BytesN(48))`, right?

[2014-02-09 17:18] fthomas opened #100 "process1 aliases"
I noticed that some `process1` combinators like `awaitOption`, `init`, and `skip` (to name a few) do not have an `this |>` alias in `Process`. What should be the rule here? Should every combinator have an alias? If not, what is the criteria for providing one?

[2014-02-10 17:05] #96 closed, assigned to nobody

[2014-02-10 22:05] pchiusano opened #102 "Add support for SSL"
This is a feature request. We'd like to implement the following combinator, or something like it:

[code]

Where `config` is perhaps of type [`SSLParameters`](http://docs.oracle.com/javase/7/docs/api/javax/net/ssl/SSLParameters.html), or whatever type encapsulates all the options one might use in configuring an SSL connection.

I'd like it to be done as an `Exchange` transformer so this can be eas

[2014-02-11 04:27] #89 closed, assigned to nobody

[2014-02-12 23:13] radekm opened #106 "How to construct resource-safe processes?"
It's currently very hard to construct a process which is resource-safe. The reason is that the process may be interrupted by `pipe`, `tee` and `wye`. Both `pipe` and `tee` may interrupt the process after `Emit`. `wye` may interrupt the process at any time (even during an evaluation of a task from `Await` - if the task is asynchronous).

1) In the case of an interruption a cleanup is called. The pr

[2014-02-13 07:06] pchlupacek opened #107 "Process signature changes proposal"
Hi,
in several issues we are talking about non-optimal situation with resource cleanup and strict behaviour which makes live much harder. I put this proposal together and would like to get feedback before going to implement it.

@pchiusano @runarorama @fthomas @radekm I would appreciate if you can see your opinion on it.
#

Main Idea is to change signatures of Await and Emit as follows:

[code]

T

[2014-02-24 17:20] fthomas opened #114 "Test topic.writer.state is unstable"
In https://travis-ci.org/scalaz/scalaz-stream/jobs/19137486 the property `writer.state` from `AsyncTopicSpec` failed, although the change that triggered that build was unrelated to `WriterTopic`. I also observed this on my notebook a few times.

[2014-02-25 17:55] fthomas opened #115 "Description of process1.sum does not match it's implementation"
This is `process1.sum`:

[code]

The description says that the output will match the length of the input, but actually `sum` reduces its input to single value.

Here is an example:

[code]

According to the description I would have expected this result:

[code]

[2014-02-26 12:02] radekm opened #117 "Functions from sink can outlive resource"
It's nice that we don't need anything special for sinks - they're just processes producing functions. But the disadvantage is that these functions can outlive the resource which they're writing to:

[code]

Both examples end with `java.io.IOException`. The important thing in the second example is `last` which ensures that output stream is closed before we write into it.

[2014-03-05 19:04] nuttycom opened #121 "Seq is a poor choice for the block value type."
Using Seq as the block value type inhibits users from being able to reason about the performance characteristics of operations on blocks of data. I think it would be preferable to either choose a single, specific block type (say Vector) or else to use implicit typeclass constraints and/or explicit dictionaries to provide the operations that are available for block values. Seq is a very muddled typ

[2014-03-07 19:04] fthomas opened #122 "Bug in pipeO?"
Today I played a little bit with `Writer` and its combinators and noticed this behavior:

[code]

I would have thought that both should produce the same value. Is this a bug or intended behavior? I thought that it should not matter if the "write" side is stripped from the `Writer` before or after piping the "output" side into another process.

[2014-03-09 17:40] fthomas opened #125 "Migrate from Array[Byte] and Bytes to scodec-bits' ByteVector"
Currently `Bytes` is used exclusively in `nio` while `Array[Byte]` is used in `io`, `gzip`, and `process1`. @pchlupacek suggested in https://github.com/scalaz/scalaz-stream/pull/105#issuecomment-35059108 to create an issue for the migration from `Array[Byte]` to `Bytes`, so here it is.

The question is how this migration should be done? Just replacing `Array[Byte]` with `Bytes` is easy for us but

[2014-03-11 17:33] mandubian opened #126 "Is this `rechunk` Process1 function interesting for scalaz-stream?"
I'm currently testing new NIO API with client/server for a near-future article.

If I send Bytes representing these chunks of string packets separated by \n for ex:

[code]

On the other side, I don't receive them exactly in the same chunk because of TCP nature. For example, I receive:

[code]

But I would like to rechunk all of this and retrieve the same originating chunks :

[code]

I couldn't f

[2014-03-12 16:57] #126 closed, assigned to nobody

[2014-03-13 17:51] fthomas opened #130 "Rewrite gzip.inflate and deflate as Process1?"
Based on what I learned from implementing `hash.messageDigest`, I played a little bit with `gzip.inflate` and tried to rewrite it as a `Process1`. Here is the result:

[code]

I guess `deflate` could also be rewritten as `Process1`. What do you think about this approach?

[2014-03-14 13:39] #125 closed, assigned to nobody

[2014-03-14 14:29] mandubian opened #131 "HaltR never reached in the WyeW provided to Exchange.flow ?"
I've been struggling trying to understand why I was never receiving the HaltR in the WyeW provided to `Exchange.flow` (even with pending PR that Pavel advised me providing `mergeHaltBoth`). Here is the echo sample:

[code]

Here is the interesting line:

[code]

`Exchange.wye` is based on `Exchange.flow`:

[code]

It creates 2 queues `wq` and `w2q`:
- `wq.dequeue` is plugged on provided `Exchange.

[2014-03-17 04:10] jedws opened #132 "unsafeChunkR doesn't actually reuse the same buffer"
`unsafeChunkR` is documented to reuse the same underlying `Array[Byte]` for consecutive reads, however the implementation doesn't actually do this, it copies it on return by using `take` which copies even if the same size:

[code]

needs an else if:

[code]

[2014-03-18 09:41] tomasherman opened #133 "Broken build 0.3.1"
Hi,
just fyi - mergeN fails with 'not implemented' exception when used with build 0.3.1 (line 161):

[code]

[2014-03-18 17:00] fthomas opened #134 "Move utf8(De|En)code from process1 to new text object?"
With the addition of `utf8Decode`, `process1` now has non-trivial code that is related to text de- and encoding. The other functions in `process1` are all parametric and are usable in all kinds of domains. I'd like to keep only generic processes in `process1` and therefore propose to move `utf8Decode` and `utf8Encode` into a new `text` object.

What do you think? Should I prepare a PR for this?

[2014-03-18 23:25] etorreborre opened #136 "Reduce is evaluating elements several times"
Here's my code:

[code]

This prints:

[code]

I'm using the [lazy](https://github.com/scalaz/scalaz-stream/tree/lazy) branch but I'm not sure if this is a manifestation of #51.

Note that if I run this:

[code]

I get:

[code]

So maybe my understanding of `runLog` vs `runLast` is incorrect?

[2014-03-20 23:23] #130 closed, assigned to nobody

[2014-03-20 23:32] pchiusano opened #139 "Adequately document to users when `Process1` values allocate mutable state as implementation detail"
Certain combinators, like `compress.inflate` and `compress.deflate`, have a pure interface but allocate mutable objects 'on startup' as an implementation detail. This will not be observable as long as these processes are consumed only using `pipe` / `tee` / `wye`, etc.

We want to note somehow that doing explicit pattern matching or calling `feed` may cause this mutable state to be observable, so

[2014-03-20 23:33] #134 closed, assigned to nobody

[2014-03-22 17:57] #100 closed, assigned to nobody

[2014-03-25 17:56] fthomas opened #149 "Remove ||| (the operator alias for fby)?"
Occurrences of `|||` in scalaz-stream:

[code]

And this 1 is the definition of `|||` itself.

[2014-03-26 15:31] pchlupacek opened #150 "Improve Junction"
Current Junction implementation is a bit messy and I would like to track here what options are to make it more user friendly and readable.

My first idea is to change junction to take only two type parameters :

[code]

The Junction would be just `Process[JEnv#UpDown[I],Down[O]]` where JEnv will be similar to :

[code]

What I am missing here is the full algebra and solution how to manage downstre

[2014-03-27 16:21] fthomas opened #152 "The fate of Bytes"
Now that the dust of the conversion from `Array[Byte]` and `Bytes` to `ByteVector` has settled, it should be decided what will happen with `Bytes`. Should it be removed? If yes, `CopyOnWrite.bytes` which still uses it, has to be removed too. Or has `CopyOnWrite` lost its purpose without `Bytes`?

[2014-03-27 18:00] #149 closed, assigned to nobody

[2014-03-27 19:04] #152 closed, assigned to nobody

[2014-04-01 04:04] #114 closed, assigned to nobody

[2014-04-14 13:33] #115 closed, assigned to nobody

[2014-04-15 17:38] tixxit opened #168 "Possible O(n^2) behaviour in runLog"
It appears that runLog may be exhibiting O(n^2) behaviour due to Vector's inefficient ++ method - Vector#++ is O(n) in Scala.

See the discussion here for some links/info:

https://groups.google.com/forum/#!topic/scalaz/R7WjghE5zok

[2014-04-18 05:23] fthomas opened #173 "Compile errors with 2.11.0"
Compiling with Scala 2.11.0 yields these errors:

[code]

[2014-04-19 06:15] #173 closed, assigned to nobody

[2014-04-20 21:44] #132 closed, assigned to nobody

[2014-04-26 04:32] #133 closed, assigned to nobody

[2014-05-15 12:50] seanparsons opened #183 "Process.repeat currently stack overflows all the time."
Here's a little snippet from the sbt console:

[code]

[2014-06-15 12:29] pierzchalski opened #189 "'For' comprehension fails, desugared version does not"
In the NIO spec, the server construction apply function is defined as

[code]

And this obviously passes tests. However, this seemingly identical for-comprehension does not:

[code]

I don't even get an error, actually: it just seems to never terminate.

[2014-06-16 06:02] #189 closed, assigned to nobody

[2014-06-24 15:28] pchiusano opened #192 "Remaining todos before merge to master of `topic/process/append3-merge` branch"
We need to get all tests passing before we can merge the new representation to master. Currently failing tests, checked items have been fixed:
- [x] `hash.all`
- [x] `Process.kill`
- [x] `Process.state` - I think fine to just remove this
- [x] `compress.deflate |> inflate ~= id` Falsified after 1 passed tests.
  [info] > ARG_0: List("ByteVector(3 bytes, 0xe493a4)")
- [x] `compress.(de|in)flate: Fa

[2014-07-15 20:42] djspiewak opened #202 "Process#merge memoizes effects"
Yeah, strange…

[code]

This produces as output (order is non-deterministic, but you get the idea):

[code]

And nothing else.  You can see this without using `repeat` by just taking the result of `merge` and running it multiple times.  Needless to say, this doesn't happen with `interleave`.

In other news, it's concerning from a design standpoint that `merge` and `merge.mergeN` would have such in

[2014-07-29 20:36] puffnfresh opened #206 "Upgrade to scalaz 7.1.0"

[2014-08-01 02:15] pchiusano opened #207 "0.5 release todos"
- [x] Move `Cause` constructors into a `Cause` companion object, to avoid polluting top-level `scalaz.stream` namespace.
- [x] `Process.feed` rename to `Process.prepend`, since we are just prepending to the output of the `Process`.
- [x] Cleanup of scaladoc
- [x] Make the target 2.11 compillable
- [x] Update to scala 2.11.2
- [x] Update [release notes](https://github.com/scalaz/scalaz-stream/wiki/

[2014-08-01 05:46] #122 closed, assigned to nobody

[2014-08-01 06:35] #136 closed, assigned to nobody

[2014-08-01 07:25] #150 closed, assigned to nobody

[2014-08-01 07:28] #107 closed, assigned to nobody

[2014-08-01 07:28] #16 closed, assigned to nobody

[2014-08-01 07:28] #51 closed, assigned to nobody

[2014-08-01 07:29] #69 closed, assigned to nobody

[2014-08-01 07:30] #68 closed, assigned to nobody

[2014-08-01 08:08] #183 closed, assigned to nobody

[2014-08-01 14:00] fthomas opened #208 "Compile errors with 2.11.2"
Compiling current `master` with Scala 2.11.2 fails with these errors and warnings:

[code]

See also #173 for previous errors with Scala 2.11.

[2014-08-02 09:39] #106 closed, assigned to nobody

[2014-08-02 16:35] #206 closed, assigned to nobody

[2014-08-03 07:44] fthomas opened #211 "Process.halt and Process.empty leak subtypes into public API"
`Process` has these two which leak the `Halt` and `Emit` types into the public API:

[code]

Shouldn't they have type `Process[Nothing,Nothing]`?

Also as a user of the library: in which situations should I use `empty` instead of `halt` or vice versa?

[2014-08-08 02:49] #208 closed, assigned to nobody

[2014-08-08 02:51] #192 closed, assigned to nobody

[2014-08-08 02:52] #168 closed, assigned to nobody

[2014-08-08 02:52] #77 closed, assigned to nobody

[2014-08-08 12:33] #211 closed, assigned to nobody

[2014-08-22 16:04] pchiusano opened #222 "Reimplement `orElse` using new representation"
Using this as inspiration:

[code]

[2014-08-24 03:25] fthomas opened #224 "Combinator for attaching a timeout to a Process?"
This runs `counting` for one millisecond and then halts:

[code]

I think it would be nice to have a combinator for attaching a timeout, so you just have to write `counting.timeout(1.milliseconds)`. What do you think? Is this worth a PR?

[2014-08-28 05:22] #95 closed, assigned to nobody

[2014-08-28 13:54] #207 closed, assigned to nobody

[2014-08-29 09:06] #202 closed, assigned to nobody

[2014-08-31 04:36] djspiewak opened #227 "Halt Semantics Are Confusing"
Maybe it's just me, but this doesn't make a lot of sense.  Behold:

[code]

This prints:

[code]

The weird and unintuitive bit though is what happens if I remove the call to `drain`.  The stream never halts!  (or rather, it halts once the source range is exhausted, which is at i = 9999)

For one thing, this should be better documented.  More importantly though, this seems like a very strange sema

[2014-08-31 09:46] #72 closed, assigned to nobody

[2014-09-01 13:23] #227 closed, assigned to nobody

[2014-09-02 10:04] #117 closed, assigned to nobody

[2014-09-07 04:40] #54 closed, assigned to nobody

[2014-09-22 20:03] djspiewak opened #243 "Replace blockingQueue with a non-blocking version"
Given the way that `async.blockingQueue` is used, it would make a lot more sense if it _wasn't_ actually a blocking queue.  Building this atop a queue implementation which uses callbacks rather than a blocking `take` would result in better thread utilization, since applications would no longer be stuck with a thread (or perhaps multiple threads) hanging out in `take` forever.  This might also make

[2014-09-22 20:08] djspiewak opened #244 "Topic does not support any form of backpressure"
Please correct me if I'm wrong…

As far as I can tell from the implementation of `Topic`, the queuing of incoming data (which is subsequently dequeued and read by subscribers) is handled entirely by the `Strategy` in question, which defaults to a cached thread pool.  Cached thread pool is implemented using an *unbounded* queue.  This means that if the writers pushing data into a topic are moving f

[2014-09-22 20:21] #243 closed, assigned to nobody

[2014-10-01 15:22] pchiusano opened #249 "Let Process1, Tee, Wye transducers receive all available inputs on await"
As [mentioned here](https://github.com/scalaz/scalaz-stream/pull/237#issuecomment-55305291), I'd like to introduce the following combinators:

[code]

This will require modifying the [`Env` type](https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/Process.scala#L1058) and will be a comprehensive change. (But it should be mostly if not entirely backwards compatible, sin

[2014-10-01 15:30] #139 closed, assigned to nobody

[2014-10-06 11:01] fommil opened #251 "single producer, multiple (parallel) consumers"
I am forever seeing the situation where I need to perform pushback/flow control on a stream of data, typically with one producer, whilst doing as much consuming in parallel as possible. Pushback is essential, otherwise OOM happens.

This RFE may well be something you have already implemented without me realising, in which case please point me in the correct direction that would be appreciated :smi

[2014-10-06 14:30] #251 closed, assigned to nobody

[2014-10-10 09:19] martijnhoekstra opened #252 "can't find TransformingStreams.scala"
The example CreatingStreams.scala refers to a TransformingStreams.scala which I can't find. Is it missing? I'm also missing examples on Tee and Wye, but I'm not sure if that's a separate issue, or this issue.

[2014-10-16 22:10] djspiewak opened #254 "Infinitely-Stuck Process Issue"
Warning: I have yet to be able to minimize this issue.  When I run into it, the symptoms are extremely deterministic, but I haven't been able to pare it down to anything more narrow than the scope of a test for a relatively complex component of my application.  The only commonality thus far seems to be the use of a `Signal` and `wye.interrupt` to asynchronously control the termination of a process

[2014-10-20 02:53] pchiusano opened #255 "This behavior for `onHalt` does not seem correct"
This was noticed by @mpilquist:

[code]

Since we are only doing `take(1)`, I'd think that we'd only see the effects of the first `onHalt`.

Note that using `onComplete` instead of `onHalt` works fine -

[code]

@pchlupacek what do you think?

[2014-10-20 14:28] sshastry opened #256 "awakeEvery could not find implicit value for parameter scheduler"
[code]

(scala 2.11.0, scalaz 7.1, scalaz-stream 0.5a)
Any suggestions?

[2014-10-20 14:37] #256 closed, assigned to nobody

[2014-10-20 18:31] fthomas opened #257 "Documentation of Process.receive1 is confusing"
The documentation of [`Process.receive1`](https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/Process.scala#L763) refers to `continue` and `cleanup` parameters that are not present in the current implementation. Seems to be a remnant of the last big refactoring.

[2014-10-21 13:52] #255 closed, assigned to nobody

[2014-10-21 20:36] advoretsky opened #258 "upload to maven repository"
project builds are absent in maven-central - it fails builds

[2014-10-22 12:38] alissapajer opened #260 "Redesign wye combinators for doing bounded merges and zips (was: behavior of wye.drainR and wye.drainL)"
`wye.drainR` (and `wye.drainL`, which is implemented in terms of `drainR`) are displaying behavior contradictory to what I expect. To note, I didn't find any examples, usages in the source, or tests for either of these two functions. What was the intent for these functions?

Here is the example I've constructed (thanks to @dcsobral for the idea to use `Process.awakeEvery`).

[code]

And here is th

[2014-10-22 14:37] pchiusano opened #261 "Queue tests fail intermittently"
https://travis-ci.org/scalaz/scalaz-stream/jobs/38653378

[info] + queue.basic: OK, passed 100 tests.
[info] ! queue.size-signal: Falsified after 2 passed tests.
[info] > Labels of failing property:
[info] all sizes collected Some(\/-(Vector(0, 1))) expected Vector(0, 1, 0)
[info] > ARG_0: List("-2147483648")
[info] + queue.enqueue-distribution: OK, passed 100 tests.
[info] + queue.closes-pub-sub:

[2014-10-23 20:18] fthomas opened #262 "Process.range vs. Process.emitRange"
Currently there are `Process.emitRange(start: Int, stopExclusive: Int): Process0[Int]` and `Process.range(start: Int, stopExclusive: Int, by: Int = 1): Process0[Int]` which both emit a range of `Int`s and have basically the same signature.

Before the last big refactoring, the return type of `range` was `Process[Task, Int]`, so those functions had a different signature. Now that this distinction i

[2014-10-25 03:33] #257 closed, assigned to nobody

[2014-10-25 04:11] fthomas opened #264 "Implementing await1/await1Or in terms of receive1/receive1Or"
I'm wondering if `await1` and `await1Or` should be implemented using `receive1` and `receive1Or` like this:

[code]

In the case of `await1`, this would just be an extra function call because `await1` is a special case of `receive1` where `rcv = emit`:

[code]

But in the case of `await1Or`, the result would be different to the current implementation because `await1Or` and `receive1Or` handle the

[2014-10-29 17:33] #224 closed, assigned to nobody

[2014-10-29 20:07] #264 closed, assigned to nobody

[2014-11-03 19:50] #262 closed, assigned to nobody

[2014-11-05 18:45] alissapajer opened #271 "Sometimes wye.interrupt fails to terminate a Process created with merge.mergeN and Process.constant"
Hi,

What follows is a minimized example of a `Process` that is interrupted with `wye.interrupt` but sometimes fails to terminate. The `Process` is created by passing a `Process` containing a handful of `Process.constant(())` to `merge.mergeN`.

[code]

You may need to run `val all = new All(); all.Effects.start(); all.runOutput.size` a few times before you see the process fail to terminate.

Here

[2014-11-06 17:50] #252 closed, assigned to nobody

[2014-11-13 18:07] #131 closed, assigned to nobody

[2014-11-13 20:38] dcsobral opened #274 "Semantics of njoin differs from semantics of join (in a wrong way)"
There's a difference between (scalaz) `join` and `njoin` when it comes to when a process is completed. The process that emits processes will be terminated before them with `njoin`, whereas it will terminated afterwards with `join`.

The documentation is silent on this, but the semantics of `join` seems preferable (and less surprising) to me.

Here's a reproduction:

    import scalaz._
    import

[2014-11-14 13:39] #271 closed, assigned to nobody

[2014-11-14 13:40] #261 closed, assigned to nobody

[2014-11-14 15:59] pchiusano opened #275 "Mac implementation of `tcp` occasionally hangs on socket close"
Issue is seemingly triggered by concurrent reads and writes to an `AsynchronousSocketChannel`. See `TcpSpec`:

[code]

Also see discussion in #250. We would be grateful if anyone more knowledgeable can find a workaround or fix for this issue.

[2014-11-23 20:34] fthomas opened #277 "Naming of Process' MonadPlus instance"
`ProcessInstances.scala` contains this comment:

[code]

What would a better name for this instance? Looking at Scalaz, I see that that a lot of instances that are defined with a `def` are named `$datatype$Typeclass` (e.g. `listMonoid`, `vectorShow`, etc...). So the name of the `MonadPlus` instance follows Scalaz conventions (except for the upper case of this name).

/cc @djspiewak

[2014-11-24 04:59] markfarrell opened #278 "[async.topic] Repeat n messages before a subscriber was run?"
Hi,

When using async.topic, I would like to be able to send new subscribers the last n items that were published before they subscribed. Is it possible to do this right now? Should/can this be implemented?

[2014-11-24 18:05] #277 closed, assigned to nobody

[2014-11-27 17:33] dansanduleac opened #280 "SinkTaskSyntax.pipeIn never ends the Process1 [0.6a]"
[code]

This prints "there" to stdout, as expected. However,

[code]

prints *nothing*.

Since `pipeIn` works with other combinators such as `process1.filter` or `process1.once`, this pointed me towards the idea that the `Process1` being piped in never arrives at a `Halt` step, which is necessary for it to emit anything in the case of `process1.last` (rationale: after receiving the first element,

[2014-12-02 21:03] pchiusano opened #281 "Process0Syntax should take a Process0"
Currently takes a:

[code]

This is sort of awkward - it means various functions in `Process0Syntax` have to explicitly skip over awaits. Better to just take an actual `Process0` and let people use `disconnect(Cause.Halt)` if they want to obtain a `Process0` from an existing `Process` by ignoring any input.

As part of this, we can probably deprecate and/or get rid of `liftIO` or `toSource`, since

[2014-12-09 18:06] elyast opened #286 "BundleVersion is inconsistent"
Hi,

I noticed that bundleVersion is inconsistent, e.g.
[code]
This is problematic since in OSGi only first 3 numbers are significant, which means version 0.0.0.5a and 0.0.0.6a is essentially 0.0.0 and cannot be use to scope version in import-package directive.

My suggestion would be to use following scheme:
[code]

Let me know what do you think

[2014-12-10 11:59] q42mark opened #287 "tcp.writes takes an unbounded ByteVector"
Hi,

Just started out with some experiments with scalaz-stream and scalaz-stream-scodec; And I found something curious

The tcp.writes method (and maybe other io related methodes) takes this;

`chunks: Process[Connection,ByteVector]`

The bytevector is not bounded by any size, so it might be possible to send a large bytevector to tcp.writes for example, making tcp.writes buffer up all bytes first?

[2014-12-10 18:09] dansanduleac opened #288 "tee should propagate EarlyCause to its Processes"
I have a situation where I'm sending a source through a sink that is built in a similar way to `io.bufferedChannel` (when `O=Unit`):

[code]

The only difference (aside from it taking an `F[_]` instead of just Task) is that instead of a `Sink[_, Option[I]]` I return a `Sink[_, I]`, which, admittedly, is what caused this whole issue.

I wrote this kind of sink for an accumulate-then-commit model -

[2014-12-11 20:54] fthomas opened #289 "Example about connecting a Process to multiple Sinks"
This [Stack Overflow question](http://stackoverflow.com/questions/27015168/how-to-send-a-process-to-multiple-sinks-in-scalaz-stream) made me to think about how to write a `Process` that sends its elements to different `Sink`s depending on a label that is attached to those elements. An example would be the lines of a logfile, where each line has an associated log level, and different sinks for all

[2014-12-14 01:39] alissapajer opened #290 "termination of a Process fails with collect and filter"
Hi folks,

What follows is a minimized case of a `Process` constructed with `collect` that doesn't halt when instructed to do so with a `wye.interrupt`.

[code]

When this example is run, the process sometimes halts (as expected), but more often than not it fails to halt. Here is a [thread dump](https://gist.github.com/alissapajer/c8237dd846cd522ea84a) taken while the process is spinning.

****Way

[2014-12-17 08:45] julien-truffaut opened #292 "port number used on tcp.server"
tcp.server binds to a `InetSocketAddress`. However, it is possible to use a ```port = 0``` to let the system pick up an available port and in that case, there is currently no way to obtain which port has been selected.

Would it be possible to make tcp.server return the port it is using?

[2014-12-17 14:40] alissapajer opened #294 "collect/filter termination failure"
Adds three failing tests exhibiting collect/filter halt bug #290
Also adds three passing tests exhibiting situations that are not affected by the bug.

[code]

[2014-12-17 14:40] #294 closed, assigned to nobody

[2014-12-18 19:23] #281 closed, assigned to nobody

[2014-12-19 22:09] edwinchoi opened #297 "Deadlock when terminating bounded njoin"
The deadlock happens if the outer process is terminated while an inner process is blocking on the internal queue. Without any live consumers, the only way for the process to unblock is by terminating the queue, but `njoin` only terminates the queue once all the producers have finished, resulting in a deadlock.

The following reproduces the issue:
[code]

This prints "signaled" but not "done".

[2015-01-05 17:51] alissapajer commented on #290
@djspiewak @radekm @pchlupacek  What we've determined is that `Process#step` is infinite looping. Specifically, we are appending to `Halt(End)` to `Halt(End)` ad infinitum. In order for `step` to terminate, we need an `Emit` or an `Await` or a `Halt` with an empty stack, none of which we obtain.

In `collect`, when the predicate fails to be met, we append a `halt` to our stream (via `flatMap`). In

[2015-01-05 17:54] alissapajer commented on #290
A debugging note:  Since `step` is used in many places, I copied and pasted a new identical version of `step` called `myStep`, added printlns in that, and then determined that the call to `p.step` (changed to `p.myStep`) inside of `runStep` inside of `runAsync` is the call to `step` that never terminates.

[2015-01-06 12:52] #297 closed

[2015-01-08 20:09] djspiewak opened #301 "async.signalOf generates deadlocks"
[code]

Run a crudton of `problemo` instances concurrently, ideally with a smallish thread pool in your `Strategy` (we tested with 2 threads).  You will very quickly run into a deadlock stemming from thread starvation.

The problem is that `signalOf` delegates to `run` internally, which doesn't appear to reschedule the current thread appropriately.  Ultimately, you just run out of threads to use i

[2015-01-08 20:23] pchiusano commented on #301
Ah, that makes sense. The signal updating needs to send a message to the signal actor, and that logic runs on the Strategy. I cannot think of a fix other than making signalOf primitive and refactoring the existing signal creation code to optionally take an initial value. @djspiewak would you be interested in trying to put something together for this?

[2015-01-08 20:24] djspiewak commented on #301
I'll take a quick stab.  Honestly, I would rather `signal` just not exist at all.  It's very unclear to me what value a signal contains when created in that fashion, and I've been too terrified to check.  :-)

[2015-01-08 20:28] djspiewak commented on #290
Random update here…

After some brain storming with @puffnfresh, I'm pretty sure the correct solution here is to extend the `Step` algebra such that it fully represents the partiality monad over `Append`.  Practically, this means that `Step` would allow for a "nullary emit", in addition to the "emit" and "await" cases it currently allows.  Basically, `Step` could thus represent a pure continuation

[2015-01-08 20:52] pchiusano commented on #301
Cool. It's been discussed before, removing undefined signals. If you await on an undefined signal it blocks (semantically) until someone sets the signal. In retrospect, I think this is overkill. If there are no objections from @pchlupacek I'm fine with just removing it in favor of `signalOf`. This might make the refactoring a bit easier for you, too. :)

[2015-01-08 20:56] puffnfresh commented on #290
:+1:

Embedding the partiality monad would guarantee productivity in an infinite chain of Appends, which we can't have at the moment with `HaltOrStep`.

[2015-01-08 20:57] djspiewak commented on #301
I'm going to mark it as deprecated for now. May as well try to make people's lives a bit easier in upgrading… :-)

[2015-01-08 21:12] pchiusano commented on #290
I'm sorry I'm so behind on responding to this. Thanks for everyone doing great work. I think it's safe to say that at the moment I have the least understanding of this issue out of anyone on this thread. :) This is my way of asking if someone wants to step up and try putting together a fix. :)

@djspiewak or @puffnfresh could you elaborate on:

As in, just show me what `Step` would look like with

[2015-01-08 21:14] pchiusano commented on #301
Deprecating works for me.

[2015-01-08 21:14] djspiewak commented on #290
@pchiusano Very naively, `Step` could become the following:

[code]

The `Option` gives `step` the ability to effectively say "uh, I don't have a value yet, but maybe I will later!" rather than just chewing on things indefinitely with an unfulfillable promise to always produce a value.

[2015-01-08 21:16] pchiusano commented on #290
Gotcha. That makes sense.

[2015-01-09 10:35] pchlupacek commented on #301
+1

[2015-01-09 10:47] pchlupacek commented on #290
Not sure how much refactoring through the codebase this requires.

We need to experiment a bit with it.

I also remember we run into issues with fact that step actually handles `Halt(End)` equally with `Emit(Nil)`. As such maybe we can just use that to signal `maybe will have something`. We once had `val Empty = Emit(Nil)` and maybe that is exactly  like `None` here.

i mean perhaps removing just

[2015-01-14 12:39] radekm commented on #290
Making `head` of `Step` optional can guarantee productivity but will it guarantee progress? In which circumstances will be `head` `None`?

The possible problem is that between two calls of `step` a clutter may be added to the process (eg. by `suspend`s), so to do some real work `step` must at first remove this clutter.

[2015-01-14 19:51] djspiewak commented on #290
Progress cannot be guaranteed.  Give up hope.  Specifically:

[code]

What do you *expect* `derp.step` to do?  I sure as heck don't know.  The types say there's a `Unit` value in there *somewhere*, but there's no way for `step` to ever get to it.  Progress as you seem to be defining it is simply not something that can be guaranteed with a turing complete system.

The only thing we can do is ensure

[2015-01-14 22:19] radekm commented on #290
Ok. What I meant was that if there is a value or an effect reachable by the current implementation in a finite number of steps then it should be finitely reachable in a new implementation.

Eg. always returning `Step` with `head == None` after `3` (or some fixed `n`) iterations of `go` in `step` will break this property since IMO you can construct a process where `suspend`s add more clutter than `

[2015-01-14 22:22] djspiewak commented on #290
This property would not be affected by a correct implementation of nullable `step`.  The only difference is that, under some circumstances, some of the steps which had been iterations of `go` would be outsourced to the external `step` driver.  The same iterations would exist though.

Side effects!  :-)

[2015-01-15 09:14] jilen commented on #258
+1 Suprised this excellent library haven't uploaded to maven central repo yet!

[2015-01-15 15:03] pchiusano commented on #290
This is just an idea, but how about just changing `step` to take an `Option[Int]` for the maximum number of rounds. It sounds like `wye` is the only thing that would need to pass anything other than `None` (unbounded). It can pass increasing numbers in order to preserve productivity and fairness.

[2015-01-15 16:51] djspiewak commented on #290
That's kind of what I was thinking. There needs to be some feedback mechanism though in order to let wye know whether or not the throttle was hit.  Also, it should probably start with a higher number, back off and then walk back up again to tune, depending on fairness.

[2015-01-16 06:38] pchlupacek commented on #290
Are you guys sure this affects only wye?

[2015-01-16 10:12] radekm commented on #290
I think that all `step`s called directly or indirectly from `wye` will need the limit. So it will be necessary to propagate it everywhere (eg. to `pipe` which uses `step`).

[2015-01-16 14:35] pchiusano commented on #290
Yikes, that's going to be annoying. :\ Can anyone think of another approach
or is this basically the only option?

On Fri Jan 16 2015 at 5:12:25 AM radekm <notifications@github.com> wrote:

[2015-01-19 09:36] maslovalex commented on #258
+1 specs2 needs it

[2015-01-19 10:31] pchlupacek commented on #290
I think I have the solution that does not require introducing the int.

First, we need to modify step as follows  (note commented lines to be removed)

[code]

then we need to modify runAsync as follows :

(line 1337)
[code]

then we introduce

[code]

and need to change collect to

[code]
then maybe I would suggest to deprecate `halt` or perhaps just define

[code]

I don't like to introducing th

[2015-01-19 13:52] radekm commented on #290
@pchlupacek This indeed fixes the test

[code]

given by @alissapajer but if you replace `p1` by `p2` defined as

[code]

then it is broken again.

[2015-01-19 14:53] pchlupacek commented on #290
@radekm  you think even in case when

```val halt == Emit(Nil)```

???

[2015-01-19 15:01] pchlupacek commented on #290
Personally I think we have to make the `step` to exit at every iteration when Emit(Nil) is encountered. Then, in various combinators (like wye) eventually optimize (go) so we won't emit to central actor unless needed (ech nth, on nonempty, halt etc). That will cause the `int` to be closed in implementation of all actors. and won't introduce too much overhead? What do you think? This in fact will a

[2015-01-19 15:15] radekm commented on #290
When I set `val halt = Emit(Nil)` then `wye` doesn't even terminate. On the other hand if I let `halt` untouched (i.e. `val halt = halt0`) then `wye` terminates but the process `p2` still runs in background.

[2015-01-20 16:53] pchiusano commented on #287
This is as designed. The writes function intentionally does nothing magical so you can chunk your writes in whatever way makes sense for your application, just by transforming the `Process[Connection,ByteVector]` that you pass to `writes`. Certain protocols may need to be very explicit about this - write 10 bytes, then wait for 53 bytes, then write another 12 bytes, etc.

However, I'd welcome a PR

[2015-01-20 16:53] #287 closed

[2015-01-27 07:53] prange opened #309 "Process1 with stateful computation"
As far i can tell are there no combinators to perform a stateful computation where the output of a Process1 is computed by a state and an input. If i am not mistaken scan outputs the same state that is input to the "next" step, and zipWithState carries the original input and new state to the output.

I imagine either with some type carrying the state data (S):
[code]

or with some Mealy machine
[c

[2015-01-27 16:52] djspiewak commented on #309
It's not easily achieved with the existing combinators.  I would absolutely die of happiness if we had some sort of `A => State[S, B] => S => Process1[A, B]` combinator.  I tried pretty hard to implement this [here](https://github.com/djspiewak/sparse/blob/master/src/main/scala/scalaz/stream/parsers/package.scala#L50), but the result isn't generalized.

[2015-01-27 20:02] pchiusano commented on #292
Yes, I think this should be possible. I would add a method to `tcp.Socket` here: https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/tcp.scala#L46 and then follow the same pattern as `localAddress`. PRs welcome!

[2015-01-27 22:56] fthomas commented on #309
I think you could write `mapStateful` in terms of `zipWithScan1` by squeezing the `S` and `O` types into `zipWithScan1`'s `B` type like this:
[code]
But this is neither easy nor pretty.

[2015-01-27 23:06] pchiusano commented on #309
I like the mapStateful2 signature and would accept a PR for that. Not sure
what to call it though... mapStateful is pretty weird. I think in the book
we called it `loop`, but I'm not a big fan of that name either..

On Tue Jan 27 2015 at 5:56:36 PM Frank S. Thomas <notifications@github.com>
wrote:

[2015-01-28 05:57] fthomas commented on #309
The signature looks a bit like `Traversable`'s `mapAccum*`:
[code]
but without emitting the accumulator. Should we generalize to
[code]
?

[2015-01-28 07:59] prange commented on #309
+1 for mapAccum.
@fthomas : Although i am for generalization i have a feeling that the ```S``` would be thrown away in most use cases. If we also would have some "right" operator ```Process1[(I1,I2),I2]```that would give the best from both worlds.

[2015-01-28 12:09] pchlupacek commented on #309
how about this signature :

[code]

[2015-01-28 14:59] pchiusano commented on #309
I like mapAccum, signature suggested by @fthomas. Except let's call it `mapAccumulate`, since I hate abbreviations. I prefer the version that returns pairs. You can always convert that to a `Writer1` or just do `.map(_._1)` if you need to discard. @prange would you like to prepare a PR since you submitted the issue?

[2015-01-28 21:30] pchlupacek commented on #309
@pchiusano I see what you say. There are however situation when you want to emit `S` even without receiving the `I` which may not be possible if you do output in tuples.

[2015-01-28 22:43] fthomas commented on #309
@pchlupacek The only situation I can imagine where `mapAccumulate` could emit a `S` without receiving an `I` is when its input is empty and it would just emit the initial `S`. If it would be implemented like that I wouldn't call it `map...` because it isn't structure-preserving then. Mapping over an empty `Process` should result in an empty `Process`.

[2015-01-29 06:45] pchlupacek commented on #309
@fthomas yes you are right, It won't be consistent behaviour with name. Is like difference actually between scan and scan1. Lets go with mapAccum as it is, is likely different compbinator then.

[2015-01-29 08:28] prange commented on #309
I will prepare the PR, based on your implementation example above.

As i understand there is consensus for the following signature:
[code]
If you are opposed, speak now or forever hold your tongue (well, at least wait for some time)

[2015-01-29 08:52] fthomas commented on #309
@prange My implementation of `mapStateful2` was not meant to be taken seriously! Using `zipWithScan1` there was a gross hack and I did it only to show that it can be implemented with the current combinators. Sorry!

I would implement `mapAccumulate` similar to how `zipWithScan1` is implemented.

[2015-01-30 11:55] alissapajer commented on #290
After a conversation with @djspiewak, I added
[code]
to the case of `step` when the stack is empty, the idea being that `Emit(Nil)` can represent the "I don't have a value to emit, but I might later" type of the Partiality.

This addition causes the following `Process` to fail to halt:
[code]
What's happening is, the `step` function is relying on recursing with `Halt(End)` and a nonempty stack in

[2015-01-30 13:11] prange commented on #309
@fthomas , well, it works like a charm. ;) But yeah, i will take a closer look. The propsed signatures is also slightly different.

[2015-01-31 21:54] pchlupacek commented on #290
@alissapajer, @radekm @pchiusano , @djspiewak,  @puffnfresh I have did some tests and I think I have found solution to this issue.

First, I think @radekm was right pointing out that in certain cases `step` shall never terminate. I believe that this is correct behaviour of step that it will never terminate with these processes :

[code]

and similar.

Another observation is that `step` is actually

[2015-01-31 21:56] pchlupacek commented on #288
@pchiusano @dansanduleac do you think this can be closed?

[2015-01-31 21:56] pchlupacek commented on #280
@pchiusano I am not sure how this ended, but I think this has been merged already?

[2015-01-31 21:57] pchlupacek commented on #278
@markfarrell do you think we can close this issue?

[2015-01-31 21:58] pchlupacek commented on #254
@djspiewak can you please verify if proposed #271 fix fixes this issue?

[2015-01-31 22:25] pchlupacek commented on #258
Folks hence the current sbt version is using bintray as one of the default repos do you think this is still necessary?

[2015-01-31 22:32] markfarrell commented on #278
Sure.

[2015-02-01 04:53] pchiusano commented on #280
Yes fix is in master right now but has not made it into a release.
On Sat, Jan 31, 2015 at 4:56 PM Pavel Chlupacek <notifications@github.com>
wrote:

[2015-02-01 08:23] pchlupacek commented on #278
Thanks for using library :-)

[2015-02-01 08:23] #278 closed

[2015-02-01 08:24] #280 closed

[2015-02-01 16:43] markfarrell commented on #278
No problem - but I've found it somehwat hard to dig up educational resources on scalaz-stream. I feel like there needs to be a more comprehensive guidebook, with exercises, or something.

[2015-02-01 18:43] fthomas opened #310 "Do not use deprecated async.signal in the tests"
`AsyncSignalSpec` and `MergeNSpec` still make use of the deprecated `async.signal`. I guess they should be rewritten with `async.signalOf`.

[2015-02-01 21:34] djspiewak commented on #310
I left `AsyncSignalSpec` the way it was since it's actually testing `signal` directly.  Though, given that `signal` is deprecated, it probably makes more sense to just remove those tests.

`MergeNSpec` was trickier.  I tried to rewrite it to use `signalOf`, but the tests actually rely on the bizarre behavior of a non-valued signal.

[2015-02-01 21:46] djspiewak commented on #254
Actually the stack trace listed in the OP looks suspiciously like the `step` issue that @alissapajer and I have been chasing.

[2015-02-02 07:29] advoretsky commented on #258
It's only second time I meet mention of [bintray](http://jcenter.bintray.com/). I was stucked trying to build my project with Maven. If adding next snippet solves the problem - Ok.

        <repository>
          <id>central</id>
          <name>bintray</name>
          <url>http://jcenter.bintray.com</url>
        </repository>

Putting it somewhere in Readme.md would help me

[2015-02-02 07:37] briantopping commented on #258
That's a temporary fix, but repositories come and go. Capturing a repository like that means that the source may not be able to be built if bintray were to not exist in the future. So it is considered bad form to put a repository into a POM like that.

Note that I am not predicting the demise of Bintray, but that Bintray is just another repository, none last forever.

See http://blog.sonatype.com/

[2015-02-02 11:28] pchlupacek commented on #254
Well we will see. Anyhow I have posted fix to #271 so would be excellent if you can test this with that branch too..

[2015-02-03 08:07] alissapajer commented on #290
@pchlupacek The case that @radekm suggested earlier using `pipe` does not halt, when it should.

So, specifically, this does not halt on @pchlupacek 's latest bug-fix branch `bug/step-runAsync`:
[code]
It's my understanding that `pipe`ing through `process1.id` should never change any behavior. But if you instead run the following (replacing `p2` with `p1`)
[code]
on `bug/step-runAsync`, it will in

[2015-02-03 09:04] pchlupacek commented on #290
@alissapajer I'll take look on that case.

Actually the way how runAsync is implemented now is that we don't care if process is infinite and won't emit. It will always get interrupted. In this case it shall be interrupted because `i1` terminated. Whats likely to be happening is either that wye don't sent the kill signal or there is a problem with Process.kill on
`p2`. Would be interested if `p2.ki

[2015-02-03 09:09] pchlupacek commented on #290
Hm I think I see whats happening. The problem is that we still don't have chance to interrupt piped processes that run internally the Step. I may need to think about this for a while.

[2015-02-03 09:25] alissapajer commented on #290
Yes, that makes sense. The process is infinite as expected, but we don't have a chance to interrupt it.

I changed the `id` impl to
[code]
and the problem persists.

Interestingly, when one changes `v` to
[code]
the process does terminate.

[2015-02-03 09:49] pchlupacek commented on #290
@alissapajer can you perhaps try with this step implementation? :

[code]

[2015-02-03 09:50] pchlupacek commented on #290
ah sorry and define emtpy as :
  /** Empty process that never emits anything */
  val empty: Emit[Nothing] = Emit(Nil)

[2015-02-03 10:15] alissapajer commented on #290
@pchlupacek with that change to `step`, the `pipe`d process terminates! So giving ourselves a way out fo the `step` recursion (however we want to do that in the end) allows a chance to interrupt the process.

Additionally, I ran a full `sbt test` on the `bug/step-runAsync` branch, and everything passed.

Though, I'm not convinced that a process isn't still running in the background. I'm running `c

[2015-02-03 11:43] pchlupacek commented on #290
@alissapajer To me the stack trace is unrelated to our code. I have same observation with or w/o fix, But lets write a test that will verify there is no dangling process in background.

I am happy that we now see the solution. I will think about proper step implementation again to eventually remove that internal count and define back runAsync in term of step.

I'll try to finish that over weekend.

[2015-02-03 14:14] pchiusano commented on #290
Awesome!
On Tue, Feb 3, 2015 at 6:43 AM Pavel Chlupacek <notifications@github.com>
wrote:

[2015-02-03 21:15] fthomas opened #311 "Use Scalariform to make formatting more consistent?"
Is anyone interested in using Scalariform (https://github.com/sbt/sbt-scalariform) to enforce a more consitent source code formatting? You can have a look at how it would reformat scalaz-stream here: https://github.com/fthomas/scalaz-stream/tree/scalariform

[2015-02-03 22:27] djspiewak commented on #311
I'm neither a fan of Scalariform's style options nor auto reformatters in general, but that's just my opinion.  I don't mind being forgiving of other people's code style (and thus dealing with some inconsistency) if it means I get to be opinionated about my own.

[2015-02-06 18:29] alissapajer commented on #290
FYI, branch [bug/step-runAsync](https://github.com/alissapajer/scalaz-stream/tree/bug/step-runAsync) pushed to my fork contains the broken pipe test as well as the "fix" which adds a counter to `step`, in case anyone needs to build locally against it to work around the bug for now.

[2015-02-06 21:01] dansanduleac commented on #288
Sorry for the long absence - I'm working on a PR now which changes `Kill` to keep track of an `Option[Error]` that might have caused it, which in turn would allow a process to take different actions depending on whether it was halted by
* a `Kill(None)` i.e. no error occurred in the pipeline, but no more data is required of this process
* a `Kill(Some(_))` i.e. an error occurred somewhere in the p

[2015-02-08 06:34] pchlupacek commented on #288
@dansanduleac Are you sure you can solve all the termination propagation in tee and wye and pipe correctly? In case yes, how they will be defined. On wiki there is page describing current behaviour, can you please elaborate on how that will change?

Thanks a lot for your efforts!

[2015-02-08 07:19] pchlupacek commented on #290
@alissapajer cool, excellent. That gives me more time to think how to fix this properly.

[2015-02-09 17:39] dansanduleac commented on #288
@pchlupacek good point - I hadn't looked at `wye` yet, and indeed it needed these changes applied as well. I've added 2 new commits to the PR, which deal with `pipe` and `wye` respectively, and amended the tests in `ResourceSafetySpec` to reflect what I expect should happen.

[2015-02-10 08:52] fthomas commented on #311
Thanks for sharing your opinion!

[2015-02-10 08:52] #311 closed

[2015-02-11 18:13] djspiewak opened #315 "Process#toTask does not support equational reasoning"
See [here](https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/Process.scala#L981) for why.  The essence of the symptoms here are that you can call `toTask` on a `Process` and run it repeatedly, getting *different* results from what would have happened if you call `toTask` multiple times.  Specifically, the following two functions are *not* equivalent:

[code]

For rea

[2015-02-11 18:30] djspiewak commented on #315
Here's an example snippet that demonstrates a `Process` where you can run into trouble:

[code]

[2015-02-13 10:42] alissapajer opened #316 "Interaction with wye's causing process not to halt"
I've found an issue where an interaction between some `wye`s and `until`s is causing certain code to behave inconsistently. Specifically, sometimes the provided example process hangs when run, and sometimes it halts. I expect it to always halt.

I've run the following example on current `master` as well as on branch `bug/step-runAsync` (pushed to my fork), which contains the fixes/hacks related to

[2015-02-13 12:12] alissapajer commented on #316
Some things I've determined:

(1) `step` is not infinite looping. We enter into step a few times, but ultimately leave it. Then we sit and do something (or nothing?) until the 3 second timeout is reached.

(2) `tee.until` receives the `true` value whether the test hangs or doesn't.

(3) Consider the following:
[code]
When the test hangs, only the "first" `onComplete` is reached. When the test does

[2015-02-13 12:18] alissapajer commented on #316
[Thread dump](https://gist.github.com/alissapajer/299fe84e1924e5a49569) taken while hanging. Only references to scalaz are in lines 148-150.

[2015-02-13 12:47] alissapajer commented on #315
This issue is effectively exposing the `var` that's inside the impl of `toTask`. This `var` should remain private to `toTask` at all costs, but as @djspiewak pointed out, the since `toTask` isn't wrapped in a `Task`, this `var` is initiated when `toTask` is called rather than when it is run.

The entirety of any function returning a `Task` should be inside `Task` to avoid issues like this.

In sho

[2015-02-13 12:57] alissapajer commented on #315
@djspiewak I was just reading backlogs on gitter. If I see a method that returns a `Task` I assume referential transparency. Do you have a concrete example of how `toTask` is no longer useful when you wrap it all up in a `Task` (i.e. when it's not referentially transparent).

[2015-02-13 18:11] dcsobral commented on #315
To sum up some discussion that happened on gitter, there's an intentional
side effect happening with toTask. It is _supposed_ to "grab the next"
output of a Process. However, that's not the only side effect going on.
There are two:

* (Re)starting the Stream
* Reading the next element

Perhaps a better signature would be Task[Task[T]], where both effects are
represented.

For my part, I have alway

[2015-02-13 18:14] djspiewak commented on #315
I'd be happy to take care of this if no one has any objections.  To be clear, the implementation of `runTask` (or `stepTask`, which I think might make a bit more sense as a name) would be identical to the existing one, except with a `Task delay` thrown around the whole thing.  There would be no flattening of the effects, and thus the result type would be `Task[Task[A]]`.

[2015-02-15 08:54] pchlupacek commented on #316
@alissapajer I just fixed that isssue with step and wye. Also in the code you have been trying this with, there was slight change in behaviour that runAsync emitted `empty`, that was not the cause before.
Would be excellent if you can try with fixed code in pr branch  now and see if the problem persist.

[2015-02-15 10:50] alissapajer commented on #316
@pchlupacek I just tried this example against your latest PR'd `bug/step-runAsync` branch, and the problem still persists :/  2 out of 10 runs of the example hung.

[2015-02-15 11:47] alissapajer commented on #316
Note to self: try this example with different numbers of processors!

[2015-02-16 02:10] florianverhein commented on #46
+1
@richardhundt that's exactly what I need too... have you had any success? (This is the closest I've come so far, but it does not handle the Task context at all...: https://gist.github.com/florianverhein/2ed965bde7324cb73325)
There's a "toTask trick" discussed here that looks useful:  https://groups.google.com/forum/#!topic/scalaz/gx0eXHpQN48

[2015-02-16 19:54] prange commented on #309
After giving this some thought: How is the threadsafety ensured for the incrementing functions. If two threads "drive" the stream, would there not be a risk of one function overwriting the other?

[2015-02-16 22:07] edmondo1984 commented on #258
+1 When is this planned for?

[2015-02-16 22:18] beloglazov commented on #258
+1 would be awesome to have it in Maven central!

[2015-02-17 06:49] pchlupacek opened #321 "Remove dependency on scalaz.concurrent"
Hi, this is just an initial idea. I would like to explore if we can remove the dependency on scalaz. Namely this is driven by fact that I would like to have full control of concurrent primitives (like Task, Future, and perhaps Actor and Strategy) in our code and don't be dependent on release cycles of scalaz for these.

What do you think guys? I would like to see scalaz-concurrent in our code and

[2015-02-17 07:37] djspiewak commented on #321
There are some things from Scalaz that we need above and beyond the concurrency primitives.  Most notably, abstractions like `Monad` and `Functor`, and utilities like `Either`.  We can get those from Scalaz or we can get them from Cats if you prefer, but we do need them.

Having full control over our own primitives would be great though.  `Task` is fantastic and beautiful and the fact that it's so

[2015-02-18 21:16] edwinchoi commented on #316
This example seems problematic.

Both the producer and consumer are preempted by signal and are attached to the enqueue/dequeue sides asynchronously. When both producer and consumer terminate, there's nothing left to observe the effects. This is only an issue when there is nondeterminism (using sequential strategy does not exhibit the same problem).

I suspect what is happening is that boundedDequ

[2015-02-19 01:07] edwinchoi commented on #316
Giving it a bit more thought, I agree this *should* halt.

[2015-02-19 02:35] edwinchoi commented on #316
The problem is with the implementation of wye.

I added some logging to wye and found that it's being told to terminate twice -- haven't looked too deeply into why. In other words, the actor is being sent `DownDone` twice.
When the actor handles `DownDone`, it ignores any existing callback in `out` and assigns a new callback to `out`.

What's happening is that the second `DownDone` is replacing th

[2015-02-19 14:13] edwinchoi commented on #316
Correction: duplicate termination is only an issue on master. Seems due to changes mentioned by @pchlupacek.

On 0.6a branch, the inner processes are actually stuck -- blocked waiting on dequeue.

[2015-02-22 04:13] edwinchoi commented on #316
Here is a shorter example to reproduce this issue:

[code]

Tested this against `master`, current release, and `step-runAsync` - occurs on all.

I've narrowed down the issue to the cleanup code for `wye`, which is being called twice by `runAsync` -- first call is on interrupt, second when `await` completes. The second call clobbers the callback for the first, resulting in the hung process.

[2015-02-22 05:29] pchlupacek commented on #316
@edwinchoi Thanks for observing this. The issue raises from the way how runAsync works. Iw we have an await that is interrupted we clean up the cleanups before the await was run, and then, we run any cleanups after await completes just from that last await's rcv. The reason for this is that interrupted await may not complete at all (thats why we must run cleanups before it) and may complete with a

[2015-02-25 00:11] edwinchoi commented on #316
@pchlupacek while I understand why the interrupt is there, I don't really agree with how it's being done...

It seems like the assumption is that the cleanup can clear what would otherwise be a deadlock.
Something like:
[code]

While this does work, it uses onComplete in a way that is inconsistent with the documentation and even its name.

IMO interrupt should be kept as a separate concept from te

[2015-02-25 00:19] djspiewak commented on #316
I can't speak for Pavel, but I can tell you that *we* (@alissapajer and I) would most definitely make use of such a PR.  So…pretty please?  :-D

[2015-02-25 05:19] pchlupacek commented on #316
@edwinchoi please feel free to fix the wye. If you do a PR I can then take it with fixed runAsync and step and hopefully that will fix the issue.

I am not getting fully your arguments about onComplete, and we have to discuss it. The problem with interruption arises when you have asynchronous code that may never complete, such as awaiting the queue that will never receive item, needs to be interru

[2015-02-25 05:22] pchlupacek commented on #316
Just to add a bit, I think the whole interruption behaviour may be imporved significantly, but that will require to touch future and task perhaps quite heavily. This was behind the motivations to include scalaz-concurrent in scalaz-stream, So we can properly fix that.

[2015-02-26 06:06] djspiewak commented on #316
As an interesting sidebar, these sorts of hangs are relatively easy to replicate even dodging `wye` entirely!  Out of desperation, we wrote `wye.interrupt`, `wye.merge` and `wye.mergeHaltBoth` on top of strictly `mergeN`, without any other concurrency primitives.  Still got deadlocks.  Deadlocks in slightly different places, but deadlocks nonetheless.  It's interesting to note that `mergeN` does a

[2015-02-26 06:08] #315 closed

[2015-02-26 06:10] djspiewak commented on #254
Cleaning this up.  Let's just throw this under the umbrella of all the other "stuck process" issues we've run into.

[2015-02-26 06:10] #254 closed

[2015-02-26 09:59] richardhundt commented on #46
@florianverhein I ended up with the toTask trick as well

[2015-02-26 20:49] djspiewak commented on #46
@richardhundt @florianverhein This is interesting, because we're actually removing `toTask` in 0.7.  In theory, it would be not-horrifically-hard to implement `Process[Task, A] => Iterator[A]` on top of `step` directly (this is in fact what the new `io.toInputStream` function does in effect, though significantly obscured by some complex chunking logic).  More importantly, using `step` directly giv

[2015-02-27 13:50] rossabaker commented on #321
I've been considering this as well, and [have scalaz-stream compiling on cats](https://github.com/rossabaker/scalaz-stream/tree/topic/cats) (requires publishLocal of cats).  [Todo.scala](https://github.com/rossabaker/scalaz-stream/blob/topic/cats/src/main/scala/Todo.scala) lays out what is needed to make it real.

* There is the scalaz-concurrent work that inspired this ticket.
* Most necessary ab

[2015-02-27 14:44] edwinchoi commented on #316
@djspiewak couldn't agree more. I've removed all uses of wye and anything nondeterministic in my own code, except async._, because of the bugs and weakened invariants.

@pchlupacek and @djspiewak I'll do the PR over the weekend

[2015-02-27 15:12] bryce-anderson commented on #321
I'm also interested in a ```scalaz-stream``` that unhindered when using ```cats```. I don't have any immediate technical comments that haven't already been discussed.

[2015-02-27 15:18] pchiusano commented on #321
I'd rather just cut the dependency entirely, like @mpilquist has done for scodec. I do not want to move scalaz-stream from depending on scalaz to depending on cats (see below). Instead, I'd like to investigate:

* Pulling `Task` into scalaz-stream, where we fully control it
* Making scalaz-stream (to be renamed) a multi-module project; core will have zero dependencies other than scodec-bits. The i

[2015-02-27 15:28] mpilquist commented on #321
@pchiusano I am very happy to see this -- multiple repositories, one core along with one for each integration, sounds great. I'm happy to help with the conversion / dependency breaking.

[2015-02-27 15:45] pchlupacek commented on #321
@pchiusano I would likely consider if we can't have core with 0 dependency. I like s-codecs, but perhaps having the bytes-xxx project as sort of module, may be more consistent. I understand that this is used only in io, so perhaps we may have io project that depends on s-codes.

[2015-02-27 15:45] pchiusano commented on #321
Yes, I should say, anyone with an interest in this is welcome to help out, not just @pchlupacek and @rossabaker. :)

As a next step, I'd recommend that someone volunteer to take the lead in creating a new branch which removes scalaz as a dependency, and get a complete inventory of all the stuff missing. I'm guessing this branch will be in a noncompiling state for a while, but I'd still push the WI

[2015-02-27 15:46] pchlupacek commented on #316
@edwinchoi can you perhaps put a list of weakened invariants? Would be nice to either list them, or strengthen them.
I want to have wye "durable" as much as possible.

[2015-02-27 15:49] pchiusano commented on #321
I think I'd be okay with a multimodule project, with all the io stuff seprated, and it could depend on scodec-bits, with core having literally zero deps. But I don't have strong feelings either way. I feel pretty comfortable with the scodec-bits dependency just because it is so stable and slow-moving. If we were to do the separate io module, I'd do that as a separate effort from removing the scala

[2015-02-27 16:14] pchlupacek commented on #321
yeah, was really just a proposition I am ok with this as it is as well. Is like removal of dependency on scala almost :-)

[2015-02-27 19:11] djspiewak commented on #274
A very interesting sidebar here is that this issue with `onComplete` temporal sequencing results in `njoin` breaking the monadic associativity laws!  This isn't *strictly* an issue, since `njoin` doesn't directly make any pretensions to be `join`, but still it's interesting.

To be clear about what I mean:

[code]

The above is of course the law of associativity for monads.  This holds for `>>=`,

[2015-02-27 21:28] rossabaker commented on #321
I'm definitely up for exploring the typeclass-lib-agnostic approach.  It sounds wonderful on paper, but I envision many important functions will be exiled to duplicated across support modules (including `Process.run`!).  Still, sharing any part of the core is better than a fork.

I will begin spiking at https://github.com/rossabaker/scalaz-stream/tree/topic/lean-core.  Watch for either a PR or an

[2015-02-27 22:01] runarorama commented on #274
Is there a good reason it doesn't hold?

On Fri, Feb 27, 2015 at 8:11 PM Daniel Spiewak <notifications@github.com>
wrote:

[2015-02-27 22:02] djspiewak commented on #274
Horror?

Seriously though, it's a problem with the underlying `Process

[2015-03-01 06:30] rossabaker commented on #321
The further I go toward removing scalaz-core in #322, the less appealing it becomes.  It already requires a few specializations, and looks to require a few more, including interpreters for `Process[Task, _]`.  One is quickly reminded why we have core type class dependencies.  Also, the addition of new functionality that depends on type classes (like a new `Process1`) will not easily be enjoyed by

[2015-03-01 21:08] djspiewak commented on #321
@rossabaker @pchiusano As noble of a goal as it is to have a completely dependency-free core and to avoid "picking a winner" in the Cats vs Scalaz deathmatch, I think in this case it might be a bit of a fool's errand.  As Ross said, there's a reason why we have core typeclass dependencies in the first place.

Now, I can think of a couple of ways that we *can* make it manageable to publish a scalaz

[2015-03-01 21:35] mpilquist commented on #321
Cross building could actually be worse for the community unless each cross-built JAR puts the types in discrete packages. Otherwise, we risk incompatibilities with downstream libraries -- imagine, for instance, http4s using scalaz-stream-scalaz and scodec-stream using scalaz-stream-cats, and an app that uses both.

[2015-03-01 21:36] djspiewak commented on #321
I raised this point on the scalaz mailing list back when forking was proposed by Kmett.  Ultimately, either Scalaz or Cats *must* win.  Completely and utterly.  If they both maintain a following but neither reaches "critical mass", then the community has the worst of all possible worlds.

[2015-03-02 00:49] tonymorris commented on #321
No, really, neither "must win." In fact, they are not even competing. It is ludicrous to continue suggesting so.

[2015-03-02 02:04] pchiusano commented on #321
Tony, tone it down please. We're having a discussion. Calling people's
opinions ludicrous is unhelpful.

Anyway this is meant to be a discussion about what the scalaz stream
project should do, and I'd like to keep it focused on that.

My feeling is that if the dependency can't be broken easily I'd rather stay
with a scalaz dependency for the time being. Ross, thanks for your work,
I'd like to revi

[2015-03-02 04:55] rossabaker commented on #321
If we factor out scalaz-core dep at an accepted price now, I still see that cost steepening over time.  The more anemic core makes it harder to build higher level modules.  We see this effect already in `text` and `tcp`, struggling with the exile of  `repartition` and `translate` from core for lack of foundational type classes.

The strategy that @djspiewak lays out is not uncommon in macro projec

[2015-03-02 09:03] jedws commented on #321
I'm not sure that this complete win is either particularly desirable
or achievable. The two projects are not even really comparable (yet) and
with Cats still to have any released artefacts the discussion of it maybe
winning is currently hypothetical at best.

As far as the community totally adopting one or the other, the events of
last year were enormously divisive, and some of the result of that

[2015-03-02 14:27] mpilquist commented on #321
@rossabaker To be clear, I'm not advocating for cross building. I'd much prefer to see this library with zero dependencies and compatibility modules.

[2015-03-02 17:36] rossabaker commented on #321
Also to be clear, I am not advocating an exclusive or immediate switch.  My branch way up in comment three is exploratory, so we downstream library authors and application developers understand and can plan to deal with the upstream situation.  Besides the great schism, we have the production Scalaz 7.0 and 7.1, the imminent and binary incompatible Scalaz 7.2, and an active prototype of a source i

[2015-03-02 17:52] pchlupacek commented on #321
folks can we make a list of MUST to have TypeClases etc. in core library? I mean these that the core implementation depends on?
I think concurrent stuff is pretty easy to define, but I am kind a struggling to see if we really have that much usage of scalaz stuff that we really cannot put in scalaz module.

[2015-03-02 17:59] djspiewak commented on #321
All of the interpreters either need to be built against a specific type (e.g. `Task`), or must have an array of typeclasses to provide operations on the otherwise abstract type constructor.  `Catchable` and `Functor` seem like the obvious ones, but I think `Monad` might be needed in some cases.  `Monoid` is needed as well with the current implementation.

[2015-03-02 18:57] rossabaker commented on #321
The interpreters are the big one.  There are a couple `traverse_`s in core.  `tcp` benefits from `~>`, and `text` benefits from `Semigroup`.

[2015-03-02 19:06] pchiusano commented on #321
What do folks think about just specializing all the interpreters to `Task`?
Obviously, it's less flexible, but it would mean we could avoid having to
duplicate a bunch of typeclasses, and it seems like it might be the only
way to get code dependency free. Honestly, I cannot recall a time where
I've had to run a `Process[F,_]` for any `F` other than `Task` (or
`Nothing`).

We would definitely still

[2015-03-02 19:25] mpilquist commented on #321
@pchiusano +1 on specializing interpreters to Task.

[2015-03-02 19:53] djspiewak commented on #321
While I'm generally in favor of abstraction, so much of the useful stuff in scalaz-stream is already specialized on `Task` (in particular, *everything* associated with concurrency), so it's not really much of a loss.  In my experience, if you're using `Process`, you're almost certainly using `Process[Task, _]`.  So… specializing on `Task` would not be the end of the world, especially if we can gai

[2015-03-02 20:01] rossabaker commented on #321
It's not just interpreters, but it is mostly `Task`:

* `runFoldMap` requires a Monoid.  The others can all be specialized for `Task` and `IndexedSeq`, which is not a tremendous loss.
* `handle` and `partialAttempt` also require specialization due to `Catchable`.
* `gatherMap`/`gather`/`sequence` require specialization due to `Nondeterminism`.

We'd also lose generic `Channel.mapOut` and `Sink.toC

[2015-03-02 20:11] pchiusano commented on #321
I think handle and partialAttempt are unnecessary. They were introduced
before `onHalt` / `onFailure`. I'm guessing they can be implemented in
terms of `onHalt`, or just removed.

re Channel.mapOut and Sink.toChannel, I'd like to change the representation
of Channel and Sink at some point. It should have been type Channel[F,A,B]
= Process[F, A => Process[F,B]], which eliminates the need for the Fu

[2015-03-02 22:05] runarorama commented on #321
No thank you! We use `Process` extensively with other free monads (that may or may not eventually compile to `Task`). Specializing to `Task` would mean we would have to fork this library.

[2015-03-02 23:05] tonymorris commented on #321
@jedws The Scalaz project is motivated by very different aspirations and goals to the cats library. It boggles my mind that we are talking about "competition." A library includes a `Functor` trait and now it is competing? Is that it? How weird.

I don't mind rewriting a stream library; if only to get away from the bloody nonsense!

/rant

[2015-03-02 23:19] rossabaker commented on #321
Specializing to `Task` does not preclude other interpreters.  I don't see why the existing monad/catchable interpreters couldn't still exist in Scalaz support.

[2015-03-02 23:37] florianverhein commented on #46
@djspiewak hmm... that's unfortunate. I tried using step, but couldn't get it to work when there was a Task context (e.g. see link earlier) - though this could be because it's a bit beyond me. toTask was much easier. I agree that Iterator isn't a great type, but there's not much choice when it's an integration issue. In my case I need a TraversableOnce, so Iterator was the simplest solution. I thi

[2015-03-02 23:54] djspiewak commented on #46
@florianverhein There's various things we can do to try to make this situation better.  The problem of course is that if we go far enough in this direction, we just reinvent iteratees.  :-)  Perhaps a `Process[Task, A] => (Iterator[A], () => Unit)` would make sense tucked in some sort of side module somewhere.

[2015-03-03 00:43] pchiusano commented on #321
Hang on, let's make sure we are talking about the same things here. Just to clarify, we will never specialize `Process[F,A]` to `Process[Task,A]`. So we won't change:

[code]

to:

[code]

That would be a huge step backward. Tons of code relies on the ability to use different `F`, including code internal to scalaz-stream itself, scodec-stream, and I'm sure tons of user code. So that will not chang

[2015-03-03 04:39] pchlupacek commented on #321
Well, I think for runners we can introduce type class ProcessRunner and in core library provide Task instance. Whereas others can live in scalaz/xxx bindings?

i.e.

[code]

[2015-03-03 04:54] pchiusano commented on #321
Isn't `ProcessRunner` just going to be basically `Monad` + `Catchable`,
though? Either that or all the `ProcessRunner` implementations duplicate
the same logic... which is rather error prone.

On Mon, Mar 2, 2015 at 11:39 PM Pavel Chlupacek <notifications@github.com>
wrote:

[2015-03-03 05:06] rossabaker commented on #321
One might summon a ProcessRunner from a Monad and a Catchable.  I admit to not having explored this technique outside a trivial REPL example: https://gist.github.com/rossabaker/bf76b4d3449636a18c12

[2015-03-03 07:42] pchlupacek commented on #321
@pchiusano yes, exactly. However we do not have monad + catchable in stream core, that's why we can introduce this. I don't think so we need Monad in streams core, but perhaps Catchable is reasonable TypeClass to include in streams core.

[2015-03-03 23:14] florianverhein commented on #46
@djspiewak yeah, that's a good idea - with the close operation optional if iteration is to the end. Brainstorm:
- Since it's probably nicer (and closer to the way Process works) to have `def next() : Option[A]` rather than Iterator's interface, could be worth exposing that too (e.g. Iterator implementation might well be built on top of that, since it needs to read ahead to implement `hasNext()`).

[2015-03-03 23:22] djspiewak commented on #46
@florianverhein I think it would probably be best to move this to a new issue discussion so we have it tracked as an open feature request.  Care to do the honors?  :-)

[2015-03-04 00:52] florianverhein opened #323 "Provide easy way to traverse stream externally, eg Process[Task,A] => Iterator[A] and Proces1[I,O] => ..."
In order to integrate with external APIs or frameworks, it's best to allow Process to be driven externally (rather than e.g. adopt a blocking queue approach). `Iterator[A]` is a commonly used elsewhere, so is convenient.

Useful conversions:
1. `Process[Task, A] => (Iterator[A], () => Unit)` where `() => Unit` is optional if the iterator is fully consumed, otherwise closes resources etc.
2. `Proce

[2015-03-04 02:15] edwinchoi commented on #316
Created the PR, sorry for delay. Will follow up later with my thoughts on making `wye` durable.

[2015-03-04 19:20] djspiewak commented on #323
There would certainly be no need for a close in **2**.  **1** is obviously an unsafe conversion, so we wouldn't want to just throw it on `Process`.  Any thoughts as to where this should go?

[2015-03-05 18:54] alissapajer commented on #316
I'd like to verify that this has been fixed. I'll reclose if it's indeed been resolved.

[2015-03-06 09:06] alissapajer commented on #316
Ok, I've verified that @edwinchoi 's PR #324 (which is already in master) fixes this issue. Closing issue. Thanks!

[2015-03-06 09:06] #316 closed

[2015-03-06 12:25] frgomes commented on #258
+1 Please publish recent versions to Maven Central, including builds for Scala 2.11. Please!

[2015-03-06 14:47] xuwei-k commented on #258
+1

[2015-03-06 14:58] pchiusano commented on #258
I'm also fine with this.

On Fri, Mar 6, 2015 at 9:47 AM kenji yoshida <notifications@github.com>
wrote:

[2015-03-06 16:39] djspiewak commented on #258
It's relatively easy to get something into Maven Central.  The biggest issues are the following:

- [ ] We need to make sure our generated POM metadata conforms to Sonatype standards.  That means things like contributor lists, license information, and stricter schema validation
- [ ] We need to register GPG public keys for anyone who is going to be pushing releases.  I have a public key already re

[2015-03-08 02:08] djspiewak opened #328 "ProcessSpec leaks threads"
This is partially a note to myself to track this down, but by injecting printlns into the `Completed` case of `runAsync`, it is possible to see that `ProcessSpec` actually keeps running indefinitely, even after the tests have completed.

[2015-03-08 12:30] pchlupacek commented on #328
@djspiewak do you know which specific test was causing this?

[2015-03-08 14:51] djspiewak commented on #328
I don't know which one.  Tracking it down was my next step, but I didn't want to lose track of the issue in the myriad of other things I'm tracking.

[2015-03-08 22:32] florianverhein commented on #323
Sorry for late reply. No idea where it would live... Perhaps so that you would have to `import scalaz.stream.UnsafeConversions._` or similar?

[2015-03-10 02:35] florianverhein commented on #323
Noticed you self assigned this @djspiewak, have you given **2** a go?

[2015-03-10 05:14] pchlupacek commented on #323
@florianverhein can you please show example where we really need that combinator? Just for me to see if we don't have other option. I understood InputStream, because you have java api's (like java.mail) that take InputStream. Not sure on iterator though.

I am not totally convinced if this has to live in core library, but perhaps I am just wrong.

Thanks.

[2015-03-10 06:46] florianverhein commented on #323
Sure @pchlupacek. E.g.
**1** see our earlier discussion here: https://gist.github.com/florianverhein/b644f0e2ae2edadf94a9 (I ended up solving that with a `Process[Task,A] => Iterator[A]`)
**2** https://spark.apache.org/docs/1.2.0/api/scala/index.html#org.apache.spark.rdd.RDD
`mapPartitions[U](f: (Iterator[T]) ⇒ Iterator[U], preservesPartitioning: Boolean = false)(implicit arg0: ClassTag[U]): RDD[U

[2015-03-10 11:04] pchlupacek commented on #323
What will happen with resources that will be in Process[Task,O]? How they will be sent over wire? On one hand iterator is lazy, but does it in spark open any resources or eventually close them? Does the Spark have any resource-safe api? Maybe we can easily hook to that?

[2015-03-10 20:40] dcsobral commented on #46
A TraversableOnce only need implement foreach, and Process[Task, A] =>
TraversableOnce[A] is rather trivial. The whole point of TraversableOnce is
keeping control of iteration, which is the sticking point here. Alas, it
does not allow early termination.

On Tue, Mar 3, 2015, 16:22 Daniel Spiewak <notifications@github.com> wrote:

[2015-03-11 00:13] florianverhein commented on #323
Good questions @pchlupacek
- Process should never need to be sent over the wire - they are instantiated on the worker nodes so all resources will be local there (note that if a user tries to do something silly, like instantiating them on the driver and referencing them in a closure, it will just result in a serialization exception as the Process isn't serialisable - I've checked this)
- I think yo

[2015-03-11 04:25] djspiewak commented on #323
@pchlupacek One of the things I was thinking of here was that perhaps we should add a general tool for "controlled unsafe stepping".  Something higher level than `step` but more controlled than `toTask`.  The fundamental problem with `toTask` was that you couldn't really abort early, and the API itself was not referentially transparent.  The problem with `step` is that you basically need to know t

[2015-03-11 04:28] djspiewak commented on #46
TraversableOnce[A]` is rather trivial.

Actually, `Process[Task, A] => TraversableOnce[A]` is less trivial than you would think if you want to support *incremental* evaluation.  Obviously dropping down to `runLog` and throwing it all into memory is easy.  Doing things properly with `step` is slightly more complex.  Not hard, but I wouldn't classify it as "trivial".

[2015-03-11 05:45] jedws commented on #46
OT, but I would argue that it is in fact trivial, as long as we understand
the engineer's definition of _trivial_:

http://fishbowl.pastiche.org/2007/07/17/understanding_engineers_feasibility/

cheers,
jed.

On 11 March 2015 at 15:28, Daniel Spiewak <notifications@github.com> wrote:

[2015-03-11 06:41] dcsobral commented on #46
class ProcessTraversable[A](p: Process[Task, A]) extends Traversable[A] {
  def foreach[U](f: A => U): Unit = {
    val sink: Sink[Task, A] = Process.constant((x: A) => Task.delay(f(x)))
    p.to(sink).run.run
  }
}

What am I missing?

On 10 March 2015 at 22:28, Daniel Spiewak <notifications@github.com> wrote:

--
Daniel C. Sobral

I travel to the future all the time.

[2015-03-11 15:18] djspiewak commented on #46
@dcsobral I hadn't considered implementing it with a sink.  That works well.

[2015-03-12 00:19] florianverhein commented on #323
@djspiewak no worries, just checking before attempting it :)

I did **2** as well as a context-less version of **1**, i.e. `Process[Nothing,A] => Iterator[A]` - since this turns out to be useful too. I expect there are better ways, but here's what I came up with:
https://github.com/arkig/spream/blob/master/src/main/scala/spream/stream/Conversions.scala

If you're interested, here's an integration

[2015-03-12 00:53] florianverhein commented on #46
@dcsobral I wish I knew scalaz well enough to understand that! ;)

[2015-03-12 02:34] dcsobral commented on #46
It is rather trivial. Sink is a kind of Process used to produce side
effects. type Sink[M, A] = Process[M, A => M[Unit]], which looks weird but
I'll explain.

 A "normal" side effect, like any method in a very imperative Java program,
has type A => Unit. For example, going back to Java:

void println(Object o) {
  print(o);
  print("\n");
}

In other words, it takes parameters which are represente

[2015-03-12 09:47] seratch commented on #258
specs2-core 2.4.x didn't need scalaz-stream dependency. But since specs2 3.0, even spec2-core needs scalaz-stream because specs2-common requires it.

I know it's also a specs2's issue. However, spces2 and scalaz-stream have leverage in Scala ecosystem. I hope scalaz-stream will be available on the Maven central repository. :+1:

[2015-03-12 13:08] etorreborre commented on #258
@pchlupacek, I guess you are referring to the ["predefined resolvers"](http://www.scala-sbt.org/0.13/docs/Resolvers.html). Unfortunately, the `bintray` one is just a method `Resolver.bintrayRepo("owner", "repo")`, you still need to specify the `owner` and `repo`.

[2015-03-12 13:15] briantopping commented on #258
What if you don't use SBT?

[2015-03-13 23:15] djspiewak opened #329 "I'm pretty sure tcp doesn't work at all"
There are a ton of issues with the API and implementation and also tests.  It's very unclear to me *if* it's working at all, and if so, then *how*.  I'm relatively certain that, at the very least, the resource management is not guaranteed, since interrupts during asynchronous evaluation can result in leaks and/or spurious errors (even with the old `runAsync`).  In no particular order of importance

[2015-03-13 23:43] djspiewak opened #331 "Version 0.7/0.7a"
I'd like to request that we start the process to release version 0.7 once we have a resolution to #330 vs #318.  There are several other important fixes which have landed since 0.6, and it would be nice to get them out.  The only other thing I can think of that I want to get into this release is a minor version bump in our scodec/scodec dependency and the appropriate change to `io.toInputStream`.

[2015-03-14 05:53] pchlupacek commented on #329
I think tcp.* needs a closer look. At least we need to know more info like address of other party etc. I am pretty fine with types, but I agree they little bit jump from the way how we use other stuff in task.

However I would hold to get runAsync stuff before we will know the right answer to your observation, as we may have deeper issue here.

[2015-03-14 05:56] pchlupacek commented on #331
@djspiewak cool. can we put a list what needs to be done before release? I just created milestone, perhaps we can add just issues to it?

[2015-03-14 16:04] djspiewak commented on #329
You mean a deeper issue with `runAsync` itself?  I considered that.  In fact, that was my primary suspect all along.  I just kept running into things in `tcp` that were manifestly broken.  I actually have a patch stuck in my local stash which completely fixes the chat example, partially by rewriting the test and partially by rewriting `tcp.server`.  The other examples don't work in that patch thou

[2015-03-14 17:33] djspiewak commented on #331
*Drafting the below mostly from memory and commit log; everyone please feel free to edit this reply*

# Release Notes

## Features

- `io.toInputStream`
- `process1.liftFirst`/`process1.liftSecond`
- `process1.tail`
- `Process#toStream` is now incremental and does not require paging the full process into memory
- Generalized `Sink#toChannel` (now supports arbitrary functors, not just `Task`)

## C

[2015-03-14 17:38] pchlupacek commented on #329
@djspiewak tcp is paul's code, I think we really need to agree here that we can go forward with him. @pchiusano can you just quickly take look on this?

[2015-03-14 17:47] pchlupacek commented on #329
@djspiewak thanks so much for all the work. I think if we won't hear from Paul by Sunday, lets make release. Not sure tho if he don't have to publish it anyhow. We can fix stuff in 7.1

[2015-03-14 17:51] djspiewak commented on #329
:-)  Partially selfish in motivation.  @alissapajer and I have been mud wrestling with tricky, non-deterministic scalaz-stream deadlocks and hangs for about six months now.  It's worth a lot to me to get them out of the way once and for all.

Yeah, I would be really surprised if he *didn't* need to be the one to do the publishing.

Agreed.  I'm already thinking about a deep dive into `tcp`.  One o

[2015-03-14 22:47] fthomas commented on #331
I can't edit your message, but #298 should also be mentioned under **Bug Fixes**:
* Fixed `time.duration` to obtain a new reference time on every `Task` evaluation

[2015-03-15 14:51] djspiewak commented on #331
Updated.  Also, should I perhaps stick the release notes in a Gist or a wiki page?  I didn't realize that only contributors could edit messages.

[2015-03-15 14:55] fthomas commented on #331
The release notes of past releases are in the scalaz-stream wiki, so its reasonable to also put them there.

[2015-03-15 18:16] djspiewak opened #333 "Append is not associative with finalizers"
[code]

In its current configuration, the above test *fails*.  If I swap the commented lines, which is to say swap the associativity on the `++` operator, the test will pass.  In other words, binding a finalizer to a non-`halt` process *within* an append breaks the guarantees about finalizer evaluation.

Even more seriously, the fact that there is an observable difference between the two `p` varia

[2015-03-15 18:44] pchlupacek commented on #333
@djspiewak I am not sure, if `++` has to be associative. You say `append` if previous completes normally, however It did not complete normally because you killed that process with kill. I agree in the displayed scenario, it sounds as a `broken law`, but imho it is not. I think that commented and uncommented programs are really different, even though you really think of them like same associative v

[2015-03-15 18:51] djspiewak commented on #333
@pchlupacek I agree that you don't want to run any non-finalizer effects when you kill a process, but the finalizers are carrying certain guarantees.  Above and beyond that though, this demonstrates an observable difference between the two `p` processes, stemming solely from the association of `++`!  As I mentioned in the OP, this has serious consequences for the semantics of processes which may b

[2015-03-15 21:26] djspiewak commented on #333
@pchlupacek As an aside, you mentioned on another PR that you feel the following idiom should be resource safe:

[code]

The above is unsound *precisely* because of the non-associativity of append.  So it's not just a law-related purity question.

[2015-03-16 01:44] jedws commented on #333
As a user of the library I completely expect the above to be sound, and I expect ++ to be associative.

[2015-03-16 07:12] pchlupacek commented on #333
@djspiewak @jedws I thought more about this, and I think you are right. We have to fix this.

[2015-03-16 19:17] pchiusano commented on #333
I agree that ++ should be associative, regardless of presence of
finalizers. I'm not sure how to fix this, though.
On Mon, Mar 16, 2015 at 2:12 AM Pavel Chlupacek <notifications@github.com>
wrote:

[2015-03-16 20:45] djspiewak commented on #333
We need to update the algebra.  I'm pretty sure we need to separate appends and finalizers, with each becoming a slightly weaker version of what we have now.  Appends will no longer be functions from cause to process, while finalizers will require processes of type `Process[F, Nothing]`.  This is strictly weaker than what we have now (where you can emit values in finalizers), but it allows us to f

[2015-03-16 20:47] pchlupacek commented on #333
Well perhaps something like this will work ?

[code]

may work?

[2015-03-16 21:01] djspiewak commented on #333
@pchlupacek Not sure I understand. You're proposing that as the implementation for which higher level combinator?

[2015-03-17 05:16] pchlupacek commented on #333
ah sorry
now append is
[code]

effectively throwing away if process terminates with anything else than `End`. That causes the non-associativity, actually.
What we need in case of non-end process is to run finalisers, so instead of throwing it away, we need to run them passing through the Cause, so the idea is to use similar technique we do in `kill`, that mean propagate exception down the program,

[2015-03-17 06:52] djspiewak commented on #333
@pchlupacek That…is extremely clever.  I think that might work.  Or at least, I can't think of any cases where that *doesn't* work, and it's certainly less invasive that changing the algebra.  I'll play around with it tomorrow, or you can if you prefer.  It seems like a good change in any case.

[2015-03-17 09:30] pchlupacek commented on #333
@djspiewak thanks :-) Please feel free experiment. I would do but atm I need to finish other project, so would get on that earliest over weekend. If this would work, we have to revisit onKill, onComplete et all and make similar change

[2015-03-17 16:26] djspiewak commented on #333
@pchlupacek So actually this doesn't work.  The reason is actually somewhat recursive.  The problem is that draining a process doesn't actually null out the appends, and injecting the cause doesn't *either* when we make this change.  So in other words, infinite appends (such as `repeat`) just run forever.

I'm actually mildly concerned that this might be a more fundamental problem with the whole c

[2015-03-17 23:13] alissapajer commented on #331
The merge of `master` into `master-a` isn't clean. Are there any objections to just creating a new `master-a` based off `master` and then force-pushing `master-a`?

[2015-03-18 16:31] djspiewak commented on #333
Just as an update, I've spent some time brainstorming this with @runarorama and @eed3si9n.  Eugene came up with a very nice idea for essentially redesigning finalizers with respect to `await` and `append`.  This will also make some of the `runAsync` semantics a bit cleaner.  Not something for 0.7, but hopefully soon thereafter.

I'll write up more details when I get the time.

[2015-03-18 17:24] pchlupacek commented on #333
@djspiewak yeah. I think we may need to update algebra anyhow for couple reasons than that. I'll try to see if I cannot do at least something with current signatures. Some of the combinators are very "special" beasts, and as such maybe just  a very small change can improve things a bit.

 If you have some concrete proposed signatures I'll be really interested to see them.

[2015-03-18 17:38] djspiewak opened #335 "time.every property fails nondeterministically"
Output as follows:

[code]

This doesn't appear to be related to any other changes, since the combinators involved do not touch `runAsync`.

[2015-03-18 17:59] djspiewak commented on #333
@pchlupacek I have a longer explanation coming, but just so you can start thinking of things, this is *concretely* what I'm proposing:

- Delete `onComplete` (but retain `onHalt`)
- `case class Await[+F[_], A, +O](req: F[A], rcv: (EarlyCause \/ A) => Trampoline[Process[F, O]], finalize: A => Trampoline[Process[F, Nothing]])`

It will still be possible to create `onComplete`-like things via `onHalt

[2015-03-19 18:42] djspiewak commented on #290
Fixed now with the landing of bug/step(!!!!!!)

[2015-03-19 18:42] #290 closed

[2015-03-19 18:43] djspiewak commented on #331
Ok, looks like we're good to go for 0.7!  Attention, @pchiusano. Your party would like to meet you at the front desk.

[2015-03-19 23:18] alissapajer commented on #331
`master-a` is now updated!

[2015-03-20 13:51] pchiusano commented on #331
Sweet. Question - do we want to try to do the release on sonatype? I can also just do a bintray release for now and we can use the same tag / series to do a release on sonatype, in case there is any red tape with that.

A while ago, @fthomas asked me about putting together a CONTRIBUTORS file. I'd like to do that as part of this release. I don't really want to be the one in charge of deciding how

[2015-03-20 14:09] fthomas commented on #331
@pchiusano are you still planning to rename the project? From what @djspiewak wrote in https://github.com/scalaz/scalaz-stream/issues/258#issuecomment-77590139 it seems to be easier to rename the project _before_ releasing to Maven Central.

[2015-03-20 14:22] pchiusano commented on #331
@fthomas Yeah, though not for 0.7. Also, we still need to come up with a good replacement name. :)

[2015-03-20 14:24] pchiusano commented on #331
Also, I am currently on childcare duty so I prob won't be able to cut release until Monday at earliest. :)

[2015-03-20 16:36] alissapajer commented on #331
@pchiusano great! We would use a public release as soon as it's available (we're already working off of locally-published jars :) ) so if a bintray release is easier, I'd say we should just go for that first. If/when there's demand for a sonatype release, then that could come second.

I have no preference for the presence of a CONTRIBUTORS file or not, but if there is one, I'd say it makes sense f

[2015-03-20 16:59] pchiusano commented on #331
Created here:
https://github.com/scalaz/scalaz-stream/blob/master/CONTRIBUTORS.markdown

No need to do PRs if you already have commit access. In fact, if you are
feeling really lazy, you can just edit the markdown directly from the
GitHub site. :)

On Fri, Mar 20, 2015 at 12:36 PM Alissa Pajer <notifications@github.com>
wrote:

[2015-03-20 20:57] djspiewak opened #338 "Add a dequeueBatch function to async.queue"
Implement a `dequeueBatch: Process[Task, Seq[A]]` which dequeues *all* values currently backed up in the queue, or "continuation blocks" (the same as with `dequeue`) when no values are available.  No hysteresis or delay buffer is expected here.  Thus, if no values are in the queue, and a value is added, singleton sequence would be *immediately* reported.  However, if during the processing of that

[2015-03-21 03:35] djspiewak commented on #333
I promised a longer explanation of the proposed changes to `Append`, `Await` and the semantics of finalizers in general.  Here it is!  Consider the following snippet:

[code]

We have two "invariants" that are in *direct* conflict here:

- `onComplete` guarantees exactly-once runtime semantics
- `kill` guarantees finity

The reason for the conflict is that we have generated an infinite chain of `o

[2015-03-21 04:35] djspiewak opened #340 "Fast, Unboxed Operator Fusion Without Compromising Generality"
I would appreciate any and all feedback on the following proposal, but I'm *particularly* in need of feedback from @pchiusano.  It is, after all, his library.  :-)  If @viktorklang and/or @rkuhn has any time to offer any feedback or experiences with operator fusion (what works, what doesn't, and what isn't worth the effort) I would also be very much indebted.

## Motivation

Right now, `map` is aw

[2015-03-21 04:39] runarorama commented on #340
Serious question: Why is Emit hardcoded to take a sequence? What is wrong with "chunking" being `Process[F, Seq[A]]`? Then `map` stops being awful because you use `map . map` instead.

[2015-03-21 04:42] djspiewak commented on #340
@runarorama I think that's an entirely possible way to achieve things, though it suffers from the same API annoyances as monad composition without monad transformers (it is in fact, precisely analogous).

[2015-03-21 04:47] runarorama commented on #340
@djspiewak Well, the API can be made richer for convenience, and it's pretty easy to reason about.

Can your proposed solution guarantee e.g. that `x flatMap (emit compose f)` is precisely the same as `x map f`?

[2015-03-21 04:49] djspiewak commented on #340
@runarorama Unless you take a stop watch to the resulting `Task` or crack open a profiler, yes, it would be the same.  I wouldn't even consider a solution which would produce different output results or even different *observable* effects.  It is partially for this reason that we need to be *very* careful to get exceptions right during fusion.

[2015-03-21 05:02] djspiewak commented on #340
@runarorama Misclick, I hope. :-)

[2015-03-21 05:02] runarorama commented on #340
Yeah, wrong window :)

On Sat, Mar 21, 2015 at 1:02 AM Daniel Spiewak <notifications@github.com>
wrote:

[2015-03-21 05:06] pchlupacek commented on #338
@djspiewak cool idea. Would be nice if we add `max` parameter to it tho, to still have sort of control over fairness. Wonder if we really can't implement some work stealing here, but likely not....

[2015-03-21 05:20] pchlupacek commented on #333
@djspiewak Thanks for explanation. In fact if you look over when we disccussed `append` algebra this was one of the `experimental` path we were trying. I agree with Eugene's observation, and in fact to me
[code]
Is very simillar like
[code]
Though as you say the explicit finalizer is what makes things much easier to reason about.

However essentially tightening this to await, we essentially doing

[2015-03-21 05:27] djspiewak commented on #338
@pchlupacek I tend to think of fairness as something that is controlled in `wye` and `njoin`, but you're right that it is a concern here as well.  A `max` parameter seems appropriate.

I can't think of any direct way to implement work stealing.  `Queue`'s contract is to dump values into a single, *sequential* consumer.

[2015-03-21 05:28] eed3si9n commented on #333
I only made what @djspiewak called "category theory gang sign"

![triangle](http://images.dailystar-uk.co.uk/dynamic/45/281x351/257493_1.jpg)

and claimed that the dual of finalizer is an initializer.

[2015-03-21 05:29] pchlupacek commented on #333
+1

[2015-03-21 05:29] djspiewak commented on #333
@pchlupacek The `asFinalizer` really just prevents `Kill` signals from propagating into the parameter and murdering off the effects we were trying to run.  It doesn't prevent that `Kill` signal from nulling out *enclosing* processes, which is what the example in the OP demonstrates.

I'm all in favor of strengthening `onHalt` if we can, but I really don't think it's possible.  Free-floating finali

[2015-03-21 05:33] pchlupacek commented on #333
@djspiewak you perhaps right. The one important observation is that await actually is the only place where `A` can be safely typed. so if `A` will be resource, is only place where we can safely got `A` that we really want :-) So perhaps you right we don't have better solution then attach `interrupt` finalizer to an `await`

[2015-03-21 05:34] pchlupacek commented on #333
@djspiewak generally I think we are kind of back to `awaitInterruptibly` idea....

[2015-03-21 20:55] psnively commented on #340
:+1:
I'm not a huge fan of the reflection, but I guess I accept the rationale. Too bad, though: in an HTML5/websockets world, there are good reasons to wish we could retain Scala.js support.

More broadly, though, I have easily anticipatable use-cases for this today, so I'd like to encourage/help however I can.

[2015-03-22 06:47] VladUreche commented on #340
@djspiewak, if I understand the proposal correctly, you're avoiding intermediate stream generation and parsing by batching up operations. But IIRC [fusion](citeseer.ist.psu.edu/viewdoc/summary?doi=10.1.1.104.7401) entails actually merging the operations together, which enables many more optimizations. Shouldn't the current solution be called [deforestation](homepages.inf.ed.ac.uk/wadler/papers/def

[2015-03-22 19:42] fthomas opened #344 "Rename WriterSyntax.drain{W,O}?"
`Process.drain` is defined as
[code]
while `WriterSyntax.drainW` and `WriterSyntax.drainO` are defined as
[code]
IMO this is unfortunate because `Process.drain` suggests that those two are more like
[code]
which are useful functions on their own I'd like to add later. Should we rename `drainW` and `drainO`? What would be better names for them?

[2015-03-23 02:49] djspiewak commented on #340
@VladUreche It's not just deforestation.  Fusion *is* proposed here, I'm just not actually doing it in any of the examples.  I'm actually somewhat skeptical that fusion alone is going to yield that many benefits given our algebra.  This is part of where I wanted to hear some experiential thoughts from the Akka guys.

@psnively I haven't looked at Scala.js too closely, but maybe there's some way of

[2015-03-23 06:06] VladUreche commented on #340
Thanks @djspiewak! Looking forward to better understanding the proposal when you do a PR :wink:

Regarding specialization, the approach you showed reminds me of optimistic re-specialization, explained by @tixxit [here](http://io.pellucid.com/blog/optimistic-respecialization) and [here](http://io.pellucid.com/blog/optimistic-respecialization-attempt-6). Shamelessly promoting my work, if you were us

[2015-03-23 07:42] rkuhn commented on #340
@djspiewak We have not yet looked all that deeply into the performance implications of either kind of optimization, the only obvious fact is that reducing the number of asynchronous boundaries is beneficial for small computational steps—but who would object to that?

[2015-03-23 09:55] fthomas commented on #344
Or maybe `Process.drain` should be renamed? What about calling it `ignore` instead? We then could have `ìgnoreO` and `ìgnoreW` for `Writer`.

[2015-03-23 13:46] alissapajer commented on #344
@fthomas I like the name `Process.drain`, but I do agree that that naming scheme is inconsistent with how "drain" is used in `WriterSyntax`.

How about renaming `drainW` and `drainO` in `WriterSyntax` to `observeStripW` and `observeStripO`?

[2015-03-23 15:46] djspiewak commented on #340
@VladUreche Maybe at some point down the line.  :-)  I definitely can't change the signature of `map` though, even to add miniboxing, so I'm somewhat limited in that respect.

@rkuhn Interesting.  Remember that scalaz-stream doesn't actually pipeline deterministic operations in the way that Akka's flows do.  So, we don't have asynchronous boundaries in a single linear stream regardless of how many

[2015-03-23 15:53] rkuhn commented on #340
@djspiewak Your notion of fusion concerns whether you perform a transformation column-wise or row-wise, which will probably depend on the use-case (since it relates to data vs. instruction cache utilization and such effects)—basically “big data vs. big computation”. We’ll think about that as well, but only once the more obvious things have been cleared away ;-) In that sense I’d call this a micro-

[2015-03-23 15:55] djspiewak commented on #340
@rkuhn It will eliminate (possibly more than) one megamorphic call in a chain within a tight loop.  So that's definitely worth *something*.

[2015-03-23 15:59] rkuhn commented on #340
@djspiewak The number of megamorphic call sites that are fundamentally required should be the same in either case—discounting all the vagaries of actual implementation.

[2015-03-23 16:09] djspiewak commented on #340
@rkuhn Oh yeah, they're just hidden in `compose`.  Actually since `compose` is unspecialized (I think?), it might even be faster *not* to fuse things.  Getting everything into the same tight loop is probably a much more impactful optimization.

[2015-03-23 16:17] rkuhn commented on #340
… unless your processing steps do factorization or streaming digest calculation, where any sort of invocation cost is irrelevant and cache locality more important.

[2015-03-24 14:29] pchiusano commented on #331
Okay, I did the release on bintrary, I'd like to get the release notes cleaned up before announcing, though. Please hold off on any announcements for the time being.

[2015-03-24 14:37] alissapajer commented on #331
Awesome :)

[2015-03-24 15:16] pchiusano commented on #331
Okay, @djspiewak @alissapajer @pchlupacek @fthomas I cleaned up the release notes page a bit. Could you all take a look through and see if there is anything missing?

https://github.com/scalaz/scalaz-stream/wiki/0.7

Also, @djspiewak can you do a better job of characterizing the issues with `tcp`? And if there are issues, can we get some failing tests added? If you don't have time to do that, I'd

[2015-03-24 15:27] pchiusano commented on #331
Also, @djspiewak on my edits, I tried to succinctly characterize the situations in which the finalization semantics changes is relevant to users (basically resource allocation plus use of nondeterministic functions). That way the person reading can decide to what extent they need to really dig in (like scodec-stream's usage of scalaz-stream doesn't care about any of that). I also moved that long t

[2015-03-24 15:44] djspiewak commented on #331
@pchiusano On the issues with `tcp`, I did file a long issue which contains (as I recall?) three sub issues.  I would break things down into two categories:

- The type signatures are wrong, and satisfying those signatures internally results in incorrect (or at the very least, unexpected) semantics.  `tcp.server` taking a concurrency bound and then still returning a nested process is the best exam

[2015-03-24 15:46] alissapajer commented on #331
@pchiusano Just read through the release notes and added a couple things. Looks good to me.

[2015-03-24 16:00] fthomas commented on #331
I added the `Process1Syntax.contramap` and the typeclass instances for Process1. LGTM

[2015-03-24 16:10] pchiusano commented on #329
@djspiewak A couple comments

* `tcp.server` signature is as designed (we can debate the design, but it was intentional) -- when the outer process completes, the server is bound to the socket. It's not the same semantics as before, where the outer process demarcates individual connections. Idea was this can be used to avoid race conditions (in tests and user code), where client attempts to connect

[2015-03-24 16:18] djspiewak commented on #329
@pchiusano

The problem is that the results of the inner processes are sort of meaningless, since they're randomly ordered and interleaved.  The connection handler process results are basically just mashed together.  This is fine if the connection handlers are purely effectful, but if you *ever* want to be able to return results from your handlers, you need to have some sort of algebra which allow

[2015-03-24 16:39] pchiusano commented on #329
Well, the results are randomly interleaved, but they can still be useful
for logging, say.

You are right that there needs to be a new primitive which associates a
finalizer with resource acquisition. Let's discuss further.
On Tue, Mar 24, 2015 at 12:18 PM Daniel Spiewak <notifications@github.com>
wrote:

[2015-03-24 17:09] pchlupacek commented on #329
@djspiewak @pchiusano I think before resolving tcp, we really need to resolve append associativity(#333) and resource cleanup that must be very robust. If we have to alter algebra, I am fine with that, but I think this is something which shall be top priority for now, even thinking to release it as 0.7.1 if we will find quick fix to that. After that let's look on tcp?

[2015-03-24 17:36] djspiewak commented on #331
@pchiusano Are we green for tweeting/etc about 0.7?

[2015-03-24 19:14] pchiusano commented on #331
Standby, I will send an email to the scalaz list which you can link to if
you like.

On Tue, Mar 24, 2015 at 1:36 PM Daniel Spiewak <notifications@github.com>
wrote:

[2015-03-24 19:31] pchiusano commented on #331
Okay, fire away: https://groups.google.com/forum/#!topic/scalaz/sKMmvVChK08

On Tue, Mar 24, 2015 at 3:14 PM Paul Chiusano <paul.chiusano@gmail.com>
wrote:

[2015-03-24 20:01] djspiewak commented on #331
0.7/0.7a is released and we're all shouting about it.  I'm going to close this issue.

Thanks so much for cutting the release, Paul!  I know I'm super-psyched for the changes.

[2015-03-24 20:01] #331 closed

[2015-03-25 16:14] pchlupacek commented on #329
@djspiewak not sure completely if thats relevant, but I am integrating 0.7 with our server, and at the same time removing specs2 in favor of scalacheck. It almost killed me that scalacheck tests suffers from https://issues.scala-lang.org/browse/SI-7646. I know that I have been hitting this several times when testing the concurrent primitives in scalaz-stream. Was wondering, perhaps, if that can't

[2015-03-25 16:37] djspiewak commented on #329
@pchlupacek I bear the scars of the Cake Pattern on my soul.  Object init deadlocks are basically the first thing I think of when I see threads being stuck.  I'm very, very certain that the tcp issues are separate.

[2015-03-25 17:36] pchlupacek commented on #329
:-) ok just was checking

[2015-03-26 22:17] djspiewak commented on #288
This issue came up recently in the Gitter channel.  I was actually completely unaware of this `tee` semantic, but it kinda horrifies me TBH.  I understand the original rationale, but I don't think it is correct.  There needs to be *some* signaling mechanism to alternate legs which indicates either normal or abnormal termination in a main leg.  Here's another simple example of a `ByteVector` sink w

[2015-03-27 07:26] pchlupacek opened #347 "Disallow race condition while using signal"
Current signal constructors allow to create race programs, that may not be obivous to user. We need to clear signal interfaces to eventually not allow these conditions.

Currently, we have two constructors of signal: `signalOf` and `signal` (deprecated). There is a race condition using signalOf to lose first value (possibly more, but first is almost guaranteed) set:

[code]

I think we have to eit

[2015-03-27 08:57] dansanduleac opened #348 "io.bufferedChannel/bufferedResource/resource can leak resource [0.7a]"
The [0.7 wiki](https://github.com/scalaz/scalaz-stream/wiki/0.7#-finalizers) mentions that

[code]

Now here's the implementation of `resource`, on which `bufferedChannel` also depends:

[code]

It's doing exactly what the wiki calls unsound.

[2015-03-27 11:13] viktorklang commented on #340
I'd think there are real implications of inlining into a tight loop when it comes to loop unrolling etc.

[2015-03-27 16:24] djspiewak commented on #347
It actually surprises me quite a bit that this generates a race condition.  It appears that the topic inside of `Signal` makes itself available before it has flushed through the init process.  In other words, the sane assumption about `toSignal` doesn't hold.

I think we actually need to fix `Signal` to hold incoming messages until `inits` has been fully `unemit`ed.  This would also fix the identi

[2015-03-27 16:24] #338 closed

[2015-03-27 16:52] pchlupacek commented on #347
I just put that PR. I don't think so its good tenchnique to have merging semantics hardcoded in `Signal`. I think we have either signal that is set by evaluating Tasks ( I call this downstream signal) or, eventually is constructed by "upstream" process. I think both of them shall not be in our code w/o involving nondet combinator like `wye`

[2015-03-27 18:46] fthomas commented on #309
@prange what is the status of this?

[2015-03-28 06:40] #348 closed

[2015-03-29 00:11] djspiewak opened #351 "Transducers to generalize Process1"
[code]

I have some comments to this effect, but basically `Transducer` completely subsumes `Process1` and provides a strictly more powerful construct to replace `Channel` and `Sink`.  As mentioned in the gist, `Process1[A, B] = Transducer[Nothing, A, B]`, which is pretty cool!

Here's the motivation…  `Channel` allows us to define an effectful transformation on some input `Process`.  However, unl

[2015-03-29 04:18] pchiusano commented on #351
I did some playing around with this sort of design, where effectful channels become the primary data type and `Process1[A,B]` is a `Process[Nothing,A,B]`. I do suspect it is a better design for the library, but it may be a lot of work to implement, especially if we want to preserve constant-time append and flatMap.

Here is an old gist I did (in Haskell) https://gist.github.com/pchiusano/bdf7549ef

[2015-03-29 04:33] djspiewak commented on #351
@pchiusano Oh, I think in my excitement over type issues, I may have skated over runtime stuff…  What I pasted in the OP works.  As in, it compiles as written and runs and provides exactly the functionality advertised.  In terms of performance characteristics, it should be exactly as fast as `pipe`, which is to say slower than `flatMap` and a heck of a lot slower than `append`, but about as fast a

[2015-03-29 07:44] milessabin commented on #351
FWIW, an implicit- rather than GADT-based type aligned sequence would be dramatically simpler than that I think. Ping me if it's still relevant and you need a hand.

[2015-03-30 13:53] haveaguess commented on #258
Yep , this is holding me back on scala 2.10

[2015-03-30 14:28] dansanduleac opened #353 "Nested awaits run outer await's dependent finalizer twice"
According to [the 0.7 finalizers doc](https://github.com/scalaz/scalaz-stream/wiki/0.7#-finalizers),

[code]
if this code is interrupted during `t`, then `f2` will immediately run, and `f1` will eventually run (when `t` completes), but *`f2` should not be reinvoked*.

My example is a bit more complex, with two nested awaits -- nested because one depends on the other:
[code]

What this is doing con

[2015-03-30 17:05] frgomes commented on #258
You can add bintray to your lust of resolvers. It works for me with 2.11.6 :-)
resolvers += "bintray" at "http://dl.bintray.com/scalaz/releases"
Richard Gomes
rgomes1997@yahoo.co.uk
http://rgomes.info/
+44(77)9955-6813
+883(5100)0800-9804
Sent using CloudMagic
On Mon, Mar 30, 2015 at 2:53 pm, Ben Ritchie <notifications@github.com> wrote:Yep , this is holding me back on scala 2.10

—Reply to this e

[2015-03-30 19:48] francisdb commented on #258
or `resolvers += Resolver.bintrayRepo("scalaz", "releases")`

[2015-03-30 20:09] briantopping commented on #258
Oh well. It's well known that SBT doesn't get the job done in a lot of circumstances, like IDE integration in purely modular environments. Sad.

[2015-03-30 20:12] djspiewak commented on #258
@briantopping Maven and Ivy both support adding external repositories.  Bintray has more instructions ([specifically here](https://bintray.com/scalaz/releases)).  I'm not sure that SBT's inadequacies (or lack thereof) really have anything to do with it.

What build system are you using?  I really can't think of a *useful* build system that allows resolving from Maven Central but provides no mechan

[2015-03-30 20:18] briantopping commented on #258
@djspiewak The problem with external repositories in open source is they come and go, as documented before.

[2015-03-30 20:21] djspiewak commented on #258
@briantopping I don't dispute that relying on a third-party repo for a critical upstream dependency is bad.  That has absolutely nothing to do with SBT though.

Everyone is basically in agreement that we want to push to Maven Central.  We have to get our ducks in a row first to make that happen though.  It's going to happen.  It's not done *yet*.  The third-party repo dependency is a temporary wor

[2015-03-30 20:27] briantopping commented on #258
@djspiewak You're right, I deleted the comment. I saw that a referencing issue was closed and incorrectly believed this one had been closed ten days ago. Apologies for my lack, cheers.

[2015-03-30 20:29] haveaguess commented on #258
@djspiewak thanks for making that clear, that's reassuring to see

[2015-03-30 21:30] djspiewak commented on #353
[code]

This looks a bit suspicious to me.  You're resetting between each step of the recursion?  (note that this is *inside* of the `await`, which is thus inside of `repeatedStep`)  This could very directly lead to multiple resets if you run one step successfully then get interrupted during the *next* step.  Basically, you would be getting multiple resets precisely because you're defining multipl

[2015-03-30 21:31] djspiewak commented on #340
@pchiusano Any thoughts on this?  Obviously this touches on some core design features (and tradeoffs!) and I really don't want to proceed unless I know that it meshes with your vision for the library.

[2015-03-31 02:04] pchiusano commented on #340
@djspiewak I guess my reaction is... meh. :) I can't really see baking some ad hoc fusion rules into scalaz-stream. If people want to do that sort of thing, they could do so on their own and deal with explicitly chunked streams. Having the 'available1/L/R' functions would be useful for this.

One thing I would be open to is changing from using `Seq` to represent chunks to something with well-defin

[2015-03-31 02:07] pchiusano commented on #351
@milessabin PING :) Could you elaborate on your remarks? Maybe put together a gist of just a type-aligned cons list, in the style you think would be simpler.

[2015-03-31 03:22] djspiewak commented on #340
@pchiusano

Explicitly chunked streams make the `available` combinators irrelevant, actually.  `available` is interesting with the implicit chunking that we provide.

It would be impractical almost to the point of impossibility for users to provide their own respecialization of the form that I propose in the OP without losing performance.  One of the absolutely critical elements of my proposal is

[2015-03-31 04:24] pchlupacek commented on #340
@pchiusano @djspiewak apart from implementing some sort of mechanics like suggested in #333 I think we have to also look on other two issues:
- associativity of append's finalizers
- making await(req)(a => rcv(a).onComplete(xx)) being the same as p.flatMap(a => f(a).onComplete(xx)), except perhaps for interrupted awaits, that will need to be resolved in `await` dependent code.

[2015-03-31 05:45] milessabin commented on #351
Just to be sure ... we're talking about is essentially a list of functions which are statically guaranteed to compose? What's the minimal set of operations you'd need defined for it?

[2015-03-31 11:17] dansanduleac commented on #353
Yup, that's how the javadoc says to use it - I'm resetting after each `take`, because every time I get a `WatchKey` out of `take`, it's going to be in the "signalled" state, and in order for it to receive more events, I need to place it back into the "ready" state by calling `reset`.

I'm not sure I follow what you mean in this case by "this could very directly lead to multiple resets". I'm not ge

[2015-03-31 13:51] pchiusano commented on #351
@milessabin Well, not necessarily functions, a list of arbitrary `K[_,_]`. And we need cons/uncons/append. Cons has the obvious signature, and uncons needs to return either the empty sequence, along with a proof that the starting type is equal to the ending type, or it needs to return the `(K[A,e], TList[e,B])` pair, where e is existential. Cons and uncons should both run in constant time.

In ord

[2015-03-31 15:38] djspiewak commented on #353
Then I think the best thing to do would be to move the `append` outside of the `await`.  This will make the semantics a lot clearer.  Remember that finalizers sort of barely almost don't work in the presence of `append`, and having an infinite sequence of *nested* `await`s is a concept that makes my head spin.  The other nice thing is that by moving `append` outside of `await`, you can actually ju

[2015-03-31 15:45] djspiewak commented on #340
@pchlupacek

Recall my argument on #333: these goals are *fundamentally* unachievable because our claimed invariants for `kill` are directly in conflict with our claimed invariants for `onComplete`.  Simple example:

[code]

In order for `onComplete` to be associative and invariant-preserving, or to have `await(req)(a => rcv(a).onComplete(xx))` be the same as `p.flatMap(a => f(a).onComplete(xx))`

[2015-03-31 17:16] pchlupacek commented on #340
@djspiewak I did some experiments with modified append (as suggested in #333) , with `cause` branch to be defined differently than Halt(cause). I manage to get your test for associativity working, and in fact, just got very few places where this is still non terminating. I think perhaps, even in current algebra signature this may be solvable, although it may not be completely easy implementation a

[2015-03-31 17:19] #347 closed

[2015-03-31 17:33] milessabin commented on #351
Can you sketch out the operations you want to perform at a slightly higher level? I'm somewhat skeptical that you really need an uncons of that exact form (especially the existential part of it) but to be sure of that I need a rough idea of the kinds of things you would want to implement in terms of it.

[2015-04-01 18:01] djspiewak commented on #353
@dansanduleac Some ideas ruminating around on this…  If you move the `append` outside of the `await`, do you still see the double `release`?  If not, then I think we may have a bug with finalizers on deeply nested awaits.  Should be easy enough to reproduce if that's the case…

As a follow up question, is the double `release` deterministic?  Or do you sometimes not see it?

[2015-04-01 18:41] pchiusano commented on #351
@milessabin Well, for the implementation of `pipe`, `tee`, and `wye`, we need to be able to step the process, and obtain the first emitted chunk in constant time. But we also need to be able to append and flatMap in constant time to build up a Process. And there may be cases where we are alternating between building up a process and consuming it one step at a time, so CPS'ing won't be efficient. I

[2015-04-01 19:09] milessabin commented on #351
That `kseq` has to be linear time, surely?

[2015-04-01 19:17] pchiusano commented on #351
Yes. But I more just want to understand what you are thinking about how to encode these sorts of things without GADTs. The exact set of operations isn't so important.

[2015-04-01 19:25] milessabin commented on #351
Oh, sure. I'd encode it as a heterogenous sequence structure along with a proof that the required alignment property holds. An `HList` obviously doesn't give you constant time append, but we could use a structure other than a cons list as the underlying carrier. Your `kseq` is essentially a polymorphic fold ... the one in shapeless is linear time and that should carry over here.

[2015-04-01 20:34] ghost opened #355 "Constructor for Wye with one input as Process1"
I can't seem to find a straightforward way to construct a Wye with one input bound, the result of which is a Process1 from the other input to the output. In other words, it'd be super-handy to be able to easily construct transducers from some Process that you want to relate to some other process with Wye's combinators.

[2015-04-01 20:51] pchiusano commented on #355
@psnively Well, you could use [attachL/R](https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/wye.scala#L218), however you are restricted to providing a `Process1`  or a `Process0` (since `Process0 <: Process1`), you can't bind something effectful. If you want to bind something effectful, you can just curry the wye function:

[code]

Also, note that a `Wye[A,Any,B]` (t

[2015-04-02 01:46] psnively commented on #355
You didn't just use "cast" in a sentence unironically, did you?

[2015-04-02 02:42] pchiusano commented on #355
@psnively Ha. Yes, I guess I did! All I was saying is that if you want to implement this function:

[code]

The simplest implementation might involve a cast: `wye.detach1R(wye.attachR(p0)(y)).asInstanceOf[Process1[A,C]]` (I realized the `detach` is prob needed to convert any AwaitBoths to AwaitL), and this shouldn't generate any runtime errors... I think. That might be how I would implement it int

[2015-04-02 03:16] pchlupacek commented on #310
I think with recent change to signal, we can just rename the async.signal to async.signalUnset and close this?

[2015-04-03 17:45] dansanduleac commented on #353
@djspiewak Yes I do, unfortunately :( Moving `append repeatedStep(ws)` after the await (the equivalent of doing `.repeat` on the whole thing) changes nothing in this particular case.
Actually I don't really see a difference between the two, the reason I put it on the inside was because that's what `Process.repeatEval` was doing.

Btw - I still see the same behaviour even if I change the `.onComple

[2015-04-03 17:46] toby5box opened #356 "There's no link to API doc from project root page?"
Is this just an oversight?

[2015-04-03 18:41] fthomas commented on #356
The docs for the latest release are not published anywhere. We haven't decided yet where and how to publish them.

[2015-04-03 23:16] djspiewak commented on #353
@dansanduleac Ok, something is just broken then.  The fact that it's deterministic is really good, actually, since it makes it easier to test.  I'll see what I can come up with…

[2015-04-04 08:43] peterneyens commented on #252
There still is one reference in `CreatingStreams.scala` to `TransformingStreams.scala` on [line 112](https://github.com/scalaz/scalaz-stream/blob/master/src/test/scala/scalaz/stream/examples/CreatingStreams.scala#L112).

[2015-04-04 12:26] fthomas commented on #344
I'm ok with `observeStripW` and `observeStripO`. If there are no other suggestions, I'll submit a PR that renames those two.

[2015-04-04 15:54] pchlupacek commented on #344
another option is to keep drain as it is, and rename them to `drainObserveW` and stripW rename to simply `drainW`. That way perhaps we have consistent naming between process and writer

[2015-04-04 16:37] fthomas commented on #344
`drain` discards all outputs of a `Process`. I would expect that `drainW` discards all outputs on the write side of a `Writer`, so `drainW: Writer[F, W, O] => Writer[F, Nothing, O]`. I've recently used something like `drainO` to strip the outputs of a `Writer[F, W, Unit]` and then to append it to some other `Writer[F, W, O]`. If `drainO` would have transformed the `Writer` into an ordinary `Proces

[2015-04-05 03:35] jedws commented on #356
they could [should?] be published as github pages. for instance scalaz
publishes

http://scalaz.github.io/scalaz/

and puts its latest release docs are here:

https://oss.sonatype.org/service/local/repositories/releases/archive/org/scalaz/scalaz_2.11/7.1.1/scalaz_2.11-7.1.1-javadoc.jar/!/index.html#scalaz.package

if you do use github pages, pick a prettier default than scalaz would you
please :-)

[2015-04-05 06:22] pchlupacek commented on #344
Ah, I see what you say. Then I don't have any preference. Perhaps only, that instead introducing `observeStripW` I can live with observeW().stripW as this is only two letter more and it is more explicit what it really does and allows me to combine `O` and `W` freely.

[2015-04-05 17:54] fthomas commented on #344
This is also fine for me. I'll put a PR together to make things more concrete.

[2015-04-07 20:32] djspiewak commented on #353
@dansanduleac So I'm having a really hard time getting your example even running.  The example as written does not compile, and modifying it to compile produces an example which does not run (it hangs in some file system stuff).  Could you help me by reducing this just a bit to something that is self-contained?  I don't mind if it still uses the NIO filesystem things, so long as it is self-contain

[2015-04-09 14:40] channingwalton commented on #102
hi all,
whats happening with this? It would be very useful for us if it were available.

Channing

[2015-04-09 17:31] djspiewak commented on #102
@channingwalton No one is working on this at present.  It would be really great, but we have some more core priorities at present.

[2015-04-09 20:53] channingwalton commented on #102
Understood. This would be very useful for us so I'll stare at it very hard. It would be good to know what @dscleaver's work is missing if anything.

[2015-04-10 01:26] edwinchoi commented on #353
@djspiewak in the PR for the runAsync work, you mentioned that `cont` finalizers may be invoked multiple times when the task is running.. Isn't the "release" here reachable from cont? Seems to be the case, and assuming `WatchService.take` is not preempted by `close`, the second `dropFile` would case take to unblock, which would cause the finalizers to be called again.

I really wish the assumption

[2015-04-10 01:29] edwinchoi commented on #353
(Forgive me if my post jumps around a lot.. Writing on a tiny screen where I can only see a few lines at a time)

[2015-04-10 09:03] dansanduleac commented on #353
@djspiewak Oops really sorry - I've fixed the example, it's now guaranteed to compile.
How do you mean self-contained? It's not accessing any external stuff, as it's creating its own temp directory and only operating inside it.

[2015-04-10 19:59] djspiewak commented on #353
@dansanduleac By "self-contained" I mean, I want to be able to copy/paste the example into a test, convert the printlns into assertions and be able to see the bug manifesting.  Even if it isn't manifesting deterministically (that's what loops are for).  Eventually I'll golf out the temp directory stuff, but that aspect of things is fine for now.

The revised example in the OP looks like it might b

[2015-04-10 22:21] djspiewak opened #362 "wye.interrupt isn't reliably interrupting"
Still tracking this down, but it appears to be something related to when the signal process is *killed* rather than producing `true`.  This is of course a major problem for `njoin`, which does precisely this all the time.  The case I have reproducing this locally (still working on more minimization) is a `mergeN` where the inner processes are themselves `mergeN`, and one of the composite processes

[2015-04-11 05:32] edwinchoi commented on #362
`nondeterminism.njoin` has the same problem that `wye` did in #316. I suspect that is the issue here.

[2015-04-11 18:53] djspiewak commented on #353
@dansanduleac Tried this again, and I basically hit the same thing I hit last time.  Here is the line that is giving me trouble:

[code]

This compiles, but it hangs at runtime.  Stack trace:

[code]

I have no idea *why* things would be stuck in that fashion, because it's not stuck in `Files` but rather in the process/task composition!  Very weird, but also very consistent.

[2015-04-11 18:56] djspiewak commented on #362
@edwinchoi So you think this might be related to #353? Perhaps `njoin` is receiving multiple finalizer calls as a result of that bug, and then hanging for the same reason as #316?

[2015-04-12 06:31] pchlupacek commented on #353
@djspiewak have you tried to run this while converting the `object` spec just to `class`?  Usually sort of these deadlocks just helps me when I either make the processes strict or just convert object -> class, thus avoiding the object initialization, that causes quite often deadlock.

[2015-04-12 06:35] pchlupacek commented on #362
@djspiewak I agree with @edwinchoi that njoin has simillar behaviour to wye, that means if mulitple finalizers were invoked njoin will just call them. We have to perhaps modify njoin similarly as wye.

[2015-04-12 13:16] dansanduleac commented on #353
That's really surprising. I should mention I'm using 0.7a, scala 2.11.6 and
java 1.8.0_31 on linux, maybe it's a setup thing.

On Sat, 11 Apr 2015 19:54 Daniel Spiewak <notifications@github.com> wrote:

[2015-04-12 17:05] edwinchoi commented on #353
@djspiewak try using a custom strategy with a cached thread pool

[2015-04-12 17:06] djspiewak commented on #353
@edwinchoi `cont` finalizers *should not be* invoked multiple times unless the finalizer is placed within both the `End` and the non-`End` branches of the `awaitOr`.  Coming back to our illustration:

[code]

In the above, `f1` and `f2` are guaranteed to be invoked at most once, where `f1` is guaranteed to be invoked iff `t` completes (regardless of interrupt) and `f2` is guaranteed to run.  This

[2015-04-12 17:09] djspiewak commented on #362
@pchlupacek I think we should modify `njoin`, but also finalizers shouldn't be running multiple times.  I'm working on the finalizer thing right now.  @edwinchoi, how hard do you think it would be to contrive a minimal case which breaks `njoin` in this way?  I have a very non-minimal one, but since you have a firmer grasp on the problem than I do, I was wondering if it would be straightforward for

[2015-04-12 17:09] djspiewak commented on #353
@dansanduleac Ok, I've got the test running and failing locally.  Off to the races!

[2015-04-12 17:32] pchlupacek commented on #353
@djspiewak this issue with Specs being objects is killing me always. I think we shall move all our specs to be classes (any volunteers to do that? :-) ). This issue comes with scala's object initialization deadlock which is completely insane, and I think there must be just a bug in compiler that if two threads compete for object instance during its creating only one gets notified, whilst the other

[2015-04-12 17:33] djspiewak commented on #353
Have a minimized test case:

[code]

The problem is in the `observe`.  If I remove that clause, the test passes.

[2015-04-12 17:34] pchlupacek opened #363 "Change all specs to be classes instead of objects"
Current object specs are subject of object initialization deadlock in certain concurrency scenarios. we just need to convert our specs to be classes to fix this.

Any volunteers to make PR with object -> class refactoring on all our specs are welcomed :-)

[2015-04-12 17:42] pchlupacek commented on #353
@djspiewak I think problem perhaps may be in tee. If you recall what we have been discussing about "swaping" finalizers of await from outer to inner part, I think we may be actually hitting this. Look on tee, https://github.com/scalaz/scalaz-stream/blob/master/src/main/scala/scalaz/stream/Process.scala#L180 and L190, as well. you see that that contL is actually positioned from outside of the await

[2015-04-12 17:44] djspiewak commented on #353
@pchlupacek

Crumbs…

[code]

You're absolutely right.

[2015-04-12 21:11] pchlupacek commented on #353
@djspiewak ok lets take this as priority. I think this is in fact related to #333. I think we shall follow in #333 and leave this open?

[2015-04-12 21:25] pchlupacek commented on #333
I think we have here 2 options how to resolve this now:

 1. change signature of async callback and modify its signature do the source of callback can recover if the task was interrupted. This will require I think modification of `scalaz.concurrent.Task`, but imho is better and more reliable solution than option (2). My proposed async signature will be :

[code]

as previously discussed.

I am not

[2015-04-12 21:26] pchlupacek commented on #333
@djspiewak, @pchiusano  let me know what are your thoughts on previous

[2015-04-13 02:50] djspiewak commented on #353
@pchlupacek It's possible that it's related to #333.  The fact that the algebra is problematic certainly affects many issues.  I'm still looking into it, since intuitively it seems to me that the lifting in `pipe` (and `tee` and `wye`) should be sound relative to our new finalizer semantics.  I'd like to leave both issues open at present while we track things down more precisely.

[2015-04-13 11:20] alissapajer commented on #363
done. PR incoming.

`$ sed -i .bak 's/object \(.*\)Spec/class \1Spec/' src/test/scala/scalaz/stream/*`

[2015-04-13 14:26] alissapajer commented on #362
@djspiewak @edwinchoi @pchlupacek  I was able to grab an example from #316 and use `merge.mergeN` instead of `wye.merge` to reproduce the issue.

On latest master, this times out.

[code]

The version that doesn't time out (using `wye.merge`) substitutes in the following line:

[code]

[2015-04-13 14:36] alissapajer commented on #362
Important to note: the example case I just posted above is looping 100 times and often does not hang during the first few loops. Of four runs I just ran, it has hung on loop #s 43, 8, 71, and 2. So, if you're not seeing it hang, try increasing the number of loops :)

[2015-04-13 14:48] #310 closed

[2015-04-13 14:49] #363 closed

[2015-04-13 17:38] djspiewak commented on #333
@pchlupacek I'm very much not in favor of changing `Task.async`.  Not only does it force us to bite the bullet and fork off `scalaz.concurrent` (which is more work in the short term), but it also doesn't really address the problems we're trying to solve.  It would implement *a* form of resource management, yes, but it would be a fundamental change in how resources are managed in scalaz-stream.  Us

[2015-04-13 18:00] djspiewak opened #367 "Request: Switch to managing versions with sbt-git"
This is a bit of a meta feature request, but I'd like it if we could switch our build over to managing versions  with [sbt-git](https://github.com/sbt/sbt-git).  The reason being that we (@alissapajer and myself) really need to be able to have repeatable builds that point to snapshots of scalaz-stream (which I usually push to my personal bintray), and this is not possible with the current snapshot

[2015-04-13 19:09] pchlupacek commented on #333
@djspiewak thanks. I take your points. Lets start with option (2). I think option (1) still solves the problem more deterministically, but I agree with drawbacks you mention.

Lets see where we get with (2) and how that will have impact on associativity. I am still not giving up that Append associativity with current algebra (unless you have mathematical prove for that :-)), but lets do that after

[2015-04-13 19:20] pchlupacek commented on #333
@djspiewak I just did a quick experiment on introducing cleanup to await. It went actually suprisingle well, can you try to hook it to runAsync? Branch is here  https://github.com/scalaz/scalaz-stream/tree/bug/await-cleanup.

[2015-04-13 19:24] #362 closed

[2015-04-13 19:25] djspiewak commented on #333
@pchlupacek I think the biggest trick is actually going to be getting the syntax side of things to look sane with the `Process.await` function.  Hooking into `stepAsync` isn't going to be that terrible, but it's certainly going to be more than just adding some underscores everywhere.  :-)

I'm currently working on seeing if I can patch the fusers into working with the current algebra.  Obviously,

[2015-04-13 19:44] pchlupacek commented on #333
@djspiewak  I don't think we need something really special on syntax. We simply sort of reverting to original signature of await, re-introducing cleanup, this time with `A` as input paremeter hence it is consulted only in case the task gets interrupted. I have doubts we have to extend anything more complicated above that.

I also don't think migrating to this will be a horrible story, as I didn't

[2015-04-13 20:02] djspiewak commented on #333
@pchlupacek The problem for us is that we depend on a lot of other projects in the scala ecosystem which in turn depend on scalaz-stream.  If we do something binary-incompatible without making a release yet, *we* have to go through and update all the various dependencies to use a self-published snapshot version.  We've done that before, and it's not the end of the world, but it's certainly less co

[2015-04-13 20:12] runarorama commented on #367
I would like to second this motion.

[2015-04-13 20:41] djspiewak commented on #333
@pchlupacek So staring at the following construction, I just realized that the fusers are a big problem for `Await` with `cleanup`, and basically for the same reason that they're a problem now:

[code]

So we flip the continuation inside of the `Await`, effectively converting *every* `Await` into a span that runs to the end of the world.  This is a problem now because it changes the semantics of f

[2015-04-13 23:28] pchiusano commented on #367
+1!! Can someone take the lead on this. Definitely no objections from me.
On Mon, Apr 13, 2015 at 4:12 PM Rúnar <notifications@github.com> wrote:

[2015-04-13 23:31] djspiewak commented on #367
@pchiusano You had me at hello.  :-)

PR incoming…

[2015-04-13 23:47] djspiewak commented on #356
@jedws Seems like if we just push to Sonatype, we'll be able to link in the same way that Scalaz does with or without GitHub Pages, no?

[2015-04-13 23:58] djspiewak commented on #353
For anyone who is having this issue and needs to get around it *now*, **there is a workaround**: use `wye` instead of `tee` or `pipe`.  You will need to specialize the effect on `Task` (since `wye` doesn't work otherwise), and you may need to port a `Process1` or `Tee` to `Wye` (trivial), but it will get around the multiply-run finalizer issue.  The cost of doing this, of course, is some performan

[2015-04-14 02:52] jedws commented on #356
Daniel, that seems like it should work, yes, but I am not certain.

On 14 April 2015 at 09:47, Daniel Spiewak <notifications@github.com> wrote:

[2015-04-14 05:22] pchlupacek commented on #333
@djspiewak hm, I am not sure if I understand well. With introducing cleanup, we only have to make sure that it `travels` with `await` where it was defined. We don't have to combine it with any other cleanup/process code.

I believe, then, you can safely cleanup process on interrupt by rcv(Kill), instead by running outer and inner cleanup. That shall make the runAsync a lot easier, hence you only n

[2015-04-14 05:35] pchlupacek commented on #333
@djspiewak for the syntax issue we had once fby defined as specific case only attaching to the completion of last await. However problem with anything not tight to `await` will be that we won't get any type parameter.

As such I wouldn't like to complicate things a lot, with syntax but just to make it as simple as possible so only place will be to touch awaitOr

[code]

I think it would be hard to

[2015-04-14 17:43] djspiewak commented on #333
@pchlupacek Consider the following:

[code]

In the proposed algebra, `cln` is invoked upon the completion of `rcv` or upon interrupt.  Let's just consider the completion (uninterrupted) case.  In the top example, `cln` runs correctly after `rcv` finishes, and then `cont` runs afterward.  Thus, order of evaluation: `rcv` > `cln` > `cont`.  In the second example, `cont` is *inside* of the `await`,

[2015-04-14 19:35] djspiewak commented on #333
Actually, I think that @pchlupacek's `Task.async` suggestion might be the only way to make an `Eval` case work.  My objection on multiplicity of finalizers would still stand, but with an `Eval` case, we're stuck with multiple finalizers regardless of how they're represented.

[2015-04-15 08:39] pchlupacek commented on #333
@djspiewak this is unfortunately the observation I have did. I am still trying to grasp your arguments why we can't do that in current signature // scheme, but I think the Task. async signature is just missing the interruption as first class cause.

I think we can perhaps just include concurrent libraries in scalaz.stream, and keep scalaz._ dependency as it is. We can then perhaps by using implici

[2015-04-15 10:17] #344 closed

[2015-04-15 10:42] pchlupacek commented on #333
@djspiewak I thought about your argument with

[code]
where we have issue if `cont` will be never terminating or long-duration process, the `cleanup` will never be called, thus holding up the resource possibly forever.

I know you shown, ```scala await(req, cln) { a => rcv(a) ++ cont }``` but I think in that case you forcefully doing bad thing, essentially extending the await's rcv indefinitelly (

[2015-04-15 15:50] djspiewak commented on #333
@pchlupacek

We *can* do it in the current signature, but doing so doesn't solve the fusers!  The problem with the fusers is `Await`.  Now, replacing `Await` with `Eval` reintroduces the problem of preemption boundaries, and the only solution to *that* problem (that I can see at present) is your `Task.async` suggestion.  Without replacing `Await` with `Eval` though, we still have a natural preempt

[2015-04-16 04:40] pchlupacek commented on #333
@djspiewak I think I wasn't clear with my suggestion. I think fusers are a still bit differently implemented from the rest of fuser code, and we can assure than cleanup get called always before _outside_ cont.

[code]

Could you perhaps make test case that will broke this?

[2015-04-16 04:41] pchlupacek commented on #333
Can you also please share your suggested `Eval` signature, specifically I am interested how you would suggest `Eval` to replace `await1` et all.

[2015-04-16 10:11] jilen commented on #329
http://stackoverflow.com/questions/29518523/scalaz-stream-tcp-infinite-echo-client-only-send-first-message  I have wrote an simple tcp echo app but client not work, and I have no idea how point out what's going wrong

[2015-04-16 18:40] djspiewak commented on #333
[code]

The `cln` finalizer will be invoked twice.  *Alternatively,* you might say that in the above the `cln` finalizer is only invoked once, in which case I will turn around with the following test case:

[code]

If the first test *passes*, then this second test will fail because `count` will equal 0!

The point is that *either* the evaluator for `Await` needs to run `cln` after it has finished

[2015-04-17 05:06] pchlupacek commented on #333
@djspiewak your proposal is essentially move body of await to flatMap right? I need to think a bit about this.

on the test cases: AHA! ....  as you say this wouldn't work with test cases I have presented, but I think both will work, if we attach cleanup immediately when `await` is created. And hence fusers do not create awaits, but rather use `await.extend`, which construct await different way th

[2015-04-17 05:12] djspiewak commented on #333
Ok, you're envisioning `cln` as a preemption handler, not as a finalizer.  First off, this doesn't at all address the associativity problem.  Second, it forces us to define finalizers in two places (`cln` and `onComplete`).  This is essentially the main disadvantage with the `Task.async` option, but without any of the atomicity advantages.

In any case, this isn't really what the original proposal

[2015-04-17 07:17] pchlupacek commented on #333
@djspiewak Sure, the associativity is not addressed (I didn't meant it, sorry to be not clear here). This only address issue where the cleanups are not invoked under current algebra in certain cases as you perhaps saw in #353. On the associativity, we perhaps need to do more, or as you propose change algebra a bit. I can't still the full picture of your proposal, do you have in plan to try to impl

[2015-04-17 16:41] djspiewak commented on #333
The implementation (for the `Eval` proposal) is actually very straightforward.  It's a pretty dramatic simplification of the algebra relative to `Await`, which is one thing that appeals to me a lot.  The `cln` proposal *complicates* the algebra.  It does have the advantage of not requiring a change to `Task`, but it misses the opportunity to simplify which gives me pause.

I don't have a draft imp

[2015-04-17 16:55] djspiewak commented on #333
It just occurred to me that we can implement `Eval` even without modifying `Task` since we can play the same trick as with `Await`: putting the preemption logic on the node as `cln`.  No modifications required to the concurrency primitives and a dramatic simplification of the algebra and fuser implementations.  This would be my preferred approach.

[2015-04-17 20:07] djspiewak commented on #333
I did some work on `Eval`, prototyping on a branch, and I'm actually no longer in favor of this approach.  `await` and `awaitOr` are pretty trivial, though `awaitOr` does pick up a `Catchable` constraint on `F` (which I always thought it should have in any case).  The problem is really in the other combinators.  `flatMap` requires that we introduce a `Bind` case, similar to `Free`, since we cannot

[2015-04-18 00:15] djspiewak commented on #249
@pchiusano Interesting problem with your specification.  Specifically, `await1`.  The problem is that `await1` *guarantees* that it will produce a `Process1` containing at most *one* element.  Reading that another way, it promises to *consume* at most one element from the input process.  Defining this in terms of `available` breaks that guarantee, since you will consume as many elements as are in

[2015-04-18 04:21] djspiewak commented on #249
Working on this even further, I'm not sure that this is going to work.  It breaks too much compositionality due to the consumption guarantees.  Even having *both* `await1` and `available1` in the algebra as separate cases, just having `available1` in use messes up derivative combinators.  For example, `find` is defined in terms of `filter`.  It's very clear that `filter` should be defined in terms

[2015-04-18 07:20] pchlupacek commented on #333
@djspiewak I'll try to do some prototyping on this over this weekend. I am not sure if I am still understanding your worries about finalizer logic, hence if you look on code I have suggested before, the cln is added automatically to correct places in await when using `await` constructor. User will have to specify it only once, doing the `await` creation, and I think that's the reasonable.

But as

[2015-04-18 17:05] djspiewak commented on #333
@pchlupacek Oh, ok I understand what's going on now.  That's clever!  I agree that it is a reasonable approach.  It isn't backwards compatible, but I don't think that *anything* is going to be backwards compatible.

The only concern I have is that it makes infinite `await` bodies extremely problematic.  A good example of this is `repeatEval`.  I think infinite `await` bodies were pretty crazy to b

[2015-04-18 17:08] djspiewak commented on #333
BTW, what is the reasoning behind using `Trampoline` in `Await` and `Append`? All of the interpreters are already stackless, so this seems to be just adding overhead.

[2015-04-18 17:56] djspiewak commented on #333
@pchlupacek I made the changes to `stepAsync` on my branch (djspiewak:bug/await-cleanup).  However, it looks like `wye` is somehow broken by this?  I'm not quite sure what's going on, especially since the test in question doesn't really rely on finalizers to my knowledge.  Still working on things.

[2015-04-18 18:42] djspiewak opened #369 "Remove Terminated"
People should not be throwing `Terminated(End)` to halt repetitions.  This particular semantic quirk is what makes the following two (seemly-identical) terms very distinct:

[code]

Oh hey, that's exactly the transformation that `pipe` and `tee` *assume* is sound!  What a coincidence…

In the above, `repeat2` will infinitely loop if the termination condition had previously been `t` throwing `Termi

[2015-04-18 20:13] pchlupacek commented on #333
@djspiewak I quickly looked on your branch. What exactly is broken on wye?

[2015-04-18 20:18] pchlupacek commented on #333
on the Trampoline question, I think the main reason for it was so we can get stack safety on nested rcv's in await And Append is just essentially collecting these. I think without them we may have troubles in pipe, tee, wye, but perhaps not in Process[Task,O].

However, the `cln` may be imho w/o trampoline hence it is guarded by trampolined rcv, and other than that we don't use it in any combinato

[2015-04-18 21:05] djspiewak commented on #333
@pchlupacek All tests passing, including some that hit the cleanup logic which is implemented as you specified.  Probably some other things could be altered as well, but I didn't go through and do a thorough audit.

The biggest problem is what I referenced previously: `Terminated(End)` is a major issue.  Specifically, due to the way it interacts with `repeatEval` and the way `repeatEval` interacts

[2015-04-18 22:21] djspiewak commented on #369
Here's an example of a (failing) test which demonstrates how `Terminated(End)` breaks compositionality:

[code]

[2015-04-19 05:51] pchlupacek commented on #369
@djspiewak `Terminated(End)` was just introduced to support signalling from the sink evaluation, namelly, io.*, that previsouly was implemented with just `throw(End)` to signal exhaust of the input source (essentially signal End).

We anyhow need to touch all the `io` stuff with #333  change to assure proper release of the resources. However I didn't thought how to solve this. I am very much in fa

[2015-04-19 05:59] pchlupacek commented on #333
@djspiewak excellent. I just quickly went through branch, and I think we have to remove Terminated possibly alltogether. Specifically I think we don't ned to have it in places where we have full control over the code like async._ stuff.

[2015-04-19 15:16] pchiusano commented on #369
I'm actually in favor of just getting rid of Terminated altogether. It is
never necessary - just use Option / Either and explicit control flow.
On Sun, Apr 19, 2015 at 1:51 AM Pavel Chlupacek <notifications@github.com>
wrote:

[2015-04-19 17:03] djspiewak commented on #369
I strongly agree.  Even in cases where boxing into `Either`/`Option` is prohibitively expensive, you can still throw a custom exception type and handle it later.  In other words, we're not *closing off* the efficient control flow path, we're just making it clear that it shouldn't be anyone's first choice.

[2015-04-20 05:33] jedws commented on #369
if you _need_ an unboxed maybe type, consider https://gist.github.com/noelwelsh/02b9ecf6d21c7b8934e8

[2015-04-20 19:42] djspiewak commented on #369
@jedws That's an amazingly clever trick, and probably something that we should use here.  It doesn't resolve *all* of the problems I am running into, removing `Terminated`, but it certainly addresses the performance warts.

[2015-04-23 18:06] djspiewak commented on #369
After some work on this, I really don't think we can outright *remove* `Terminated` without some significant refactoring of public interfaces, particularly in the `async` package.  I'd rather not do something quite that dramatic, particularly since this is sort of blocking a more serious bug fix (#353).  So I would like to make the following proposal…

We keep `Terminated` as a standard "lifting"

[2015-04-24 00:23] jedws commented on #369
At the risk of derailing the conversation…

How do I capture the value "throw exception"? For something to be pure I need to be able to replace the call with its value, but I cannot do that if I have thrown an exception, as there is no value to replace its evaluation with.

[2015-04-24 00:47] djspiewak commented on #369
@jedws You can view `throw exception` as itself being a value (of type `Nothing`).  It's a lie, to be sure, but not a useful lie unless you can catch the exception.  If you never have any ability to catch exceptions (and you operate in a single thread of execution), then the `throw exception` value simply drops an atom bomb on your program, for all terms "exception".

[2015-04-24 01:12] jedws commented on #369
@djspiewak the same argument applies to non-termination. IOW I do believe you just said there are no values of bottom, only nuclear explosions where programs used to exist :-)

[2015-04-24 01:15] djspiewak commented on #369
@jedws Precisely so.  :-)  Non-termination can similarly be viewed as a value.

Of course, all of this is just meddling on the verge of insanity.  Referential transparency is merely a dying man's final, grasping attempt at sanity in non-total languages, and here you are stomping on the poor guy's fingers.

[2015-04-24 02:14] jedws commented on #369
@djspiewak so, with subtyping and the fact that Nothing is a subtype of all types, your definition of non-totality as a value means that non-total == total! Stupendous! If by stomping on fingers I am rejecting the idea that we can in fact define non-totality as totality by rhetorical trick, then I stomp with force and conviction!

[2015-04-24 02:18] djspiewak commented on #369
@jedws We're really just arguing over definitions here.  We don't lose a distinction between totality and non-totality if we define totality to require the absence of a bottom value.  There are some nice advantages to this definitional trick, such as the allowance of exceptions (but not exception handlers!).  Another advantage is we get to use Curry-Howard without waving hands vigorously.  (also,

[2015-04-24 02:30] jedws commented on #369
well, yes :-) I think they're important (and interesting) though, but not so we should necessarily be discussing here… I'll suspend and hopefully resume the conversation in a more suitable venue.

[2015-04-24 04:17] pchlupacek commented on #369
+1 @djspiewak @jedws to any change here, unless this will break current code (source-wise) :-) I remember that terminated was introduced just because we didn't had anything better (I didn't like it either), and lets revisit that laters....

[2015-04-24 05:08] djspiewak opened #372 "Queue can lose data in error cases"
Hurray!  Just what everyone wants to wake up to, am I right?

[code]

This fails, as you can probably guess by the title of this issue.  Example output:

[code]

Actually what's really weird is it *isn't* the first element that gets lost!  I have no idea why, but it appears to be the second element, if one exists.  Very strange…

Anyway, this is arguably yet another casualty of #288.  At least at

[2015-04-24 05:12] #367 closed

[2015-04-24 12:05] pchlupacek commented on #372
@djspiewak my first thoughts for this is that this is direct result of queue feeding the interrupted tasks. I think the only stable solution to this is to never feed the item to the task that was interrupted. So back to our discussing elsewhere cb == `Throwable \/ A => Boolean` instead of current Unit. The last think I would ever want in this situation is to re-queue the missed element thus having

[2015-04-24 13:43] djspiewak commented on #372
Please note that the junction is a tee and not a wye. The task is not
getting interrupted (this is relatively easy to check by peeking into
stepAsync).  The task runs to completion, hands off its data, and then the
data is discarded by tee due to the error state on the other side.

We have access to the vector inside of Queue.  It is very easy to requeue
preserving original order.  I actually have

[2015-04-24 14:39] pchlupacek commented on #372
ok cool

[2015-04-24 15:54] jamesward commented on #258
Requiring devs to add new resolvers is just plain bad developer experience.  Also, libraries in Maven Central aren't supposed to depend on non-Maven Central libraries.  So please get these libraries into Maven Central.  It will take 15 minutes via BinTray.

[2015-04-24 15:56] djspiewak commented on #258
@jamesward No one disagrees with you.  This *is* happening; it just has to be Paul that does it.

[2015-04-24 16:15] jamesward commented on #258
Cool!  Here is an updated check-list:
- [ ] [Create your JIRA account](https://issues.sonatype.org/secure/Signup!default.jspa)
- [ ] [Create a New Project ticket](https://issues.sonatype.org/secure/CreateIssue.jspa?issuetype=21&pid=10134)
- [ ] [Setup BinTray to Maven Central sync](http://blog.bintray.com/2014/02/11/bintray-as-pain-free-gateway-to-maven-central/)

[2015-04-24 16:22] benmccann commented on #258
+1 it'd be nice to make this the top priority of this project. it's quite easy to do and very important for all the reasons already cited

Also, you should never ever ever do `resolvers += "scalaz" at "http://dl.bintray.com/scalaz/releases"` as some comments here are suggesting. You open yourself up to cross build injection attacks. Always use https when adding a repository to your project!

[2015-04-24 16:25] xuwei-k commented on #258
Create your JIRA account
 Create a New Project ticket
 Setup BinTray to Maven Central sync

Maybe doesn't need `Create your JIRA account` and `Create a New Project ticket`.
scalaz-stream has published maven central in the past
http://repo1.maven.org/maven2/org/scalaz/stream/scalaz-stream_2.10/

[2015-04-24 16:26] djspiewak commented on #258
…unless you use sbt-gpg and verify your dependencies.

[2015-04-24 16:42] benmccann commented on #258
@djspiewak I'm guessing you meant [sbt-pgp](http://www.scala-sbt.org/sbt-pgp/usage.html)?

[2015-04-24 16:44] djspiewak commented on #258
@benmccann I did. I just mix up the acronyms. :-)

[2015-04-25 12:20] fthomas commented on #331
Can we do something about this? Like opening an issue where people can post their suggestions? Or anything else?
I'd love to see scalaz-stream getting a new name sooner rather than later.

[2015-04-25 19:15] dohque commented on #258
Is it maven central now?

[2015-04-26 01:38] djspiewak commented on #372
@pchlupacek The implementation in the PR really quite straightforward.  Each `ConsumerRef` now tracks its last-dequeued batch.  If a consumer ends prematurely (i.e. before the queue is closed), we re-enqueue the data at the head of the queue (by prepending to the `Vector`).  If the queue is empty, we delegate to `enqueueOne`, which will push the data over to any awaiting consumers.  Caveats of the

[2015-04-26 05:03] djspiewak commented on #249
@pchiusano At this point, I'm very convinced that there is no way to do this without breaking compositionality inside of `Process1`.  We can't have some combinators silently over-consuming the input stream, and the way that the algebra is designed allows downstream combinators to force over-consumption if the upstream combinator uses `available` *at all*.  (this is well exemplified with `filter` a

[2015-04-26 17:13] #309 closed

[2015-04-28 20:03] #372 closed

[2015-04-28 21:10] djspiewak opened #378 "New hash module doesn't compile with scalaz 7.1"
[code]

Help us, @jedws, you're our only hope.

[2015-04-29 03:58] jedws commented on #378
@djspiewak how are you compiling with scalaz 7.1? is it using the master-a branch? that branch doesn't seem to have been pushed to for ages…

[2015-04-29 04:22] djspiewak commented on #378
Merge current master to master-a.  There are some trivial conflicts and you're good to go.

[2015-04-29 04:25] jedws commented on #378
cool, on it

On 29 April 2015 at 14:22, Daniel Spiewak <notifications@github.com> wrote:

[2015-04-29 04:50] jedws commented on #378
k, merged master into master-a, see PR ^^

[2015-04-30 00:12] beloglazov commented on #258
It would be nice to get it published, as it still causes annoying issues like https://groups.google.com/forum/#!topic/couchdb-scala/IoMBDlz_QlU

[2015-05-04 11:07] alissapajer opened #381 "nondeterminism of error propagation"
Here's a failing (nondeterministic) scalacheck test that can be dropped into `ProcessSpec`:

[code]
The test's nondeterminism can be seen in the output with results like the following, where the test passes 14 times before failing.
[code]
What this means in the real world: It is possible to construct a `Process` that nondeterministically errors or doesn't error when run.

I claim that this code sh

[2015-05-04 11:22] alissapajer commented on #381
Quick note on how this affected me: I was checking specs2 properties inside a `Process` and observed that the `Exception`s that specs2 creates (e.g. `org.specs2.matcher.MatchFailureException`) were not always propagating out, meaning that my test would appear to pass when actually it was failing.

[2015-05-04 17:34] djspiewak commented on #381
Just to update this issue with the results of some discussion offline…

This is caused by the behavior of `stepAsync` in returning *immediately* upon interrupt.  In other words, it's not a bug per se but rather a function of our asynchronous interrupt semantics.  I'm not claiming that makes the behavior any more desirable, but fixing it isn't a simple matter of tracking down a bug.

One thing we c

[2015-05-08 01:48] etorreborre opened #382 "Release a version for Scala 2.12.0-M1"
I need this version to be able to publish specs2 as well, thanks.

[2015-05-08 17:42] djspiewak commented on #382
I can handle the porting (if necessary), but only @pchiusano can actually push a release.

[2015-05-08 18:02] fthomas commented on #382
I think it would be beneficial if not only @pchiusano could push releases. That would also help with #258.

[2015-05-09 02:34] pchiusano commented on #382
Apologies for being MIA, have been super wrapped up in other work, though I
still should have communicated better. :/ I should have time to work on
things next week. And yes I'd like to remove myself as a bottleneck from
doing releases. :)

There's also a large backlog of issues that I'd like to prioritize and turn
into a roadmap. Will look for folks on gitter and start going through
issues next w

[2015-05-09 12:02] radekm commented on #333
To me the original behaviour seems correct.

[code]

means that `f` is cleanup for `b` and when you kill `p` process `b` doesn't even start - so there is no need to execute `f`.

The motivation for this behaviour of `kill` is that the process tries to terminate as soon as possible when killed. For this reason even `empty ++ p` isn't equivalent to `p` (you can use `kill` to see the difference).

Is

[2015-05-10 05:44] fthomas commented on #369
We can get rid of `Terminated` in two places in `io` with a new `repeatEval` that takes a `F[Option[O]]` instead of a `F[O]`:
[code]
Any reason not to do this?

[2015-05-10 06:37] pchlupacek commented on #369
@fthomas how about instead of proposed resourceOption signature having just process signature instead:

[code]

perhaps, the step can be only `step: R => Process[F,O]`, not sure on that tho.

That way we can also signal correct reason for termination, that is not possible with Option[O] method.

[2015-05-10 06:41] pchlupacek commented on #333
@radekm I think the problem aries in code like this :

[code]

At first the code seems to be correct, but hence you `++` the two processes the onComplete is attached to 2nd instance and thus it may not be executed in case the `doSomethingElse` won't be executed.

To me the whole think is more about reasoning about code, obviously if you add the two parentheses, the code will be correct, but this i

[2015-05-10 07:13] jedws commented on #333
The point could maybe be best expressed as that the types lie.

If we have a Process, we expect that if we add `onComplete x` then we must
expect the finalizer x will get run, if it is effectively
non-deterministic, then onComplete is a lie – it would better be called
`maybeOnComplete`.

So, append is thus a lie, we cannot append in a lawful manner. Therefore we
are not really appending, but mungi

[2015-05-10 09:17] radekm commented on #333
IMO it's deterministic. `q onComplete fin` means that `fin` is executed after `q` completes. And in the original example which has the form `p ++ (q onComplete fin)` process `q` isn't even started so it can never complete so it seems fine to not run `fin`.

This behaviour is similar to the behaviour of Scala programs. `q onComplete fin` behaves as `try { q } finally { fin }` and `p ++ q` behaves a

[2015-05-10 10:07] pchlupacek commented on #333
@djspiewak any status update on your branch? Can I take it and work from it? or is it complete?

[2015-05-10 10:10] pchlupacek commented on #333
@radekm I fully agree with you, and I think this was our view why we didn't completely focus on this issue early enough.
However unlike the normal program that usually cannot be `killed` or interrupted, processes can.

imagine that doSomethingWith(r) will get interrupted with `Kill`. In that case cleanup will never be called. However when Kill will be received after ++, then cleanup IS called. So

[2015-05-10 10:28] radekm commented on #333
@pchlupacek This is a good point and it makes sense to me (mistakes should be obvious and this unfortunately isn't).

But I still don't see is why isn't `++` associative? Do we have `a`, `b`, `c` such that `a ++ (b ++ c)` doesn't behave as `(a ++ b) ++ c`?

@djspiewak It may really happen that the following code allocates a resource and doesn't free it?

[code]

I would expect that this works beca

[2015-05-10 11:09] radekm commented on #333
@djspiewak Some time ago I created an alternative instruction set (https://github.com/radekm/scalaz-stream/issues/1) but I haven't implemented it yet (there are still many unclear things - eg. time complexity of some operations). In that proposal the process is only a sequence of instructions so append is trivially associative because it's append of sequences. Cleanups are solved by finally blocks

[2015-05-10 11:19] pchlupacek commented on #333
@radekm ++ is obviously associative, but not with the termination handler, like onComplete.

[2015-05-10 11:33] radekm commented on #333
@pchlupacek  Then I don't see how the monadic laws are violated - since for some monads you can implement try-finally (eg. `bracket` in Haskell).

[2015-05-10 19:35] djspiewak commented on #369
@fthomas @pchlupacek There is a bigger problem with getting rid of `Terminated`, which is `through`.  The problem is that it is *very* common for a `Sink` to need to signal termination back upstream depending on the values it consumes.  This is not really something that can be resolved directly with any sort of `Option` scheme unless we change `Sink` to be `Process[F, A => F[Option[Unit]]]`, which

[2015-05-11 03:26] jedws commented on #333
It is non-deterministic in the sense that if you have any arbitrary Process
p, you cannot determine whether adding an onComplete handler will actually
result in that handler being run, you must know the provenance of p and if
it is a composite process, and which one of the component processes is
going to get killed.

With the current behaviour we are definitely in the same position as in the
world

[2015-05-11 05:16] pchlupacek commented on #369
@djspiewak  still don't see why we cannot define a step like ` R => Process[F,O]` ? That will allow us to signal whatever we want to upstream? And we can then only define resource as
[code]

You are right, tho that we need to somehow solve `eval` which is now extracting the `Terminated`. I am not sure tho how often you want really signal terminated `from inside` of the channel, and if so, perhaps

[2015-05-11 07:29] radekm commented on #333
If you write `p onComplete fin` and if `p` starts then `fin` will run after `p` completes - no matter what `p` is composed of. Yes, `++` isn't associative with `onComplete` but this doesn't mean that `onComplete` doesn't work.

Proposed behaviour is probably better than the current behaviour but I still don't see how does the current behaviour violate the monadic laws (as noted above Haskell has `

[2015-05-11 08:33] jedws commented on #333
The question is, do you expect `p onComplete fin` to run `fin` or not? If
the answer is 'maybe?' then you cannot reason well about your program.

The lack of associativity means that the Monoid laws are broken.

This of course doesn't matter if we have a type that doesn't promise
onComplete handling, as it is only that bit which doesn't append (afaik).

On 11 May 2015 at 17:29, radekm <notificatio

[2015-05-11 09:04] radekm commented on #333
As I said the answer is yes iff `p` is "started" and completes. If `p` isn't started or doesn't complete then the answer is no. Generally you want to run finalizer only if the resource was allocated - so I may ask the same - do you expect `await(resource)(r => doSomethingWith(r) onComplete release(r))` to run `release(r)` or not? And of course the answer depends whether `await` runs and whether `r

[2015-05-11 16:11] djspiewak commented on #333
@pchlupacek The status of my branch is "basically complete, but lacking the `Terminated` change".  I need to finish the `Terminated` work first, at which point the revised `Await` branch will be ready to land.

[2015-05-11 16:15] djspiewak commented on #369
@pchlupacek I'm not sure I see what you're proposing with `step`.  What problem does the signature in question solve?  I really don't understand your example.

Regarding the proposed `Sink` and `Channel` signatures, you'll notice that neither of those signatures allow signaling to `through` that the channel has determined *effectfully* that it is time to terminate.  Again, this is a very common us

[2015-05-12 00:57] jedws commented on #333
Right, you do not know.

IMO monoid has only single associative operation - so I don't see why

Read the original report again. You can change behaviour of your program by
simply factoring out expressions. This is fundamentally against core
notions of the value of functional programming.

I do not know what you mean, if you mean that Process.++ does not, then you
are simply stating the fact that +

[2015-05-12 05:05] pchlupacek commented on #369
@djspiewak I am not sure what do you mean that channel has determined effectfully to terminate.
Channel, is Process right? and If that process terminates then the whole process terminates. I think this is the behaviour we have now.

I think you have said that in current scenario R => Task[O] signature requires us to throw Terminated(cause) to essentially signal termination. However with proposed c

[2015-05-12 05:07] pchlupacek commented on #333
@djspiewak cool. The problem with terminated is repeatEval currently right?

[2015-05-12 06:43] radekm commented on #333
I don't see anything like that in the original report. The behaviour was changed by changing parentheses - it's like complaining that `(1 + 2) * 3` is different from `1 + (2 * 3)`.

I know it doesn't and I agree that it should. I was only saying that the problem is not with associativity of `++` but in not existence of neutral element.

[2015-05-12 07:20] radekm commented on #333
Ok. But IMO you cannot eliminate this uncertainty - so I expect that you'll be able to define `onComplete` with similar behaviour even after the fix (at least for processes with `Task`).

[2015-05-12 15:56] djspiewak commented on #369
@pchlupacek

Channel, is Process right? and If that process terminates then the whole process terminates. I think this is the behaviour we have now.

It is not.  Consider the following semantic for a sink:

1. For each integer value
2. Compute a random number, weighted by the incoming value
3. Round random number to the nearest integer
4. If the rounded value is even, terminate, otherwise emit the

[2015-05-12 16:13] djspiewak commented on #333
@pchlupacek No, `repeatEval` is easy.  The problem is `through`.

[2015-05-12 18:29] pchiusano opened #383 "Roadmap/workplan request for comment"
I'll have some more time to work on scalaz-stream in the coming months and spent some time looking through the various issues and discussions. Apologies for my being rather absent the past few months. Here is what I am thinking about working on, I'd like to hear comments:

* Adopting some version of #351, a `Transducer` type which may be effectful, generalizes `Process1`, `Tee`, `Wye`, `Sink`, and

[2015-05-12 18:50] #378 closed

[2015-05-12 18:51] djspiewak commented on #383
YAY!

I don't want that either, but I can go into some significant detail as to why `Transducer` needs `Unapply` (or rather, a very `Unapply`-like thing) and why I'm relatively certain that any such functionality will have the same requirement.  It basically boils down to a hard-coded recursion limit in scalac itself.

I 100% agree though that this is an important change.  `Channel` is hilariously

[2015-05-12 19:28] pchiusano commented on #383
@djspiewak thanks for detailed reply. Agree about moving tcp elsewhere unless we can make it solid before 1.0. I may ping you to discuss details about some of your other remarks when I dig in.

[2015-05-13 00:34] djspiewak opened #385 "Matches in io.toInputStream are non-exhaustive"
That seems like a problem.

[2015-05-13 04:16] pchlupacek commented on #383
I agree what @djspiewak suggested any ideas on priority list here?

[2015-05-13 12:04] pchlupacek commented on #369
@djspiewak I am perhaps missing something but can't just   ```Halt(Error(Terminated(End))))``` be replaced as simple ```Kill``` ?

As for the `Sink`, I agree that perhaps is good to keep `Sink` returning `Unit`, as you can always drain it anyhow. The ```Process[F, A => Process[F, Unit]]``` will just do the job as it does today. Although, the same can be achieved with observe, plus instead of nothi

[2015-05-13 12:13] pchlupacek commented on #369
@djspiewak  just for clarification the example with proposed Sink/Channel signature will be as :

[code]

[2015-05-13 14:12] pchiusano commented on #383
For priority, I'd definitely like to start with the first three bullets (generalized transducers, resource safety, and chunked awaits unless @djspiewak convinces me it's a terrible idea :) These all affect the core representation and may affect lots of open issues like #381. Then the other stuff, then a release. I'm not that keen on just doing a random checkpoint release before addressing the bigg

[2015-05-13 15:32] pchlupacek commented on #383
@pchiusano fully agree. Lets get to roots and bring something we can build on longer time. I think we know the weaknesses of the Append algebra much better, and have much more solid test coverage etc.

Would be nice to share the gists. I would like also to explore in more detail what we have discussed before as part of append refactoring here (I mean sequence of dependent types).

If we would touc

[2015-05-13 16:28] djspiewak commented on #383
@pchiusano I think chunked awaits are a fantastic idea and we should absolutely pursue them, they just don't work with our current algebra (particularly with `Process1`).

[2015-05-13 16:45] djspiewak commented on #369
@pchlupacek We cannot simply use `Kill` because of the following possibility:

[code]

The `Kill` will be raised potentially during execution of the flattened sub-process within the sink.  This is a problem, because some code in `to` needs to manage converting `Kill` back into `End` within the outer process.  This of course means that kills raised at the "wrong" time could be completely swallowed

[2015-05-14 03:48] pchlupacek commented on #369
@djspiewak hence `to` is in fact `tee`, and I think we already perform the `Kill` swallowing in `tee`, so don't think this will be an issue. I think we can just reuse that and convert any Killed process on `tee` to be normally terminated.

[2015-05-14 03:51] pchlupacek commented on #369
put it in other way, I don't see any reason why we simply cannot do
[code]
Behind the scenes.

[2015-05-14 15:15] djspiewak commented on #369
@pchlupacek Please see the following:

[code]

Swallowing `Kill` would most definitely be an issue.  Your proposal would cause the above test, which currently passes on master, to fail.

[2015-05-14 16:15] pchlupacek commented on #369
@djspiewak how it comes that `q.enqueue` is evaluating to `Terminated(End)` in this example? I don't see that in your code, you closing the queue somehow?

[2015-05-14 16:17] pchlupacek commented on #369
Ah you mean swallowing the `Kill`. That won't be an issue, hence you may distinguish if that kill comes from `inner` part of `to` combinator. That will be swallowed, rest will be in `tee` as is. So this will pass.

[2015-05-14 16:22] djspiewak commented on #369
@pchlupacek When `wye` kills the the `tee`, one of the `Await`(s) inside of that `tee` will be "active" in `stepAsync`.  The results of this kill will be that the `Await` in question will produce a `Halt(Kill)`.  Note that this `Await` may very well be the `Await` inside of the `Sink`.  When this happens, the results are *indistinguishable* from when the `Await` inside of the `Sink` triggers prema

[2015-05-14 16:23] pchlupacek commented on #369
consider `through` be denfined as :
[code]
Do we need `swallowKill` at all?

[2015-05-14 16:29] djspiewak commented on #369
@pchlupacek Kills propagate out from `Await`s inside of `tee`.  If they didn't, my test above would fail.  So yes, in order to make your proposal work, we would need `swallowKill`.  Probably in the following way:

[code]

However, if we do that, my test will start nondeterministically failing.

[2015-05-14 16:30] pchlupacek commented on #369
@djspiewak you have been posting faster than me :-) I think I see that issue, let me think...

[2015-05-14 16:53] pchlupacek commented on #369
@djspiewak you right we need to keep state of the `Kill` somehow, obviously this is doable, and I think still better than current `Terminated` solution, but perhaps not that good as we would like it to be:

[code]