[2021-11-27 21:08] diesalbla commented on #2723
@durban Thanks for opening this question or bug. However, and although I regret if you have stumbled with this, it seems to me to be working as intended.

The documentation on the `fromQueueNoneTerminated` Stream constructor states that "All elements that are available, up to the specified limit, are dequeued and emitted as a single chunk.", so your description of the operation seems accurate, but

[2021-11-28 21:17] renecouto opened #2726 "mapAsyncUnordered sometimes hangs after exceptions"
The following example will throw a timeoutException if we use mapAsyncUnordered, but will complete when using mapAsync

Without the Async[IO].timeout, when using mapAsyncUnordered, the code would hang forever
[code]
Using:  fs2-core 3.2.2 and 3.1.5, scala 2.13.3 and 2.13.6

Since scastie times out after 30 seconds, I recommend trying it in your pc
https://scastie.scala-lang.org/scfMzh2rToKpIKud0uJ

[2021-11-29 00:17] SystemFw commented on #2723
Yeah, you can actually construct other examples of "problematic" behaviour with Queue, and they all boil down to the same thing: chunking doesn't have great fairness when multiple consumers are involved. You can actually easily engineer a deadlock with it:
[code]

Really the tradeoff is not avoidable, all you can do is avoid chunking when you have more than one consumer.

[2021-11-29 09:32] nikiforo commented on #2726
Although it hangs in `main`, it doesn't in #2627.
My suspicion is that `forkOnElem` isn't guarded with uncancellable. I'll make a test and add it to the PR in a day.

[2021-11-29 18:47] ValdemarGr opened #2729 "Topic trait as a combination of TopicSource and TopicSink?"
`cats.effect.std.Queue` defines the `Queue` trait as being a combination of `Source` and `Sink`, such that the caller has the possibility of using `map` or `contramap`.
`fs.concurrent.Topic` only implements `imap`. Since not all functions are invertible, an improvement to `Topic` may be to compose the trait in a similar way?

Thank you.

Reference:
https://github.com/typelevel/cats-effect/blob/854

[2021-11-29 21:18] durban commented on #2723
Thank you, makes sense.

[2021-11-29 21:18] #2723 closed

[2021-11-30 17:41] Daenyth commented on #2503
I have some basic stuff around this, but only rudimentary
https://gist.github.com/Daenyth/67575575b5c1acc1d6ea100aae05b3a9#file-testresource-scala-L10

[2021-11-30 18:37] rossabaker commented on #2503
Impure.  `URLClassLoader` references the file system and has mutable state, and a custom `ClassLoader` can do even more unholy things.

[2021-11-30 21:08] armanbilge commented on #2503
Here you go: https://github.com/typelevel/fs2/pull/2733

[2021-12-01 20:16] armanbilge commented on #2593
This can be closed as of #2561.

[2021-12-02 15:49] #2593 closed

[2021-12-03 13:58] #2709 closed

[2021-12-03 22:41] mpilquist commented on #2717
I added a bunch of debug statements to the interpreter. For some reason, the interpreter thinks the scope which emits 2 is interrupted here: https://github.com/typelevel/fs2/blob/b8d2c35c5176d36f5b264bb4e6cabdb49070d23a/core/shared/src/main/scala/fs2/Pull.scala#L1085

I'm not sure why it thinks that.

[2021-12-03 23:03] mpilquist commented on #2717
Sample interpreter trace, which shows that a child scope is getting canceled/interrupted:

[code]

[2021-12-04 19:14] renecouto commented on #1955
Is this still an issue? To me as a complete beginner to the typelevel ecosystem 1 +1/2 month ago the official guide felt very complete

[2021-12-05 23:15] mpilquist opened #2743 "Intermittent test failure: fs2.ParEvalMapSuite.cancels unneeded"
https://github.com/typelevel/fs2/runs/4424445325?check_suite_focus=true#step:6:3046

cc @nikiforo

[2021-12-06 09:29] nikiforo commented on #2743
A way to reproduce:

[code]

Notice `IO.sleep(100.millis)`. `u` is executed, stream is completed before execution of `IO.never` begins.

[2021-12-06 13:27] mpilquist commented on #2743
Fixed by #2744

[2021-12-06 13:27] #2743 closed

[2021-12-06 13:27] #2503 closed

[2021-12-07 01:14] Daenyth commented on #1955
I think this are still missing for Stream, Chunk, and Pull. Queue moving to cats-effect was helpful since that's now documented over there

[2021-12-07 10:53] iRevive opened #2746 "[3.2.3] Decreased throughput of TCP socket in some scenarios"
I've observed a performance degradation in some scenarios on **3.2.3** version.

The throughput on small byte streams remained the same.
The throughput on bigger byte streams is decreased roughly by ~20%.
The memory allocation decreased by 10-15% on bigger byte streams.

See the benchmarks below for more details.

#### Stream usage

The project utilizes a TCP socket from the fs2-io module. I canno

[2021-12-07 11:53] nikiforo opened #2747 "StreamDecoder isn't well defined to work with bytes, bits and other repeatable codecs"
There are several examples, yet they show a single issue.

1. Consider this code:
[code]

Expected result:
[code]

Actual result:
[code]

2. Also, consider this case:

[code]

Expected result:
[code]

Actual result:
[code]

3. And this one:
[code]

Expected result: `List(Vector((), (), ()))`
Actual result: `List(Vector((), ()))`

I don't know whether any of them should be considered a bug. I under

[2021-12-07 12:33] mpilquist commented on #2747
2 & 3 make sense to me -- both cases are a result of `StreamDecoder.once` being satisfied after the wrapped decoder decodes successfully. When combined with codecs that consume a variable number of bytes, the chunk structure ends up changing the decode result. Not sure about 1 though.

[2021-12-08 08:57] nikiforo commented on #2726
@renecouto, can you confirm that the issue is resolved in v3.2.3?

[2021-12-08 09:10] nikiforo commented on #2297
`parEvalMap` & `parEvalMapUnordered` were reimplemented with 5x & 4x performance boosts respectively.
I'm not sure whether we should port them to 2.x branch, because `parEvalMap*` methods currently contain cancelation and I don't know the difference between ce2/ce3 cancellations. Thus, backporting may induce hard to track bugs.

[2021-12-08 09:18] nikiforo commented on #2686
v3.2.3 logs:
[code]

The issue has been resolved.

[2021-12-08 09:18] #2686 closed

[2021-12-08 09:20] nikiforo commented on #2195
@iRevive, can you confirm that the issue has been resolved in 3.2.3?

[2021-12-08 09:48] iRevive commented on #2195
@nikiforo I didn't observe it yet (and hopefully will not). Thank you for your time!

[2021-12-08 12:44] #2746 closed

[2021-12-09 22:44] renecouto commented on #2726
beautiful! Issued resolved

[2021-12-09 22:44] #2726 closed

[2021-12-17 13:44] zainab-ali opened #2757 "`observe` stream may be cancelled for successful output streams"
This was raised following [a discussion in discord](https://discord.com/channels/632277896739946517/632310980449402880/920359666960171018).

The completion behaviour of `observe` has changed to be less deterministic.

[code]

`observe` constructs a stream from the `inputStream` and `observerPipe` (let's term this the observer stream) and runs this concurrently to the `outputStream`.

Previously, t

[2021-12-18 13:39] SystemFw commented on #2757
I think I'd like to see the old behaviour back unless someone offers a compelling reason against it

[2021-12-21 13:41] LLCampos opened #2762 "Unexpected behaviors around the use of Pull (part II)"
[code]

Similar to https://github.com/typelevel/fs2/issues/2717.

[code]

I would expect `pipeFailure` and `pipeSuccess` to be equivalent, but they don't seem to be in this scenario?

1a) If I use `pipeFailure`, nothing is logged.
1b) If I use `pipeSuccess`, `(a,0)` is logged

I also would expect `Stream.emit(1).map(Left(_))` to be equivalent to `Stream.emit(Left(1))` but, using `pipeFailure`:

2a

[2021-12-21 18:29] mpilquist commented on #2762
Confirmed same as @nikiforo - appears to work fine with v3.2.3:

[code]

[2021-12-21 18:58] LLCampos commented on #2762
Argh, yeah, I now tried to run it in the terminal and things work as expected there. The issue was that, for some reason, IntelliJ runner insisted in using the buggy version - I had to manually delete the buggy .jar from `/.cache/coursier/` to force it to use what was actually defined in `build.sbt`. :imp:

[2021-12-22 14:36] LLCampos commented on #2762
@mpilquist @nikiforo I still see unexpected behavior in `3.2.3`. Updated the example above.

[2021-12-22 14:50] mpilquist commented on #2762
Replacing the final `evalMap` with `flatMap(a => Stream.eval(IO(a)))` results in same early exit behavior. Replacing the `evalMap` with `flatMap(a => Stream(a))` works fine though. Seems like `Stream.eval` call is being evaluated in an interrupted scope (likely the one from the `zipWith`). Probably need to figure out how that interrupted scope is getting restored.

@LLCampos I'm curious about your

[2021-12-22 15:02] LLCampos commented on #2762
Yup, it's coming up in a real program! :smiling_face_with_tear:

[2021-12-22 15:41] mpilquist commented on #2762
Here's a minimization:

[code]

[2021-12-22 15:45] mpilquist commented on #2762
Fixed in https://github.com/typelevel/fs2/pull/2763

[2021-12-22 18:03] mpilquist commented on #2757
Agreed that the old behavior would be better. Thanks for tracking this down!

[2021-12-23 10:39] zainab-ali commented on #2757
Thanks! I'll make a start on a PR.

[2021-12-23 13:44] #2762 closed

[2021-12-23 15:49] mpilquist commented on #2762
@LLCampos Can you give 3.2-51-ebb169f a try in your full program?

[2021-12-24 08:58] LLCampos commented on #2762
@mpilquist, the integration test that was failing is now passing!

[2021-12-24 15:58] ChristopherDavenport opened #2770 "Unix Socket SigInt fails resource cleanup"
Most Recent version.

https://gist.github.com/ChristopherDavenport/2c7eb99d454335b156b5db6f5f4d0fc2

Summary: When calling a unix socket and the application is terminated via a SigInt, I would expect resource finalizers to work. Instead it appears that the jvm may somehow already have killed the socket and when the resource finalizers run that the unix socket is already dead.

On the Server side o

[2021-12-24 18:12] zainab-ali commented on #2757
This was fixed in #2765.

[2021-12-24 18:12] #2757 closed

[2021-12-26 22:27] diesalbla commented on #2770
So, it may be useful for this bug to know the context in which this bug happened. Namely, the JDK version (8, 11, 16, or 17), the Java Virtual Machine implementation (GraalVM, Adopt OpenJDK, etc), the operating system, and the version of Scala on which the Gist was run, so as to pick the source files involved here.

For the `UnixSockets`, I can see the [interface declaration](https://github.com/ty

[2021-12-27 18:56] armanbilge opened #2777 "Replace the auto-generated Node.js facade with a hand-maintained facade"
Discussed with @mpilquist today in Discord. The auto-generated Scalably Typed facade has served well, especially during the development of fs2.io.js. However, now that things are stable, the advantages of auto-generation are possibly out-weighed by its downsides:
1. 700+ auto-generated files, of which we use only a small fraction.
2. A Scala.js bundler dependency, which creates 8000 lines of lockf

[2021-12-28 13:08] zainab-ali opened #2778 "`observe` could be simplified"
This is a follow up of https://github.com/typelevel/fs2/pull/2765.

I think it's possible to simplify the implementation of `observe` to use a single channel instead of two, as demonstrated in [this branch](https://github.com/typelevel/fs2/compare/main...zainab-ali:observe-reworked).

@diesalbla also raised the question of how observe should behave for non-standard pipes, and whether the current i

[2021-12-29 11:20] diesalbla commented on #2778
So, some doubts I had about `observe` that the current code has clarified:

In the definition of the `sinkOut` stream, to which the `pipe` is applied, we have `Pull.output(ch) >> Pull.eval(outChan.send(ch)) >> go(rest)`; so `ch` is sent to the output channel _after_ it is sent to the pipe, and after the pipe is done processing `ch`. Thus, it is the _observer_ pipe that can pull chunks ahead of the

[2022-01-03 19:33] nikiforo opened #2785 "onFinalize kicks in before the stream in completed."
Download branch: https://github.com/yurique/fs2/tree/feature/js-compression-platform
`sbt coreJVM/testOnly fs2.JvmCompressionSuite`
Notice that suite passes.

uncomment `onFinalize`, comment out the workaround `.flatMap` and `.handleErrorWith` here: https://github.com/typelevel/fs2/blob/a7843d07e38af28d784dee6db67e94d35ada7ea3/core/jvm/src/main/scala/fs2/compression/CompressionPlatform.scala#L350

[2022-01-03 19:41] nikiforo commented on #2785
Some minimization:
Take Compression platform that fails, run this code:
[code]
It fails some times, while completes during other runs. When it completes, sbt prints these warnings:
[code]

If you comment out `.rechunkRandomly(0.1, 2)` and insert chunks that you've previously collected from line (**) the issue won't manifest itself.

[2022-01-03 20:18] mpilquist commented on #2785
The inflater stream is compiled and evaluated twice -- once in the implementation of `setTrailerChunk` and once in the main stream. This results in the finalizer running twice. The inflation should be refactored to avoid the need for dual compilation.

[2022-01-03 20:52] nikiforo commented on #2785
`onComplete` or `flatMap` and `handleError` changed the behavior, because they are not guaranteed to run.

In minimization `.rechunkRandomly(0.1, 2)` interferes with the problem, because `setTrailerChunk` is only called when `inflateChunk` returns a `Some`. That contributes to probabilistic results of the minimization.

[2022-01-04 09:26] yurique commented on #2785
So I tried two things:
1. eliminate the inner stream compilation: https://github.com/yurique/fs2/tree/feature/js-compression-platform-no-inner-compile ( [code](https://github.com/yurique/fs2/blob/feature/js-compression-platform-no-inner-compile/core/jvm/src/main/scala/fs2/compression/CompressionPlatform.scala#L265-L348) )
2. use `Pull.bracketCase`: https://github.com/yurique/fs2/tree/feature/js-co

[2022-01-04 11:09] nikiforo commented on #2785
[code]
This raises error. If you comment out (*), it won't 🤷

[2022-01-04 11:57] mpilquist commented on #2785
I can take a closer look at the implementation but I strongly suspect the inner stream compilation needs to go even if you can get the tests passing (if the inner stream ends up capturing the tail of the outer stream the way it was yesterday). E.g., what if the stream being inflated has its own resources? Those may be released twice then.

[2022-01-04 12:16] yurique commented on #2785
Can you clarify which compilation you mean here? I've removed the `.compile` completely, the structure right now is like this:

[code]

[2022-01-04 12:36] nikiforo commented on #2785
If you decide to look, [this](https://github.com/nikiforo/fs2/blob/js-compression/core/jvm/src/main/scala/fs2/compression/Issue2785.scala#L119) version prints:
[code]
and fails with the error

[2022-01-04 14:56] mpilquist commented on #2785
Here's a minimization modeled after the gunzip code, where the `debugChunks` call results in the finalizer getting run before the `case None` in `p1`. Note `p2` is necessary to cause the inversion -- without `p2` things work as expected. So this is likely a case where scope tree ends up messed up somehow and a scope is closed earlier than expected.

[code]

[2022-01-04 18:11] mpilquist commented on #2785
Replacing `debugChunks()` with `flatMap(i => Stream(i))` results in correct behavior whereas `flatMap(i => Stream(i)).interruptScope` fails in same was as with `debugChunks()`.

[2022-01-04 18:26] mpilquist commented on #2785
I confirmed this same behavior as far back as fs2 2.0.0

[2022-01-05 22:25] zainab-ali commented on #2778
Thanks for clarifying @diesalbla , I'll leave out the `onFinalize` changes.

I'm a bit cautious of the refactoring, so am taking a bit of a digression to model this in PlusCal to find the interesting edge cases. I'll let you know what I find.

[2022-01-07 23:51] mpilquist commented on #2785
Using the following:

[code]

The following works:

[code]

And this fails:
[code]

The key difference is `SucceedScope` which closes off a whole scope subtree (consisting of a child scope that has the allocated resource).

Note this is using a locally modified interpreter that prints each node as its interpreted along with the current scope id.

[2022-01-08 16:19] mpilquist commented on #2785
Here's a slightly further minimization:

[code]

This snippet, like all the others in this issue, make the assumption that in a program with structure:

[code]

...that `f` always sees the allocated resource `r` as open / non-finalized. This isn't true though - consider `++`, which is implemented as `pull.echo.flatMap(_ => that.pull.echo)`. If the assumption above held in general, then all resourc

[2022-01-09 11:52] yurique commented on #2785
@mpilquist thanks so much for the analysis and the explanation! 🙇  🙂

[2022-01-13 13:24] #2785 closed

[2022-01-19 19:16] zainab-ali commented on #2778
Apologies for the delay, I've had a lot of fun modeling this with TLA+ and PlusCal. It took a bit of effort to model the different state changes, including interruptions and error states, but I think it was worthwhile.

It turns out that there's at least one difference in behaviour between the proposed and current code. The proposed code swallows errors if the observer handles them. In the followi

[2022-01-31 17:33] dzanot opened #2807 "`Stream.groupWithin` swallowing errors when using `EitherT` effect."
When calling `groupWithin` on a `Stream[EitherT[F, A, *], B]` The stream halts on the first left, but completes with a success of the elements up to the left. This behavior is different than the case with `IO.raiseError`: In this case the stream completes as a failure as expected.

Scastie showing minimal example: https://scastie.scala-lang.org/9jBkYj3QSZqKFvN5uPSVtw

[2022-02-03 20:45] SystemFw commented on #2778
@zainab-ali Agreed on leaving the code as is given your discoveries.
I'm going to close this for now, but thank you much, and I'd _love_ to watch a talk/read a blog about the exploration with PlusCal :)

[2022-02-03 20:45] #2778 closed

[2022-02-10 21:02] mrdziuban opened #2821 "Accumulated `cats.data.WriterT` data not preserved from function passed to `fs2.io.readOutputStream`"
When using `fs2.io.readOutputStream` in combination with an effect type that uses `cats.data.WriterT`, any data accumulated in the function passed to `fs2.io.readOutputStream` is not preserved. For example, I would expect the list of strings produced by this code to include both `"string 1"` and `"string 2"`, but I only get `"string 2"`:

[code]

I can reproduce the issue using this code (availabl

[2022-02-11 20:17] mrdziuban commented on #2821
Further investigation leads me to believe this is an issue with `Stream#concurrently`. Here's another minimal reproduction that doesn't use `readOutputStream`:

[code]

[2022-02-11 20:46] mpilquist commented on #2821
IIRC this is due to an issue with the Concurrent instance for WriterT. /cc @djspiewak

[2022-02-12 09:06] vasilmkd commented on #2821
Does `concurrently` use `forceR` (`!>`) somewhere internally? If it does, that operator is known for not continuing `Writer` log chains and `State` state changes.

[2022-02-16 17:04] wjoel opened #2825 "parEvalMapUnordered and friends can deadlock on exceptions in fs2 3.x, but not in fs2 2.x"
The following program gets stuck (deadlocks, never terminates) on fs2 3.2.4, but immediately finishes with an exception on fs2 2.5.10:

[code]
The program also finishes (with an exception) on fs2 3.2.4 if we change `maxConcurrent` to 1, or use `IO.raiseError` instead of `throw`.

I don't think this is expected behavior, and that it should work the same as in fs2 2.x. Although we should ideally not

[2022-02-16 17:09] wjoel commented on #2825
Fiber trace:
[code]

[2022-02-16 17:14] armanbilge commented on #2825
https://github.com/typelevel/fs2/blob/92db3c33b220cbfb11d28b850ab1cfdf0452a53c/core/shared/src/main/scala/fs2/Stream.scala#L2141-L2143

[2022-02-16 17:23] wjoel commented on #2825
A workaround (almost obvious since `IO.raiseError` works) is:
[code]

[2022-02-16 17:34] armanbilge commented on #2825
I think the problem is that `f(el)` throws before returning, and thus isn't caught by the `attempt`.

https://github.com/typelevel/fs2/blob/92db3c33b220cbfb11d28b850ab1cfdf0452a53c/core/shared/src/main/scala/fs2/Stream.scala#L2126-L2127

[2022-02-16 22:22] Daenyth commented on #2825
A more convenient way would be to do `i => IO(explodeIf1(i))`

[2022-02-17 06:57] wjoel commented on #2825
I think it would have to be `IO(explodeIf(i)).flatten`, as Arman said elsewhere. In this example we return `IO.unit`, but that could have been `IO.println(int.toString)`, and we shouldn't wrap in IO twice either way.

[2022-02-17 08:37] armanbilge commented on #2825
That's the thing, actually you _should_ :) In general, unless it is one of a handful of methods designated for catching thrown exceptions (off the top of my head, I think `IO(...)`, `F.delay`, `F.blocking`, `F.async`, `F.catchNonFatal`), it is not in any method's contract to automatically catch errors within the `IO`/`F`, and you can't rely on this to work. I'll echo Fabio from Discord:

The other

[2022-02-17 11:11] wjoel commented on #2825
I mean... no? This doesn't print anything (having changed the `nums` to start at `2`, so no exception), obviously, so it's not the program I want:
[code]

If we include `1` again, sure it catches the exception, but that's kind of missing the point, as we're now evaluating `IO(IO(...))` and just get back a pure `IO` which never gets evaluated. `i => IO(explodeIf1(i)).flatten` does work, as mentione

[2022-02-17 11:19] armanbilge commented on #2825
Sorry, I wasn't specific enough: you should wrap _and_ flatten :) (or more generally, you should always wrap any exception-throwing code and adjust your program as necessary to preserve the semantics you want).

I would say it's "ok", because semantics are undefined anyway if you violate the contract of the method.

_However_ I wasn't aware that the docs say that. If that is intentional and not ou

[2022-02-19 14:47] #2825 closed

[2022-02-21 14:21] Daenyth commented on #2825
That's because it's incorrect - in fact, the compiler emits a warning about this error. Always compile with `-Ywarn-value-discard` on. This is set automatically by the sbt-tpolecat plugin, which turns on a lot of valuable lints for you, so you don't have to track which options apply to which versions of scala. But always use that warning
https://scastie.scala-lang.org/Zsx9UylTQrKuhf2MU99xxg

This

[2022-03-02 23:51] mpilquist opened #2835 "Audit class tag comparisons in Chunk and fix unnecessary copying"
This should be true:
[code]

It's not b/c the class tag comparison which skips the copy is wrong -- it's comparing the class tag of the element type (byte) with the class of `as` (ArraySlice). There appear to be other nonsensical comparisons of class tags so let's audit all of these and ensure  they are comparing the right things.

[2022-03-07 18:58] Swoorup opened #2840 "Exception escaping recover block using timed pull?"
Using a timed pull to detect idle interval, and restart on exception it appears that exception sometimes escapes the recover block leaking out to IO.

I am not sure why this happens.
* Scala - 3.1.1
* fs2 - 3.2.5

## Repro

The following ideally should never throw an exception.

[Scastie](https://scastie.scala-lang.org/yWE0D8mDSMWS2LffzVR2Ag), is much appreciated!

[2022-03-09 11:41] armanbilge opened #2842 "Counter-intuitive behavior with `interruptScope` and `IOLocal`s"
Context: https://github.com/armanbilge/bayou/issues/1#issuecomment-1062827082

[code]

[2022-03-09 12:13] armanbilge commented on #2842
Thanks to Diego and Michael, we find our way to the `eval` on `InterruptContext`:
https://github.com/typelevel/fs2/blob/2cd21afc6d75445c93d5fa7c2a775c79e151c430/core/shared/src/main/scala/fs2/internal/InterruptContext.scala#L87-L95

Because the effect `fa` is raced, it runs on its own fiber which means any changes to local state are local to its own fiber and subsequently discarded.

There's some

[2022-03-09 12:50] armanbilge commented on #2842
I asked if we can designate a portion of the `Stream` as non-interruptible, and Michael thinks this should be possible to implement.

https://discord.com/channels/632277896739946517/839257183782436945/951095281619976272

The relevant region of code, which already describes the existing states.

https://github.com/typelevel/fs2/blob/2cd21afc6d75445c93d5fa7c2a775c79e151c430/core/shared/src/main/scal

[2022-03-14 10:25] RobertoUa commented on #2060
I've implemented `groupWeighedWithin` based on Timed Pull
https://gist.github.com/RobertoUa/189d6ccd3aa82021ed9f22af145c1bca

One question though. Is it possible to push buffered items downstream on stream interruption/cats-effect cancelation? And make that downstream uncancellable?

[2022-03-19 15:39] djspiewak opened #2852 "Reimplement `Channel` in terms of `Queue`"
It's very unclear that `Channel` is actually meaningfully faster than an implementation based directly on Cats Effect's `Queue`. More importantly, since `Queue` is now being optimized substantially, `Channel` should probably lean on that primitive rather than its own data structures so as to inherit the performance gains. This will be particularly dramatic when typelevel/cats-effect#2890 is comple

[2022-03-29 06:39] gwils opened #2861 "Pull#mapOutput deleted between 2.5.10 and 3.0.0"
I'm trying to upgrade an application from fs2 2.5.10 to 3.2.5, and the method Pull#mapOutput has disappeared. It seems to have been deleted in [this commit](https://github.com/typelevel/fs2/commit/ed2cd9ac9bded8daf336ae20c64249c6e6c80cd1) with no user-accessible replacement. As far as I can tell, there is no way to affect the output of a Pull without converting it to a Stream, but I can't do that

[2022-04-02 09:53] davesmith00000 opened #2866 "Documentation: Add information about `Channel`"
@armanbilge Has pointed me in the direction of `Channel` as the primitive type I may be after.

Channel certainly appears in the API reference, but it might be nice to briefly mention it in the main docs - possibly next to `Topic`?

[2022-04-03 18:05] bplommer opened #2868 "Move `INothing` and `Pure` definitions to Cats"
Because these types are defined as inequalities, separate identical definitions of them aren't unified by the compiler - therefore, other users of these types need to refer to fs2's definitions of them in order to interoperate with fs2, even though they're not intrinsically specific to fs2. See https://github.com/typelevel/cats/pull/4158 - for the cats PR to be effective, fs2 will need to define t

[2022-04-05 12:00] bplommer commented on #2868
Closing per discussion on the cats issue

[2022-04-05 12:00] #2868 closed

[2022-04-27 05:11] hepin1989 commented on #2178
Hi team, is there an update about this, thanks.

[2022-04-27 14:03] diesalbla commented on #2178
I have retried the benchmarks today, on my local laptop, with current `main` branch:

[code]

[2022-05-17 13:45] vlushn opened #2903 "`Stream.fromBlockingIterator` is never interruptible"
fs2 version 3.2.7 (but this should affect all recent versions prior also).

There is no tweak to create an interruptible stream from a scala iterator. `Stream.fromBlockingIterator` is not sufficient:

[code]

[scastie](https://scastie.scala-lang.org/fzHAe8OtQ1SVJfoiTm385Q)

I guess the fix would be to allow to create an interruptible iterator, but I would assume that lowers performance.

[2022-05-17 13:48] armanbilge commented on #2903
Seems like we just need to add a third mode here, that uses `F.interruptible` (and also `F.interruptibleMany`?)
https://github.com/typelevel/fs2/blob/a40ab048ee1a8aa807861b132cb80e43b01fbf7c/core/shared/src/main/scala/fs2/Stream.scala#L3303

[2022-05-20 12:25] wb14123 opened #2904 "Document for 2.x version?"
The official guide on fs2 website (https://fs2.io) only has the latest version. I cannot upgrade to cats effect 3 now. Where can I find the guide for 2.X version?

[2022-05-20 12:27] armanbilge commented on #2904
It's not as nice, but it continues to live here :)
https://github.com/typelevel/fs2/tree/series/2.5.x/site

[2022-05-26 16:53] mrdziuban opened #2908 "Memory leak when using WriterT"
I'm experiencing a memory leak on the latest v3.2.7 when using an effect type that includes `WriterT`. I've put together a repository to reproduce the issue and to demonstrate that it doesn't happen when using plain `IO` -- https://github.com/mrdziuban/fs2-WriterT-memory

Here's a minimized example to reproduce the issue:

[code]

Also in a scastie here: https://scastie.scala-lang.org/mrdziuban/o8

[2022-06-06 16:49] armanbilge opened #2921 "Switch to `bigint` based Node.js APIs"
If `Long.MaxValue` is passed to `Files[IO].readRange` we get:

[code]
9007199254740991 is aka  [MAX_SAFE_INTEGER](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Number/MAX_SAFE_INTEGER).

However, there are APIs that can work with `bigint` instead:
https://nodejs.org/api/fs.html#fsreadfd-buffer-offset-length-position-callback

[2022-06-08 11:42] #2777 closed

[2022-06-08 11:58] #2904 closed

[2022-06-14 14:56] Swoorup opened #2927 "Type inference failing 3.2.8"
Before 3.2.8 the following used to compile as is:

[code]

Scastie link: https://scastie.scala-lang.org/4JW4H1XbQHWYh8BjScmfxw

The compiler error:

[code]

This can now be fixed by manually specifying the types by changing the last line to:
[code]

[2022-06-15 13:01] mpilquist commented on #2927
Haven't had a chance to check yet but I suspect this is caused by https://github.com/typelevel/fs2/commit/4ee6fbab6df32bc8613dceba5a8fef5f9723f433

[2022-06-15 13:02] mpilquist commented on #2927
Might also be related to https://github.com/lampepfl/dotty/issues/14640

[2022-06-20 15:52] seigert opened #2929 "'.pauseWhen' does not respect pause signal if there is was no data available"
The code below should just produce timeout, but it also prints `1` despite the fact that value was produced _after_ pause:

[code]

FS2: 3.2.7 & 3.2.8
Scatie link: https://scastie.scala-lang.org/ZxOocFhHTK6RjuvlQ57ulw

I think, it could be fixed with either a double-checking pause state in `chunks.flatMap(...)` or a custom pull stage that races between next chunk pull and pause signal.

[2022-06-24 19:19] armanbilge opened #2931 "`raiseError` causes `writeOutputStream` to hang"
H/t to @bpholt for the original minimization in https://github.com/Dwolla/fs2-hang-repro

[code]

[2022-06-24 19:24] armanbilge commented on #2931
[code]

[2022-06-24 19:41] armanbilge commented on #2931
I'm not really sure if this counts because of the `never`, but note that this also hangs.
[code]

[2022-06-25 03:02] armanbilge commented on #2931
Seems to be an issue with `readOutputStream`; minimized to:

[code]

[2022-06-25 03:54] armanbilge commented on #2931
Ok, so this is becoming a freaky one ... I narrowed it down to `concurrently`, but now I think it might be `guaranteeCase` issue ...

Specifically, via `println` debugging I can verify that the `case _ =>` is entered (with a `Cancelled` outcome). _However_, there is no evidence the `backResult.complete(...)` is executing, nor any other suspended println I place there.
https://github.com/typelevel/

[2022-06-25 07:04] armanbilge commented on #2931
As with all bugs, we now come full circle 😂 nothing is wrong with `guaranteeCase` or `concurrently`.

In my minimization in https://github.com/typelevel/fs2/issues/2931#issuecomment-1166178293, changing the `IO.blocking` to `IO.interruptible` fixes the hang. A strategically placed interruptible in `writeOutputStream` also fixes my original minimizer https://github.com/typelevel/fs2/issues/2931#iss

[2022-06-26 11:32] diesalbla commented on #2927
@mpilquist Should we, for the sake of usability (type inference) revert the commit in question?

[2022-06-26 11:34] diesalbla commented on #2908
@mrdziuban Good morning, and thanks for reporting this. One clarification: when you mention that it happens in the latest version `v3.2.7`, does that mean it does not happen in the previous version `v3.2.5`? I will try to `git bisect` this.

[2022-06-27 17:10] mrdziuban commented on #2908
Hi @diesalbla, thanks for looking into this! Sorry for the confusion in my wording -- I just tested and it happens in `v3.2.5`, `v3.0.0`, and `v2.5.11` (latest in the `2.x` series), so I don't think it's a new issue.

[2022-06-29 14:04] Swoorup opened #2936 "Resource finalization out of order when using with concurrent stream."
It appears that resource finalizer is not being called correctly in order. In this simple example, almost all runs I did, the finalizer gets called before the last `.use` statement

Version: 3.2.8

[code]

Output:
[code]

https://scastie.scala-lang.org/NmxxGQjXREyyA3RflV9nqA

[2022-06-29 14:18] diesalbla commented on #2936
I have checked the test in `scastie`. I have also tried changing versions, and it already happens with versions `2.5.1` and `2.5.6` of `fs2` and `cats-effect`.

[2022-06-29 15:19] nikiforo commented on #2747
Yes, there are actually two distinct cases - the first example and the other two. Now all of them make sense to me. Thanks!

[2022-06-29 15:19] #2747 closed

[2022-07-01 12:32] #2931 closed

[2022-07-08 06:47] hamnis opened #2939 "Possible binary compability problem on fs2-3.2.9 on Scala 2.12"
I was upgrading http4s-netty and found this while testing:

java.lang.NoSuchMethodError: 'fs2.Stream fs2.Stream$PartiallyAppliedFromIterator$.apply$extension(boolean, scala.collection.Iterator, int, cats.effect.kernel.Sync)'
    at org.http4s.jdkhttpclient.JdkHttpClient$.$anonfun$apply$17(JdkHttpClient.scala:229)

This works on fs2 3.2.8

[2022-07-08 09:43] armanbilge commented on #2939
Woops, thanks, I know what happened. But why didn't MiMa catch it :(

[2022-07-08 12:35] #2939 closed

[2022-07-17 15:30] armanbilge opened #2949 "Support glob patterns in fs2-io.js"
Opening this issue to track and see if anybody wants it. We didn't support it initially, because it requires JDK APIs not implemented in Scala.js..

https://github.com/typelevel/fs2/blob/a5566a6ff56fcba4f50896fdb32d54541f9c9ba5/io/shared/src/main/scala/fs2/io/file/Files.scala#L40-L41

However, Scala Native has re-implemented globs in pure Scala. So in theory we should be able to inline that code a

[2022-07-23 04:23] armanbilge commented on #2319
I started some preliminary investigation in https://github.com/armanbilge/fs2/commit/20a1dbb0159105c9e37106aa1e1b52bd74102863 based on https://github.com/typelevel/cats-effect/pull/3057.

Crossing fs2-core is straightforward.
- porting `java.util.zip.InflaterOutputStream` to Scala Native would unblock compression

fs2-io is a lot more work. I focused only on the `fs2.io.file` package for now.
- `j

[2022-07-28 14:17] Swoorup commented on #2929
lately I am seeing some rare concurrent and timeout related issues every once in a while like this in tests as well as running on prob, probably related.

[2022-08-06 07:46] floating-cat opened #2960 "Time Series should use the `IO.monotonic` under the hood?"
fs2 version: 3.2.11
Steps:

1. Run below code.
2. Change system time backward (e.g. in Linux `sudo date --set='-10 seconds'`)
[code]

Current Result:
The code doesn't print any output because the time is backward and all values are dropped in these 10 seconds.

Expect Result:
All values including the tick signals are emitted.

Use cases:
In a client app, the user could change the time if their sys

[2022-08-08 14:43] mpilquist commented on #2960
@floating-cat Any thoughts on the approach in #2961? In essence, we provide either option to folks. We can't switch to monotonic time without significantly breaking client code.

[2022-08-08 14:54] djspiewak commented on #2960
As a note, `monotonic` is definitely intended for this type of case. It seems that the expectation when the code was written is that system time itself is also monotonic, and as the OP demonstrates, situations where this is not the case will in fact break.

I would recommend swapping to `monotonic` and adjusting it by the offset to `realTime` at stream start so as to get monotonicity without break

[2022-08-08 15:07] mpilquist commented on #2960
@djspiewak I wrote the original, where the timestamp was used on a user interface. In the case of system time adjustments, we were okay with dropping data from `reorderLocally`, which used a small window size (typically a second, just to account for merging various sources that all used system time as their reference).

[2022-08-08 15:12] djspiewak commented on #2960
@mpilquist so the thought then is that the drift as system time adjusts is intentional and desirable? If that's the case then I'm aligned with your prior conclusion that we should just have both. 🙂 Swapping to `realTime` directly would be good though.

[2022-08-09 08:46] floating-cat commented on #2960
@mpilquist Hi, the approach in #2961 is good to me. The Swapping to `realTime` way is also fine to me.
Thanks for taking a look at this issue and creating a related PR so fast!

[2022-08-09 11:47] #2960 closed

[2022-08-11 11:27] TimWSpence opened #2963 "Weird interaction between cancelation and interrruptWhen"
See https://github.com/typelevel/fs2/pull/2962 for a failing test. Removing the `interruptWhen` makes the test pass

[2022-08-11 11:43] TimWSpence commented on #2963
I can't assign it to myself but I will look into it!

[2022-08-12 12:55] mpilquist commented on #2963
Fixed in #2962

[2022-08-12 12:55] #2963 closed

[2022-08-14 14:52] allter opened #2966 "Stream.resource/Stream.bracket release action is not being completed when stream is interrupted"
When lifting Resource to Stream using Stream.resource, or when using Stream.bracket, then "acquire" action is treated correctly, but "release" action is not.

The expected behaviour is that when interrupting stream execution, the Resource/bracket release actions are executed without interruption before advancing to other stream finalizers.

The actual behavior is that other stream finalizers run i

[2022-08-14 16:25] armanbilge commented on #2966
Here's a further minification.

[code]

[code]

[2022-08-15 10:13] diesalbla commented on #2966
@allter Could you also try this bug example in previous versions of `fs2`, to see if the behaviour changes? That could allow us to pinpoint the changes that may have caused it.

[2022-08-15 11:07] allter commented on #2966
I tested this on different versions of fs2/cats-effect and target IOs. release action did not work anywhere without parJoin. There was numerous cases where acquire action did not work too (e.g. fs2 2.5.11 + latest CE2 IO/monix Task, but not zio 1.0.16), but I think that it's because of wrongly implemented CE typeclasses for that IOs.

I did not try to check with ZIO+CE3 yet since i haven't them in

[2022-08-15 16:47] mpilquist commented on #2966
In @armanbilge's original reproduction, note that the stream is already being finalized, and the timeout is then being applied to waiting for finalization.

[code]

If we instead cancel the program while the stream is still running, we get the expected back pressure:

[code]

[2022-08-15 16:51] mpilquist commented on #2966
@armanbilge This example appears to have the correct behavior:
[code]

[2022-08-15 16:53] armanbilge commented on #2966
Are you sure? I don't see the "released" `println`. Compare with:
[code]

[2022-08-15 16:59] mpilquist commented on #2966
Run just this and see that there's nothing printed:

[code]

[2022-08-15 17:01] armanbilge commented on #2966
Sure, but that's not part of a resource release. Is `Stream.bracket` not supposed to behave like `Resource.make`? What about lifting a `Resource` into a stream? AFAIU release should be uncancelable.

[2022-08-15 17:25] #2966 closed

[2022-08-27 07:30] floating-cat opened #2969 "The instances allocated in the `Stream#flatmap` are referenced in the `Pull#BindBind` which can't be GCed before the whole Stream ends"
fs2 version: 3.0.3 and 3.2.12
Full reproduction code: https://github.com/floating-cat/fs2-netty/tree/memory_leak
Related code line: https://github.com/floating-cat/fs2-netty/blob/memory_leak/core/src/main/scala/fs2/netty/SocketHandler.scala#L59-L64

Steps:
1. Clone the whole project above.
2. Run `src/main/scala/fs2/netty/benchmarks/echo/Fs2Netty.scala` with host and port arguments for listening.

[2022-08-31 12:13] mpilquist commented on #2969
The issue appears to be caused by `reads` being defined as a `lazy val`. Changing it to a `def` avoids the leak. Here's a small reproduction (which can be placed at the bottom of `MemoryLeakSpec.scala` and run from SBT via `coreJVM/IntegrationTest/test`).

[2022-09-01 13:14] mpilquist commented on #2969
Next step is getting a test case added to `MemoryLeakSpec.scala` that reliably reproduces the issue. If anyone is successful in doing so, please post here, thanks!

[2022-09-06 13:44] floating-cat commented on #2969
@mpilquist Hi, I have found a simple test case based your example below:

[code]

This issue is not related to `lazy val` vs `def`. I tried to use the `def` in my original code and have this issue too.
But it seems related to `Stream.bracketFull`.
If I use the `Stream.eval(IO(largeChunk))` instead, I don't have this problem.

[2022-09-06 13:49] floating-cat commented on #2969
also cc @diesalbla. I saw that you need a test in #2970. I have one in the above comment.

[2022-09-06 14:20] floating-cat commented on #2969
I have rechecked my test code and original code. This is my mistake. I forget that I use the `Stream.bracketFull` and its `flatmap` here so it still holds the reference and causes the memory leak.
So I am closing this issue.

[2022-09-06 14:20] #2969 closed

[2022-09-07 12:26] keynmol opened #2973 "Akka Streams comparison and migration guide"
See https://github.com/http4s/http4s/issues/6655 as well

In light of recent events, folks might start looking for Akka Streams alternatives, so a guide with key differences and example rewrites could be helpful.

[2022-09-08 16:52] r-glyde opened #2974 "Provide StreamWithContext variant"
Kind of just gauging if there would be interest in this. We've found the approach useful before in akka streams so not sure if others would find it useful here or not.

The idea would be to define something like a `StreamWithContext[F[_], O, Ctx]` where most operations only work on the `O` and the `Ctx` is propagated through automatically.

Rough example of how this could be used with something li

[2022-09-08 17:37] armanbilge commented on #2974
So with `cats.data.Nested` you can already do this for `.map` at least. I wonder if there's a way we can extend this to work for other combinators such as `.mapAsync`.

[code]

[2022-09-10 23:20] armanbilge commented on #2319
PR is up at https://github.com/typelevel/fs2/pull/2975.

[2022-09-12 13:26] ValdemarGr commented on #2974
You could also use `Kleisli` as your `F`:
[code]

If you're looking for a more through solution, consider instead using a tagless algebra (other libraries do this, such as https://github.com/tpolecat/natchez).

[code]
With the algebra implementation for `Kleisli`.
[code]

Note, if you use `IO` you could consider using `IOLocal` https://github.com/typelevel/cats-effect/blob/79a5462a2fe5b13f91feeedf

[2022-09-15 12:12] #2319 closed

[2022-09-17 17:05] Koroeskohr opened #2983 "Using the client to decode Server Sent Events misbehaves on both JVM and JS"
Re: https://discord.com/channels/632277896739946517/632286375311573032/1020733581703786608

Repro: https://gist.github.com/Koroeskohr/facf22a21bb955d1df6cac384ac811bc
`scala-cli test https://gist.github.com/Koroeskohr/facf22a21bb955d1df6cac384ac811bc`

As discussed with @armanbilge, we observed on both JVM and JS two different wrong behaviours, the JVM will throw a `ClosedChannelException`, the JS

[2022-09-17 17:07] Koroeskohr commented on #2983
meant to post that to http4s sorry :D

[2022-09-17 17:07] #2983 closed

[2022-09-18 14:28] He-Pin opened #2985 "Make `init:S` a by name parameter in `mapAccumulate`?"
[code]
to
[code]

[2022-10-04 11:21] ybasket opened #3006 "fs2.text.encode adds too many BOMs for UTF-16"
Reproducer: https://scastie.scala-lang.org/kPRHfJXRQCyB4Y9GYgziVQ

[code]

The `-2, -1` slices are BOMs added as `StandardCharsets.UTF_16` emits them when encoding. Only the first one is valid, the ones at the string boundaries should not be emitted.

[2022-10-04 23:54] dzanot opened #3009 "`compile.to(ByteVector)` sometimes causes `java.lang.ClassCastException` in scala3"
I encountered this in a cross built app and it worked for 2.12/2.13

Here is a [scastie](https://scastie.scala-lang.org/lQww5YvcSamxsZNnB8ot0A) repro from @ChristopherDavenport via Discord

I attempted my own repro before I found Chris's, and `to(ByteVector)` worked in the case I came up with, [for example](https://scastie.scala-lang.org/cW4hcSc1R0SvZk0Iu7kmIQ)

[2022-10-05 00:04] armanbilge commented on #3009
Here's a scala-cli repro

[code]

[2022-10-05 00:48] dzanot commented on #3009
Turns out `Collector` was getting inferred as `Nothing` here https://discord.com/channels/632277896739946517/632310980449402880/1027012526178832404
Not sure if this is still the best place for this issue?

[2022-10-05 02:38] armanbilge commented on #3009
Checkpointing my minimization:
[code]

[2022-10-11 13:20] TomasMikula opened #3011 "StackOverflowError on flatMap of Pure stream to an empty stream"
fs2 version 3.3.0

Reproduction case:

[code]

[2022-10-11 14:12] mpilquist commented on #3011
This worked in 3.0.0 but has failed since 3.1.0 at least. I haven't tried the versions between 3.0.0 and 3.1.0 yet though (and will likely be unable to today).

[2022-10-13 00:24] r-glyde commented on #2974
Thanks for the suggestions will give them a try. Closing the issue as it seems like having a built in solution for this probably wouldn't be very useful to most.

[2022-10-13 00:24] #2974 closed

[2022-10-16 13:10] #3011 closed

[2022-10-17 12:50] #3006 closed

[2022-10-23 17:31] iRevive opened #3025 "[Scala Native] file ops: list with a glob pattern behaves differently"
The list op with a glob pattern does not work on Scala Native platform

The snippet:
[code]

JVM:
[code]

Scala native:
[code]

[2022-10-23 17:33] #3025 closed

[2022-10-23 17:50] iRevive commented on #3025
Apologies. This one was supposed to be in the Scala Native repository. See https://github.com/scala-native/scala-native/issues/2937.

[2022-11-01 02:06] mpilquist opened #3034 "Fix ScalaDoc of Stream.exists"
[code]

In particular, the `@returns` doc is incorrect.

[2022-11-07 14:49] nikiforo opened #3045 "Errors are not always catched with .handleErrorWith"
Take a look at https://github.com/nikiforo/fs21107

The project can be run with `sbt "test:runMain ru.delimobil.FS2Example"`

I expect the execution to continue inifinitely. However it ends with `Errored(java.lang.IllegalArgumentException: TheException)` in tens seconds.

I can minimize the example. I've checked fs2 3.2.4, 3.3.0, both versions end with `Errrored` message

[2022-11-07 16:14] armanbilge commented on #3045
Here's the minimizer with scala-cli.

<details>

[code]

</details>

[2022-11-07 21:02] scott-thomson239 commented on #3045
If no one else is currently having a look at this, can I try and take this on?

[2022-11-07 21:04] armanbilge commented on #3045
Go for it! I played with a little bit this morning. All I discovered was that removing the `parEvalMap` or the `groupWithin` seemed to fix it. If I remember correctly.

[2022-11-08 06:59] nikiforo commented on #3045
I think I excluded `parEvalMap`
[code]

[2022-11-08 16:11] nikiforo commented on #3045
This is CE2 compliant code
[code]

[2022-11-08 17:00] nikiforo commented on #3045
I bisected 2.1.0 ... 2.0.0
[code]

[2022-11-08 21:27] scott-thomson239 commented on #3045
Small update, I had a look but haven't managed to find the exact source of the bug yet. I managed to minimize the example code further to
[code]
I suspect `concurrently` to be the problem since replacing `.concurrently(Stream.raiseError[IO](err))` with `.mergeHaltL(Stream.raiseError[IO](err)).drain` fixes it. The scaladoc of `concurrently` mentions that these are equivalent.

[2022-11-19 14:35] #2921 closed

[2022-11-27 12:22] scott-thomson239 commented on #3045
Sorry this taking so long, I haven't had much luck on the little time I have had available to look at this. For just now I will unassign myself so other people can have a go as well.

[2022-11-27 13:18] diesalbla commented on #3045
@nikiforo Some small minimisations: the `.repeat` of the background process is not needed. This seems correct, since the first failure should cut the execution. Furthermore, the first part of the stream is also not needed.

So instead of
[code]
The bug can be reproduced with just:
[code]

Interestingly, replacing the front-ground stream `Stream()` with `Stream.empty` seems to prevent the error, ap

[2022-11-27 20:43] armanbilge commented on #3045
@diesalbla would you mind posting a complete reproducer? I tried as you said and it does not reproducer for me: the error is caught.

[code]

[2022-11-28 07:32] diesalbla commented on #3045
@armanbilge Here is the modified code:

[code]

This was done using fs2 version 3.4.0. Here are the details of the JVM I used:

[code]

[2022-11-30 07:39] armanbilge opened #3071 "`TopicSuite` is flaking frequently"
[code]

[2022-11-30 08:14] armanbilge commented on #3071
Does anyone know if this test is about _concurrent_ load, or _parallel_ load? If it only needs concurrency, and not true parallelism, it looks like a good candidate for `executeEmbed(...)` to avoid the flakiness.

[2022-11-30 09:40] matkob opened #3072 "Allow for reading from resources in `Files[F[_]]`"
Hi,
In one of the projects I'm working on we've encountered a problem with using `Files` to read from jar resources. We used `Files` to read our configuration files with the hope that they can either be external or internal to the jar.
The idea was to get an arbitrary `Path` and then read the file not getting into details where it comes from. Then we realized it's not as easy as it seems, as readi

[2022-11-30 09:43] armanbilge commented on #3072
There are dedicated methods for reading resources here:
https://www.javadoc.io/doc/co.fs2/fs2-docs_2.13/3.4.0/fs2/io/index.html

[2022-11-30 09:59] matkob commented on #3072
Yes, it does help with reading the resources but doesn't implement other functions, like `walk`, `copy` etc. What I'm proposing is extending `Files` with capability to work on resource files in general.

[2022-11-30 10:03] armanbilge commented on #3072
Ah I see, thanks for clarifying about that.

I have not tried it, but it may already be possible. As discussed in the linked PR, you can create a `FileSystem` for the jar, and then build NIO paths with that file system. Then you can convert those to FS2 paths (which are a wrapper around NIO paths). Then in theory the `Files` methods should work on those paths.

https://docs.oracle.com/javase/8/doc

[2022-11-30 10:04] armanbilge commented on #3072
If it helps, here's an example of how to use a non-default file system with `Files`.
https://github.com/typelevel/fs2/blob/ee338adc2def4fe494531334ed4dadd9c5dc6717/io/jvm/src/test/scala/fs2/io/file/JvmFilesSuite.scala#L31

[2022-11-30 10:24] matkob commented on #3072
Ah, neat! Would you then see this jar file system implementation as part of fs2?

[2022-11-30 10:27] armanbilge commented on #3072
In what way? The implementation is already part of the JDK.
https://docs.oracle.com/javase/8/docs/technotes/guides/io/fsp/zipfilesystemprovider.html

[2022-11-30 10:35] matkob commented on #3072
I'll need to take deeper look into this. My intention is to streamline working with `Files` and jar resources but it might be that `FileSystem` and couple of converters will do the trick. Will get back to you, thanks a lot for the links!

[2022-11-30 12:42] matkob commented on #3072
Okay, I managed to run `Files` using `FileSystem` mounted inside our app's jar.

Indeed there is at least some room for improvement when it comes to converting NIO -> FS2 path or creating FS2 path from `String`. How about extending how fs2 `Path` can be created? Then `Path` could also accept `FileSystem` other than default in the `apply` function. With this and (optionally) some convenience method

[2022-11-30 13:06] mpilquist commented on #3072
A new method like `Path.fromFsPath(fileSystem, "a/b/c")` seems reasonable to me.

[2022-11-30 13:37] matkob commented on #3072
Great, I'm on it then!