[2019-09-21 14:26] mpilquist commented on #1632
BTW, I'm working on this revert now. Should have a PR ready in a bit.

[2019-09-21 15:27] mpilquist commented on #1632
Update: no need to revert #1610. See comments on #1631.

[2019-09-21 16:49] #1632 closed

[2019-09-21 16:50] mpilquist commented on #1625
@epellizzer I just released 2.0.1 -- please give it a try and let us know how it goes.

[2019-09-21 19:03] epellizzer commented on #1625
Cool. I will try next week. Thanks !

[2019-09-22 11:57] epellizzer commented on #1625
I confirm everything is OK with 2.0.1.

[2019-09-22 17:02] diesalbla commented on #1361
After the unification of `FreeC` and `Algebra` into a single ADT, done in #1592, this seems to be no longer relevant.

[2019-09-22 17:02] #1361 closed

[2019-09-25 23:02] Avasil opened #1638 "Reactive streams conversion doesn't cancel upstream if there are no elements processed"
Hello, I feel like there might be an issue with reactive streams conversions:

[code]
It only prints `2: finalize`. Perhaps it is a feature because it is pull-based but it can be a problem for push based stream like `Observable`:

[code]
prints
[code]

I tested on fs2 `2.0.0` and Monix `3.0.0`

The original issue is here: https://github.com/monix/monix/issues/1001 /  https://github.com/megri/http4

[2019-09-30 15:32] Daenyth opened #1641 "Add a combinator for (OutputStream => Unit) => Stream[F, Byte]"
Some java apis accept an `OutputStream` as an input parameter, which they then write to. A combinator that exposes the results of those writes as an fs2 stream is desirable for wrapping such libraries; `(OutputStream => Unit) => Stream[F, Byte]`

I'll PR this to `fs2-io` as I have time, based on my previous work:  https://gist.github.com/Daenyth/9a569040a4333595b2be4019d1bc6b91

[2019-09-30 20:01] Daenyth opened #1643 "[Request] Add NoneTerminatedInspectableQueue"
It looks like the InspectableQueue constructors offer most of the behaviors that the Queue constructors offer, but it doesn't offer `noneBounded` versions - I had a use case recently where this would have been convenient

[2019-09-30 21:33] djspiewak commented on #1641
Should this signature be `(OutputStream => F[Unit]) => Stream[F, Byte]`? Beyond that, I love it. This is a great type signature.

[2019-10-01 14:02] Daenyth commented on #1641
Likely I'll go with the `F[Unit]` version as it's trivial to lift the former to the latter with `Sync` (which you'd need for this structure anyway)

[2019-10-04 12:42] #1527 closed

[2019-10-09 00:45] supperslonic opened #1652 "FS2 Dynamically created subscribers: doesn't receive messages"
I'm using pub-sub pattern in fs2. I dynamically create topics and subscribers while processing a stream of messages. For some reason, my subscribers receive only initial message, but further published messages never get to subscribers
[code]
Subscriber code is simple:
[code]
The output is the following:
[code]
I don't see messages published to existing topic. Also, I'm wondering if there is a bett

[2019-10-09 09:46] SystemFw commented on #1652
Your problem is `Stream.empty concurrently` (the `interruptWhen` there is irrelevant). `Stream.empty` terminates immediately, and `concurrently` interrupts the right hand side when the left terminates

[2019-10-09 09:51] SystemFw commented on #1652
I will try and give you a solution later when I have more time, ping me here or on our sitter

[2019-10-09 12:25] supperslonic commented on #1652
Thank you for the response, I was suspecting that this is not a good solution and might be a cause of the issue, but I didn't find any other solution to make it work. I will appreciate your help.

[2019-10-09 12:43] mpilquist commented on #1652
Another issue is that you're caching the `F[Topic[F, Event]]` instead of a `Topic[F, Event]`.

Given `val topic = Topic[F, Event](message)`, think of `topic` as a factory that constructs a topic each time it's evaluated. To fix, you'd need to evaluate `topic` once (via `Stream.eval`) and cache the result.

One other note -- it appears the `sessions` cache is a mutable map. It can be really hard to

[2019-10-09 13:36] SystemFw commented on #1652
Can I also ask why you are using a `Topic` there? At a quick glance it appears to be only ever be one subscriber per topic, am I missing something?

[2019-10-09 13:56] supperslonic commented on #1652
Yes, there is only one subscriber per topic. Basically, i'm trying to split an incoming stream of messages into sub streams for each dedicated consumer

[2019-10-09 14:02] supperslonic commented on #1652
Totally agree with `F[Topic[F, Event]]`, it is just a version of the code when i was experimenting with different solutions and i forgot to fix this.

[2019-10-09 14:05] SystemFw commented on #1652
Right, you don't need a topic then, just a queue.

The starting point is `Ref[F, immutable.Map[Id, Queue[F]]]`. I will sketch out a prototype in a bit

[2019-10-09 14:07] SystemFw commented on #1652
Oh, do you have any way to know when it's safe to consider a Session over, or alternatively if the number of distinct SessionId is bounded? In the current form, the map keeps growing over time.

[2019-10-09 14:12] supperslonic commented on #1652
Thanks for your help!
We plan to make it bounded (grows from 0 up to N), I was thinking to use Semaphore for that.

[2019-10-09 14:14] SystemFw commented on #1652
That's not (the entirety) of what I mean. Every sessionId creates a new subscriber. If there is never  a notion of "unsubscribe" or "terminate session", the map will keep growing.
Or in another words, if you use a semaphore that you decrement on each subscription, what's the condition for incrementing it?

Btw Semaphores work the other way, start at `N`, block at `0`, unblock when the count grows

[2019-10-09 14:16] supperslonic commented on #1652
Based on a specific message, for example `Quite`, the session is terminated and a new one can be initiated for another client

[2019-10-09 14:19] Daenyth commented on #1652
@supperslonic I was recently working on a `groupBy` structure that I wanted to be more generic, I'll see if I can gist it for you to use as a starting point.

[2019-10-09 14:41] supperslonic commented on #1652
This does look like what I need, thanks! I will try it out

[2019-10-09 14:42] SystemFw commented on #1652
I'm going to close this issue for now, feel free to keep commenting if you need anything else

[2019-10-09 14:42] #1652 closed

[2019-10-09 14:51] Daenyth commented on #1652
@supperslonic I had planned to add a key-bounded version of that grouping structure but realized I didn't need it for my use case. (Envelope math: 10K keys assuming 10 object allocations per key * 16 bytes/obj < 1.6MiB. Assuming 100 object allocations per key at 10K keys <16 MiB)

A structure that terminates the streams just needs a method to decide how to do it, and possibly a lock on updates for

[2019-10-10 00:09] supperslonic commented on #1652
@Daenyth Thanks for sharing the code with me, I have implemented a KeyBoundedKeyedEnqueue, it seems to be working fine except for one thing. For some reason, if i send standard messages and terminate messages (which should remove a queue from map), they behaviour is not determenistic.
[code]
This is a clean  function:
[code]
This is a handling of `Terminate` message:
[code]
Testing stream:
[code]

[2019-10-10 00:30] supperslonic commented on #1652
I actually think the problem is in the way i'm consuming the stream in this code, but I can't understand what is wrong:
[code]
And i just do `compile.drain` to the output of `start` method. Looks like some messages get stuck

[2019-10-11 17:17] Daenyth commented on #1652
Does it still stick if you use `maxSessions + 1` in `parJoin`? I believe what's happening here is that `parJoin` stops pulling from upstream because it has `maxSession` live substreams, so the `groupBy` structure doesn't get pulled, so the eviction doesn't happen - therefore deadlock

[2019-10-11 18:28] supperslonic commented on #1652
I actually managed to make it work, I don't think it was due to `deadlock`, it was more of a race condition. I fixed it by removing the key from the map when enqueing the None element.
[code]

[2019-10-11 18:37] Daenyth commented on #1652
I think you need to use a lock around the state map management because concurrent enqueue aimed at the key you want to remove might enter the map after the `None`, losing the input element. I haven't confirmed this is possible but I also haven't confirmed that is *impossible*. I'm not sure how I'd structure a test to expose that condition yet.

[2019-10-11 19:45] mpilquist opened #1654 "Alternative, efficient, extensible replacement for `to`"
We currently support building a collection from a stream via the `.to` method:

[code]

This uses the stdlib collection building support -- `scala.collection.Factory` in 2.13+:

[code]

Some downsides of this approach:
 - It doesn't support efficiently building a `String` from a `Stream[F, String]`
    - There's no `Factory[String, String]` though we could provide one
    - You can't specify `.to[

[2019-10-11 20:04] Daenyth commented on #1654
I've wanted *exactly* this behavior for a while. I could bikeshed on the naming a little bit, but that could be done later ;)

I think it's worth exposing a `.compile.foldChunks(z)((acc, chunk) => ...)` method. The mutable builder design could still be implemented by that

[2019-10-11 20:24] mpilquist commented on #1654
:+1: Name suggestions welcome. I'm not thrilled with `collect`. I also worry that the API is less discoverable -- e.g., folks might not realize that `.compile.collect(ByteVector)` exists and is efficient.

BTW, we have `.compile.foldChunks` now

[2019-10-12 00:28] mpilquist commented on #1654
OK I opened a draft PR in #1656. I was able to get an overload of `.to` working so we have `s.compile.to(List)` and `s.compile.to(ByteVector)` now, in addition to `s.compile.to[List]`.

[2019-10-13 21:53] tovbinm commented on #1237
I am completely lost on how to troubleshoot this as I am getting a similar error:
[code]

[2019-10-13 21:54] tovbinm commented on #1237
Somehow the Scala style classes are not being treated correctly here. Perhaps @cstancu can recommend something?

[2019-10-14 12:09] #1641 closed

[2019-10-15 02:17] #1654 closed

[2019-10-16 17:28] tovbinm commented on #1237
@jastenpickle any recommendations?

[2019-10-16 17:29] tovbinm commented on #1237
@janstenpickle any recommendations?

[2019-10-16 20:06] janstenpickle commented on #1237
@tovbinm I gave up on trying to get this to work quite some time ago, sorry! It looks like graal doesn't like scala's generated class names.

[2019-11-04 19:52] mpilquist opened #1678 "Deprecate StepLeg?"
I was looking in to #1624 and was considering improving the error message thrown here: https://github.com/functional-streams-for-scala/fs2/blob/829279df39c6cb779e512061ed6b4cdc8f622bb1/core/shared/src/main/scala/fs2/internal/Algebra.scala#L233

In doing so, I tried to reproduce the original error that led to the creation of `StepLeg` but I couldn't get things to fail. I wrote this test class:

[co

[2019-11-04 22:06] mpilquist commented on #1678
I haven't succeeded in reproducing an exception with that original test case, but I have succeeded in showing why we need `StepLeg`. Here's two definitions of deterministically merging sorted streams:

[code]

Now consider the following:

[code]

Okay, wow, the scopes are all sorts of messed up when using the non-stepLeg version. This is why `stepLeg` exists.

[2019-11-04 22:36] mpilquist commented on #1678
Here's a new reproducer:

[code]

Using:

[code]

[2019-11-05 01:04] mpilquist opened #1679 "Scope lookup failure when using concurrently/merge"
Brought up by @augustjune on Gitter today:

[code]

Replacing `concurrently` with `merge` or `parJoinUnbounded` results in the same error.

[2019-11-05 02:14] #1678 closed

[2019-11-05 13:12] mpilquist commented on #1587
I'd love to be able to reuse the methods on `ByteVector` for this -- perhaps with some small changes to scodec-bits to handle carry?

[2019-11-05 13:13] mpilquist commented on #1624
FYI I opened #1680 which at least helps point folks in the right direction if this error occurs.

[2019-11-05 14:17] mpilquist commented on #1638
In this case, the `interruptAfter(0.second)` is causing interruption to occur before the upstream is even opened. You can see this by changing `source` to log acquisition in addition to finalization:

[code]

This also prints just `2: finalize`, showing that the source is never opened.

[2019-11-06 19:55] epellizzer commented on #1624
Nice! Thank you.

[2019-11-10 15:29] tplaskowski commented on #1531
Hi, I've just checked it against versions `2.0.0` and `2.1.0`, and after the changes, you've introduced this case is working as expected.

So I'm happy to close the issue. And sorry for so long delay in testing 🙂

[2019-11-10 15:29] #1531 closed

[2019-11-13 05:43] tovbinm commented on #1237
That's bizarre! How come any other Scala library works with GraalVM AOT compiler considering that all inner trait/classes in Scala have `$` in their names?

[2019-11-13 16:24] djspiewak commented on #1237
@tovbinm @janstenpickle A bit of hunting indicates that this is a pretty common error from the native-image packer, and it tends to be masking some other more specific error. Given the class names in question here, I'm guessing it's actually a use of `invokedynamic` which native-image isn't recognizing as a lambda call site.

Basically, the substrate vm only supports *restricted* `invokedynamic` u

[2019-11-14 16:37] tovbinm commented on #1237
Thank you @djspiewak

[2019-11-20 11:46] vasiliybondarenko opened #1685 "ZIO link is invalid on https://fs2.io page"
* Go to https://fs2.io manual
* Click on ZIO link

=>
404 response code

[2019-11-21 15:50] mpilquist commented on #1685
Thanks for spotting. Looks like the microsite hadn't been published for a very long time. That link is no longer in the latest source. I republished the site. Thanks again!

[2019-11-21 15:50] #1685 closed

[2019-11-25 17:43] Bhudjo commented on #748
Even though I personally like them, screencasts (apparently) don't age well when apis change and are more difficult to update than plaintext.

[2019-11-26 18:18] neko-kai commented on #1555
Fixed in https://github.com/zio/zio/pull/1792, not an fs2 issue

[2019-11-26 18:18] #1555 closed

[2019-11-26 18:45] neko-kai opened #1691 "Stream.merge freezes forever on uncaught defect in ZIO"
Reproduction:

[code]
scastie: https://scastie.scala-lang.org/xtrQQLpLQW2F9TNIEDzXXw

Expected:

[code]

Actual:

[code]

The hang probably happens on [this line](https://github.com/functional-streams-for-scala/fs2/blob/master/core/shared/src/main/scala/fs2/Stream.scala#L1826) in `merge`, where there is an assumption that `io.attempt.flatMap` will always execute. Maybe `bracketCase` could help?

[2019-11-27 02:23] neko-kai commented on #1691
`merge` implemented as follows seems to fix my issue. Don't know how to avoid `new InterruptedException` for `CompositeFailure.fromResults` here however...

[code]

[2019-11-27 04:08] djspiewak commented on #1691
Spitballing… I wonder if the assumption around `.attempt.flatMap` could be broken by some other monad which has a short-circuit uncontrolled by `ApplicativeError`? An obvious example would be `EitherT[IO, E, ?]`. It would probably take a few shenanigans to generate the error mid-stream in the fashion you did with ZIO, but it still seems possible.

As an aside, [this](https://github.com/functional-

[2019-11-27 10:01] SystemFw commented on #1691
Note that I never really got to going through all the `attempt.flatMap` and replace them with proper interruption, so yeah this sort of thing is unfortunately possible, we need to address it

[2019-11-27 20:57] mpilquist opened #1693 "Chunk[Float] and Chunk[Double] tests sometimes fail"
For example:

[code]

This appears to be due to `NaN` cropping up in certain scenarios.

[2019-11-29 14:12] #1693 closed

[2019-11-29 14:31] mpilquist opened #1696 "Import fs2-crypto in to fs2-io project"
@AdamChlupacek @pchlupacek Any objections to importing [fs2-crypto](https://github.com/Spinoco/fs2-crypto) in to the fs2-io project? I know initially, we decided to keep this separate (#102) but API seems stable and downstream projects use it so I think it would be good to be released all together now. I'm happy to do the work, just want to make sure you both are okay with it.

[2019-11-30 01:52] mpilquist commented on #1696
Preview here: https://github.com/functional-streams-for-scala/fs2/compare/master...mpilquist:topic/tls?expand=1

[2019-11-30 09:20] pchlupacek commented on #1696
@mpilquist go ahead and thanks :-)

[2019-12-02 14:25] mpilquist commented on #1696
@pchlupacek @AdamChlupacek When working on tests, I noticed that `TLSEngineSpec` fails on JDK11 -- both on fs2-crypto repo and in the ported version.
[code]

That error is received here:

[code]

I also noticed that `HandshakeResult` has new enumeration values in JDK11, though I confirmed we're not hitting those cases in this test.

I'm thinking of writing tests at the `TLSSocket` level instead of

[2019-12-02 14:54] mpilquist commented on #1696
The previous line -- computing `hsToClient2` -- results in `BUFFER_UNDERFLOW` case. Adding some printlns gives this:

[code]

[code]

[2019-12-02 15:56] mpilquist commented on #1696
Can fix on JDK11 by requesting `TLSv1` SSLContext instead of just `TLS`, which defaults to TLS 1.3.

[2019-12-02 19:21] djspiewak commented on #1696
Shouldn't the name of this kind of module be something like **fs2-tls** rather than **fs2-crypto**? Quite a bit of streaming crypto is not TLS.

[2019-12-02 19:21] mpilquist commented on #1696
@djspiewak On the branch, it's just a new `fs2.io.tls` package inside the existing `fs2-io` module

[2019-12-02 20:23] mpilquist commented on #1696
Update: problem is definitely with the TLS 1.3 handshake. Issue reproduces when forcing TLS 1.3 and connecting to google.com:443. With the TLS 1.3 handshake, the server sends a ServerHello (0x16), Server Change Cipher Spec (0x14), and encrypted wrapper (0x17). However, `TLSEngine` gets the `ServerHello` and switches to handshake mode due to a `HandshakeStatus.NEED_WRAP`, leaving the 0x14 and 0x17

[2019-12-03 03:17] mpilquist commented on #1696
I pushed an update to my topic/tls branch. I have a simpler version of `TLSEngine` in `TLSEngineSimple.scala` -- it is no where near complete but it makes it further in the TLS handshake than `TLSEngine.scala` does. It gets to the point that the `SSLEngine` thinks the handshake is finished, though it doesn't successfully send the encrypted client verification back to the server. I've spent more ti

[2019-12-03 05:53] pchlupacek commented on #1696
@mpilquist thanks a lot for following this through. Unfortunately these issues are hard to debug and we still find time-to-time some corner cases that need to be "implemented". The Java SSL engine has unfortunately very complex unlucky API, which makes its abstraction unbelievably complex.
I'll ask @AdamChlupacek @mraulim to take eyes on this.

[2019-12-09 20:03] Daenyth opened #1705 "Add InspectableNoneTerminatedQueue"
A common(-ish) case I've run into myself and that I've seen folks in gitter run into is wanting to know when a Queue is terminated.

InspectableQueue allows for this kind of behavior by using `.dequeue.noneTerminated` but I don't see a reason to not have the NoneTerminated version directly

[2019-12-11 05:47] nigredo-tori opened #1709 "The new collector syntax doesn't work with Scala 2.12 when the result type is explicitly specified"
I'm not sure whether this should be treated as an fs2 issue or a Scala issue... Probably, both.

[code]

I've managed to find this magic workaround:

[code]

Adding a non-overloaded synonym for `to(Collector[A])` (as `toCollector` or something else) might be enough to fix this (I haven't tried it yet).

[2019-12-17 02:21] mpilquist commented on #1696
I pushed an update today that changed the default `TLSEngine` back to the one from fs2-crypto. I also added some improved logging -- red output is from `TLSSocket` whereas the uncolored output is from JDK `SSLEngine`. I haven't made much progress on the underlying issue though I suspect it's related to having both two sets of wrap buffers and leaving some messages in one of them. I might poke at t

[2019-12-17 22:32] ChristopherDavenport commented on #1696
An absurd amount of logging later, will add more and see if we can get even clearer data.
https://gist.github.com/ChristopherDavenport/65d567299c1dbefa1918e3e2d5750dc0

[2019-12-19 19:32] mpilquist commented on #1696
I've gotten this working on topic/tls branch. I wrote a new `TLSEngine` that's given a `write` and `read` callback that the engine can use when needing to access network.

One thing outstanding is how to guard against a concurrent read & write from both trying to perform the handshake.

[2019-12-28 18:56] #1602 closed

[2019-12-28 19:03] kubukoz commented on #1570
Done in #1619

[2019-12-28 19:03] #1570 closed

[2019-12-28 19:07] kubukoz commented on #1569
The greatest problem with `observe` is that it requires Concurrent, IMO. I think we could start with `def debug(tag: String): Stream[F, O]` that outputs `$tag: $elem` to stdout.

[2019-12-30 01:13] #1360 closed

[2020-01-02 13:15] #1696 closed

[2020-01-04 01:15] #1709 closed

[2020-01-04 13:18] mpilquist commented on #1638
Closing but feel free to reopen if you think there's still an issue here that's not explained by the above.

[2020-01-04 13:18] #1638 closed

[2020-01-07 17:04] #1569 closed

[2020-01-09 13:06] mpilquist commented on #1691
@neko-kai What's your concern with the `new InterruptedException` stuff? Seems reasonable to me. BTW, I'm hoping to get a 2.2.0 release together soon so if you want to PR this, we can get it included most likely.

[2020-01-14 12:27] mpilquist commented on #1588
@danxmoran Someone else recently asked about this, as a way to guard against groups getting too big and filling memory. I think it's a good idea and a PR is welcome. To preserve binary compatibility, we'd need a new method name like `groupAdjacentByLimit` or something.

[2020-01-14 12:35] mpilquist commented on #1009
Closing this one out -- let's create some smaller / more focused issues for anything left outstanding.

[2020-01-14 12:35] #1009 closed

[2020-01-14 12:40] mpilquist commented on #1119
We could add this to the [FAQ](docs/src/faq.md)

[2020-01-14 12:47] mpilquist commented on #1245
This is a common question -- should probably be added to the FAQ as well as covered in a new guide section on stream error handling strategies.

[2020-01-14 12:50] mpilquist commented on #1208
@SystemFw OK to close this one now?

[2020-01-14 12:51] SystemFw commented on #1208
I think it has probably bitrotten, yeah

[2020-01-14 12:53] #1208 closed

[2020-01-14 12:57] mpilquist commented on #1283
Note this can be accomplished in recent versions of fs2 by using `compile.resource`:

[code]

[2020-01-14 12:57] #1283 closed

[2020-01-14 12:58] #1298 closed

[2020-01-14 14:43] mpilquist commented on #1352
Closing this one due to inactivity.

[2020-01-14 14:43] #1352 closed

[2020-01-15 14:38] mpilquist commented on #1587
@ChristopherDavenport How are these signatures for the `fs2.text` object?

[code]

[2020-01-15 15:58] djspiewak commented on #1587
Is there a reason to have the separate chunk variants at all rather than just ensuring that the primary variants operate on chunks rather than individual bytes?

[2020-01-15 18:40] mpilquist commented on #1587
@djspiewak I think we can skip the chunk variants. I looked up why we have the utf8 chunk variants and found this: https://github.com/functional-streams-for-scala/fs2/pull/609

[2020-01-15 20:23] michael-smith commented on #1474
Created PR for this doc change: #1740

[2020-01-15 21:12] #1474 closed

[2020-01-15 21:54] djspiewak commented on #1587
Ah interesting. It's worth noting that it would *probably* be more efficient, even in the `utf8` codecs, to exploit the chunkiness more explicitly. But, given that it's `String`s, I'm guessing it wouldn't make a massive difference. It would definitely be much more noticeable with `Chunk[Byte]`.

[2020-01-18 14:40] #1588 closed

[2020-01-18 14:43] #1587 closed

[2020-01-18 21:49] regis-leray opened #1745 "fs2 upgrade 2.2.0 - ClassCastException"
After upgrading `fs2:2.0.1` to `fs2:2.2.0` im getting this stacktrace, it looks there is some optimisation have been done with `Chunk`

I tried with fs2:2.1.0 and everything work fines

[code]

if you want to see the whole code it is here =>
https://github.com/regis-leray/fs2-ftp/pull/11

[2020-01-18 22:18] mpilquist commented on #1745
Thanks for the report. This reproduces:

[code]

[2020-01-18 22:44] mpilquist commented on #1745
Introduced by #1715. We could roll that back and release a 2.2.1. @CremboC any thoughts? Problem is that `map` is creating an `Array[Any]` but then later when `toArray` is called, it's cast to an `Array[Byte]`.

[2020-01-19 00:16] CremboC commented on #1745
I was worried that this could happen. Hoped that tests would catch this, but obviously was too optimistic! Could just deoptimise `map` back to what it was before, or just undo the whole PR. Up to you! Sorry about that.

[2020-01-19 13:30] #1745 closed

[2020-01-19 13:44] mpilquist commented on #1745
Fixed by #1746

[2020-01-19 14:36] mpilquist opened #1747 "2.2.0 NoSuchMethodError"
[code]
Compile above with 2.1.0 and run with 2.2.0 and you get:
[code]

First brought up by @amesgen on Gitter as it impacted http4s.

[2020-01-19 15:08] #1747 closed

[2020-01-19 17:55] mpilquist opened #1749 "2.2.0 NoSuchMethodError: fs2.Pull.fs2$Pull$$free()Lfs2/internal/FreeC;"
Seen in https after fixing #1747

[2020-01-19 18:37] mpilquist commented on #1749
Fixed by #1750

[2020-01-19 18:37] #1749 closed

[2020-01-19 20:34] kubukoz commented on #1747
This also surfaced in doobie:

[code]

Looks OK on current master.

[2020-01-21 09:35] r-glyde commented on #1533
Hi. Is there still an interest in adding more of the functionality above and is anyone else working on them? I think some towards the bottom of the list are not done yet. I was going to look at permissions unless anyone else plans to.

[2020-01-21 21:24] kubukoz opened #1753 "Add CONTRIBUTING.md file"
It would be helpful for new (and existing) contributors to have a starting point for contributing.

Here's what I'd like to see there:

- [x] Rules for merging PRs (how many people to approve a typical PR)
- [x] JDK 11 requirement
- [x] How to build everything locally to avoid wasting CI time
- [x] [fs2-dev gitter](https://gitter.im/functional-streams-for-scala/fs2-dev)

Feel free to mention anyth

[2020-01-23 17:44] r-glyde commented on #1533
Hi @LukaJCB, just wondering what sort of implementation you had in mind for the temporary files (and I guess directories as well)? I was initially assuming a stream from a resource that would delete the file during the release? Or were you thinking more just create a wrapper for `nio.Files.createTempFile` and leave deletion for the user at some other point?

[2020-01-24 22:43] kubukoz opened #1762 "Microsite title doesn't fit into jumbotron on mobile"
![Screenshot_20200124-234228](https://user-images.githubusercontent.com/894884/73109390-4303dd80-3f03-11ea-9c11-3e12d45b8b49.jpg)

Should we customize the text size, or make it more concise?

[2020-01-24 22:45] kubukoz commented on #1762
I think we could drop "effectful". Concurrency implies effects.

[2020-01-27 14:44] mpilquist opened #1764 "Style change: replace ShouldMatchers in tests with assertions"
Example rewrites:

|Before|After|
|----|----|
|`x shouldBe y`|`assert(x == y)`|
|`x should be < y`|`assert(x < y)`|
|`an[Exception] shouldBe thrown by f`|`assertThrows[Exception](f)`|

I recently made this same change to scodec-bits (in topic/dotty branch for now) and found the result much simpler to read. Note that `assert` is macro-powered and if the assertion fails, you still get details on the

[2020-01-27 15:36] SystemFw commented on #1764
yes please :)

[2020-01-27 23:02] mgibowski commented on #1764
So following this:

|                                              Before  |  After                                           |
| --------------------------------- |:-------------------------------:|
|`.asserting(_ shouldBe expected)` |  `.asserting(_ == expected)`.   |

right?

[2020-01-28 00:01] mpilquist commented on #1764
Yeah, that would be great though not sure how feasible it is. The most direct translation is sort of annoying -- `.asserting(x => assert(x == expected))`

[2020-01-28 18:50] LukaJCB opened #1765 "Add cats.Align instance for fs2.Stream"
Should be fairly similar to the `zip` implementation

[2020-01-29 10:59] #1753 closed

[2020-01-29 19:37] mgibowski commented on #1764
I did some initial work in the branch above.
I couldn't introduce a new `.asserting(_ == expected)` while keeping the old one with the same name on Scala 2.12 (on 2.13 it worked).

So for compatibility with 2.12 I introduced a new function:
`.assert(_ == expected)` (taking `f: A => Boolean` as an argument)

The old one (which operates on `Assertion`) is still useful when there are multiple asserti

[2020-01-30 00:44] mpilquist commented on #1764
The major downside of `def assert(f: A => Boolean): F[Assertion]` is that we lose info about the actual and expected values. We could write our own macro but that makes cross building more difficult and I'd prefer to avoid macros.

[2020-01-30 10:14] mgibowski commented on #1764
Yes, after some trials I also came to this conclusion. In any way - I will work on this issue. I will write here if there are some issues or converting all matchers is too much for me.

[2020-01-30 12:35] mpilquist commented on #1764
Sounds good, thanks for the help!

[2020-02-02 21:55] cquiroz opened #1778 "Support scala.js 1.0"
I'm trying to get the typelevel ecosystem to support scala.js, most of the dependencies of fs2 are already there including `cats`, `cats-effect` and `scodec-bits`.

The one sore point is `scalatest`. The set of versions of scalatest is very confusing but scalatest 3.1.0 should support scala.js 1.0.0-RC2. Why does fs2 uses 3.1.0-SNAP13? is that due to the dependency on `scalatestplus-scalacheck`?

[2020-02-03 00:26] mpilquist commented on #1778
No, it's because that's the last release of scalatest 3.1 which included the new generator stuff. Bill took that out before 3.1 final and then moved it to 3.2. If we could get a scalajs 1.0 version of a scalatest 3.2 milestone, that would solve the issue.

[2020-02-11 13:01] #1764 closed

[2020-02-11 18:04] bobbyrauchenberg commented on #1765
i'd be happy to pick this up

[2020-02-11 23:40] bobbyrauchenberg commented on #1765
I'm new to FS2 so apologies if it's a stupid question, but is there a case where it's possible to return anything other than `Both[A, B]`? Or is returing Align.Left and Align.Right exactly the point of this work?

What would we do in the case where we have

[code]

where `streamA` is `Stream.constant("1")` and `streamB` is `Stream.empty` - looking at the docs for Align, we'd be returning an infini

[2020-02-11 23:51] LukaJCB commented on #1765
@bobbyrauchenberg good question!
You are right that returning `Ior.Left` and `Ior.Right` in addition to `Ior.Both` is exactly the point of this work. To answer your question, yes you would get an infinite stream of `Left(1)`.

[2020-02-11 23:51] kubukoz commented on #1765
Hey @bobbyrauchenberg, that seems to me like the correct behavior. The longer of the two streams will result in having values as `Left` xor `Right` at the end, but the prefix will always be Both. This could probably be made into a nice property test.

[2020-03-05 13:36] a1russell commented on #1778
3.2.0-M3 has been published for Scala.js 1. Does that build work for you?

[2020-03-05 13:42] mpilquist commented on #1778
Unfortunately not - ScalaTest moves their generators to 3.3. I exchanged some emails with Bill last night and he’s going to get a 3.3 snap released.

[2020-03-19 17:10] djspiewak opened #1816 "Reactive streams subscription cannot be handled uninterruptibly"
Related to #1638, and also http4s/http4s#3261.

So the `StreamSubscriber` mechanism is quite clever, and the API correctly assumes that actually *registering* the subscriber with the `Publisher` is going to be something which is very use-case and API specific, and thus it isn't captured in the fs2 API whatsoever. That's good. Unfortunately, this paradigm opens up a tricky loophole.

For publishers

[2020-03-19 17:25] SystemFw commented on #1816
Tbh when I wrote/refactored the current version of `StreamSubscriber` cancelling in `>>` wasn't even on the horizon, so there might be more bugs like this :)

Do you have a PR/gist we can look at?

[2020-03-19 17:27] djspiewak commented on #1816
Haven't even looked at the implementation yet, but I could quickly. It doesn't seem all that hard to do, at least in theory.

[2020-03-19 17:38] djspiewak commented on #1816
@SystemFw Turned out to be really easy to fix. PR up. We could probably test this by doing something tricky with latches but am lazy.

[2020-03-19 17:47] Daenyth commented on #1816
🤔 Is there an IO implementation out there that would allow "fuzzing" these kinds of things by aggressively canceling at arbitrary bind points? Something like cats-effect-laws TestContext but able to configure a percentage of things to be canceled for no reason

[2020-03-19 18:05] djspiewak commented on #1816
Cats Effect 3 :-D

[2020-03-20 07:35] #1816 closed

[2020-03-26 21:38] arturaz opened #1822 "Guide needs information that fs2.concurrent.Queue needs to be terminated"
I spent good 3-4 hours debugging what is going on (I'm a FS2 newbie) until I finally realized that queues are infinite and they need to be explicitly terminated.

The example in guide doesn't say anything about it.
https://fs2.io/guide.html#asynchronous-effects-callbacks-invoked-multiple-times

I suggest adding a section about the termination. I can do a pull request if you point me to the right p

[2020-03-26 21:55] mpilquist commented on #1822
Yeah, docs are light on `Queue` -- there's some very brief documentation here: https://github.com/functional-streams-for-scala/fs2/blob/master/site/docs/concurrency-primitives.md

Would be nice to update both the guide example and the queue docs with info about shutdown & propagating errors (e.g., sometimes you want an error thrown by a producer to propagate to consumers)

[2020-03-27 06:52] arturaz commented on #1822
I can't find the sources for the docs. Are they publicly available? Could you provide me a link?

 I could try to write docs for the guide and submit a pull request.

[2020-03-27 12:12] mpilquist commented on #1822
The sources are here: https://github.com/functional-streams-for-scala/fs2/tree/master/site/docs

To build a local version of the site, launch SBT and run `microsite/previewSite`. Note you'll need jekyll installed -- some instructions here: https://47degrees.github.io/sbt-microsites/docs/getting-started/

[2020-03-27 12:13] mpilquist opened #1824 "Update README to *not* include version numbers"
Instead, let's use a badge or something that pulls latest version from maven.org.

[2020-03-27 12:13] mpilquist commented on #1778
This was fixed with the release of 2.3.0.

[2020-03-27 12:13] #1778 closed

[2020-03-27 12:13] mpilquist commented on #1765
This was fixed by #1791

[2020-03-27 12:13] #1765 closed

[2020-03-27 12:15] mpilquist commented on #1762
I'd drop "Purely" and "for Scala" too. "Functional Concurrent Streams"?

[2020-03-27 12:16] mpilquist commented on #1691
@neko-kai Bump

[2020-03-27 12:22] mpilquist commented on #1762
Or maybe just "Functional Streams" and leave the details to the rest of the site :)

[2020-03-27 12:34] SystemFw commented on #1762
I'd leave `concurrent` there if it fits, `functional` is not a high-information word for those not already familiar with pure FP

[2020-03-27 12:36] SystemFw commented on #1762
Eh, maybe not actually :)

[2020-03-27 12:37] kubukoz commented on #1762
I actually agreed with that though!

[2020-04-01 10:40] oleg-py opened #1829 "switchMap stops working on a Signal#discrete made out of Applicative[Signal]"
Ran into a very weird issue:

- If a signal is made with some Cartesian operator like `mapN` or `product`, and
- a `.discrete` stream of it's values is `switchMap`ped into something, and
- the value returned in switchMap is a non-terminating stream

Then the second inner stream will never be switched from, i.e. function passed to `switchMap` will be called at most twice.

---

E.g. the following c

[2020-04-03 20:24] svalaskevicius opened #1831 "gzip compression is not streaming well"
two issues (same problem / file :) )

1. `gzip` does not allow to pass SYNC_FLUSH to deflater

2. `gunzip` delays chunks by at least one in `.through(_gunzip_validateTrailer(contentCrc32, inflater))`  - which is particularly bad when inflating a real time stream (e.g. a streaming http response / long polling)

[2020-04-03 20:27] mpilquist commented on #1831
Thanks for the report. Can you clarify if this is with `fs2.compress` or `fs2.compression`?

[2020-04-03 20:27] svalaskevicius commented on #1831
SYNC_FLUSH is a problem for both, the 2nd problem is from the `fs2.compression`

[2020-04-03 20:30] mpilquist commented on #1831
cc @greg-a-atkinson @djspiewak

[2020-04-03 20:49] djspiewak commented on #1831
`SYNC_FLUSH` is probably an easy fix (and also totally sounds like something that we would have missed). I don't know enough about the `compression` implementation to speak to how easy it would be to fix the run-behind problem.

[2020-04-03 20:57] svalaskevicius commented on #1831
Yeah, I guess an easy workaround would be to allow to opt out of the trailer validation - for infinite streams of gzipped content it's not of much use anyways

[2020-04-03 21:13] djspiewak commented on #1831
Seems like something that should be configurable for exactly this reason.

[2020-04-03 22:49] neko-kai commented on #1691
@mpilquist Thanks for reminding me, I copypasted the solution, but the same tests that passed on ZIO for me didn't work out with EitherT - EitherT hangs on them. https://github.com/functional-streams-for-scala/fs2/pull/1832

[2020-04-05 09:36] arturaz commented on #1822
Submitted a pull request: https://github.com/functional-streams-for-scala/fs2/pull/1833

[2020-04-07 13:58] mpilquist opened #1834 "Add chunkAll"
A use case for this came up recently so I sketched this solution:

[code]

I decided against opening a PR for a couple of reasons:
1) It's not safe on infinite streams. It wouldn't be our first operation with such an issue but maybe adding more such operations isn't a great idea.
2) It can be simulated with `chunkN(Int.MaxValue, true)` for all safe use cases.

Opening this issue to document the de

[2020-04-07 14:01] mpilquist opened #1835 "Use Chunk.Queue everywhere possible"
Many pulls accumulate chunks and upon some condition, concatenate the accumulated chunks in to a single chunk and then output the result. The most efficient way to do this is by using the `Chunk.Queue` data structure as the accumulator and calling `q.toChunk` to do final concatenation. We do this in a bunch of places but there are also lots of use of `List[Chunk[O]]` (e.g., `unconsN`, `split`, `bu

[2020-04-07 14:42] SystemFw commented on #1834
I actually found myself wanting `compile.chunk` recently.
I think in practice there are quite a lot of cases of "I know this portion of the code to be finite, locally".
One particularly common case for me is things where I have to operate at Chunk level, and I want to `Chunk -> Stream -> Chunk`.
I guess what I'm saying is that I see it as legitimate.

I think the main issue for me is why not `chun

[2020-04-08 16:22] ssanj opened #1836 "Broken links in documentation"
There seem to be raw markdown links in the documentation:

| page | broken link |
| ----- | ---------- |
| https://fs2.io/concurrency-primitives.html | https://fs2.io/guide.md#talking-to-the-external-world |
| https://fs2.io/guide.html | https://fs2.io/concurrency-primitives.md |

which unfortunately don't work.

I these relative links should have been picked up by Github pages. If the documentati

[2020-04-08 17:14] kubukoz commented on #1836
I think we could try using the relative links plugin :)

[2020-04-09 21:11] sloshy opened #1838 "Compile on Pure Stream causes unexpected behavior in Pipe"
Assume we have the following defined:
[code]
In `badPurePipe` the input stream is being compiled to a `List`, which triggers some strange behavior as the stream is being evaluated. When ran, the stream will hang forever.

For some reason, the following won't hang forever, and it will work as expected including printing to stdout:
[code]

The issue appears to be that being able to call `compile` on

[2020-04-09 21:28] mpilquist commented on #1838
Ouch... is this the same as this unsoundness minimization?

[code]

[2020-04-09 21:48] sloshy commented on #1838
@mpilquist sure looks related. I'm confused as to why the stream that works ends up working in spite of all. that... Likely doesn't matter, though, but it was really confusing and interesting to stumble on it in that way.

[2020-04-09 22:08] mpilquist commented on #1838
OK just pushed a fix. Thanks for finding this!

[2020-04-10 09:35] ssanj commented on #1836
@kubukoz I've found a workaround that does not involve updating Jekyll and it seems to be used by Doobie so it must be legit ;)

https://github.com/functional-streams-for-scala/fs2/pull/1840

[2020-04-10 12:22] greg-a-atkinson commented on #1831
Hi, thanks for raising your query.

For the first point, try compression.gzip(deflateStrategy = Some(Deflater.SYNC_FLUSH)) for your use case? The deflate strategy defaults to Deflater.DEFLUAT_STRATEGY in the same way as the previous compress.gzip and Deflater itself.

Regarding the second point, I would agree that gzip is probably not the ideal choice for infinite streams or long-polling. Gzip, as

[2020-04-10 13:48] svalaskevicius commented on #1831
hi @greg-a-atkinson , thanks for the reply.

1. `SYNC_FLUSH` is not a compression strategy, but flush mode for function https://docs.oracle.com/javase/8/docs/api/java/util/zip/Deflater.html#deflate-byte:A-int-int-int-

2. thinking about it, deflate seems like a better choice in this case (avoids calculation of crc32 while consuming it). however, the issue raised is purely about gzip trailer check

[2020-04-10 15:01] ssanj commented on #1836
Options for installing a Jekyll plugin: https://jekyllrb.com/docs/plugins/installation/

[2020-04-10 19:32] sloshy commented on #1834
I'd support this, personally. If I need to `.compile.to(Chunk)`, I'd rather have some shorthand that keeps it in a Stream as well. Considering any of the `.compile.to(X)` operations are not safe on infinite streams, I wouldn't really think this one needs to be either. It just needs a disclaimer of some sort.

[2020-04-10 23:34] greg-a-atkinson commented on #1831
Agreed, compression.deflate and by extension compression.gunzip should allow for the flush mode to be configured. Please review this PR for this to be the case:

https://github.com/functional-streams-for-scala/fs2/pull/1842

The second problem is trickier and will require some thought. The gzip trailer is the final 8 bytes of the stream, but the header and compressed payload provide no indication

[2020-04-11 07:38] svalaskevicius commented on #1831
Thanks!

Yes. I see why it is not trivial to fix the pt2.

Maybe worth to simply add a piece of documentation to note that this behaviour is expected and point to deflate as per your earlier suggestion?

[2020-04-12 21:03] greg-a-atkinson commented on #1831
This PR should improve real-time streaming with gunzip (the second issue) by not delaying chunks until the inflater is finish before searching for the trailer:

https://github.com/functional-streams-for-scala/fs2/pull/1843

[2020-04-13 13:57] #1838 closed

[2020-04-15 13:23] #1822 closed

[2020-04-15 13:28] mpilquist commented on #1836
Fixed by #1840.

[2020-04-15 13:28] #1836 closed

[2020-04-23 06:14] nigredo-tori opened #1851 "Add temp(Directory|File)(Resource|Stream) overloads without the dir parameter"
`Files.createTempDirectory` and `Files.createTempFile` have overloads without the `dir` parameters. Those create directories and files in the standard temporary directory (`/tmp` on Linux). The using code shouldn't be forced to search for a good place for temporary data, so it makes sense for us to implement this functionality as well.

[2020-04-23 21:42] mpilquist opened #1852 "base64Decode drops a byte when padding characters span final chunk"
Originally reported by @AdamChlupacek on Gitter:

[code]

[2020-04-24 08:30] #1852 closed

[2020-04-26 11:51] #1834 closed

[2020-04-26 11:53] #1835 closed

[2020-04-28 01:26] johnynek commented on #1678
This was helpful to me, if anyone else comes here looking for how to merge several, I made an implementation that uses a heap interally:

https://gist.github.com/johnynek/689199b4ac49364e7c94abef996ae59f

[2020-05-11 12:57] #936 closed

[2020-05-16 13:26] olivierdeckers opened #1869 "scanEval doesn't emit the initial state immediately"
When using scanEval, I expect the initial state to be emitted immediately. However, when connected to a queue, I observe it only emits the initial state when the first item is consumed from the queue.

I made this scalafiddle to illustrate the behavior: https://scalafiddle.io/sf/jX8UDzZ/1
It does emit the initial state for the case with the empty stream, probably because this stream completes. The

[2020-05-22 13:23] geoffjohn11 commented on #1245
I'd like to try to create pr to add this documentation.

[2020-05-22 13:26] SystemFw commented on #1245
that's great!
There's some discussion here if you need inspiration https://gitter.im/functional-streams-for-scala/fs2?at=5ebbd511faa128031ccbe9e8 but you don't have to use it :)

[2020-05-25 13:43] fcabestre opened #1873 "Deadlock in the TLSEngine"
When multiple streams are concurrently reading/writing a `TLSSocket`, there is a reproducible deadlock in the `TLSEngine`. This is illustrated by the following [scastie](https://scastie.scala-lang.org/fcabestre/6TY4XKMeSoGCrEEozQPIsw/4).

Let me quote a quick analysis from @mpilquist on the FS2 Gitter room:

[2020-06-05 08:30] jgogstad opened #1883 "gzip compression not backwards compatible with gzip 1.3.12"
Gzip compressed files produced with `fs2.compression.gzip` are not recognized by gzip 1.3.12. This is primarily an issue for users on CentOS 6 (CentOS 7 ships a newer version that handles this).

Here's how to reproduce:

**Produce a compressed file**:

[code]

**Uncompress on CentOS 6**

[code]

Related issue on CentOS:

* https://serverfault.com/questions/727752/how-to-upgrade-gzip-from-1-3-12-t

[2020-06-05 13:04] #1873 closed

[2020-06-05 13:52] mpilquist opened #1884 "Memory leak when upgrading kafka4s application from 2.0.1 to 2.1.0+"
Reported by @hilios on Gitter: https://gitter.im/functional-streams-for-scala/fs2?at=5ec5254d9832dd6f0463cd82

Sample application: https://github.com/hilios/kafka4s/blob/master/fs2/src/it/scala/io/kafka4s/fs2/Fs2KafkaLeak.scala

Appears to leak on 2.1.0+ and be okay on 2.0.1.

[2020-06-05 13:59] mpilquist commented on #1884
The heap dump shows tons of `CompileScope` instances. Looking through the diffs of 2.0.1 vs 2.1.0, I'm pretty sure the root cause is 1b1ebbf7f.

[2020-06-05 15:27] mpilquist commented on #1884
With this minimization:

[code]

I confirmed there's a leak in master and it's fixed by removing scoping in `handleErrorWith`.

[2020-06-05 15:54] mpilquist commented on #1884
This doesn't leak:
[code]

This does:
[code]

[2020-06-05 15:55] hilios commented on #1884
Thank you for taking a look at this.

Do you think this is an issue caused by the combination of a `retry` with a `repeat` then?

[2020-06-05 16:01] mpilquist commented on #1884
Manually inserting a scope after `.head` fixes:

[code]

[2020-06-07 09:46] gvolpe opened #1887 "[Internal] - Deal with fatal warnings"
Due to the compiler flags `-Xfatal-warnings` and `-Ywarn-unused:*`, we end up having this kind of code:

[code]

The `val _ = ev` is only necessary because of such flags. In Scala 2.13.2, we can silence the warning using the `@nowarn` annotation, for example. We could also think about disabling some flags.

This particular issue with implicits is probably better solved by removing the `-Ywarn-unus

[2020-06-07 13:13] #1884 closed

[2020-06-09 17:42] greg-a-atkinson commented on #1831
Please upgrade to fs2 v2.4.0. Thanks

[2020-06-09 21:58] svalaskevicius commented on #1831
Thanks!

[2020-06-13 12:37] #1831 closed

[2020-06-19 23:48] kamilkloch opened #1909 "Documentation for s.as[O2]"
Hi all,

I just noticed a small inconsistency in `s.as[O2]` documentation, which reads:
`Alias for _.map(_ => o2)`. It is not true - `s.as(o2)` memoizes `o2` and `s.map` does not:

[code]
Granted, it is a minor glitch and `as` should not be fed an impure function in the first place, but perhaps the doc should be changed to: Alias for `val o2Memoized = o2; _.map(_ => o2Memoized)`?

[2020-06-20 01:48] #1909 closed

[2020-06-20 01:48] kubukoz commented on #1909
Fixed in #1910

[2020-06-22 11:48] kamilkloch opened #1918 "Make s.as lazy?"
Relates to #1909.
Why not make `as` lazy and equivalent to `_.map(_ => o2)`? By-name performace penalty?

[code]
to
[code]

[2020-06-22 13:47] mpilquist commented on #1918
Our general position on by-name parameters is the same as used in cats -- by-names should be used sparingly and instead explicit laziness should be used.

Some good examples of this strategy from cats:
- `map2` and `map2Eval` on `Apply` -- the latter could have been avoided by defining the second param to `map2` as a by-name parameter.
- `Semigroup` taking both arguments strictly instead of defini

[2020-06-22 14:26] kamilkloch commented on #1918
Thanks for the clarification. I will stick to `map(_ => ...)` / `evalMap(_ => ...)` then. Actually, instead of the latter, we could have `evalAs[F2[x] >: F[x], O2](o2: F2[O2]): Stream[F2, O2]` ;)

[2020-06-26 01:21] LukaJCB opened #1925 "add evalMapFilter combinator"
Having the following signature:
[code]

[2020-06-28 16:43] soujiro32167 opened #1928 "Decode text in any charset (utf-16 and others)"
Similar to `fs2.text.utf8Decode`, I would like to auto-detect and decode text in other charsets

[2020-06-30 13:51] mpilquist opened #1931 "Intermittent test failure in CompressionSpec"
I've only seen this once but it should be easy to reproduce using the init seed.

[code]

[2020-07-02 02:31] #1925 closed

[2020-07-03 14:17] mpilquist opened #1940 "RFC: FS2 3.0 Ideas"
We opened the `develop` branch today, which is for FS2 3.0 development. The default branch is still `main` and we'll merge `main` to `develop` every so often.

The primary theme of FS2 3.0 is [Cats Effect 3](https://github.com/typelevel/cats-effect/tree/ce3) support and support for Scala 3. CE3 is very close to the point where we can start integrating -- just need an `IO` type to land, which shoul

[2020-07-06 13:02] aldtid opened #1945 "Stream.parJoin freezes using an EitherT as effect context"
In my project we use an `EitherT` as effect context instead of directly using an `IO` (it allows better error handling without the need of using a `MonadError` or just throwing up exceptions). We have seen that, in case we would want to parallelize a stream of streams using this type as context, in case an effect evaluates as a left that function gets stuck at `Stream#parJoin` function.

I have wr

[2020-07-06 20:36] djspiewak commented on #1945
Sounds like #1691

[2020-07-10 01:51] mpilquist opened #1950 "TextSpec failure on CI build"
[code]

[2020-07-10 02:18] #1869 closed

[2020-07-12 16:54] soujiro32167 commented on #1928
Looks like thats been around in http4s for a while! Thanks @rossabaker https://github.com/http4s/http4s/commit/32eaa8f82d541fe6de5877aeadf66f8ec9b81c41. This does not auto-detect, but handles multi-byte boundaries across chunks. I ended up using https://github.com/albfernandez/juniversalchardet for auto detection

[2020-07-12 20:23] vasilmkd commented on #1928
I'm not entirely sure if automatic detection is feasible. I would however like to work on this. Which charsets should be prioritised. According to Google, the most used character sets are ASCII, ISO 8859-1 and UTF-8, which is already supported.

[2020-07-13 04:30] rossabaker commented on #1928
I've been meaning to contribute http4s' for a while.  The main thing holding me back was being a bit more rigorous on the testing.  The big thing holding me back from being rigorous on the testing is that it's a pain to create valid generators for arbitrary charsets.  Ours also has an outstanding bug, where it's stripping BOM markers outside the initial byte.

I think @vasilmkd is on the right tra

[2020-07-13 09:28] vasilmkd commented on #1928
@rossabaker Thanks for linking the `StandardCharsets`. I think it would be beneficial to support them. I also agree about the portability note.

[2020-07-13 14:29] Daenyth commented on #1928
FWIW, this is what we've been using. It doesn't support multibyte (other than utf-8), but it supports others:

[code]

[2020-07-13 14:36] rossabaker commented on #1928
The `charsetPipe` could generate false positives for single byte.  You could call `maxCharsPerByte()` on a charset decoder to be sure.

Creating scalacheck generators for all the charsets is an important part of testing.  Unfortunately, there isn't a standard method on charsets that produces the relevant alphabet.  The standard six are easy, but testing others will probably require some spec readi

[2020-07-13 14:39] rossabaker commented on #1928
Actually, you can come close to deriving the alphabet for an arbitrary charset with `canEncode` from a `CharsetEncoder`.  It just returns false negatives for surrogates, which is why there is a `CharSequence` version.  And surrogates are where a lot of the corner cases are.

[2020-07-13 15:30] Daenyth commented on #1928
Yup. For our use case it was OK, but it's not great for a general tool.

neat, I didn't know that existed!

Would that then be something like
[code]
(And cache the Decoder)

[2020-07-13 16:04] rossabaker commented on #1928
I'm not sure how expensive decoders are to create.  You could iterate all available charsets on your JVM, create a decoder, and build a static set from there.  I think JVMs can install charsets at runtime, but you're deep into the weeds by that point.

[2020-07-13 19:05] Daenyth commented on #1928
That's what I meant

[2020-07-14 13:15] Daenyth opened #1955 "[Documentation] We need a page that explains what data types in the library are"
Currently the doc pages don't have something that lists what `Stream` and the related types *are*. I'm not looking for javadoc - somethings that explains at a higher level, without being a tutorial, and with minimal jargon (so that people newer to FP/scala can pick up the gist). We can have 1-2 usage examples as well.

Specifically we should cover:
- Stream
- Chunk
- Pull (lesser priority since it

[2020-07-14 17:49] soujiro32167 commented on #1928
Here is my current code:
[code]

[2020-07-15 17:41] yilinwei commented on #1955
Hi,

I've been thinking about documentation recently because of some of the work to get Monocle to dotty, but I think there are multiple types of documentation.

Loosely,

- Cookbook style copy-pasta which shows how to do certain common tasks
- Blog post style documentation which helps build up a mental model of the library (almost always, a library author will have a particular way of thinking ab

[2020-07-15 18:51] Daenyth commented on #1955
@yilinwei Thank you for the feedback! Those are really valuable points and it would be good for us to have pages on those. I'll split those out to some other tickets so this one is more approachable to get finished for any potential contributors

[2020-07-15 18:55] Daenyth commented on #1119
I'm closing this for now since there's not a clear action. At this point in time, fs2 doesn't require any real imports aside from the types you mention - implicits and syntax etc, are provided in other libraries.

If someone has an example of what you'd like to see, please comment and we can reopen

[2020-07-15 18:55] #1119 closed

[2020-07-16 14:42] Daenyth opened #1958 "[Documentation] Add a reference page / cookbook of common concurrency operations"
It should cover when you'd use and how to use:
- parEvalMap/Unordered
- parJoin
- concurrently
- merge*

There's the page on Queue/Topic/etc but there's not a great single page on the operations directly on `Stream`. The Guide section on concurrency is very short and doesn't cover some of the most common operations (parEvalMap especially)

[2020-07-24 12:40] jatcwang opened #1966 "A variant of debounce/metered that begins immediately"
I found it surprising that metered/debounce doesn't immediately "start". Think of debouncing a button - You probably want to react immediately to the event instead of waiting for the whole debounce period to finish. Similarly for things like polling, you want to start immediately.

I can achieve this with a `emit` merged with `fixedRate`, but I feel like this is a common enough pattern for it to b

[2020-07-28 20:30] hogiyogi597 opened #1971 "Add `withFilter` to Stream in order to filter in for comprehensions"
It was brought up in a few Gitter posts recently that it would be nice to have a `withFilter` alias for `filter` to allow `Stream`s to be used in for comprehensions.

https://gitter.im/functional-streams-for-scala/fs2?at=5f0f056215779f6fdca8c090
https://gitter.im/functional-streams-for-scala/fs2?at=5f207b56e90668200523130e

I am planning on adding this and using this issue to track progress.

[2020-07-28 20:51] kubukoz commented on #1971
I was convinced Scala falls back to `filter` if `withFilter` isn't defined. Has that changed recently, or is my memory failing me?

[2020-07-28 21:08] hogiyogi597 commented on #1971
@kubukoz It looks like it might have been removed. I am not totally familiar with it but I did find this:
https://github.com/scala/bug/issues/6455

If I remove my `withFilter` method and try to use it in the for comprehension in my test I get this error:
[code]

[2020-07-28 21:21] kubukoz commented on #1971
Ah, i think I actually saw that. Thanks

On Tue, Jul 28, 2020, 23:09 Stephen Hogan <notifications@github.com> wrote:

[2020-07-29 00:18] #1971 closed

[2020-08-04 07:16] antonoal opened #1977 "2.4.2 breaks binary compatibility with 2.2.2"
I've pulled all the recent dependencies in my project which amongst others includes http4s v0.21.6 that depends on fs2 v2.4.2 and  circe-fs2 v0.13.0 that depends on fs2 v 2.2.2.
When I run my code I get "java.lang.NoSuchMethodError: fs2.Pull$.stream$extension(Lfs2/internal/FreeC;)Lfs2/internal/FreeC;."

[2020-08-04 07:40] antonoal commented on #1977
Oops, It's my fault actually - I forgot to update the version of circe-fs2 from 0.11.

[2020-08-04 07:40] #1977 closed

[2020-08-09 11:16] sebastianvoss opened #1982 "Scope-shifting issue using peek"
I posted this also in Gitter and dicussed in `http4s` channel with @rossabaker but maybe it is easier to track/ follow up as an Github issue.

I have a program which reads data from JDBC (using `doobie`) and streams it via an `http4s` endpoint. When my SQL throws an error I would like to send a non-200 response.

To identify SQL errors, I have to start consuming the stream. Therefore I thought to

[2020-08-13 23:33] dmitriibundin opened #1987 "Merging streams causes 2 chunks to be emmited instead of 1"
I'm running into the issue about `merge`ing 2 `fs2.Stream`s and processing the resulting Stream further. Consider the following example:

[code]

Expected output:

[code]

Actual output:

[code]

As far as I can tell from digging into the implementation of `merge` the issue is with the [`Semaphore(1)`](https://github.com/functional-streams-for-scala/fs2/blob/main/core/shared/src/main/scala/fs2/Str

[2020-08-14 14:07] mpilquist commented on #1987
This is caused by the implementation of `runStream`: https://github.com/functional-streams-for-scala/fs2/blob/b3f4565891fd5e994abdd07eb326094def623053/core/shared/src/main/scala/fs2/Stream.scala#L1927-L1931

It pulls the next chunk from the source stream and then acquires the semaphore permit, which is blocked until previous chunk is processed from the queue. Hence, it's always reading 1 chunk ahe

[2020-08-14 14:23] mpilquist commented on #1982
The `stream` method as written in this example (intentionally) leaks a reference to the tail of the stream provided by `peek`. As a result of compiling `result`, all resources are freed at the completion of evaluation of the compiled `IO`. Here's an annotated version that attempts to clarify that:

[code]

To correct this, you have to avoid compiling the stream twice.

[2020-08-14 14:34] sebastianvoss commented on #1982
@mpilquist Thanks for the clarification. That makes perfect sense. Though, I'm currently out of ideas how to avoid compiling it twice and still reach my goal. In case you or someone else has an idea it would be highly appreciated.

[2020-08-14 15:24] mpilquist commented on #1982
Sure, could you share a little bit more of the type signatures you have to fit things in to?

[2020-08-14 18:55] sebastianvoss commented on #1982
@mpilquist Great, thanks for your feedback! I tried to cut it down to a sample program.

Essentially I need to get from a `Stream[F, A]` to `IO[Response[IO]]`.

The challenge is that I need to tell `Response` which `status` it represents (e.g. `Ok` or `InternalServerError`). To know that I need to `peek` into the `Stream`.

[code]

[2020-08-14 20:04] mpilquist commented on #1982
Hm, why does that first attempt fail? It looks okay to me...

[2020-08-15 19:55] #1987 closed

[2020-08-16 12:24] sebastianvoss commented on #1982
@mpilquist I seems the `dataFromDoobie` stream gets finalized when doing `peek`. It results in `PSQLException: This ResultSet is closed`.

[2020-08-17 13:49] mpilquist commented on #1982
Okay, this reproduces the issue: https://scastie.scala-lang.org/ZzmRMECeRDewUKaHWLq3kA

Note there's still 2 compilations here -- 1 in `myRoute` and another in `serve` (simulating internals of http4s).

The following fixes this by using scope leasing -- it's pretty complicated. We should make this simpler, either in http4s or in fs2, not sure. https://scastie.scala-lang.org/gEEvOvqpSd6NLtRu1Y2oNA

[2020-08-18 11:42] mpilquist commented on #1982
Fixed by #1996

[2020-08-18 11:42] #1982 closed

[2020-08-20 14:42] Taig opened #1999 "Add support for unix sockets"
Following [this discussion on Gitter](https://gitter.im/functional-streams-for-scala/fs2?at=5ee91725ef5c1c28f028a60b) it appears feasible to add support for unix sockets to fs2 based on [jnr-unixsockets](https://github.com/jnr/jnr-unixsocket).

As a use case example this could benefit a library like [tpolecat/skunk](https://github.com/tpolecat/skunk) to talk to a postgres database via unix sockets

[2020-08-20 16:26] mpilquist commented on #1999
I think @ChristopherDavenport implemented this recently. I'd be happy to incorporate it in to fs2-io if Chris wants but knowing Chris, it's already available somewhere. :)

[2020-08-20 23:38] ChristopherDavenport commented on #1999
https://github.com/ChristopherDavenport/whale-tail/blob/master/core/src/main/scala/io/chrisdavenport/whaletail/UnixSocket.scala - Works like a charm. Was going to move it into a library of its own.

[2020-08-20 23:39] ChristopherDavenport commented on #1999
Always happy to get code off my hands though if you want it.

[2020-08-20 23:40] ChristopherDavenport commented on #1999
Otherwise I was going to move it into something like fs2-unixsocket or something to that effect here shortly. Was finishing ember to prove all my concepts work. But its pretty solid at communicating with the docker daemon already.

[2020-08-21 21:18] vvlevykin opened #2001 "Chunk.traverse loses elements in 2.4.3 for chunks larger than 255 elements"
The result of this snippet is smaller than it should be:
[code]

[2020-08-22 00:45] #2001 closed, assigned to SystemFw

[2020-08-23 03:03] RaasAhsan opened #2006 "Failing seed for StreamMergeSuite"
I came across a failing prop for `StreamMergeSuite` while trying to debug some platform-specific issues related to CE3.
[code]

Another failing seed for the same test ` hP-8mu5fDOvtStGfsFrK5SSr1mQDrJnJya3xaUwSwQC=`.

FWIW this was seen on openjdk8 on an ubuntu VM running inside vmware fusion for mac.

[2020-08-24 19:27] ChristopherDavenport commented on #1999
Alright, going to contribute this as a new module to fs2 as long as everyone is happy.

[2020-08-25 07:58] Taig commented on #1999
I don't have an immediate use for this, I was just investigating the topic and wanted to document the gitter discussion in the issues to provide a better point of reference for other people searching for this. Knowing that I can find a solution for this in the whaletail repo is totally sufficient for me, but having a proper fs2 module would certainly be a convenient solution.

[2020-08-25 18:45] susuro commented on #1928
A universal decoder is really missing in fs2. I would appreciate @rossabaker if you could contribute your solution from http4s. Even if it isn't as thoughtfully tested as you would like, it is probably still better than many of us throwing together our own solutions, even less rigorously tested. We can improve it later.

[2020-08-25 19:42] susuro opened #2010 "Stream.fromIterator doesn't create proper chunks"
`Stream.fromIterator` fetches values one by one, effectively creating single-value chunks. This has negative impact on performance, especially when working with primitive values.
The situation is even worse for `Stream.fromBlockingIterator`, because context switch for each fetched value increases the performance penalty.

I think this could be improved with following implementation of `PartiallyAp

[2020-08-25 23:30] #1310 closed

[2020-08-26 11:42] mpilquist commented on #2010
Any thoughts on `Stream.fromIterator(iterator).chunkN(n)` instead?

[2020-08-26 14:53] djspiewak commented on #2010
It's more general, but it would incur the chunk management overhead. It's going to be significantly slower than batching `next` calls within a tight loop. I'm a little skeptical of using `Iterator` in performance-sensitive code to begin with, but if you are, then `chunkN` isn't going to solve the problem.

[2020-08-26 18:32] susuro commented on #2010
I haven't done proper performance testing, only a few tests within a CSV parsing library, so my claims below my not be fully correct. However, the processing time I've measured for `Stream.fromIterator(iterator).chunkN(chunkSize).flatMap(Stream.chunk)` is about 2x shorter that using simple `Stream.fromIterator(iterator)`, while the tight loop I proposed gives me 10x better result.
In case of `from

[2020-08-26 19:07] mpilquist commented on #2010
OK, let's move on to a PR then. Thanks for testing.

[2020-08-29 15:23] #1950 closed

[2020-08-29 18:00] susuro commented on #2010
Solved wit PR #2013.

[2020-08-29 18:00] #2010 closed

[2020-09-02 10:38] durban opened #2018 "SignallingRef#access problems"
The current (v2.4.4) implementation of the `access` method of `SignallingRef` seems to have some problems (as far as I can tell, since v2.4.0, in #1889):

- It calls `equals` in [this line](https://github.com/typelevel/fs2/blob/v2.4.4/core/shared/src/main/scala/fs2/concurrent/Signal.scala#L200). It seems at least unintuitive, that an operation which is basically a compare-and-swap would use value

[2020-09-02 10:57] SystemFw commented on #2018
yeah that sounds weird. I'll have a look later, thanks for reporting :)

[2020-09-02 12:03] TomasMikula opened #2019 "How to effectfully discard messages on backpressure?"
Starting with something like

[code]

where `stream` is able to produce messages faster than `_.evalTap(f)` is able to process them, I would like to pass only the latest message produced by `stream` through `_.evalTap(f)` and discard the intermediate ones via the effectful `delete` (which can be assumed to complete fast).

I haven't found a way to express this in `fs2`, but maybe I'm not looking i

[2020-09-02 12:08] SystemFw commented on #2019
Can you maybe post a small but concrete example of such a case? With the exact code you posted I'm struggling to see it: since `Stream` is pull based, the description of "stream producing messages faster than evalTap can consume them" does not really fit

[2020-09-02 12:44] TomasMikula commented on #2019
I mean, `stream` is _able_ to produce messages faster than _.evalTap(f) is able to process them. I want to keep pulling on `stream` as fast as it produces values and regardless of how fast `_.evalTap(f)` is pulling.

An attempt at a solution would be to add a circular buffer of size 1 between `stream` and `_.evalTap(f)`, except I want to call `delete` when dropping a value from the buffer due to b

[2020-09-02 12:50] SystemFw commented on #2019
ah, I see. You got the solution strategy right for that then, you can see an example for a similar combinator in `prefetch`, https://github.com/typelevel/fs2/blob/main/core/shared/src/main/scala/fs2/Stream.scala#L2346-L2358

You need to design a different type of queue, SPSC with the deletion semantics you want. The basic tools for that are `Ref` and `Deferred`. I can help you with that part eithe

[2020-09-02 12:52] SystemFw commented on #2019
We have structures that get pretty close to what you need in `Queue.circularBuffer` and `SignallingRef`, but I'm not sure they fit your case exactly

[2020-09-02 13:09] TomasMikula commented on #2019
I am hoping that since I only need a "degenerate" queue of size 1, I won't have to really implement a queue.

[2020-09-02 13:11] mpilquist commented on #2018
I have no recollection of changing the implementation of `access` as represented in that PR...

[2020-09-02 13:13] SystemFw commented on #2018
I think you just restored the old implementation since PubSub had a leak, and given that `access` is pretty much never used, and especially not on Signal, it's likely it has always been broken...

[2020-09-02 13:13] SystemFw commented on #2019
sorry yeah, it's quite a lot simpler than a full blown queue, although some of the core mechanics are the same (namely the semantic blocking)

[2020-09-02 13:15] mpilquist commented on #2018
Ah, thanks, that makes sense.

[2020-09-02 13:15] SystemFw commented on #2019
It's worth also defining the semantics of the delete hook `A => F[Unit]`, e.g. do you want it to execute sequentially with an enqueue or a dequeue? do you want to fire and forget it? do you want to swallow its errors? and so on

[2020-09-02 13:22] TomasMikula commented on #2019
Yeah. Execute on enqueue that causes dropping of the previous value. I think the most universal semantics is to execute it sequentially and fail the stream if it fails.

[2020-09-02 14:16] SystemFw commented on #2019
I'd recommend to throughly test it, but you can use this as a starting point
[code]

[2020-09-02 15:49] TomasMikula commented on #2019
Thank you, looks reasonable.

Even though solutions that escape the nice declarative world of streams and resort to imperative manipulation of queues/refs never give me the kick of gratification.

I would never have thought of that `.uncancelable`. (But then I also haven't made peace with the idea of something being cancelable without having explicit support for cancellation.)

Anyway, it's good t

[2020-09-02 15:49] #2019 closed

[2020-09-07 17:24] TomasMikula commented on #2019
After playing with the above operator I discovered that it discards the very last message if termination (`None`) comes soon after the last message. This was undesired, but was easy to fix.

[2020-09-09 01:19] Daenyth commented on #1928
For reference, in http4s:
- [`decode`](https://github.com/http4s/http4s/blob/9b588daa6d371d960ba19f8eb6a76a5ae21ea3ec/core/src/main/scala/org/http4s/internal/package.scala#L212)
- [`decodeSpec`](https://github.com/http4s/http4s/blob/9b588daa6d371d960ba19f8eb6a76a5ae21ea3ec/tests/src/test/scala/org/http4s/DecodeSpec.scala)

[2020-09-10 17:38] keynmol commented on #1999
Probably a very rare use-case, but the jnr-unixsocket library relies on https://github.com/jnr/jnr-ffi which makes use of dynamic class loading for platform-specific stuff, which breaks immediately when building with graalvm native-image (no fallback)

Also there's JEP effort to provide a generic solution in the JDK itself: https://openjdk.java.net/jeps/380 which hopefully won't rely on dynamic cl

[2020-09-16 04:14] nigredo-tori opened #2037 "readOutputStream binds the OutputStream to the writing thread's lifetime"
Consider this stream (FS2 2.4.4):
[code]
When run (OpenJDK 11), it produces this exception:
[code]
This is caused by an absolutely ridiculous `PipedInputStream` gotcha - it throws an error if the last `Thread` to write to the `PipedOutputStream` has completed without closing the stream! This is a 20 year old [wontfix](https://bugs.java.com/bugdatabase/view_bug.do?bug_id=JDK-4028322). :facepalm:

T

[2020-09-17 10:23] SystemFw commented on #2018
Haven't forgotten about this :)

There is some bigger cleanup I want to do on Signal in `develop`, after which we can backport an `access` fix to `main`

[2020-09-20 13:43] mpilquist opened #2044 "Fix drain+onComplete memory leak test hang"
https://github.com/typelevel/fs2/blob/ef221c8ab3edf216e7b185592a4c84dd3315bea2/core/jvm/src/it/scala/fs2/MemoryLeakSpec.scala#L169-L173

This test passes but then hangs at cancelation time. This works fine on CE2 though.

I'm pretty sure this is caused by https://github.com/typelevel/cats-effect/issues/1132

[2020-10-01 09:08] RobertoUa opened #2060 "Add groupedWeightedWithin"
Similar to Akka Streams https://doc.akka.io/docs/akka/current/stream/operators/Source-or-Flow/groupedWeightedWithin.html
Zio seems to have it as well https://github.com/zio/zio/pull/1137
For Monix I've found this (not included in Monix) https://gist.github.com/rcano/7d709ff76ca2416999864a7da0a50d42

[2020-10-01 17:38] Daenyth commented on #2060
I think this is the signature we want:
[code]

And it would have a semantic like `groupWithin(max, dur) = groupWeightedWithin(max, dur)(_ => 1)`

[2020-10-02 09:49] SystemFw commented on #2060
I'm working on a general solution to this problem. Can't promise it's going to work yet, but let's see where it goes.

[2020-10-02 15:18] Daenyth commented on #2060
Also this probably will be best done *after* @SystemFw's rework of `groupWithin`, to minimize wasted/duplicated effort

[2020-10-04 21:39] mpilquist opened #2063 "Add UTF-8 file transcode example app to site/docs"
Not sure where exactly but it would be nice to include these types of apps in docs and ensure they stay compiling as we evolve APIs.

https://gist.github.com/djspiewak/b1bfa4f7fe30bdd0ead89f5286f9ad06

[2020-10-07 00:50] Daenyth commented on #1140
It sounds like this is still an issue as of 2.4.4 - is that right?

[2020-10-07 00:56] mpilquist commented on #1140
@Daenyth I think we should close this one and open new issues with failing test cases for any outstanding issues here, ideally with a failing test case.

[2020-10-08 11:02] SystemFw commented on #1551
This is something we might look at for 3.0. The thing that I find encouraging is that the problems seem to be in the pure part of the code, rather than by hitting the limits of the `Ref + Deferred` strategy, which we need to avoid a `Sync` bound when using queues for control flow.

[2020-10-08 12:10] entangled90 commented on #1551
I tried eliminating ScalaQueue in favour of Chain and the results looks better (I have a macbook air 2015):
100k elemnts -> ~ 500 millis
1M elements -> ~ 1.3/2 seconds

I just had to define this for compatibility:

[code]

[2020-10-08 13:36] djspiewak commented on #1551
Does 3.0 still use PubSub or is it a specialized Queue now?

[2020-10-08 13:50] mpilquist commented on #1551
Currently uses `PubSub` but that's up for debate. I created a naive queue using `Ref[F, s.c.i.Queue] + Deferred` and it didn't show any major improvements over the `PubSub` version.

[2020-10-08 17:12] #1918 closed

[2020-10-08 17:12] Daenyth commented on #1691
Is this still an issue on the latest 2.4.x?

[2020-10-11 13:22] vigoo opened #2076 "Race condition in reactivestreams StreamSubscriber"
There is a race condition in `StreamSubscriber` between `onNext` and `onComplete` because they run the effects manipulating the underlying state machine via `f.runAsync().unsafeRunSync` (in the `Runner` implicit class).

This can lead to a case where `OnNext` arrives in the `UpstreamCompletion` state.

(I found this issue with AWS SDK's [SimpleHttpContentPublisher](https://github.com/aws/aws-sdk-j

[2020-10-11 13:30] SystemFw commented on #2076
If you have the time, a repro test case would be awesome.

Completely coincidentally, someone posted your project https://github.com/vigoo/prox in the cats-effect dev channel a couple of days ago, I think it would make a great addition to the fs2 ecosystem page https://fs2.io/ecosystem.html, if you wish to include a link to it there

[2020-10-11 13:32] vigoo commented on #2076
Thanks, that would be nice. I'll open a PR for adding it, and will also try to add a test (and maybe a fix) for this issue.

[2020-10-11 16:55] alissapajer opened #2079 "Stream error is thrown when InputStream is read"
[code]

I would expect the `Throwable` to not be thrown, which is what happens if we don't call `is.read`:
[code]

Am I misusing the `Blocker` in any way?

[2020-10-11 17:10] vigoo commented on #2076
@SystemFw the above pull request has a test case reproducing the issue, and also a fix.

[2020-10-11 17:13] SystemFw commented on #2076
Thanks, I'll have a look soon, once I get some time :)

[2020-10-12 13:35] mpilquist commented on #2079
Looks like the exception isn't getting thrown to the caller but rather reported to `ExecutionContext.reportFailure`, which is calling `printStackTrace`. Not sure why though -- it also works as expected in 3.x.

[2020-10-12 13:48] mpilquist commented on #2079
Okay, here's what's happening -- the `InputStream` is wrapped in a `Resource`. The call to `is.read` fails with the `UpStream failed` exception, which causes the overall stream to fail. The finalizer for the resource is run, which notices that upstream failed due to an exception and it also then fails. The CE2 `IO` type logs an exception thrown from a finalizer if the finalizer was being run due t

[2020-10-12 14:01] mpilquist opened #2081 "Rework Stream#translate"
Translation of a stream's effect type is currently supported via `Stream#translate` and `Stream#translateInterruptible`. Translation is eagerly applied. Due to some forthcoming changes to `cats.effect.Resource` (https://github.com/typelevel/cats-effect/issues/1255) as well as the desire to support interruptible resource acquisition (#2077), we may need to move translation to be a constructor in th

[2020-10-12 14:40] mpilquist commented on #2081
@diesalbla Any interest in working on this one? You know the internals as well as anyone, especially the translation stuff.

[2020-10-12 15:00] diesalbla commented on #2081
@mpilquist I will take a look later today.

[2020-10-12 17:04] alissapajer commented on #2079
Ah right I see, it's returning `Left(java.io.IOException: UpStream failed)` and also printing the stack trace.

What I pasted above is a minimization of a test I wrote that actually was throwing, but it was throwing because I wasn't handling the correct error type in `ApplicativeError#recoverWith`. It was erroring with
[code]
but I was expecting the exception that actually caused the error.

So, s

[2020-10-12 17:04] #2079 closed

[2020-10-12 18:29] #2076 closed

[2020-10-12 20:28] diesalbla commented on #2081
Adding here for context some of the discussions:

I would try to do that independent of poll like, if that's doable, then poll should have a solution there (that should also eliminate the need for translateInterruptible btw). But… if that's not doable then we have a bit of a problem. [By Daniel Spjiewak](https://gitter.im/typelevel/cats-effect-dev?at=5f833a83e6840119ec7fdfd3)

Given that we can ha

[2020-10-12 23:27] mpilquist opened #2084 "Port SubscriberStabilitySpec to CE3"
I commented out `SubscriberStabilitySpec` introduced in #2078 when merging `main` to `develop`, partially because [`UnsafeRun` is about to be removed and replaced with `Dispatcher`](https://github.com/typelevel/cats-effect/pull/1303), which won't be mockable. We should port this once `Dispatcher` lands, or otherwise adjust the test to not rely on overriding a type class instance.

cc @vigoo

[2020-10-13 07:22] vigoo commented on #2076
@SystemFw @mpilquist  do you think it would be possible to release this fix as a 2.4.5?

[2020-10-16 16:45] vasilmkd commented on #1551
[code]

This snippet, along with the `cats.effect.std.Queue` as currently implemented in https://github.com/typelevel/cats-effect/pull/1294 takes ~1500 ms to enqueue 1 000 000 elements. The queue is built on `Ref`, `Deferred` and `scala.collection.immutable.Queue`. Do note, this is Cats Effect 3.

[2020-10-19 21:18] dmitriibundin opened #2093 "Timed version of chunkN"
I tried to implement timed version of `chunkN`, i.e. to emit either a `Chunk` of `N` elements or all elements collected per a supplied period of time. Here is the

**Implementation:**
[code]

**Usage example**:

[code]

**Actual output:**

[code]

**Expected output:**

[code]
I suppose that `dequeuChunk(chunkSize)` eagerly dequeues some elements. Is it fixable?

[2020-10-19 21:38] Daenyth commented on #2093
Does your case work using `groupWithin`? It's exactly what your description talks about, so I'm not sure what you might want your implementation to do differently.

[2020-10-19 21:41] dmitriibundin commented on #2093
Missed it, thanks.

[2020-10-19 21:41] #2093 closed

[2020-10-20 02:03] #2081 closed

[2020-10-20 12:01] entangled90 commented on #1551
From some quick test I did on latest 2.x version of cats-effect, the time it takes is similar.
The previous comments are a bit old probably.

[2020-11-09 14:16] #2044 closed

[2020-11-09 22:38] AaronDelaplane opened #2132 "Determine Proper Error Handling for Thrown Exception in 2.x"
The guide's section on error handling provides the following example:
[code]
The guide states that:
[code]
However, this is not true for `err2`, which throws the exception even when `.handleErrorWith` is used.

For example, the expression below throws rather than yielding `List("abc")`:
[code]
M Pilquist stated the following in Gitter:
[code]

[2020-11-17 23:10] SarpongAbasimi opened #2141 "Wrong type for FS2[Nothing, INT]"
I have just started using fs2 and according to the documentation the type for
`Stream(1,2)` should be `[Nothing, Int]` but I am getting an error for this.

[code]

when I pass in `Stream(1,2,3)` as data, I get an error saying
[code]

[2020-11-17 23:12] SarpongAbasimi commented on #2141
@mpilquist or anyone could explain why this is the case?

[2020-11-17 23:17] ChristopherDavenport commented on #2141
[code]

A stream of only elements is a `Stream[Pure, *]`

[2020-11-17 23:21] mpilquist commented on #2141
Yeah, like @ChristopherDavenport said, streams which evaluate no effects are of type `Stream[Pure, A]` for some `A`. Any `Stream[Nothing, A]` can be automatically converted to a `Stream[Pure, A]` but the inverse isn't true.

Where in the docs did you see a claim that `Stream(1, 2)` should return a `Stream[Nothing, Int]`? That's likely a holdover from back before we had the `Pure` type constructor.

[2020-11-18 13:58] SarpongAbasimi commented on #2141
@mpilquist  in the is says `val s1a = Stream(1,2,3)` is `// s1a: Stream[Nothing, Int]` and even emit `s1 = Stream.emit(1)` is of type `s1: Stream[Nothing, Int]`

<img width="988" alt="Screen Shot 2020-11-18 at 13 54 34" src="https://user-images.githubusercontent.com/37377831/99539065-af296380-29a5-11eb-92bb-399f3910a9f7.png">

[2020-11-18 14:04] SarpongAbasimi commented on #2141
@mpilquist and @ChristopherDavenport  used the example in the documentation -> https://fs2.io/guide.html
under `Building streams`

<img width="668" alt="Screen Shot 2020-11-18 at 14 01 33" src="https://user-images.githubusercontent.com/37377831/99540061-f106d980-29a6-11eb-9aa0-f64bd31859d2.png">

[2020-11-18 14:07] mpilquist commented on #2141
Ah, that's a limitation of type inference in Scala 2. The types you see in the doc snippet are a result of the Scala REPL evaluation. I don't think there's any way to correct that.

[2020-11-18 19:08] SarpongAbasimi commented on #2141
Okay that explains it. Than you very much

[2020-11-19 07:52] adamw opened #2142 "Delays when using Stream.awakeEvery"
This is a follow-up to https://github.com/http4s/http4s/issues/3879

I've got the following simple program:

[code]

*sometimes* this produces results as follows:

[code]

This happens locally, and on travis & jenkins (though on CI I only observed it indirectly through http4s & websockets). The jenkins jobs run pods on top of a GCP-managed k8s. Locally a system restart (macos 11) helps, at least f

[2020-11-19 15:19] mpilquist opened #2143 "Unable to interrupt stream that has been translated"
This is the root cause of https://github.com/http4s/http4s/issues/3878.

Reproduction for unit test suite:

[code]

There's a hidden `ClassCastException` occurring here, as a result of a soundness issue with `Stream.getScope`. Consider:

[code]

The problem is that `getScope` returns the current `CompileScope` that's being used during evaluation, but that's a `CompileScope[IO]`, not a `CompileScop

[2020-11-19 15:30] mpilquist commented on #2143
One potential avenue for fixing is (1) deprecating `getScope` (2) for each operation on `Scope`, provide a new operation on `Stream` companion that returns a `Stream[F, X]` (3) implement those new operations via new nodes in stream algebra.

[2020-11-20 02:18] #2141 closed

[2020-11-20 03:49] mpilquist commented on #2143
On second look, this isn't as straightforward as I had hoped, as going down the path I suggested requires implementing `interruptWhen` in terms of `concurrently` whereas `concurrently` is implemented in terms of `interruptWhen`.

[2020-11-21 23:32] mpilquist commented on #2143
Fixed in #2145 for develop branch. Will backport a fix to main branch tonight.

[2020-11-23 13:22] #2143 closed

[2020-11-23 21:31] #1824 closed

[2020-11-28 05:35] kubukoz commented on #1762
Fits now, closing.

![Screenshot_20201128-063443.jpg](https://user-images.githubusercontent.com/894884/100494656-e507de00-3143-11eb-9d5a-fcd2f0f86ce7.jpg)

[2020-11-28 05:35] #1762 closed

[2020-12-01 22:11] mpilquist opened #2165 "Exercises"
Suggested by @matthughes. Let's use this issue to catalog some fs2 (or cats-effect) exercises. We can then organize them and add them to the microsite/guide, along with sample solutions, hints, etc.

[2020-12-02 02:22] mpilquist commented on #2165
Some simple ones to get started:

Q: Create an infinite stream that starts at 0 and increments by 1, wrapping around at `Int.MaxValue`.
A:
[code]

Q: Without using the built-in `Stream.iterate`, define the following function such that the resulting stream consists of the starting element and then the result of apply each emitted element to the function `f`:
[code]
A:
[code]

[2020-12-03 16:58] drewboardman commented on #2165
Scenario: I have a program in IOApp that needs to consume from 2 or more independent streams (maybe from Kafka or SQS or something). They are not coupled, and don't rely on each other.

* The difference between `s1.concurrently(s2)` or `Stream(s1, s2).parJoinUnbounded` and when to use either/or.

[2020-12-03 17:23] SystemFw commented on #2165
Notes:

areas that should be covered: parJoin, concurrently + state (and hold), metered, writing a take Pull, interruptWhen, unNone, stepLeg

Port exercises from pipes-concurrency

[2020-12-03 19:27] DLakomy commented on #2165
I think the topic of splitting a stream is worth covering. There are several solutions on Stack Overflow. I'm unable to say which one is the best. Eg. [Splitting the fs2 stream output to two files
](https://stackoverflow.com/questions/64188023/splitting-the-fs2-stream-output-to-two-files/64230556#64230556) (note that I've just left a comment below the accepted answer, that the `.spawn` is probably

[2020-12-05 19:11] matthughes commented on #2165
Should we target adding these to https://www.scala-exercises.org/?   Some of it is a little rote but I like the ability to have explanatory text as you build up the exercises.

Are we targeting 2.x or 3.0 API?  Maybe doesn't matter much for these exercises.

[2020-12-06 15:56] mpilquist opened #2169 "Remove CompositeFailure"
Return first exception that's thrown and report any others to underlying EC.

Some relevant discussions from CE:
- https://github.com/typelevel/cats-effect/pull/449
- https://github.com/typelevel/cats-effect/pull/458
- https://github.com/typelevel/cats-effect/issues/1585

[2020-12-06 20:35] mpilquist commented on #2169
I tried reimplementing `merge` using `both`/`bothOutcome` but couldn't quite get all tests passing:

[code]

[2020-12-07 21:32] nikiforo commented on #2165
I liked a lot solving this one

Q: merge part of mergeSort.
Combine two ordered ascending Int streams to a single ordered ascending Int stream.

A:
[code]

[2020-12-08 02:33] mpilquist opened #2176 "Add IArray support to Chunk"
Add conversions to/from Scala 3 immutable arrays

[2020-12-08 19:16] isomarcte opened #2177 "Binary Compatibility Break 2.12 between versions 2.4.4 and 2.4.5"
I hit a binary compatibility between versions 2.4.4 and 2.4.5, but only for 2.12.

It seems 702cca59c1c5d7de843ac24b9e87d5aee9212db6 is where the issue was introduced.

Here are the exported symbols for `fs2.Stream$PartiallyAppliedFromIterator$.class` from 702cca59c1c5d7de843ac24b9e87d5aee9212db6.

[code]

Of note (indentation mine, not javap),

[code]

Notice the numeral at the end of "extension"

[2020-12-08 19:25] isomarcte commented on #2177
Looks like MiMa picked this up, but there is a filter to exclude it.

https://github.com/typelevel/fs2/blob/main/build.sbt#L140

[2020-12-09 13:02] mpilquist commented on #2177
Thanks for the comprehensive report. We can't just roll back this change in 2.4.x b/c doing so will break compatibility again. I'm planning on releasing 2.5.0 final coincident with next Scala 3 milestone.

[2020-12-09 16:31] iRevive opened #2178 "Broadcast. High CPU/Memory usage"
Using `Stream#broadcastTo` with the high message rate source leads to increased CPU usage.
Meanwhile, Akka shows 2-3x less CPU usage.

I tried different JVMs: OpenJDK 11, OpenJDK 14, OpenJDK 14 OpenJ9. The CPU usage is more or less the same on every virtual machine.

## Prerequisites
**JVM:** OpenJDK 64-Bit Server VM (11.0.4+11, mixed mode)
**fs2:** 2.4.6
**akka-streams:** 2.6.6

## Scenario 1. fs

[2020-12-09 16:32] iRevive commented on #2178
I'm receiving messages from the queue/socket (Kafka, ZMQ, etc) and processing every message by N different pipelines.

Perhaps I'm doing it wrong and I don't need `broadcastTo(...)` at all? Can I achieve similar behavior using a different API?

[2020-12-17 02:12] kubukoz opened #2185 "Revisit Network[F]"
In a recent [discussion on gitter](https://gitter.im/functional-streams-for-scala/fs2-dev?at=5fd8076c9700c07b17eece14), I raised the issue of Network having an `Async[F]` field - for several reasons, this might not be desirable. I would like to see if it's possible (and ideally, without substantial effort) to implement it with all the relevant methods instead.

[2020-12-18 20:49] #2176 closed

[2020-12-21 22:25] #2177 closed

[2020-12-23 01:51] kubukoz commented on #2185
Work being done by Michael in https://github.com/typelevel/fs2/pull/2189

[2020-12-23 21:25] nikiforo opened #2191 "Broadcast/merge behavior changed from version 2.3.0 to version 2.4.6"
Consider this example:
[code]

While it outputs "true" to console prior to and including commit 099a3a1a, it outputs "false" starting from commit 8a7a13f4

This is bisect output:
[code]

This is a link to commit: https://github.com/typelevel/fs2/commit/8a7a13f4200648e9ec8a2e48f2d8641457e4e212

I'm not sure whether this should be considered a bug

[2020-12-24 00:01] mpilquist commented on #2191
This gives the desired behavior:

[code]

[2020-12-24 00:55] mpilquist commented on #2191
This also gives the desired behavior and is more idiomatic in my opinion:

[code]

[2020-12-24 02:05] mpilquist commented on #2191
Here's a minimal change to original code which restores expected behavior:

[code]

Instead of `.take(2)`, we use `.pull.take(2).void.streamNoScope` -- that is, we explicitly avoid creating a scope when taking. I think we should change `take` and similar operations (e.g. takeWhile/takeThrough/drop/...) to use `.streamNoScope` instead of `.stream` like that do now. Thoughts?

[2020-12-24 02:06] SystemFw commented on #2191
I have a vague memory that not inserting a scope after `take` caused bugs, and we went back and forth a couple of times

[2020-12-24 03:03] mpilquist commented on #2191
@SystemFw Hm, yeah, I suppose `take` is a prototypical example of a "pull that does not consume all elements from the source".

[2020-12-28 14:57] nikiforo commented on #2178
I haven't measured perfomance of akka-streams yet, but I've repeated almost everything you've written about fs2 using jmh.
This is the benchmark
[code]

This is the result:
[code]
The most interesting part of the result is that `broadcast1` is one hundred times slower, than  `through`, in spite of being semantically equivalent.

[2020-12-28 15:10] iRevive commented on #2178
@nikiforo thank you for the benchmark. The difference between `through` and `broadcast` is significant.

[2020-12-28 15:45] iRevive opened #2195 "Incorrect termination of cancelled"
**fs2 version:** 2.4.6

I'm running N tasks (the task is uncancelable) in parallel and fs2 does not wait for the completion of the tasks after interruption.

Since the task is uncancelable I'm expecting the following behavior:
1) Interurruption signal appeared
2) Stop peeking pending elements from the inner streams
3) Complete processing of all elements that were peeked before the interruption sig

[2020-12-28 22:11] balthz commented on #2178
Am I reading the benchmark output lines for `streamSize` ∈ {1000, 100000} correctly that even though we’re processing 100 times more elements in the `streamSize` = 100000 run, the runtime is more or less the same as with `streamSize` = 100?

[2020-12-29 01:13] mpilquist commented on #2191
This works as well (with suitable adjustments to call site):

[code]

The combination of `take(n).fold` is the problematic pattern here, where the yielded streams don't "subscribe" to the `PubSub` until after it's passed out of scope. To avoid this, either use `.pull.take(n).void.streamNoScope` or avoid `fold` and use something like the above. Closing this as not a bug though it shows the weakness

[2020-12-29 01:13] #2191 closed

[2020-12-29 08:45] nikiforo commented on #2178
@balthz,
:blush: seems that `fs2Stream` should be setted in `@Setup`, I'll fix it and resubmit

[2020-12-29 13:51] nikiforo commented on #2178
@balthz, I've changed two things in the Benchmark:
- Stream is formed in Setup method
- Execution is blocked on the blocker. The only action, that happends on the benchmark's thread is waiting for completion(at least I think so).

The benchmark:
[code]

The result
[code]
Ration of throughputs are now roughly
BroadcastBenchmark.broadcastTo1 : BroadcastBenchmark.through = 1 : 20

[2020-12-29 16:53] nikiforo opened #2197 "Errors are not always catched with .handleErrorWith"
Take a look at https://github.com/nikiforo/fs-handle/pull/1
The example is minimized, but can be minimized even further.

A way to reproduce.
On one tab launch the client `sbt runMain name.nikiforo.Client`
On the other tab launch the server
[code]
Wait a minute
[code]

Despite some errors being catched at https://github.com/nikiforo/fs-handle/pull/1/files#diff-3e571cc6ca077b3bd8dc2bde7f5f8e9787724

[2021-01-04 13:37] #2185 closed

[2021-01-04 20:20] mpilquist commented on #2197
I looked at this some today and I'm pretty sure the problem is due to `partitionEither`.
Consider:

[code]

The `pipe` value has a `partitionEither` deep inside its definition. In essence, `partitionEither` is causing the source stream exception to occur while publishing to the underlying `Broadcast`, which is not directly accessible when using the returned stream. That's why calling `.handleError

[2021-01-04 20:44] mpilquist commented on #2197
This works okay, so it's not quite as straightforward as I had hoped:

[code]

[2021-01-05 03:04] mpilquist commented on #2197
Interesting observation: if we comment out `case OutputResponse(v) => Stream.eval_(socket.write(Chunk.bytes(v)))` in `Tcp2.scala`, everything works. This makes me wonder if we're writing stuff to the underlying `AsynchronousSocketChannel` and somehow an exception is getting raised somewhere else.

[2021-01-05 14:26] mpilquist commented on #2197
This minimization does NOT have the problem, which points back to something funky going on as a result of `partitionEither`, etc.

[code]

[2021-01-06 10:58] nikiforo commented on #2197
Great! I think we agree, that the behavior isn't expected and should be further investigated.
Couple facts
* It was found in production, my minimizations from scratch didn't show the error, thus I cut out the example from the codebase.
* It was found on fs2 2.1.0. To get rid of the error I've migrated to 2.2.0, 2.3.0, 2.4.6, behavior hasn't changed.
* I've seen, that not only commenting `write`, b

[2021-01-06 11:46] nikiforo commented on #2197
This one is easier to reproduce. https://github.com/nikiforo/fs-handle/pull/3

Interestingly, if you change `2424000000000e000000000000000000000000000000002421` to `2421`, exceptions will be thrown and cought.

If you change parJoin(1000) to parJoin(1) in Client, exceptions won't be cought. So... this isn't about concurrency?

Currently, this gives me no hint of what is going on.

[2021-01-06 13:36] mpilquist commented on #2197
While minimizing, Is there a simple way to remove the `throughFlatResponse` and use a pipe that does not use `partitionEither`? I'd like to rule out weird scoping issues as a result of turning a `Stream[F, O]` in to a `Stream[F, Stream[F, O]]`

[2021-01-06 15:02] nikiforo commented on #2197
I think that `partitionEither` & `throughFlatResponse` are the main villains here. The bug is induced by an unlucky combination of `throughFlatResponse` with something else. So, I think the bug wouldn't be reproducible without it. Anyway, I'll do my best to get rid of `throughFlatResponse`.
However, shouldn't fs2 be used for such scenarios? I mean I think intentions to map over specific member of

[2021-01-06 15:10] mpilquist commented on #2197
Some more findings:
- In `Tcp2`, I removed the `parJoinUnbounded` in favor of processing each client sequentially via `streams.flatMap(handleClient)` - problem still occurs
- I commented out the `.through(pipe)` and instead just wrote random bytes to the client socket in response - problem did not occur

So more evidence that the cause is `partitionEither`/`throughFlatResponse`.

We definitely sho

[2021-01-06 16:58] mpilquist commented on #2197
Another note: problem occurs on CE3/FS2 3 as well.

[2021-01-06 23:50] nikiforo commented on #2197
https://github.com/nikiforo/fs-handle/pull/3

I've significantly minimized example. I'll be able to continue tomorrow, thus sharing as is.

[2021-01-07 10:45] nikiforo commented on #2197
https://github.com/nikiforo/fs-handle/pull/3

I consider minimization as completed.

[2021-01-07 15:59] nikiforo commented on #2197
Copied from the discussion of pull request:
[code]

[2021-01-07 20:31] mpilquist commented on #2197
New minimization:

[code]

[2021-01-07 20:33] SystemFw commented on #2197
no `broadcast` nor `partition` 😮

[2021-01-07 20:37] mpilquist commented on #2197
Yeah, but there's a hidden `concurrently`. By the way, this fails intermittently - sometimes takes as long as 1 minute before failing. Still not really sure of what's happening -- if it was as simple as a race condition in `concurrently`, we wouldn't need the `.flatMap(_ => Stream.empty)`.

[2021-01-08 00:03] mpilquist commented on #2197
Same program on CE3 side-channels / drops the error and hence terminates successfully. As in, some number of the inner exceptions are caught by the inner `handleErrorWith` and then when one escapes, it doesn't bubble up to the outer `recoverWith` but instead the stream terminates successfully.

[2021-01-13 08:13] #1363 closed

[2021-01-16 13:01] LLCampos commented on #1621
@mpilquist, I think this one can be closed?

[2021-01-16 14:39] #1621 closed

[2021-01-17 11:25] LLCampos opened #2213 "Simplify and improve documentation on Queue"
I'm trying to learn to use `Queue` and struggling even to have a simple hello-wordish example working (add stuff to the queue, take it out and print it).

I find the examples in [here](https://fs2.io/concurrency-primitives.html) and [here](https://fs2.io/guide.html) to be way too complex for a introduction on `Queue`. It would be nice to have some really simple example, accompanied with a detailed

[2021-01-23 09:06] LLCampos commented on #2213
Here's my proposal (inspired by this [SO answer](https://stackoverflow.com/a/65762139/5082718)):

[code]

[2021-01-28 14:27] epifab commented on #1406
yes this would be ideal. @SystemFw any pointers? I'd love to find a workaround while this gets fixed properly

[2021-01-28 14:33] SystemFw commented on #1406
I think the latest commit with the old implementation is this one https://github.com/typelevel/fs2/blob/4ddd75a2dc032b7604dc1205c86d7d6adc993859/core/shared/src/main/scala/fs2/concurrent/Topic.scala

Which should be mostly source compatible. Are you hitting a problem because of Topic under load?

[2021-01-28 15:57] epifab commented on #1406
@SystemFw awesome, thanks a lot!
I wasn't 100% sure that the poor performances were indeed caused by Topic under heavy load, but I am indeed now.
Blindly reverting to the old implementation made a huge impact, talking about 2x or 3x times better...

[2021-01-28 16:19] epifab commented on #1406
actually, the performance boost is even more impressive than that. I think I can handle approximately 5x more messages. what I didn't discover yet though are the implications of this workaround

[2021-01-28 23:35] mpilquist commented on #2213
Note that `Queue` has moved to cats-effect (in the `cats.effect.std` package) in the forthcoming CE3 / FS2 3 releases.

[2021-01-29 08:23] LLCampos commented on #2213
I think we can close this one down. then. ;)

[2021-01-29 08:23] #2213 closed

[2021-01-30 09:54] LLCampos opened #2235 "New fs2 site - issue with appendix on navigation"
![fs2-site-bug](https://user-images.githubusercontent.com/12008784/106353244-00789c00-62e1-11eb-8320-b7f76650be7e.gif)

Something is wrong here ^^

[2021-01-30 13:12] diesalbla commented on #1940
@mpilquist Since we are aiming at releasing 3.0 soon, is there any need to keep this open?

[2021-01-30 13:16] diesalbla commented on #1437
@mpilquist Just sweeping through old issues. What are your plans regarding the `fs3` now?

The `develop` branch (soon to become version 3.0) is now using separate `Pull` constructors for `Step` and `Translate`. Some of the interpretation is moved to handlers, and at some places there we have found and patched some stack-unsafety.

[2021-01-30 13:32] #1940 closed

[2021-01-30 13:36] mpilquist commented on #1437
I think fs3 is overcome by events at this point.

[2021-01-30 13:36] #1437 closed

[2021-01-30 13:55] #1561 closed

[2021-01-31 16:36] #2235 closed

[2021-02-09 02:49] mpilquist opened #2258 "Fix intermittent test issues"
Ever since simplifying the CI build to run jvm tests, js tests, and jvm memory leak tests in a single SBT run, we've been getting a lot of intermittent failures. In particular (1) fs2.interop.reactivestreams.StreamUnicastPublisherSpec and (2) memory leak tests.

[2021-02-10 21:07] luis3m opened #2260 "StreamSubscriber hangs in some scenarios"
[code]

- FS2 Version 2.4.4 (works) https://scastie.scala-lang.org/o56q3I7RRuSia4wBgEI6SQ
- FS2 Version 2.4.6 (hangs) https://scastie.scala-lang.org/MWy3e0z1T3mK6GjewxvGNg

This commit causes the issue https://github.com/typelevel/fs2/commit/a9ff266ea23c67e9feb43ea8a672242a7bf99e5d. Just in case this is the only change needed to recreate the issue:

[code]
[code]

IO Bracket and Task.async are nee

[2021-02-20 10:32] RaasAhsan opened #2289 "Semantically breaking change in SocketGroup.serverResource"
On 2.5.x, the return type for `serverResource` is:
[code]
On the latest 3.x milestone, the return type is now:
[code]

To preface, the change in the signature makes complete sense from a resource safety perspective. IIRC the former definition is actually a little bit misleading; the socket associated with the inner `Resource` has already been allocated before `use` is even called! As a consequence

[2021-02-22 02:20] diesalbla commented on #2178
@nikiforo I have run today the benchmarks, using the current `main` branch (to be 3.0.0 release). It seems that the problem has been solved in this release. Given the differences between these two branches, not sure if any fix can easily be backported.

[code]

[2021-02-22 16:46] RaasAhsan commented on #2289
Ok so this is actually not true, as evidenced by the signature. The server resource is the outer resource and the client sockets are on the inner stream. Hoever, Ember Server (and others I imagine) forcibly bind it to the same stream via `Stream.resource(...).flatMap(...)`. I'm going to see if untangling that works, but I have a feeling that it won't, in which case I have another idea to make the

[2021-02-22 23:47] SystemFw commented on #2178
Well I'm about to reimplement `broadcastThrough` anyway (and remove `broadcast` and `Broadcast`). I do wonder why the performance has changed, I don't think we've touched it yet, maybe it's just ce3 being faster

[2021-02-22 23:53] SystemFw commented on #2178
[code]
mmm

[2021-02-23 00:25] diesalbla commented on #2178
@SystemFw So, the benchmarks that I run with the new version may have been different, on the translation of CE2 to CE3. https://github.com/typelevel/fs2/pull/2296

[2021-02-23 10:31] nikiforo commented on #2178
Actually that was intentional! :))) And I want to discuss this a bit, if you don't mind.
I'm not sure whether that is correct. Moreover, I've seen that `.global` is usually used in benchmarks. I've read the recommendation to have at least two threads to eliminate halts(but from my POV this rule should be applied to real code, not benchmarks).
However, I think that it's more fair to compare perfoma

[2021-02-23 10:39] nikiforo commented on #2178
@diesalbla

I also expected to see `broadcastTo100` ten times slower than `broadcastTo10`, which in turn should be ten times slower than  `broadcastTo1` :confused:
Moreover I thought that time should increase linear to the size of the supplied stream :fearful:

[2021-02-23 14:07] SystemFw commented on #2178
@nikiforo The reason I commented that is that a large amount of Cats Effect 3 performance improvements (in real world scenarios, not just flatMap loops) is due to its new work stealing thread pool, so if you don't use it you might miss out on significant perf

[2021-02-24 00:57] balthz opened #2297 "Overhead in parEvalMap?"
First of all, thanks for a great library: FS2 is a pleasure to use!

I'm using `parEvalMap` and see around 15% overhead. I understand that the expressiveness of FS2 comes at a perf cost but CPU costs :-) and I'm wondering whether there are some cherries one could pick to improve perf?

Here's my test:

[code]

I get

[code]

which points to a very low overhead of <1%.

Switching `val action` to:

[2021-02-24 00:58] balthz commented on #2297
CC @djspiewak in case you're looking for some data on Cats Effect `3.0.0-RC2`

[2021-02-24 23:28] djspiewak commented on #2297
This is very interesting! I'd like to better understand what Fs2 is doing in this scenario.

[2021-02-24 23:50] SystemFw commented on #2297
A lot of stuff. Fundamentally, the underlying implementation is `parJoin`, which solves a more complex problem: lazily generating the computations to run concurrently, and streaming the results of these (streaming) computations (this concern is not present in `parEvalMap`, but the implementation doesn't know).

That being said, I suspect there is some relatively low hanging fruit to be had with a

[2021-02-25 00:15] diesalbla commented on #2297
What would a more specialised implementation consist of? A bounded queue to insert the items that are executed and extract them in the order they come out?

Looking at the code of `parJoin`, which I think is the longest one of `Stream`, I suppose you could make a copy for the case when rather than `Stream[F, Stream[F, O]]`, you only have one `F[O]` to join in each one. Also, the output from `parJo

[2021-02-25 00:35] SystemFw commented on #2297
I'm not quite ready to get to that level of detail, but yeah trying to remove the indirection that comes from treating those `F` as `Stream`s. Interested to hear from Daniel, if he has some specific insight about the perf results here.

[2021-02-25 02:46] balthz commented on #2297
Would a asynch-profiler flame graph help here? And if so, for both (old and new) Cats Effect or just the latest? If it helps, happy to work on this (running on a Mac), let me know.

[2021-02-25 03:01] balthz commented on #2297
Out of curiosity, would `flatMap`, eg `(s: Stream[IO, Seq[A]]).flatMap(seq => Stream.emits(seq))`, benefit from an explicit optimisation for `Seq` as well? Or is the overhead there small ? Intuitively it seems not having to deal with possible cancellation etc of the inner streams would allow for more speed.

[2021-02-25 04:06] diesalbla commented on #2297
@balthz The `Stream.emits` method generates a stream with a single chunk, that has all the elements of the given sequence. Cancellation can only happen between chunks.

So, in your example, your result stream would have as many chunks as elements of type `Seq[A]` were in the stream `s`. If you would prefer to improve on that, and keep one chunk in result per chunk in `s`, you should do

[code]

[2021-02-25 04:41] balthz commented on #2297
Thank you for the detailed explanation, @diesalbla!

[2021-02-26 13:19] #1140 closed

[2021-02-26 13:20] #1142 closed

[2021-02-26 13:20] #1245 closed

[2021-02-26 13:28] mpilquist commented on #2018
@SystemFw Any more thoughts on this one?

[2021-02-26 13:31] mpilquist commented on #1330
This is fixed as of 31b5f20bd

[2021-02-26 13:31] #1330 closed

[2021-02-26 13:31] SystemFw commented on #2018
oh, I think I fixed it in #2041 , but the automatic closing didn't trigger

[2021-02-26 13:31] #2018 closed

[2021-02-26 13:31] mpilquist commented on #1705
Overcome by Queue moving to CE3

[2021-02-26 13:31] #1705 closed

[2021-02-26 13:32] #1624 closed

[2021-03-02 02:29] SystemFw commented on #1406
FYI in fs2 3.0 we have reinstated the implementation strategy of the old version of Topic

[2021-03-08 06:02] sluramod opened #2319 "Add support for Scala Native"
Cats (https://github.com/typelevel/cats) recently added support (https://github.com/typelevel/cats/issues/1549) for cross-compiling to scala native.

Scala Native support in fs2 would be be very helpful.

[2021-03-08 10:33] diesalbla commented on #2319
This would of course depend on `cats-effect` support for Scala Native, as well. https://github.com/typelevel/cats-effect/issues/1302

[2021-03-09 13:47] #2197 closed

[2021-03-15 01:19] diesalbla commented on #1643
@Daenyth In a recent Pull Request #2316, the `InspectableQueue` trait was removed from fs2, in favour of the `Queue` implementations from `cats-effect`. Given that, is this still needed?

[2021-03-15 01:37] diesalbla commented on #1533
Going through the list of items on the opening message, it looks as if the `Files[F[_]]` trait, together with `FileHandle[F[_]]`, are implementing most of the features requested on this Issue. This, together with the lack of activity for a year, is good  reason to close this issue.

[2021-03-15 01:37] #1533 closed

[2021-03-15 01:45] diesalbla commented on #1851
This issue seems to have been solved in https://github.com/typelevel/fs2/pull/2107, which made the `dir` parameter into an `Option`. For this reason, this can be closed. However, @nigredo-tori please reopen if the current solution is not satisfactory.

[2021-03-15 01:45] #1851 closed

[2021-03-15 02:10] diesalbla commented on #1551
After reading the comments, and given that the `InspectableQueue` trait has been recently deprecated in favour of `cats.effect` queue, and the last comments by @vasilmkd and @entangled90 suggest that this problem appears solved in versions 3.0 of both cats-effect and fs2, we are not clear how to proceed.

@mpilquist Would this still be relevant for the 2.x maintenance branch, or should we close?

[2021-03-15 08:54] Fristi commented on #2260
I'm see a issue which is related: https://github.com/zio/interop-cats/issues/313

Sometimes it fails as described in the ticket. I researched the zio interop, and this seems fine regarding the cats-effect laws and such. When I turn the `runAsync` implementation in a _synchronous_ one it seems to be fixed (the `ZioVersion` example), yet the laws fail).

I also saw that the reactivestreams interop i

[2021-03-15 13:00] Daenyth commented on #1643
I'm not familiar enough to say. I need to look at the types involved. I have wanted specifically a NoneTerminated queue, and the ability to inspect its size. If the CE queue can offer both features, then this could definitely be closed

[2021-03-15 17:14] nikiforo commented on #2178
@diesalbla @SystemFw,
[code]

[code]
Ration of throughputs `BroadcastBenchmark.broadcastTo1` to `BroadcastBenchmark.through` is now 1 : 25 :worried: :scream:

[2021-03-15 18:18] kubukoz commented on #1643
Any reason why we can't make all queues inspectable in cats-effect?

[2021-03-18 16:51] njwilson23 opened #2330 "Unreliable stream interruption"
When a stream is interrupted, I expect based on [these docs](https://fs2.io/#/guide?id=appendix-a1-how-interruption-of-streams-works) that the interruption is final and can only be handled with `Stream.bracket` (or something built on `Stream.bracket`).

So, I would not expect the following code, which attempts to restart a stream indefinitely, to work when the provided stream is interrupted:
[code

[2021-03-18 17:09] diesalbla commented on #2330
@njwilson23 Good afternoon, Nat. Thanks for reporting this bug. We will try to look at it as soon as we can.

In the meantime, to help us with testing, could you submit this as an executable `IOApp`, in a PR? Also, could you describe on which version of `fs2` were you running this example? If you could run it in the latests releases of 2.x, as well as the latest milestone of 3.x, that would help u

[2021-03-18 17:57] njwilson23 commented on #2330
Sure, [PR opened](https://github.com/typelevel/fs2/pull/2331). I did my testing on 2.5.0, although I've been tracking similar strangeness since at least 2.2.x. I'll try to get it working on 3.x and report back.

[2021-03-18 21:05] njwilson23 commented on #2330
I verified that it exhibits the same surprising behaviour with
[code]

[2021-03-19 07:02] diesalbla commented on #2330
I have just been running the executable, in the PR you opened, on top of the current `main`. It seems that the issue has been fixed in the four weeks since that 3.0.0-M9 release.

[2021-03-20 10:48] vpavkin opened #2332 "Unexpected parallelism degradation after merging streams with parEvalX"
While the behavior described here seems weird to me, I may miss something obvious. Excuse me if this is the case.

So I have two streams and each does a `parEvalMap(8)`. Then I `merge` those 2 streams and call `parEvalMap(8) again after the merge. Weirdly enough, parallelism on that last `parEvalMap` **drops to 2**.
If one of the input streams is empty, it's even worse - parallelism drops to 1.

I

[2021-03-20 11:40] nikiforo commented on #2332
I have modified your example a little:

[code]
This is the output:
[code]
According to the output:
On the print1 we have parallelism 8 + 8,
On the print2 we have 8
As it should be, am I missing smth?

[2021-03-20 11:43] nikiforo commented on #2332
wow, but `parEvalMap` works as you've discribed, interesting...
[code]

[2021-03-20 11:54] vpavkin commented on #2332
@nikiforo
Originally I located this issue specifically with `parEvalMapUnordered` and I'm pretty sure it works the same way with it instead of `parEvalMap`.
Here's a scastie showing that (with your addition of printing timestamps, thank you for that :) )

https://scastie.scala-lang.org/a161YljuQcGbS7cSOpBtrQ

[2021-03-20 11:55] vpavkin commented on #2332
I also can say that it works the same way in 2.3.0, which is the version I work with ATM

[2021-03-20 12:17] nikiforo commented on #2332
parEvalMapUnordered `v2.5.0` - has the bug,
parEvalMapUnordered `v3.0.0-M1` - has the bug,
parEvalMapUnordered `main Mar 19 11:01:27 2021` - doesn't have the bug,

However, parEvalMap `main Mar 19 11:01:27 2021` - has the bug

[2021-03-20 14:19] mpilquist commented on #2332
Is this the result of `merge` using this guard?

https://github.com/typelevel/fs2/blob/de371a52b2403761f50d40483131f4cae0388a99/core/shared/src/main/scala/fs2/Stream.scala#L1888-L1889

[2021-03-20 19:19] vpavkin commented on #2332
@mpilquist clues kind of confirm it - if one of the merged streams is empty then parallelism drops to 1

[2021-03-20 19:51] diesalbla commented on #2332
So, as mentioned above, the problem could be that `merge` throttles each of the input streams to only process one chunk from each side at a time. Note that both `parEvalMap` and `parEvalMapUnordered`, the ones located before the merge, emit their outputs in singleton chunks. If we add some rechunking to the Scastie example, such as:

[code]
This expands parallelism by letting through more elements

[2021-03-20 20:22] nikiforo commented on #2332
But why current `parEvalMapUnordered` gives https://github.com/typelevel/fs2/issues/2332#issuecomment-803295788 this result? Both `parEvalMap` & `parEvalMapUnordered` use the same merge

[2021-03-21 15:48] njwilson23 commented on #2330
That's interesting and surprising! However, I tried changing the numbers slightly, requiring 100 interruptions (up from 10), and consuming 10,000 values (up from 1,000). That reproduces the flaky behaviour observed with previous versions, so it doesn't seem like it's fixed in a consistent manner.

I'm also, curious, what do we expect to happen?  From a (superficial) reading of the code, I expected

[2021-03-21 22:32] danicheg commented on #2332
Also, rechunking after the `merge` (without any manipulation on the initial streams) allows using `parEvalMap` with the expected level of parallelism.
https://scastie.scala-lang.org/Ocl100nAR42QZHambWDO0A
It's worth to mention it works on 2.5.3 and not on 2.4.6.

[2021-03-26 03:56] kubukoz opened #2338 "Make .showLinesStdOut and friends use Console instead of Sync?"
CE3 introduces a `Console[F]` algebra - should we use that instead of Sync in `showLines` and `showLinesStdOut`? What about `.debug`?

[2021-03-26 13:41] mpilquist commented on #2338
Yes for `showLines` and `showLinesStdOut`, though note we'll have to change signatures b/c `showLines` currently takes a `PrintStream`. I'm fine if we get rid of the `PrintStream` variant entirely. We also should use the default parameter trick to get a show instance for any O.

`debug` should stay as-is -- ceremony in making that effectful will cause it not to be used as much.

[2021-03-26 13:53] mpilquist commented on #2338
We should make a pass through the stream combinators and evaluate each use of `Sync`. I just looked at a couple and it appears we can replace `Sync` with stuff like `Clock`, `Random`, etc. Need to do this before 3.0 final.

[2021-03-28 22:21] #2338 closed

[2021-03-28 22:51] #1471 closed

[2021-03-29 03:22] RaasAhsan opened #2343 "Proposal: stream resource transfer ownership"
Supersedes #2289 and #2300.

Just to summarize a bunch of GitHub issues and Gitter conversations around fs2/http4s: the main objective here is to arrive at a safe, network API which doesn't couple the lifecycles of server and socket handler streams. This is really useful when we want to build network servers which gracefully shutdown, where we stop accepting new connections and allow remaining con

[2021-03-29 12:44] mpilquist commented on #2343
All seem like good options for investigation. Approach 1 seems simplest to me without thinking too much about tradeoffs.

[2021-03-29 12:45] #2169 closed

[2021-03-29 12:47] #683 closed

[2021-03-29 12:47] #748 closed

[2021-03-29 12:47] #1511 closed

[2021-03-29 12:47] #1691 closed

[2021-03-29 21:42] diesalbla commented on #1551
Based on @vasilmkd comment above, it seems this issue have been solved with recent versions of `fs2` and `cats-effect`.

[2021-03-29 21:42] #1551 closed

[2021-04-01 16:54] TimWSpence opened #2353 "Stream#map not stacksafe"
[code]

stack-overflows for me. It looks at first glance like using `cats.data.AndThen` [here](https://github.com/typelevel/fs2/blob/dee95aa1f4db8d31f01e394e0595a4dcf7922604/core/shared/src/main/scala/fs2/Pull.scala#L1269) might fix it but I haven't tried it to confirm.

Happy to give it a go though!

[2021-04-01 16:59] TimWSpence commented on #2353
Using `AndThen` did seem to fix it so I created https://github.com/typelevel/fs2/pull/2354

[2021-04-01 17:51] kubukoz commented on #2353
Does this affect effectful streams too?

If it doesn't, I'd be wary of adding `AndThen` for both, especially if it incurs a performance hit on the already stacksafe effectful ones. Disregard this comment if it's the same with e.g. `IO` :P

[2021-04-01 19:16] djspiewak commented on #2353
This definitely applies to `IO` as well. The stack unsafety is in `Function1`

[2021-04-01 19:26] diesalbla commented on #2353
So, should we then make the code of `Stream` and `IO` to safeguard against that? Or at least, to avoid composition in our code (the problem here stems from the interpretation of `map`).

I wonder if the stack-safe solution (I am guessing passing the left-hand-sides of composition in continuation) could be implemented on the Scala library itself

[2021-04-01 20:47] TimWSpence commented on #2353
Yeah it _really_ feels like we should move it into the standard library implementation

[2021-04-01 21:24] ScalaWilliam opened #2356 "Cannot find Scaladoc on fs2.io website"
Hi fs2 team!

I am unable to find fs2's ScalaDoc through the fs2.io website.

![image](https://user-images.githubusercontent.com/2464813/113355589-ec7d0500-9338-11eb-8c47-3d45a47e7f19.png)

[2021-04-01 21:32] ScalaWilliam opened #2357 "Docs: clicking on Concurrency Primitives takes you directly to the first sub-section"
Reproduction:
- Click Simple Examples
- Click Concurrency Primitives

Browser: Chrome on Windows.

![image](https://user-images.githubusercontent.com/2464813/113356385-1551ca00-933a-11eb-907a-31567927a05d.png)

Regards,

[2021-04-01 23:08] mpilquist commented on #2356
I think we have Scaladoc links in the README but not the site. Let's update those to use javadoc.io and then make sure they get put on the site somewhere obvious.

[2021-04-02 13:22] mpilquist commented on #2353
Fixed by #2354

[2021-04-02 13:22] #2353 closed

[2021-04-05 06:48] m50d opened #2362 "Stream interrupt closing resource to stop blocking socket operation has stopped working in version 3?"
Hi,

In fs2 2.5.4 the following program "works" (that is, it exits after 1 second with a no such element error from `lastOrError`):

[code]

In fs2 3.0.1 the same program instead hangs indefinitely. I experimented with using `IO.interruptible` but couldn't achieve anything - from what I read elsewhere interrupting a thread during blocking socket operations doesn't generally work and it's necessary

[2021-04-05 07:49] m50d commented on #2362
(I'm testing on Windows 10, FWIW)

[2021-04-07 13:08] mpilquist commented on #2362
This definitely should still work. Here's a further minimization:

[code]

[2021-04-07 13:32] mpilquist commented on #2362
Simpler reproduction:

[code]

[2021-04-07 14:23] mpilquist commented on #2362
Thanks to a reminder from @oleg-py and @kubukoz, this behavior is indeed intentional. Racing two fibers back pressures on cancelation of the losing fiber. The `IO.delay` constructor results in an uncancelable fiber. In general, using `IO.interruptible` is the right fix, but as you noted, `ServerSocket#accept` is not interruptible.

One option is to restore the leaky behavior of CE2 via:

[code]

A

[2021-04-08 01:28] m50d commented on #2362
Thanks. The fiber start works as a workaround. In my actual use case the uninterruptible blocking socket call is deep in a library where I can't easily replace it.

[2021-04-14 06:49] HuwCampbell opened #2366 "Reconsider type of `eval_`"
I've just been fighting against a bug based on me using `eval_` instead of `eval`. By convention, functions ending in `_` return `Unit`, not `Void`. For example, whenever I see
[code]
I will replace `traverse` with `traverse_`.

I had something like this:
[code]

I assumed this would yield values still. I know that I could have used `evalTap` or `eval` here, but I feel like the API really bit me.

[2021-04-14 09:19] nikiforo commented on #2366
Yes, this behavior is unintuitive. Moreover, everything below `eval_` wouldn't be evaluated, because, as you've said, `eval_` produces `Void`
[code]
Thus, `eval_` should be used when concatenating streams with `++`, but not with flatMap operations.

Concerning your issue, `eval_` is already deprecated.
[code]

[2021-04-20 23:10] Taig opened #2371 "`parEvalMap` + `Sync` => interrupt called for Scope that cannot be interrupted"
[code]

[code]

This is an error I encountered while upgrading to fs2 3. Note that when replacing the `Sync` constraint with `Concurrent` (and thereby probably also the inferred compiler instance), the code works as expected. Also `parEvalMapUnordered` does not trigger the error.

Edit: I tried to come up with a naive replacement in the meantime that just enqueues a bunch of `Deferred`s but was su

[2021-04-22 03:45] HuwCampbell commented on #2366
Thanks. If there's nothing actionaly I will close.

[2021-04-22 03:45] #2366 closed

[2021-04-28 15:06] keynmol opened #2375 "[fs2-io] Watcher only remembers last file it was asked to watch"
fs2 3.0.2

The way I understood how `Watcher` can be used is:

As long as the watcher resource is open, calling `w.watch(path)` (where **path** is a **file**) on it should **add** files to the list of watches. And `w.events()` would be a stream of events coming from both files.

What I think is happening instead, is only the **last** path added via `w.watch(path)` receives notifications.

Here's a

[2021-04-29 14:14] mpilquist commented on #2375
Hm, this test passes (on OS X):

[code]

[2021-04-29 14:32] mpilquist commented on #2375
This works too, which registers the watches after the event stream is opened:

[code]

[2021-04-29 15:01] keynmol commented on #2375
hmm.

I'm on Linux - and given it's filesystem specific, could it be the cause? Scastie presumably runs on Linux as well.

Do you see anything obviously wrong in my snippet? In my case I open event stream after registering all the watchers (like your first example)

Also, if you have this test in a branch - would be interesting to see if CI's ubuntu runner passes it as well.

[2021-04-29 15:04] keynmol commented on #2375
Right, I ran my snippet on my OS X machine, it printed out an empty List and laptop crashed :D So I'd say _inconclusive_

[2021-04-29 15:12] mpilquist commented on #2375
Too funny. I'll open a PR with the test above and see how GHA handles it.

[2021-04-29 15:48] mpilquist commented on #2375
#2378 - passed on GHA, can you give it a try? Then I guess let's see if we can reproduce what you saw using a port of your original test case

[2021-04-29 16:09] keynmol commented on #2375
I checked - that branch also passes on my machine, but not if I apply this patch (test times out after 30 seconds):

[code]

I think files being in the same folder is key here - which is how my snippet is different from the current test

[2021-04-29 17:06] mpilquist commented on #2375
OK the bug is roughly here: https://github.com/typelevel/fs2/blob/6a625c5c7f60857a5b9773c26692bd6c8ac2ba3a/io/src/main/scala/fs2/io/file/Watcher.scala#L294-L301

Events for both paths get fired here but the earlier registered path gets filtered out in that code.

[2021-04-29 17:07] mpilquist commented on #2375
Aha, because both paths have the same `WatchKey`

[2021-04-29 23:29] vasilmkd commented on #2037
I'd like to work on this.

[2021-04-30 08:05] rehanone opened #2380 "Class cast exception in Files[IO].writeAll"
I am trying to migrate [fs2-ftp](https://github.com/regis-leray/fs2-ftp) to version 3 and we are seeing a very strange issue with Files[IO].writeAll function as seen in this [PR#132](https://github.com/regis-leray/fs2-ftp/pull/132).

The error is:

[code]

Unfortunately my understanding of v3 is still limited at best hwoever, @regis-leray suggested that this issue might have been a bug in fs2 in t

[2021-04-30 09:04] ScalaWilliam commented on #2380
Can you check which JDK version you are using?

[2021-04-30 12:44] mpilquist commented on #2380
Reproduction:

[code]

[2021-04-30 12:50] mpilquist commented on #2380
Fix:
[code]

[2021-04-30 12:58] mpilquist commented on #2380
No problem -- I'll try to get a PR together today and then we can do a patch release. If someone beats me to the PR, that would be great. I'd have opened it already but my workspace has a partial fix for another issue and haven't had time to properly stash/etc. :)

[2021-04-30 13:08] mpilquist commented on #2375
This issue is caused by `WatchService` only supporting watching directories, not individual files (https://stackoverflow.com/questions/16251273/can-i-watch-for-single-file-change-with-watchservice-not-the-whole-directory#comment37744531_16251273). We can support watching individual files but we'll need to change some internal structure of `Watcher` to store multiple watched paths for an individual

[2021-04-30 13:33] rehanone commented on #2380
@mpilquist , Thanks! I will try to give it a go and submit a PR for this.

[2021-05-01 02:31] #2380 closed

[2021-05-01 02:35] mpilquist commented on #2375
Fixed in #2382

[2021-05-04 13:02] #1887 closed

[2021-05-04 13:03] #2084 closed

[2021-05-05 12:17] #2037 closed

[2021-05-10 13:05] mpilquist commented on #2371
Yeah, this happens any time a stream containing `interruptWhen` is compiled with the "synchronous compiler" provided here: https://github.com/typelevel/fs2/blob/bb69f51505d7871af318da56be5281f25fa6b5af/core/shared/src/main/scala/fs2/Compiler.scala#L169-L173

With a full `Concurrent[F]`, you get the fully featured compiler here: https://github.com/typelevel/fs2/blob/bb69f51505d7871af318da56be5281f2

[2021-05-10 13:07] #2371 closed

[2021-05-10 13:07] #2362 closed

[2021-05-10 13:14] Taig commented on #2371
Thank you for the detailed explanation

[2021-05-10 16:05] mpilquist commented on #1999
Fixed by #2376 -- supports both JEP380 and JNR

[2021-05-10 16:05] #1999 closed

[2021-05-13 11:28] svalaskevicius opened #2394 "Memory leaks"
Hi, we've been hit by a memory leak in fs2:

[code]

Simplest example to reproduce:

[code]

The fs2 pull/bind etc objects keep being accumulated in memory and never freed, also, they seem to form a cycle:

![2021-05-13-122215_2472x1560](https://user-images.githubusercontent.com/893660/118119524-64355980-b3e6-11eb-8456-4e392665bf22.png)

Also, a colleague mentioned, that Stream.repeat method also

[2021-05-13 11:52] diesalbla commented on #2394
@svalaskevicius Good afternoon, Sarunas.

We would like to help you fix this issue as soon as possible, although of course we may need some help. For some convenience, could you please open a Pull Request adding a test, or an executable program with that leak? That would help us work on it.

Also, on which version of `fs2` have you found this problem? If you could try to reproduce it in previous v

[2021-05-13 11:57] svalaskevicius commented on #2394
Hi! Both the fs2 version and the program are in the description, as snippets of text. That is the full program that can replicate it. I can ofc upload the whole project as well - will do as a pr, as you've suggested

[2021-05-13 12:07] nikiforo commented on #2394
@diesalbla
fs2 has `MemoryLeakSpec`, however, it's located at `core/jvm/src/it/scala/fs2` and isn't executed when `coreJVM/ testOnly fs2.MemoryLeakSpec`. After I moved the spec to `core/jvm/src/test/scala/fs2` I was able to execute the spec with `coreJVM/ testOnly fs2.MemoryLeakSpec`. So, should MemoryLeakSpec be moved to `src/test`?

[2021-05-13 12:10] diesalbla commented on #2394
I cannot recall why it was kept outside of the unit tests folder `src/test`, so I cannot answer that. @mpilquist may.

[2021-05-13 12:14] svalaskevicius commented on #2394
@diesalbla , please see https://github.com/typelevel/fs2/pull/2395 for the example project.

I have added `fork in run` for convenience of running with `sbt run`

[2021-05-13 12:16] diesalbla commented on #2394
Well, not the whole project, but if you can clone `fs2` and add an `App` with that snippet in a PR (a branch) that would help us moving. About the errors, the `BindBind` objects are introduced during stream compilation, to rotate left-associated streams `((a >>= f) >>= g)` into right-associated ones `(a >> (\x -> f x >>= g))`, otherwise the compilation would have to recurse on the left and would s

[2021-05-13 12:19] mpilquist commented on #2394
@diesalbla I pushed a reproduction to `topic/awakeEveryLeak` branch. To run, switch to coreJVM project and then execute `IntegrationTest / testOnly *Memory*`.

- Replacing `awakeEvery` with `Stream.constant(())` or `Stream(()).repeat` results in no leak
- Removing `foreach(_ => IO.unit)` results in no leak

[2021-05-13 12:25] svalaskevicius commented on #2394
Interestingly, the project this problem occurred does not use awake every, it instead reads via http4s stream and decodes the stream to messages..

Also, if the foreach line is done before map identity - all seems ok

[2021-05-13 12:26] mpilquist commented on #2394
Here's a simpler reproduction that doesn't use `awakeEvery`:

[code]

Problem appears to be related to the interleaving of `flatMap/map/flatMap`

[2021-05-13 12:59] prova commented on #2394
This was found when we used: ```textStream.through(ServerSentEvent.decoder)```, which is then evalTapped inside a for-comprehension.

[2021-05-13 14:52] svalaskevicius commented on #2394
the results from bisect:

e25a6e1c59ec77b4c60e97731d1b152aec1c068b is the first bad commit
Date:   Tue Dec 29 00:41:57 2020 +0000

    Pull - compilation changes...

    - WE remove the use of the `BuildR` subclass of Run, as well as the
      continuation-like `CallRun` type alias.

    - We remove the use of `F.attempt` after recursive calls to `go`,
      since errors are now also processed wit

[2021-05-13 15:55] arosien opened #2396 "Add partial apply factory for SignallingRef"
`apply` and `of` require both `F[_]` and `A` parameters, which often has inference issues requiring the user to annotate. Instead these methods could use the partial apply "trick" to infer at least the `A` type.

[code]

Other data types might have similar issues, but this is the one I've noticed so far.

[2021-05-13 16:11] kubukoz commented on #2396
I think this would be nice to have.

For anyone who wants to give this a try: see what `Ref[F].of` looks like in cats-effect, but instead of using `Ref.Make[F]` use `Concurrent[F]`.

[2021-05-13 17:21] IVaSmi commented on #2396
Hi
I would like to make this issue. Ok?

[2021-05-13 17:45] kubukoz commented on #2396
Sounds good to me! Feel free to ask if you need any help.

[2021-05-13 18:53] #2375 closed

[2021-05-14 02:44] #1966 closed

[2021-05-14 11:55] #2394 closed

[2021-05-15 01:31] vasilmkd commented on #1406
As far as I understand, this issue is now present only on `series/2.x`?

[2021-05-15 01:37] vasilmkd commented on #1945
Can we confirm this does not occur with fs2 3.0? What would be a desirable solution for 2.5.x?

[2021-05-19 12:48] prova opened #2408 "Memory leaks possibly related to Topic behaviour"
While porting a large codebase to CE3 and friends, we can see some memory leaks occurring. By the way, thanks for fixing an earlier one reported by @svalaskevicius in fs2 3.0.3.

The present issue has possibly a common root in the `Topic` behaviour. @karimak123 has come up with this reproducing example that leaks quite heavily:

[code]

Further to that, the pattern that involves consuming data fro

[2021-05-19 15:32] xjurko commented on #2408
Had a go at running bisect:
[code]

[2021-05-19 17:07] diesalbla commented on #2408
Hmmm It is a bit strange if that is the first bad commit. From taking a new look, i cannot see anything in the changes of that commit that would introduce a memory leak. For easy inspection, [look at changes without whitespace changes](https://github.com/typelevel/fs2/commit/16e2d80f2ae2ff032de114c4ae468599863ab1a6?w=1)

[2021-05-19 17:29] xjurko commented on #2408
HI @diesalbla had another go with bisect just to confirm and turns out the previous one wasn't the first bad commit. Looks like first bad commit was actually few commits earlier:
[code]
I checked out and ran manually again a few times to verify and rule out flakiness

`e3fb8b64b` - passes
`e25a6e1c5` - fails

Sorry for misidentifying this first time

[2021-05-19 17:29] mpilquist commented on #2408
@diesalbla Is the rewrite of this if/else really equivalent? https://github.com/typelevel/fs2/commit/16e2d80f2ae2ff032de114c4ae468599863ab1a6?w=1#diff-725e3e96f7e12145daebb18e95a1912acdcd09b96702d3d84c7507a9683de1d1L879

Looks to me like the case where it's root & extendedTopLevelScope is defined now returns None instead of Some. I haven't tried running the tests with that change.

[2021-05-19 17:34] mpilquist commented on #2408
That's the same commit which was (partially) rolled back in e25a6e1c59ec77b4c60e97731d1b152aec1c068b

[2021-05-19 17:38] diesalbla commented on #2408
Yeah... after that commit there was a first partial rollback a few months ago, and another one earlier this week. There may be a last part.

I would be curious as to why removing that "closure" runner results in memory leaks... clearly something is being inadvertently retained that should not be.

[2021-05-20 08:08] xjurko commented on #2408
Hiya noticed there has been some progress on this thanks. Just to confirm, unfortunately, the leak seems to still be present and the test case mentioned above fails on the main branch. Ran this multiple times on separate machines to rule out any flakiness. Ran with java11.

[2021-05-20 12:02] mpilquist commented on #2408
Both of the failing tests have long chains of `BindBind` objects on the heap:

<img width="539" alt="image" src="https://user-images.githubusercontent.com/118078/118975177-b70c9500-b941-11eb-9ec0-e26a2d9805cb.png">

[2021-05-20 12:42] mpilquist commented on #2408
I bisected the "hung merge" failure -- started failing here: ef57231b393a2f49e812594183fab47a81b29e3e

Note this doesn't necessarily point to the problem being `Channel` -- could just be that `Channel` has a different pattern of `map`/`flatMap` calls that is exposing an interpreter leak.

[2021-05-20 13:21] mpilquist commented on #2408
Fixed by #2412

[2021-05-21 00:34] #2408 closed

[2021-05-21 00:50] mpilquist commented on #2408
Released in https://github.com/typelevel/fs2/releases/tag/v3.0.4

[2021-05-21 02:48] jilen opened #2414 "Cannot set tcp keep_alive to server"
Currently scoket options are set to the `AsynchronousSeverSocketChannel` but it should  be applied to the accepted `AsynchronousSocketChannel`,  `AsynchronousSeverSocketChannel` cannot set keep_alive, actually

[2021-05-21 12:05] #2396 closed

[2021-05-28 18:38] kubukoz commented on #2371
What do you think about having this in the error message?

[2021-06-01 12:32] #2414 closed

[2021-06-01 14:35] DarkWingMcQuack opened #2428 ".evalTap seems to be off by one after .sliding"
I am trying to do something like this:
[code]
the printed result turns out to start with:
[code]
it almost seems like one chunk output is skipped.
after this the output follows this pattern:
[code]
and at the end the output then catches up again to be something like:
[code]

shouldn't the output always be something like:
[code]
???
For cats-effect-2.4.1 and fs2-2.5.4 this works as expected,
but fo

[2021-06-01 14:55] mpilquist commented on #2428
@nikiforo Maybe related to #2221

[2021-06-01 14:59] kubukoz commented on #2428
fun unrelated thing, if you use `.debug()` instead of `evalTap` you first see all elements from `before`, then all the elements from `after`.

[2021-06-01 14:59] nikiforo commented on #2428
Yep, I'm looking at it.
My first guess is that it's an intended behavior.
The thing is that between `.evalTap(dp => IO.println(f"before sliding: $dp"))` and `.evalTap(ch => IO.println(f"after sliding: ${ch}"))` is that there is a buffer, that should be filled to be emit the chunk.
However, I'm looking at the issue.

[2021-06-01 15:04] mpilquist commented on #2428
@kubukoz Insert a `.unchunk` after `Stream.emits` to avoid any confusing results due to a single large chunk getting emitted.

[2021-06-01 15:09] mpilquist commented on #2428
Smaller reproduction using debugChunks:

[code]

[2021-06-01 15:13] mpilquist commented on #2428
Issue is here: https://github.com/typelevel/fs2/blob/1450b7f7a85bb81ca33e408e30ad685e8f3a7ddd/core/shared/src/main/scala/fs2/Stream.scala#L2399-L2400

The first time through this function, we have `window = Chunk(2, 3, 4, 5)` and `prev = empty`. We then uncons a `Chunk(6)` which gives us `heads = Chunk(6)` and `tails = empty`. The while loop condition fails so we recurse, passing `window = Chunk(2

[2021-06-04 13:37] mpilquist opened #2432 "Fix groupWithin test that intermittently fails"
https://github.com/typelevel/fs2/runs/2746360895?check_suite_focus=true#step:6:849

[code]

[2021-06-05 18:05] SarpongAbasimi opened #2435 "Streaming Data With FS2"
Hey 👋🏿

I am trying to stream data from the twitter api `https://api.twitter.com/2/tweets/sample/stream`
Ref - `https://developer.twitter.com/en/docs/twitter-api/tweets/sampled-stream/api-reference/get-tweets-sample-stream`

For the client I have this

<img width="888" alt="Screen Shot 2021-06-05 at 18 54 22" src="https://user-images.githubusercontent.com/37377831/120900910-7b571800-c62f-11eb-8d1b

[2021-06-05 18:34] nikiforo commented on #2435
I think you'll find more help on gitter or discord(both links can be found on the main github page) for this kind of questions.

[2021-06-06 11:47] #2435 closed

[2021-06-08 03:39] arosien opened #2437 "Stream.fromQueue* could take a QueueSource instead of a Queue"
I believe the signatures for `Stream.fromQueueUnterminated`, etc., could be narrowed to take `QueueSource` instead of `Queue`, because they only rely on the `take` and `tryTake` methods. Then if users want to translate a `Queue` to a `Stream` they don't have to require knowledge of the "write" methods of the `Queue`, only the "read" methods.

[2021-06-08 17:26] kubukoz commented on #2437
Agreed. I don't know if this will be a binary compatible change, though - if not, we can probably work around by making the existing functions package-private and adding new ones.

[2021-06-08 17:50] djspiewak commented on #2437
Should be binary compatible since it's a contravariant parameter adjustment.

[2021-06-13 09:29] tgrospic opened #2440 "Stream returned from Queue#dequeue is halted on subsequent call to take"
Use of the stream returned by `Queue#dequeue` halts unexpectedly on the second call to take element even though element should exist in the queue.

This behavior is different when using `Queue#dequeue1` which works as expected and can produce stream with all elements from the queue.

Am I missing something? Thanks!

[code]
https://scalafiddle.io/sf/5Hj3iUP

fs2 version: 2.2.1 (2.5.0)

[2021-06-24 14:01] grouzen commented on #1023
We have the same issue. Starting several streams by mapAsync(Unordered) ends up with some of them hanging.

[2021-07-01 15:05] mpilquist commented on #2428
Yep, I'll close now

[2021-07-01 15:05] #2428 closed

[2021-07-01 21:40] fernandomora opened #2457 "Regression in fs2 2.5.7 produces ArrayIndexOutOfBoundsException using writeOutputStream and readOutputStream"
This code properly works ok fs2 2.5.6:

[code]

But it fails with `ArrayIndexOutOfBoundsException` on fs2 2.5.7:
[code]

Returning:
[code]

It seems there is some problem with the size of the chunks of the source stream (15) not being a multiple of the `readOutputStream` given chunk size for reading (16).

[2021-07-01 21:47] vasilmkd commented on #2457
Thank you for the reproduction. I'll take a look at this tomorrow.

[2021-07-02 10:05] vasilmkd commented on #2457
I have a fix incoming. Thank you again.

[2021-07-03 16:39] #2457 closed

[2021-07-05 22:59] armanbilge commented on #2437
I thought this too! But, MiMa didn't agree, I'd be really really interested to hear an explanation for why.

[2021-07-05 23:28] mpilquist commented on #2437
@djspiewak These are static methods, not class methods.

[2021-07-06 01:41] armanbilge commented on #2437
`fromQueue` is static, but the `enqueue` methods I also modified in my PR are class methods.

[2021-07-06 16:53] vasilmkd commented on #1945
Dependent on the release of https://github.com/typelevel/cats-effect/issues/2013.

[2021-07-08 23:18] mpilquist opened #2471 "Add text.hex.{encode, decode}"
Model these after the methods in `text.base64` -- something like:

[code]

Example usage:

[code]

Without this combinator, the above would be:

[code]

[2021-07-09 13:17] mpilquist commented on #2471
Initial sketch of this is on topic/hex branch

[2021-07-12 03:36] armanbilge opened #2479 "Link-time errors for fs2.io on Scala.js"
Building against 328a125. Maybe it's a publishing issue? Seems to specifically affect the Scalably Typed Node.js facade. @oyvindberg maybe you can help with this?

[code]

[2021-07-12 04:10] armanbilge commented on #2479
I downloaded the jar at https://repo1.maven.org/maven2/co/fs2/fs2-io_sjs1_2.12/3.0-22-328a125/ and it's missing the generated classes.

[2021-07-12 08:23] oyvindberg commented on #2479
I'll have a look today or tomorrow 👍

[2021-07-12 10:40] oyvindberg commented on #2479
Had a first look. None of the generated files or class files compiled from them are present in the jars or source jars from maven central, but they must have been there while building.

if I `publishLocal` the files end up where they should:
[code]

Might there be a whole in the logic for compressing target folders in the CI github actions maybe?

[2021-07-12 11:26] mpilquist commented on #2479
It may be due to sbt-osgi, which limits the JAR to include fs2.io packages. I would have thought that only impacted the JVM build though. Simplest fix is likely using `fs2.io` as the root package for generated code -- e.g., `fs2.io.jsdeps`

[2021-07-12 12:32] #2471 closed

[2021-07-12 12:38] mpilquist commented on #2440
This happens b/c `dequeue` takes as many elements as are available and emits them as a single chunk in the resulting stream. Hence, the first call to `s.dequeue.take(1)` gets both values but only processes one of those values. The unprocessed entry isn't put back in to the queue. You can control this behavior via `s.dequeueChunk(maxSize)`.

[2021-07-12 12:38] #2440 closed

[2021-07-12 12:38] #2437 closed

[2021-07-12 13:19] armanbilge commented on #2479
Thank you both for the fast response! Much appreciated. I think OSGI is the likely candidate, going to try disabling it for Scala.js

[2021-07-12 15:57] #2479 closed

[2021-07-13 17:06] armanbilge opened #2489 "Publishing `fs2-node` module sometimes fails"
`2021-07-13 13:59:21.591Z error [SonatypeClient]     Failed: no-traversal-paths-in-archive-file, failureMessage:Unable to process file /co/fs2/fs2-node_sjs1_2.12/3.0-39-594f530/fs2-node_sjs1_2.12-3.0-39-594f530.jar: Truncated ZIP file  - (SonatypeClient.scala:375)`

https://github.com/typelevel/fs2/runs/3049635964#step:12:890
https://github.com/typelevel/fs2/runs/3057389245#step:12:880
https://git

[2021-07-13 20:31] oyvindberg commented on #2489
Hey again.

No, I have no idea. I published loads of this kind of code to bintray, but not much to maven central yet. In any case it's all fairly normal code once generated.

I also saw this error in one of the runs:
[code]

[2021-07-13 21:13] armanbilge commented on #2489
@oyvindberg thanks for getting back to us so quickly! No worries, hopefully the folks over at sonatype can help with this ... I agree though, the source-generation pipeline seems straightforward. Are you aware of any other projects publishing ST-generated facades?

Yes, I did see that signature error too. I assume it was related to the `no-traversal-paths-in-archive-file` error that also occurred

[2021-07-13 21:47] oyvindberg commented on #2489
hmm, Github search brought up these https://github.com/search?p=1&q=ScalablyTypedConverterGenSourcePlugin&type=Code at least

[2021-07-13 21:57] armanbilge commented on #2489
Thanks! Unfortunately Sonatype didn't have any advice for us :(

[2021-07-14 00:07] armanbilge commented on #2489
I had a look through those search results. Most relevant was [wiringbits/sjs-material-ui-facade](https://github.com/wiringbits/sjs-material-ui-facade) by @AlexITC which publishes a massive ~100 mb ST-generated facade to Maven via GH actions. As far as I can tell this problem never appears in their logs. At a glance I don't notice anything special about their build configuration.

So, clearly it's

[2021-07-14 04:56] AlexITC commented on #2489
My library was using an older scalablytyped version, I just upgraded it and triggered the release to see how it goes.

The other difference is that my library is not supporting scala 2.12, I'd try 2.13 only and see if it gets a better result.

[2021-07-14 05:06] AlexITC commented on #2489
The job was successful: https://github.com/wiringbits/sjs-material-ui-facade/runs/3063500602

The main difference I see is that my library relies in [sbt-ci-release](https://github.com/olafurpg/sbt-ci-release) while fs2 is handling all the steps manually, I'd look either in the Scala version or trying sbt-ci-release.

Good luck.

[2021-07-14 05:10] armanbilge commented on #2489
@AlexITC thank you very much for chiming in and running your release workflow, really useful datapoint for us.

[2021-07-14 07:37] armanbilge commented on #2489
Brief update: I did a bit of experimenting with this by attempting to publish to my own Sonatype group ID `com.armanbilge`. See the commits here: https://github.com/armanbilge/fs2/commits/series/armanbilge

tl;dr: by starting from the node module and adding stuff back in, I had a very good run where I eventually was able to [publish all modules at once](https://index.scala-lang.org/armanbilge/fs2)

[2021-07-19 20:48] armanbilge commented on #2489
@oyvindberg Thanks to @mpilquist's efforts we think we may have got a handle on this, seems like it may have been some sort of weird parallel publishing thing going on? Hopefully the fix will stick.

I'm pinging you because while working on this, we had to restore Javadoc publishing ([see log](https://github.com/typelevel/fs2/runs/3107066533#step:12:481)). I think sonatype/maven requires this, per

[2021-07-19 20:59] AlexITC commented on #2489
I was actually the one submitting this recommendation:

[code]

Later, I discovered that sonatype does require the docs artifact (even if empty), meaning that `sources in (Compile, doc) := Nil,` should be enough, in fact, that's how my [library](https://github.com/wiringbits/sjs-material-ui-facade/blob/master/build.sbt#L38) is published.

I'm yet to submit a PR to update the scalablytyped docs.

[2021-07-21 12:52] #2489 closed

[2021-07-21 14:59] Yotamho opened #2497 ".onFinalize's action doesn't run in certain situations"
Hi,
Using fs2 version 2.5.9,
I am using `fs2.Stream`'s `.onFinalize`, and there are 2 operations that using them after defining the `.onFinalize` causes it to not run at all:

**case 1: calling .take(0)**
I consider it a bug especially because `.onFinalize` is usually called also on empty streams.
As a workaround I use `.drain` instead in my own code, but I assume it is less performant because it

[2021-07-21 15:44] SystemFw commented on #2497
In 3.0, broadcasting with no pipes results in an IllegalArgumentException.
I need to think about 1, and what the correct behaviour should be. In cats-effect, if something gets cancelled before it starts executing, finalisers don't execute either. Should `take(0)` be considered akin to that? (and therefore this behaviour is expected), or not?

[2021-07-21 15:55] mpilquist commented on #2497
How would we describe which finalizers in `s` get run in `s.take(0)`? E.g., should `s.onFinalize(f).onFinalize(g).take(0)` run both `f` and `g`? Keep in mind `s.onFinalize(f)` is an alias for `Stream.bracket(F.unit)(_ => f).flatMap(_ => s)`, so if we want to run both finalizers in that example, we need to evaluate the entire source stream to find the finalizers to run, or at least up to the first

[2021-07-21 16:27] djspiewak commented on #2497
It's easier if you think of `onFinalize` as being an "invisible" component of the stream, analogous to `Stream.eval_(...) ++ something`. Then, consider the semantics of `take` as being "evaluate the stream as far as necessary to get the prescribed number of `emit`s, and no further". Within this light, it makes a lot of sense that the leading `onFinalize` would be invisible.

If you *don't* do this

[2021-07-23 15:04] ChristopherDavenport opened #2503 "Fs2-IO Java Resources API"
Right now there are Files and Network, but another commonly used component is java resources.

Might be cool to have that integrated so that folks can just reference resources via strings or as streams, etc. I asked in discord and it seemed like there may be interest. So before taking a stab at it I figured it'd make sense to open an issue to track it.

Similar to how StaticFile in http4s does so

[2021-08-06 01:16] rehanone commented on #2060
Are there any plans to progress this in near future?

[2021-08-14 08:23] lorandszakacs opened #2558 "Topic#subscribe on closed topics has surprising (non-terminating) semantics"
using fs2 `3.0.6` and `3.1.0`. Here's a [scatsie](https://scastie.scala-lang.org/6ToFVBZvQ3ainW9QIokpfw). All code pasted in this issue is also in the scatsie.

We have as an example of subscriber to a topic subscribing _after_ the topic gets closed:
[code]
This consistently ends up non-terminating, and it's a bit surprising given that other methods seem to signal operating on closed topics better

[2021-08-14 08:24] lorandszakacs commented on #2558
I'll happily tackle this myself if you can decide which fix you want for this.

[2021-08-15 12:27] #2356 closed

[2021-08-19 09:33] guizmaii commented on #1999
Hi everyone,

Is it enabled by default or is there an option to activate the use of this Unix socket? 🤔

[2021-08-19 09:37] armanbilge commented on #1999
@guizmaii To use unix sockets you either need JDK 16 (I think) or to add a dependency to `"com.github.jnr" % "jnr-unixsocket" % "0.38.8"`. Otherwise it will throw an error.

[2021-08-19 09:39] vasilmkd commented on #1999
What @armanbilge said. One more little detail is that they are only supported in `fs2` `3.x`.

[2021-08-19 09:40] guizmaii commented on #1999
Thanks guys! 🙂

[2021-08-19 10:03] guizmaii commented on #1999
Can we use these Unix sockets to connect to a remote DB (with Skunk in my case)? 🤔

[2021-08-19 10:07] mbaechler commented on #1999
I don't think so, unix sockets are local to a kernel AFAIK

[2021-08-19 10:09] guizmaii commented on #1999
@mbaechler What about @taig initial comment:

We're using Google Cloud too!

[2021-08-19 10:19] guizmaii commented on #1999
Apparently not the best idea even if possible in Google Cloud, apparently! Thanks for your help @mbaechler 🙂

[2021-08-19 10:27] taig commented on #1999
@guizmaii If you can, I'd recommend setting up a GCP VPC network, using only private IPs on your SQL instances and connect to those directly.

[2021-08-22 11:10] paoloboni opened #2568 "Memory leak using cats.effect.std.Queue"
Hi, I have some code that leaks memory and I'm not sure if it's a bug or just me making some wrong assumptions on the usage of `cats.effect.std.Queue` with fs2.

**Context**
The code below is a simplified version of some code I'm using to communicate with a websocket server.
I'm using STTP in combination with Fs2 (see [here](https://sttp.softwaremill.com/en/latest/examples.html#open-a-websocket-us

[2021-08-22 11:18] Swoorup commented on #2568
This originally came from investigating and could have cause this issue:
https://github.com/paoloboni/binance-scala-client/issues/133

[2021-08-22 14:08] mpilquist commented on #2568
I ran this program on Scala 2.13 with Java 11 and was unable to reproduce the leak. Heap usage did not grow at all. I also compared heap snapshots with YourKit and there was no growth.

The same program but modified to awake every nanosecond and also modified to discard the outputs of the queue (via `.evalMap(_ => IO.unit)` instead of printing them also experienced no heap growth.

One thing that

[2021-08-22 18:11] paoloboni commented on #2568
@mpilquist thanks for the quick reply.
You are right, the code above works fine. What I actually tried locally was with this line [1]
[code]
instead of [2]:
[code]
Apologies for the confusion, it's something I thought to change while I was pasting the code in this issue since it didn't look very idiomatic, but now I'm realising it also makes a difference at runtime.

This is the memory dump when r

[2021-08-22 18:23] diesalbla commented on #2568
Analysing that heap dump it with Eclipse inspector.

[2021-08-22 18:31] diesalbla commented on #2568
So, I have also been running the code test above, by copying it into a file in the `core` tests, and running it on top of current `main` version. It was running for a while, with reduced periods and even smaller heap (24 MiB), but I could not see it crash after a while.

[2021-08-22 19:13] mpilquist commented on #2568
Thanks, confirmed that this expression leaks:

[code]

[2021-08-22 19:47] mpilquist commented on #2568
Adding this test to `MemoryLeakSpec` shows the issue:

[code]

[2021-08-22 23:25] diesalbla commented on #2568
An update, with today's discussions from Discord. We have submitted a PR, #2569, that seems to fix this memory leak by removing the pull-to-pull rewrite. Unfortunately it introduces a different memory leak at another test, so we keep working on it.

[2021-08-23 10:21] Swoorup commented on #2568
Just to complete, the following also leaks. No `map`, the for-comprehension likely uses `map` under the hood.

<details>
<summary>Details</summary>

[code]

</details>

[2021-08-23 13:23] diesalbla opened #2570 "Run Integration Tests - OpenJ9 JVM 16"
Using the current `main` version of `fs2`, which is commit `8af78c720d11d64c120afe0f6a71f9ca8a37ece0`.

When I chose a Java Virtual Machine for Java 16, the Integration tests (memory leak tests) do not compile, apparently because of some encapsulations, or perhaps just binary incompatibilities, on the libraries:
[code]

The details of the JVM are as follows:
[code]

The goal of this issue is to ad

[2021-08-24 12:27] #2568 closed

[2021-08-25 01:32] mpilquist commented on #2568
Fixed in 3.1.1 which was released today

[2021-09-07 11:14] vasilmkd opened #2593 "`StreamCombinatorsSuite.evalFilterNotAsync - filters up to N items in parallel` is flaky on Scala.js"
I noticed this while running the tests locally.

[code]

[2021-09-08 07:36] oleg-py opened #2598 "Memory leak using merged stream in parJoinUnbounded"
fs2 3.1.1 / cats-effect 3.2.5 / Scala 2.13.5

---

Minimized reproduction:

[code]
This app continuously leaks `Box`es and a lot of fs2 Stream internal objects:
![изображение](https://user-images.githubusercontent.com/4143670/132464909-3823fb72-c5b7-4a30-8d6b-db4b0fde984b.png)
Apparently, not a single `Box` is released. Most stream bits seem to be nested, with the selected pattern repeating:
![изо

[2021-09-08 11:37] mpilquist commented on #2598
Thanks! I added a further minimization as a test here: https://github.com/typelevel/fs2/pull/2599/files

[2021-09-08 21:17] mn98 opened #2600 "Some pipes occasionally get ahead when broadcasting through multiple pipes."
Some pipes occasionally get ahead by 1 element when broadcasting an un-chunked stream through multiple pipes using `broadcastThrough`.

A reproduction of the issue, using Scala 2.13.6 and fs2 3.1.1, can be found in [this project](https://github.com/mn98/fs2-snippets/blob/master/src/main/scala/snippets/BroadcastingRace.scala) or on [scastie](https://scastie.scala-lang.org/mn98/0QJ4r5N3Rt2w3sScvr7v3

[2021-09-08 22:54] SystemFw commented on #2600
As explained in the chat, this is due to the fact that publishing to a Topic (which backs `broadcastThrough`) is not atomic, but rather it enqueues the same elements to a bunch of bounded channel, so it's true that `publish` will block when one of the channels is full (which is why one or more subs can't go ahead by more than 1), but it might have published to some of the subscribers in the meanti

[2021-09-09 11:21] dmitriibundin opened #2601 "Streaming from queue unpredictably hangs"
**Scala version**:
2.13
**fs2 versions tested**:
-  2.4.4,
-  2.5.9

**Example**:

[code]

**Expected behavior**: Prints number series infinitely starting from 0.

**Actual behavior**: hangs unexpectedly after printing 50000+ numbers.

[2021-09-09 11:46] mpilquist commented on #2601
The issue is that the unbounded queue fills the heap and then all CPU time is spent on GC. If you change `Queue.unbounded` to `Queue.bounded(1000)`, you'll get the desired behavior.

[2021-09-09 11:55] #2601 closed

[2021-09-09 21:28] diesalbla commented on #2598
@oleg-py The leak reported, with some minimisations, is covered by the new tests added https://github.com/typelevel/fs2/pull/2602, which also seems to fix the issue.

[2021-09-09 21:28] komarov134 opened #2603 "performance degradation when using chunkN"
We faced performance degradation when we started to use fs2 3.x in our app.
[async-profiler](https://github.com/jvm-profiling-tools/async-profiler) helped us to locate the problem:
[code]

Code sample:
---
fs2 3.1.1 / cats-effect 3.1.1 / Scala 2.13.6
---
[code]

s1 is a stream of chunks all having size 10. While s2 is a stream of the single chunk, but this chunk is constructed (see `Chunk.Queue`)

[2021-09-09 21:40] diesalbla commented on #2603
@komarov134 The relevant code, for the `chunkN` method of `Stream, is [here](https://github.com/typelevel/fs2/blob/main/core/shared/src/main/scala/fs2/Stream.scala#L4053-L4077).

[2021-09-09 21:46] diesalbla commented on #2603
@komarov134 Would you like to take care of submitting a PR with the fix, at least for this `unconsN` method? You can reproduce that sample over the local branch. There may be other places where such chunk concatenations also would benefit from compacting.

[2021-09-10 00:56] mpilquist commented on #2603
Nice find!

It can be tricky to strike the right balance here. If we compact too often, performance can severely suffer, especially when the number of elements in the queue is relatively small such that the lookup is fast.

In general, I don't know if it's better for `chunkN` to compact or not. If so, what other methods should get a similar treatment?

[2021-09-10 16:32] adamw opened #2604 "Memory leak when using mergeHaltL"
Fs2 version: 3.1.1
cats-effect version: 3.2.8

When running the below with `-Xmx50m`, I get an OOM after about 30 seconds:

[code]

However, if I comment out `.mergeHaltL(Stream.empty) // (1)`, things nicely loop forever.

Is there something that I'm missing about `mergeHaltL`, using it incorrectly (although here I know the usage is trivial, but in reality it's a bit more complex :) ), or is there

[2021-09-10 16:40] mpilquist commented on #2604
@adamw Thanks! I suspect this was just fixed today. Could you try running the same example with 3.1-52-5c8346c and reporting back?

[2021-09-10 17:48] adamw commented on #2604
Yes, works great, thank you! :) That's a new standard on fixing bugs, even before I reported the issue ;)

[2021-09-10 17:48] #2604 closed

[2021-09-10 18:05] mpilquist commented on #2604
Ha! Thanks for testing. I'm going to get an official 3.1.2 out later tonight.

[2021-09-12 13:21] #2570 closed

[2021-09-14 11:38] mpilquist commented on #2598
Fixed in 3.1.2

[2021-09-14 11:38] #2598 closed

[2021-09-14 11:48] #1945 closed

[2021-09-14 13:27] Alexey-Yuferov opened #2607 "Overhead memory usage when using merge with drain"
[code]
This code uses up all memory and CPU.
![image](https://user-images.githubusercontent.com/68867195/133265798-46905000-6b5d-42b1-bdba-33a15101b802.png)
The probem emerges only when there's a `drain` before `compile`.
If we remove `drain` before `compile`, the example works normally, i.e:
[code]
![image](https://user-images.githubusercontent.com/68867195/133265860-9ce687f4-1936-4d2e-ba50-0ca3e

[2021-09-14 13:33] mpilquist commented on #2607
I think this is the memory leak that was just fixed in 3.1.2. Could you try again with that version?

[2021-09-14 13:40] Alexey-Yuferov commented on #2607
Yes, it works fine with 3.1.2, thank you

[2021-09-14 13:40] #2607 closed

[2021-09-17 14:18] notxcain opened #2611 "Deadlock when using ReactiveStreams `toStream` interop with ZIO"
FS2: 2.5.9
Cats Effect: 2.5.3
ZIO: 1.0.11

When the number of concurrent calls to `toStream[Task]` is more than or equal to ZIO runtime pool size we get a dead lock with all threads waiting for `IO#unsafeRunSync` to finish in `StreamSubscriber#onSubscribe` or other `on*` methods.

Repro: https://scastie.scala-lang.org/aPU1vQVWS9qRRcquUV6wcw

[code]

Excerpt from VisualVM

![image](https://user-ima

[2021-09-17 15:11] notxcain commented on #2611
Looks like it was introduced in https://github.com/typelevel/fs2/pull/2078

[2021-09-18 12:16] bplommer opened #2618 "Document that `fs2.Compiler.Target` shouldn't be used as a context bound in downstream libraries and why"
@SystemFw kindly explained in https://github.com/http4s/http4s/pull/5206 why it's a bad idea to use `Compiler.Target` as a context bound in downstream libraries, in place of `Concurrent` or `Sync`. It seems worth documenting this somewhere more permanent, since it's something that looks on its face like a good idea. A brief note in the ScalaDoc with a link to the pull request could be a reasonable

[2021-09-19 09:09] notxcain commented on #2611
Also affects `3.x` https://scastie.scala-lang.org/E88MlwtlTdmYSUawQ2CF2Q

[2021-09-19 22:08] diesalbla commented on #2600
@SystemFw In that case, we may want to correct the current documentation of the `broadcastThrough` method.

The phrase "only when all pipes are done", to me would indicate "not until after all pipes are done processing the current chunk". However, that does not match the operation as described in your comment.

[2021-09-20 11:57] mpilquist opened #2623 "UnixSockets throws a NoClassDefFoundError when used on JDK15 or prior"
When using the Scala 3 artifact of fs2-io along with JDK15 or prior, any use of `UnixSockets` results in a `NoClassDefFoundError`:

[code]

The `UnixSockets.forAsync` method is designed to dynamically test whether it's executing on JDK16+. If so, it uses the JDK backend and otherwise it falls back to the JNR backend. When running on Scala 3 however, the `ClassNotFoundException` is thrown when load

[2021-09-20 17:14] #2623 closed

[2021-09-21 06:46] mn98 commented on #2600
For me, as an end user, there's an argument for two flavours of `broadcastThrough` to exist, e.g. a `raceThrough` for cases where performance is key and a `coherentlyThrough` where control trumps performance and it's necessary to process one chunk/element at a time. I can think of use cases for both semantics.

At present the documentation describes the `coherentlyThrough` flavour. In the short te

[2021-09-21 23:39] asjadoun opened #2627 "fs2 vs fs3 - chunks-to-list conversion poor performance"
fs2 vs fs3 chunks to list conversion performance

**fs2 version and code:**
implementation group: 'co.fs2', name: 'fs2-core_2.13', version: '2.5.9'

[code]

**Output:**
Using fs2 2.5.9, Chunk of 10000 elements conversion 'toList' elapsed time : 5 ms
Using fs2 2.5.9, Chunk of 10000 elements conversion 'toList' elapsed time : 1 ms
Using fs2 2.5.9, Chunk of 10000 elements conversion 'toList' elapsed

[2021-09-21 23:43] mpilquist commented on #2627
Thanks for reporting -- I think this is the same issue as described in #2603. In your fs2 3 example, what happens if you change to `c.compact.toList`?

[2021-09-22 09:04] asjadoun commented on #2627
It does help and reduced the time to < 10 ms. However, it is no as good as compare to fs 2.5.9. In our application, chunks can be from 10,000 elements to 1,000,000 elements of up to 1 - 3 kb each in size.

Just for test, I ran both fs2 and fs3 code with 1M chunk size -

[code]
vs
[code]

fs2 perform far better than fs3 with compact.

[2021-09-22 12:00] mpilquist commented on #2627
Directly comparing the 2.5 `.toList` with the 3.x `.compact.toList` is problematic because 2.5 pays the compaction cost in `chunkN`. It would be better / more accurate to use this for 3.x: `.chunkN.map(_.compact).evalMap(...)`. Basically, don't include the compaction cost in the benchmark, or if you want to, include it for both 2.5 and 3.x.

The main issue here is caused by `chunkN` (and the lower

[2021-09-22 12:02] bastewart opened #2628 "reactivestreams `StreamSubscriber` blocks (creates thread) each time it is called by upstream"
I have not had time to prove this via a minimisation but this came [from a discussion on discord](https://discord.com/channels/632277896739946517/632278585700384799/889912467755520061) and @djspiewak [thinks this is correct](https://discord.com/channels/632277896739946517/632278585700384799/889943064481775677).

[`StreamSubscriber`](https://github.com/typelevel/fs2/blob/dafd5773b97cf98e17de322b72c

[2021-09-22 12:04] mpilquist commented on #2603
Some more thoughts about this issue here: https://github.com/typelevel/fs2/issues/2627#issuecomment-924862270

[2021-09-22 12:41] mpilquist commented on #2627
I tried to implement auto-compaction upon first call to `apply` and realized now why we can't do this. The issue is that in all of these contexts -- e.g., `chunkN` or the implementation of `Chunk.Queue#apply` -- we don't have access to a `ClassTag[O]`.

[2021-09-22 13:10] vasilmkd commented on #2628
This is indeed correct and I'm working on resolving this. It is not exactly a bug, since not spawning threads can lead to a deadlock of the compute pool, but maybe it is worth being slightly less pedantic about it. For now, you can revert to `cats-effect` `3.2.7` which doesn't contain the change.

In terms of a better remedy, Cats Effect `3.3.0` will be the release with a comprehensive overhaul of

[2021-09-22 15:36] bastewart commented on #2628
Yeah, agree on it not being a bug per-se, it's more a regression (I don't think I can choose the label though!).

Confirming what I said on discord but CE `3.2.7` still shows the same high rate of thread creation, so presumably has been around for longer than #2312.

There's no pressing need for any remedy from my end. It does seem to be something that's in consideration at the moment so happy to

[2021-09-22 15:42] vasilmkd commented on #2628
The PR that you linked is not related to Cats Effect 3.2.7 and the PR predates the release. Otoh, CE2 did not show this behavior because there was no effort to respect `scala.concurrent.blocking` in CE2 at all. If you want to restore that behavior immediately, you can create a FixedThreadPoolExecutor and use it as the compute pool.

https://github.com/typelevel/cats-effect/blob/series/3.x/benchmar

[2021-09-22 15:46] bastewart commented on #2628
Sorry, I linked the wrong PR. I forgot I wasn't in `cats-effect` so just linked the number, not the repo as well. I should have linked this which was introduced in `3.2.8` but doesn't seem to change behaviour from my end: https://github.com/typelevel/cats-effect/pull/2312

Thanks, but I don't need to restore behaviour at all. I'm more worried about this as I presume this is the cause of a signific

[2021-09-22 15:48] bastewart commented on #2628
Oh, I suppose I could try that executor to see if it restores the performance as it was before. I'll try that tomorrow actually, thanks!

[2021-09-23 15:01] bastewart commented on #2628
@vasilmkd as discussed on discord I had a play around with the code as above, but replacing the compute pool with either the scala global or a Java fixed thread pool:

[code]

or
[code]

Interestingly the `global` pool did not show excess thread creation. I think you were expecting that it would create lots of threads? Unfortunately it didn't seem to help with the CE3 performance regression (which

[2021-09-23 15:05] vasilmkd commented on #2628
The Java pool gets blocked because all threads are blocked on `unsafeRunSync()`. The Scala `global` pool spawns fewer backup threads to address the blocking which probably improves the performance slightly.

All in all, the reactive streams interop will require changes. That's my opinion.

[2021-09-23 15:49] bastewart commented on #2628
Ah, that makes sense, thanks.

@SystemFw wondered if it needed a rethink on discord as well (before you joined the conversation).

Thanks for your help!

[2021-09-23 17:40] #2603 closed

[2021-09-24 07:56] notxcain commented on #2628
This should be fixed in #2632 on fs2 side.

[2021-09-24 08:57] vasilmkd commented on #2628
@notxcain @bastewart Would you like me to release a snapshot version with these changes so that you can test whether this resolves the issues discussed here?

[2021-09-24 12:33] mpilquist commented on #2627
Fixed in 3.1.3

[2021-09-24 12:33] #2627 closed

[2021-09-24 14:18] mpilquist commented on #2628
@vasilmkd Can you elaborate on this? The rx-stream interop was changed to not use a dispatcher, but I'm concerned that folks will have this same issue in other places where dispatchers are needed -- like in the output stream interop.

[2021-09-24 14:31] vasilmkd commented on #2628
`scala.concurrent.blocking` works fine in these cases, it just seems that people think that it somehow has no performance overhead, when it is in fact mainly a safety construct, while spawning threads, context switching and everything it entails are very expensive operations.

[2021-09-24 14:55] bastewart commented on #2628
If you don't mind that would be really helpful. If it's a pain I can probably build from source myself though. Thanks!

[2021-09-24 15:46] vasilmkd commented on #2628
It should be this one `"co.fs2" %% "fs2-core" % "3.1-11-d8073c7"`.

[2021-09-24 17:28] bastewart commented on #2628
@vasilmkd really good news! This completely fixes the CPU penalty we were seeing in our application, halving CPU use compared to the current release. Thank you!

In terms of cats-effect 2 to cats-effect 3 comparison CE3 now comes out needing only 75% of the CPU (35% performance uplift) when compared to CE2, so that's pretty nice! With the bug it was (as mentioned previously) 50%-100% worse, hah.

[2021-09-24 17:31] vasilmkd commented on #2628
That is awesome news!

[2021-09-24 17:32] vasilmkd commented on #2628
Addressed in #2632.

[2021-09-24 17:32] #2628 closed

[2021-09-24 22:10] SystemFw commented on #2600
What do you mean by raceThrough? If you something that relaxes backpressure, you can do it by using prefetch on the pipes, you don't need a different version of broadcastThrough

[2021-09-24 22:17] SystemFw commented on #2628
First of all, awesome to hear that this is fixed :)
Now, I need to look at the reactive spec again, but iirc without unsafeRunSync their test suite fails, since there are cases like `cancel ; complete` which assert that complete shouldn't execute (or something along those lines), and if `cancel` isn't synchronous, you can't guarantee that. It's been a few years since I've looked at it though

[2021-09-24 22:22] SystemFw commented on #2558
Sorry, this completely flew under my radar, so I'm just looking at it

[2021-09-24 22:30] vasilmkd commented on #2628
I assume since the PRs were merged for both 2.5.x and main, they passed the CI. 😅

[2021-09-25 04:53] rossabaker commented on #2371
This one is a menace with Doobie.  Sharing in case it saves anyone else some time.

I couldn't find `interruptWhen` in our code or in Doobie's.  I started tearing up fs2, and came up with these functions that can embed an `InterruptWhen` in the stream.  More or less the ones that require `Concurrent`, which isn't surprising in hindsight:

[code]

`WeakAsync.liftK` to get an `IO ~> ConnectionIO` ge

[2021-09-25 06:40] mn98 commented on #2600
Sorry, yes, that's what I meant, no constraints on faster pipes running ahead by any number of elements. If that's already achievable via `prefetch` then great. Does that mean `broadcastThrough` & `prefetch` could be used in combination to control exactly how many elements/chunks a pipe could get ahead, from zero to unlimited? Zero is what I meant by "coherently" and unlimited is what I meant by "

[2021-09-25 09:42] diesalbla commented on #2600
If there is no need to constrain the progress, which is to say if there is no need to coordinate the progress of the pipes, then it may as well be enough to dump them all in horde?
[code]
Note that you would need to do unbounded, instead of `parJoin(n)`, because the `parJoin(n)` combinator has a limitation: it does not start to pull from pipe `n+1` (that is the result stream of that pipe) until at

[2021-09-25 16:22] notxcain commented on #2611
Reaolved in https://github.com/typelevel/fs2/pull/2615

[2021-09-25 16:22] #2611 closed

[2021-09-25 17:15] SystemFw commented on #2600
@diesalbla you can do this with `prefetch` though, without having to change anything.

@mn98  you can't go to zero but you can increase it from 1 (which is the default) to whatever you want, including unlimited. However, remember that there is a reason for that backpressure, i.e. not accumulate too many elements in memory. If you `prefetch` and the pipe is slow, your memory will start increasing a

[2021-09-25 17:53] mn98 commented on #2600
Great, makes sense, thanks very much both for sharing your thoughts on this! In conclusion I suppose it just remains for this issue to be addressed at some point.

[2021-09-26 22:32] diesalbla commented on #2600
Opened #2621 to, if not correct the behaviour and add the new variant, at least make the documentation a bit less inaccurate. @mn98 would that be more informative?

[2021-09-27 11:03] mn98 commented on #2600
Changing the documentation of `broadcastThrough` would certainly help clarify the existing behaviour. However, I'd see this as also changing the existing semantics of the method, turning this issue from a 'bug' into a 'new feature'. If we subsequently add the 'new feature' as part of `broadcastThrough`, we'll have changed the semantics back to the original form again. Wouldn't users of the library

[2021-09-27 16:17] mrdziuban opened #2637 "ArrayIndexOutOfBoundsException using fs2.io.writeOutputStream when number of bytes exceeds Int.MaxValue"
When attempting to write more than `Int.MaxValue` bytes to an `OutputStream` using `fs2.io.writeOutputStream`, I get an `ArrayIndexOutOfBoundsException` with the stack trace pointing at [`fs2.io.internal.PipedStreamBuffer$$anon$2.circularWrite(PipedStreamBuffer.scala:374)`](https://github.com/typelevel/fs2/blob/v3.1.3/io/jvm/src/main/scala/fs2/io/internal/PipedStreamBuffer.scala#L374).

I'm able t

[2021-09-27 21:42] vasilmkd commented on #2637
This is a great reproduction, thank you very much for that. I wrote the original code, I will take care of this.

[2021-09-28 10:57] stephennancekivell opened #2642 "Socket / FileDescriptor leak for unresolvable hosts"
Hi, using fs2 (v3.1.3) Im seeing this socket & file descriptor leak when opening sockets to domains that dont resolve. eg `Network[IO].client(SocketAddress(Host.fromString("nodomain.fs2.io").get, port"80"))`

Consider this example
[code]
Outputs ..
[code]
With a valid domain the file descriptor count goes down after.

I'll open a PR with a fix.

[2021-09-28 10:57] stephennancekivell opened #2643 "Socket / FileDescriptor leak for unresolvable hosts"
Hi, using fs2 (v3.1.3) Im seeing this socket & file descriptor leak when opening sockets to domains that dont resolve. eg `Network[IO].client(SocketAddress(Host.fromString("nodomain.fs2.io").get, port"80"))`

Consider this example
[code]
Outputs ..
[code]
With a valid domain the file descriptor count goes down after.

I'll open a PR with a fix.

[2021-09-28 10:59] stephennancekivell commented on #2642
oops duplicate. Closing.

[2021-09-28 10:59] #2642 closed

[2021-09-28 11:46] #2637 closed

[2021-09-28 12:11] #2643 closed

[2021-09-28 13:05] mrdziuban commented on #2637
Thanks for the quick fix! I was able to confirm that it resolves the actual issue in my application code as well, so I'll keep my eye out for releases of future versions so I can take advantage of it!

[2021-09-28 13:53] mrdziuban opened #2647 "fs2.io.readOutputStream hangs when triggering effect error using cats.data.EitherT"
When using `fs2.io.readOutputStream` in combination with an effect type that uses `cats.data.EitherT`, a failure in the effect (i.e. a `Left` within the `EitherT`) does not terminate the `Stream`, causing the code to hang indefinitely.

I can reproduce this on both v2.5.9 and v3.1.3 using the code in this repository: https://github.com/mrdziuban/fs2-readOutputStream-EitherT. The code in each `Test

[2021-09-28 14:56] vasilmkd commented on #2647
I haven't done a serious analysis, but this may point to a bigger issue with the `concurrently` operator and how it behaves with short-circuiting transformers.

[2021-09-28 15:08] mpilquist commented on #2647
No shortage of issues with `EitherT` in the past: https://github.com/typelevel/fs2/search?q=eithert&type=issues

[2021-09-29 11:41] mpilquist commented on #2497
Closing this one but feel free to followup with questions, either here or in Discord, or reopen if you find some other behavior which seems wrong.

[2021-09-29 11:41] #2497 closed

[2021-09-30 01:18] #2647 closed

[2021-10-05 04:10] rossabaker opened #2664 "`decodeWithCharset` doesn't flush"
In fs2-3.1.3, this test fails:

[code]

~~The output buffer is sized to one character based on chunk length and average size queried from the decoder, but the byte expands to two characters.  We need to check the `CoderResult` for an overflow.~~ [edit: misdiagnosis]

This is one of the rare character sets that needs to be flushed after the final input.  You can find more [here](https://github.com/

[2021-10-06 01:52] #2664 closed

[2021-10-07 19:21] rossabaker opened #2672 "decodeCWithCharset error handling inconsistency"
`utf8.decodeC` is a specialization of the generic private decoder used for other charsets:

[code]

On bad input, the UTF8 decoder succeeds with the Unicode replacement character, and the other charsets raise an error:

[code]

There's no visible UTF-8 encoder that raises errors, nor is there an generic encoder that uses replacement characters.  We might want to make the behavior configurable, but

[2021-10-08 00:53] rossabaker commented on #2672
Yes, I think so.  It only affects people using aging charsets on an aging JDK with a relatively recent FS2 feature.  But for those few, it's a fatal error.

[2021-10-09 19:38] rehanone opened #2674 "Improve `parJoin` with the ability to select a join strategy"
The current implementation of `parJoin` with `maxOpen` does not start the remaining streams until the earlier ones are complete. This is a problem in cases where the inner streams are infinite as in the example below:

**Listing A - `parJoin` with 10 infinite streams, `maxOpen = 2`**

[code]
**Output of Listing A**

[code]
This limitation makes `parJoin` unusable with libraries like fs2-kafka when

[2021-10-12 11:56] rehanone commented on #2674
@mpilquist , thanks for the suggestion, I will try the solution you suggested. I do think it would be worth considering to add the above or perhaps separate parJoin combinators that provide control how to join. Over in Akka they have similar functionality exposed through many merge* functions.

[2021-10-13 10:56] 0minus273 opened #2679 "compactUntagged class cast exception"
Bonjour!

Reproduction:

[code]

Result: java.lang.ClassCastException: class fs2.Chunk$Singleton cannot be cast to class fs2.Chunk$ArraySlice

First was discovered when using evalMapChunk.

Introduced [here](https://github.com/typelevel/fs2/pull/2630/files) in v3.1.3 with compactUntagged implementation.

[2021-10-14 07:46] Alexey-Yuferov commented on #2679
@mpilquist it looks good for me

[2021-10-14 10:54] #2679 closed

[2021-10-21 18:07] nikiforo opened #2686 "fs2 mapAsync behavior differs from akka streaming"
Consider this code:
[code]

Expected log:
[code]

Actual log:
[code]

The problem:
3rd element (value: 2) was evaluated before 1st one was completed.
This doesn't seem to be serious issue since maxConcurrent limit wasn't exceeded and later 4th element waits until 1st is completed.
But such behavior differs from similar (mapAsync) combinator available in akka streaming. There 3rd element waits for

[2021-10-27 09:16] epellizzer opened #2693 "Memory leak when combining 'metered' with 'observe'"
Hello all.

I stumbled upon a memory leak some weeks after upgrading from 2.x to 3.x. The leak is present from at least version 3.1.5 and is still there in 3.2.1.

I managed to narrow the issue down to the following piece of code.

[code]

The `iterate` method is not relevant; `emit(0).repeat` gives the same result.

Here is a screenshot of the diff I get from two heap dumps taken 30 seconds apart

[2021-10-27 12:29] #2693 closed, assigned to nobody

[2021-11-03 00:06] armanbilge commented on #2593
I bisected this to https://github.com/typelevel/cats-effect/pull/2207.

[2021-11-03 00:32] armanbilge commented on #2593
Proposed a fix in https://github.com/typelevel/fs2/pull/2651#discussion_r741550531.

[2021-11-03 06:52] Swoorup opened #2703 "parjoin hangs when streams are terminated early"
fs2 version: 3.2.1

Even when the inner stream has already terminated it appears that, parJoin doesn't appear the complete the stream. This however depends on the time the inner stream are being terminated once the merged stream is created?

Scastie Link:  https://scastie.scala-lang.org/PwbiIsCOTSOwU0xDhLNVTw
Comment Line 91 to observe the issue. Oddly it doesn't happen when there is a delay in th

[2021-11-03 11:04] mpilquist commented on #2703
Without the sleep on line 91, the message sent on line 92 is published prior to the subscription to the topic starting up. This is a race condition where the broker stream on lines 84-90 is starting concurrently with line 92.

[2021-11-03 11:58] Swoorup commented on #2703
@mpilquist yeah, that seems to explain it, I wonder if there is a way to ensure subscription starts before publishing.

[2021-11-03 12:35] Swoorup commented on #2703
nvm, I could wait for the number of subscribers to wait before continuing to run publishers using
Topics: `def subscribers: fs2.Stream[cats.effect.IO, Int]`

[2021-11-03 12:35] #2703 closed

[2021-11-03 22:32] rext opened #2704 "Ipv4Header codec works incorrect"
fs2 version: 3.2.2

1. Ipv4Header decoder ignores header length so that all packet data bits are eating by Ipv4Header.options field
2. Ipv4Header encoder encodes wrong total length because of wrong option words length computation

[2021-11-04 13:59] #2704 closed

[2021-11-08 17:32] iRevive commented on #2195
Unfortunately, I hit the issue again on the 3.x series.

**cats-effect version:** 3.2.9
**fs2 version:** 3.2.1

Updated scastie: https://scastie.scala-lang.org/ilsZZTXWQpa07JbJrVCSaw

Updated example:
[code]

Output:
[code]

[2021-11-08 18:43] nikiforo commented on #2195
Has the issue been resolved in any version of fs2?

[2021-11-08 18:58] iRevive commented on #2195
@nikiforo works on 3.1.3, broken since 3.1.4

[2021-11-08 19:02] nikiforo commented on #2195
@iRevive Oooops, I might have broken it. I'll take a look at your example tomorrow.

[2021-11-09 07:56] iRevive commented on #2195
@nikiforo awesome, thanks!

[2021-11-09 15:54] nikiforo commented on #2195
My current suspicion falls on `https://github.com/typelevel/fs2/blob/v3.1.4/core/shared/src/main/scala/fs2/Stream.scala#L2118`
IO.race launches both the `job` and the `stopReading.get`, waits for the FIRST action to complete.
This construction is used to cancel all running computations when the stream gets cancelled. However, we should also wait until those computations outcome into `cancel` `comp

[2021-11-14 23:51] kory33 opened #2709 "[fs2.io.net] `read` after a cancelled `read` causes `java.nio.channels.ReadPendingException`"
## Issue description
Given a TCP client `client: Socket[cats.effect.IO]`, a `client.read` immediately after a cancelled `client.read` (sometimes) causes `java.nio.channels.ReadPendingException`.

## Reproduction
On Windows 10, OpenJDK 17, prepare the following files:

<details>
  <summary>build.sbt</summary>

[code]

</details>

<details>
  <summary>src/main/scala/Test.scala (binds port 31629, cha

[2021-11-15 14:38] mpilquist commented on #2709
Hm, `readChunk` is only ever called while the `readSempahore` is held -- inside a call to `withReadBuffer`:
[code]

Because of that `.flatten` on the second to last line there, we hold the read semaphore until the flattened task completes -- i.e., until an `A` value is produced -- which is necessarily after `IntCallbackHandler` completes. I must be missing something though...

[2021-11-15 15:06] mpilquist commented on #2709
Oh I see -- when a fiber that's waiting on a socket read is cancelled, the call to `ch.read` is left running. This is because it's wrapped in `F.async_` instead of `F.async`. So the `ch.read` remains pending and the semaphore is released soon afterwards.

To fix this, we'd need some way to interrupt the pending `ch.read` operation. I'm not sure that's possible with the NIO APIs.

[2021-11-15 21:30] mpilquist commented on #2709
@armanbilge had another idea - we could not release the read semaphore if the task is cancelled. This turns any request to read after cancelation in to hangs instead of exceptions.

[2021-11-15 21:42] armanbilge commented on #2709
More specifically, I think the read semaphore should be released by the asynchronous read (which should eventually return IIUC, seeing as we cannot cancel it). I think this is essentially what @kory33 suggested:

[2021-11-15 21:43] mpilquist commented on #2709
The completion handler cannot release the semaphore as we are using a shared buffer.

[2021-11-15 21:45] mpilquist commented on #2709
This is the change I was suggesting, though I don't like the result of ending up with a hung task.

[code]

[2021-11-15 21:45] armanbilge commented on #2709
Hmm, I didn't realize that. Not sure how much I like this anymore either.

[2021-11-15 21:52] armanbilge commented on #2709
@mpilquist sorry, can you explain more why this is an issue?

Isn't the shared buffer what the semaphore is guarding access to?

[2021-11-15 21:54] mpilquist commented on #2709
Right, but we're not done with the buffer when in the completion handler. While holding that same semaphore, we dump the buffer to a chunk.

[2021-11-15 21:55] armanbilge commented on #2709
I see, thanks. Can we do a two-step release? Where both the handler needs to be invoked, and the current release we already have?

[2021-11-15 21:58] mpilquist commented on #2709
Maybe? Not sure what that would accomplish really. The more I think about this, the more I think failing with an exception is the right behavior assuming there's no way to get NIO to do what we want.

[2021-11-15 22:01] armanbilge commented on #2709
It's because there's two things we need to guard:
1. access to the shared buffer
2. whether there is a pending read

In order to read, you need to acquire permission for both. But, they are released at separate times, (1) after dumping to a chunk and (2) after the callback completes.

[2021-11-15 22:04] armanbilge commented on #2709
I'm still of the opinion that this is a truly uncancellable operation (where "getting NIO to do what we want" = cancelling it) and should be treated as such. Any assumptions made by the resulting API that it _is_ cancellable were flawed.

[2021-11-15 22:30] kory33 commented on #2709
I thought something like the following works (where `channelReadSemaphore` is distinct from `readSemaphore`)

[code]

However, the problem with the above is that access to `buffer` is not protected in the spawned fiber, and another `read` may as well overwrite `buffer` field with a fresh one (or `.limit` the same instance), potentially losing bytes read in the previously spawned fiber.

Given this

[2021-11-16 21:12] nikiforo opened #2712 "par* hangs when receives IO.cancel as an effect to evaluate"
consider this:
[code]

Only the first one(evalMap) cancels the stream. Other three hangs the stream.

[2021-11-16 22:26] djspiewak commented on #2712
My guess is that someone is using `embedNever`. A better approach in this case would be `embed(F.canceled *> F.never)`

[2021-11-16 22:45] nikiforo commented on #2712
Similar approach was suggested by @SystemFw on [discord](https://discord.com/channels/632277896739946517/632278585700384799/910295890386886716). However, I asked it quite differently...
For `parEvalMap` the solution might be to change `Deferred[F, Either[Throwable, O2]` to `Deferred[F, Outcome]`, fill it with `.guaranteeCase(o => deferred.complete(o).void)`, read from it with`.get.flatMap(_.embed(

[2021-11-17 13:41] nikiforo opened #2714 "concurrently hangs when eval cancelled"
Consider the code:

[code]
stream in test 1 cancells
stream in test 2 errors
stream in test 3 hangs

[2021-11-17 13:42] nikiforo commented on #2712
`parEvalMap` correct implementation requires https://github.com/typelevel/fs2/issues/2714

[2021-11-18 12:53] kory33 commented on #2709
I think making `read` cancelation-safe is in general costly (as in #2710), unless NIO provides a real way to cancel a read. If this is the case I think the best thing to do is either
 - making `read` / `readN` `uncancelable`, or
 - throwing a possible exception on cancelation (current behaviour)

and stating in the doc as such. (I think the former is better, do you have any opinions?)

For a worka

[2021-11-18 12:56] mpilquist commented on #2709
I think `uncancelable` is the best option. My only concern there is whether we can shutdown a socket that has a pending read. I haven't gotten a chance to test that yet but I think/hope the answer is yes.

[2021-11-18 13:09] armanbilge commented on #2709
👍 to `uncancelable`, that was my first thought.

[2021-11-18 13:19] kory33 commented on #2709
I may be missing something, but shoudn't `uncancelable` eliminate the possibility of pending reads whenever a semaphore's permit goes out of scope?

[2021-11-19 09:21] nikiforo commented on #2714
interruptWhen is the villain here
[code]

[2021-11-19 16:21] nikiforo commented on #2714
[code]

[2021-11-19 16:54] nikiforo commented on #2714
@mpilquist, @diesalbla, seems that a it's translation-related issue

[2021-11-19 18:33] nikiforo commented on #2714
So, this issue seems to be an interpretation-related one.
The first thing that goes wrong is https://github.com/typelevel/fs2/blob/2af0571de34cc11b6b2bafeef0baf487f0760ad8/core/shared/src/main/scala/fs2/internal/InterruptContext.scala#L91

If one change it to
[code]
the stream will complete. However, that's not cancellation.

If one change the whole expression to
[code]
The stream end up as it doe

[2021-11-19 21:52] nikiforo commented on #2712
There is no practical value in defining the behavior of `Stream(IO.canceled).evalMap(identity).compile.drain`

[2021-11-19 21:52] #2712 closed

[2021-11-19 21:52] nikiforo commented on #2714
There is no practical value in defining the behavior of `Stream(IO.canceled).evalMap(identity).compile.drain`

[2021-11-19 21:52] #2714 closed

[2021-11-22 11:00] LLCampos opened #2717 "Unexpected behaviors around the use of Pull"
I'm not even sure how to describe the problem. Please feel free to change the title to something more appropriate.

[code]

[code]

1) If you run things as above, nothing will be printed.
2) From 1), if you remove the line marked as `<- THIS MAP`, "Printing: (emitted,2)" is printed. This is unexpected.
3) From 1), if you use `successPipe` instead of `failurePipe`, "Printing: (emitted,2)" is also p

[2021-11-22 12:21] nikiforo commented on #2717
This might be a minimization. Result changes if `THIS MAP` is commented
[code]

[2021-11-22 17:03] nikiforo commented on #2717
28c795b71475b24d6271525bb92194e141c2c10f is the first bad commit
commit 28c795b71475b24d6271525bb92194e141c2c10f
Author: Michael Pilquist <mpilquist@gmail.com>
Date:   Mon Aug 23 22:16:50 2021 -0400

    Fix failing resourceWeak test

:040000 040000 4acd111b77f5588fc68b4f5d89bddf647ebbac14 0dddc9c75af3ecad9cb512d8234e31f8cf4a253f M	core

[2021-11-22 17:22] nikiforo commented on #2717
That's not really a minimisation, I've just changed `values` and elements:
[code]

[2021-11-26 00:08] diesalbla commented on #2717
I have been spending a bit of time on this curious example. Here is another aspect of it: when you look

[code]

Without removing the map line (`THIS MAP`), the behaviour changes when running the stream in `SyncIO` vs runnint it in `IO`:
- Option A, running the stream on `SyncIO`, if we comment the lines marked as B, then the program prints `Result List((2,2))`.
- In Option B, running the stream o

[2021-11-26 00:42] armanbilge commented on #2717
Just to clarify, it seems the issue is not `IO` vs `SyncIO` but the concurrent vs sync compilers. You can see this by using the `Sync` compiler for `IO`:
[code]
This will give `Result List((2,2))`.

[2021-11-26 01:08] armanbilge commented on #2717
Changing the `interruptContext` in the `ConcurrentCompiler` to return `None` will also give `Result List((2,2))`.
https://github.com/typelevel/fs2/blob/f0272ce00d930cf4eceaae67023517365c5fca6f/core/shared/src/main/scala/fs2/Compiler.scala#L191-L193

[2021-11-26 21:08] durban opened #2723 "Stream.fromQueue* "losing" elements"
FS2 version: 3.2.2

I'm actually not sure this is a bug (if it's not, I'm sorry and feel free to close). Looking at the code, it's clear why this happens, but its surprising.

[code]
This program prints `(Vector(1, 2, 3, 4, 5, 6, 7, 8),Vector())`. So the items `9` and `10` are "lost".

The reason is that `Stream.fromQueue...` tries to "batch" items into a `Chunk`, then `.take(8)` gets a `Chunk` wi